<% if notice.present? %>
  <%= render 'layouts/notification_success' %>
<% end %>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between mt-8 mb-8">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Centre de messagerie
  </h3>
  <div class="mt-3 sm:mt-0 sm:ml-4">
    <%= link_to 'Nouveau Message', new_message_path, class: 'inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
  </div>
</div>


<% if @messages.empty? %>

  <div class="mt-8 max-w-3xl lg:max-w-none lg:flex lg:justify-center lg:mt-12">
    <div class="rounded-md bg-blue-50 px-4 py-3 flex items-start lg:justify-center lg:px-12 lg:py-4">
      <div class="flex-shrink-0">
        <svg class="h-6 w-6 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </div>
      <div class="ml-3 flex-1 md:flex md:justify-between">
        <p class="text-sm leading-6 font-medium text-blue-700">Il semblerait que vous n'avez pas encore reçu.</p>
        <p class="mt-2 text-sm leading-6 md:mt-0 md:ml-4">
          <%= link_to "Nouveau message →", new_message_path, class: "hover:bg-transparent font-medium text-blue-700 hover:underline hover:text-blue-500 transition ease-in-out duration-150" %>
        </p>
      </div>
    </div>
  </div>

<% else %>

  <div class="flex flex-col">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full">
          <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Sujet
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Apprenant
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Statut
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50" colspan="2"></th>
          </tr>
          </thead>
          <tbody class="bg-white">
          <% @messages.each do |message| %>
            <tr>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <%= image_tag 'logo.png', class: 'h-10 w-10 rounded-full' %>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-medium text-gray-900"><%= link_to message.subject, message %></div>
                    <div class="text-sm leading-5 text-gray-500"><%= message.created_at.strftime('%d %b %Y, %Hh:%mm') %></div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= message.student.complete_name %></div>
                <div class="text-sm leading-5 text-gray-500"><%= message.student.salle_de_class.name %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                Active
              </span>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"><%= link_to 'Lire', message, class: "hover:bg-transparent text-indigo-600 hover:text-indigo-900" %></td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"><%= link_to 'Supprimer', message, method: :delete, data: {confirm: 'Are you sure?'}, class: "hover:bg-transparent text-indigo-600 hover:text-indigo-900" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>
