<% if notice %>
  <%= render 'layouts/notification_success' %>
<% end %>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    <%= @message.subject.upcase %>
  </h3>
  <div class="mt-3 sm:mt-0 sm:ml-4">
    <%= link_to 'Retourner aux messages', messages_path, class: "inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
</div>

<form action="" class="form bg-white p-6 my-10 relative">

  <div class="icon bg-blue-600 text-white w-6 h-6 absolute flex items-center justify-center p-5" style="left:-40px">
    <i class="fal fa-phone-volume fa-fw text-2xl transform -rotate-45"></i></div>
  <h3 class="text-2xl text-gray-900 font-semibold mb-4">Lecture du message du <%= @message.created_at %></h3>

  <input type="email" name="" id="" placeholder="Your Email" class="border p-2 w-full mt-3" value="<%= @message.subject %>" readonly>
  <div class="flex space-x-5 mt-3">
    <input type="text" name="" id="" placeholder="Your Name" class="border p-2  w-1/2" value="<%= @message.student.complete_name %>" readonly>
    <input type="tel" name="" id="" placeholder="Your Number" class="border p-2 w-1/2" value="<%= @message.created_at %>" readonly>
  </div>
  <div class="text-gray-600 text-sm text-2xl mt-2">
    <%= @message.content.body %>
  </div>

</form>
