<p id="notice"><%= notice %></p>

<h1>Filieres</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Salle de class</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filieres.each do |filiere| %>
      <tr>
        <td><%= filiere.name %></td>
        <td><%= filiere.content %></td>
        <td><%= filiere.salle_de_class_id %></td>
        <td><%= link_to 'Show', filiere %></td>
        <td><%= link_to 'Edit', edit_filiere_path(filiere) %></td>
        <td><%= link_to 'Destroy', filiere, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filiere', new_filiere_path %>
