<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @filiere.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @filiere.content.nil? ? "Aucune description supplementaire" : @filiere.content %>
</p>

<p>
  <strong>Etablissement:</strong>
  <%= @filiere.structure.name %>
</p>

<%= link_to 'Edit', edit_filiere_path(@filiere) %> |
<%= link_to 'Back', filieres_path %>
