<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @filiere.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @filiere.content %>
</p>

<p>
  <strong>Salle de class:</strong>
  <%= @filiere.salle_de_class_id %>
</p>

<%= link_to 'Edit', edit_filiere_path(@filiere) %> |
<%= link_to 'Back', filieres_path %>
