<%= form_with(model: e_response, local: true) do |form| %>
  <% if e_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(e_response.errors.count, "error") %> prohibited this e_response from being saved:</h2>

      <ul>
        <% e_response.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :epreuve_id %>
    <%= form.text_field :epreuve_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :salle_de_class_id %>
    <%= form.text_field :salle_de_class_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
