<div x-data="{ sidemenu: false }" class="h-screen flex overflow-hidden" x-cloak @keydown.window.escape="sidemenu = false">

  <div class="md:hidden">
    <div @click="sidemenu = false" class="fixed inset-0 z-30 bg-gray-600 opacity-0 pointer-events-none transition-opacity ease-linear duration-300" :class="{'opacity-75 pointer-events-auto': sidemenu, 'opacity-0 pointer-events-none': !sidemenu}"></div>

    <!-- Small Screen Menu -->
    <div class="fixed inset-y-0 left-0 flex flex-col z-40 max-w-xs w-full bg-white transform ease-in-out duration-300 -translate-x-full" :class="{'translate-x-0': sidemenu, '-translate-x-full': !sidemenu}">

      <!-- Brand Logo / Name -->
      <div class="flex items-center px-6 py-3 h-16">
        <div class="text-2xl font-bold tracking-tight text-gray-800">
          <%= render 'layouts/logo_type_student' %>
        </div>
      </div>
      <!-- @end Brand Logo / Name -->

      <%= render 'layouts/student/menu' %>


      <!--      <div class="px-4 py-2 flex-1 h-0 overflow-y-auto">-->
      <!--        <ul>-->
      <!--          <li>-->
      <!--            <a href="#"-->
      <!--               class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">-->
      <!--              <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"-->
      <!--                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
      <!--                   stroke-linecap="round" stroke-linejoin="round">-->
      <!--                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>-->
      <!--                <rect x="4" y="4" width="6" height="6" rx="1"/>-->
      <!--                <rect x="14" y="4" width="6" height="6" rx="1"/>-->
      <!--                <rect x="4" y="14" width="6" height="6" rx="1"/>-->
      <!--                <rect x="14" y="14" width="6" height="6" rx="1"/>-->
      <!--              </svg>-->
      <!--              Dashboard-->
      <!--            </a>-->
      <!--          </li>-->

      <!--          <li>-->
      <!--            <a href="#"-->
      <!--               class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">-->
      <!--              <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"-->
      <!--                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
      <!--                   stroke-linecap="round" stroke-linejoin="round">-->
      <!--                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>-->
      <!--                <line x1="4" y1="19" x2="20" y2="19"/>-->
      <!--                <polyline points="4 15 8 9 12 11 16 6 20 10"/>-->
      <!--              </svg>-->
      <!--              Analytics-->
      <!--            </a>-->
      <!--          </li>-->

      <!--          <li>-->
      <!--            <a href="#"-->
      <!--               class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">-->
      <!--              <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"-->
      <!--                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
      <!--                   stroke-linecap="round" stroke-linejoin="round">-->
      <!--                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>-->
      <!--                <polyline points="14 3 14 8 19 8"/>-->
      <!--                <path d="M17 21H7a2 2 0 0 1 -2 -2V5a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"/>-->
      <!--                <line x1="9" y1="9" x2="10" y2="9"/>-->
      <!--                <line x1="9" y1="13" x2="15" y2="13"/>-->
      <!--                <line x1="9" y1="17" x2="15" y2="17"/>-->
      <!--              </svg>-->
      <!--              Invoices-->
      <!--            </a>-->
      <!--          </li>-->

      <!--          <li>-->
      <!--            <a href="#"-->
      <!--               class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-blue-700 hover:text-blue-600 hover:bg-gray-200 bg-gray-200">-->
      <!--              <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"-->
      <!--                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
      <!--                   stroke-linecap="round" stroke-linejoin="round">-->
      <!--                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>-->
      <!--                <circle cx="12" cy="12" r="9"/>-->
      <!--                <polyline points="12 7 12 12 9 15"/>-->
      <!--              </svg>-->
      <!--              Tracking-->
      <!--            </a>-->
      <!--          </li>-->

      <!--          <li>-->
      <!--            <a href="#"-->
      <!--               class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">-->
      <!--              <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"-->
      <!--                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
      <!--                   stroke-linecap="round" stroke-linejoin="round">-->
      <!--                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>-->
      <!--                <path-->
      <!--                  d="M16 6h3a 1 1 0 011 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11"/>-->
      <!--                <line x1="8" y1="8" x2="12" y2="8"/>-->
      <!--                <line x1="8" y1="12" x2="12" y2="12"/>-->
      <!--                <line x1="8" y1="16" x2="12" y2="16"/>-->
      <!--              </svg>-->
      <!--              History-->
      <!--            </a>-->
      <!--          </li>-->


      <!--          <li>-->
      <!--            <a href="#"-->
      <!--               class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">-->
      <!--              <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"-->
      <!--                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
      <!--                   stroke-linecap="round" stroke-linejoin="round">-->
      <!--                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>-->
      <!--                <path-->
      <!--                  d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>-->
      <!--                <circle cx="12" cy="12" r="3"/>-->
      <!--              </svg>-->
      <!--              Settings-->
      <!--            </a>-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--      </div>-->

    </div>
    <!-- @end Small Screen Menu -->
  </div>

  <!-- Menu Above Medium Screen -->
  <div class="bg-white w-64 min-h-screen overflow-y-auto hidden md:block shadow relative z-30">

    <!-- Brand Logo / Name -->
    <div class="flex items-center px-6 py-3 h-16">
      <div class="text-2xl font-bold tracking-tight text-gray-800">
        <%#= image_tag 'logo.png', class: 'h-10 w-10 inline-block' %>
        <!--        NAL Online-->
        <%= render 'layouts/logo_type_student' %>
      </div>
    </div>
    <!-- @end Brand Logo / Name -->

    <%= render 'layouts/student/menu' %>

  </div>


  <!-- @end Menu Above Medium Screen -->

  <div class="flex-1 flex-col relative z-0 overflow-y-auto">
    <div class="px-4 md:px-8 py-2 h-16 flex justify-between items-center shadow-sm bg-white">
      <div class="flex items-center w-2/3">

        <input class="bg-gray-200 focus:outline-none focus:shadow-outline focus:bg-white border border-transparent focus:border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal hidden md:block placeholder-gray-700 mr-10" type="text" placeholder="Rechercher...">

        <div class="p-2 rounded-full hover:bg-gray-200 cursor-pointer md:hidden" @click="sidemenu = !sidemenu">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-600"
               width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
               fill="none" stroke-linecap="round" stroke-linejoin="round">
            <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
            <line x1="4" y1="6" x2="20" y2="6"/>
            <line x1="4" y1="12" x2="20" y2="12"/>
            <line x1="4" y1="18" x2="20" y2="18"/>
          </svg>
        </div>
        <div class="text-xl font-bold tracking-tight text-gray-800 md:hidden ml-2">
          <!--          <%#= image_tag 'logo.png', class: 'h-10 w-10 inline-block' %> NAL Online-->
          <%= render 'layouts/logo_type_student' %>
        </div>
      </div>
      <div class="flex items-center">

        <a href="#" class="text-gray-500 p-2 rounded-full hover:text-blue-600 hover:bg-gray-200 cursor-pointer mr-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
            <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"/>
            <path d="M9 17v1a3 3 0 0 0 6 0v-1"/>
          </svg>
        </a>

        <div class="relative" x-data="{ open: false }" x-cloak>
          <div @click="open = !open"
               class="cursor-pointer font-bold w-10 h-10 bg-blue-200 text-blue-600 flex items-center justify-center rounded-full">
            <%= ExtractName.extract_first_letter(current_student.complete_name) %>
          </div>

          <div x-show.transition="open" @click.away="open = false"
               class="absolute top-0 mt-12 right-0 w-48 bg-white py-2 shadow-md border border-gray-100 rounded-lg z-40">
            <a href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600">
              <%= current_student.complete_name %>
            </a>

            <a href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600">
              <strong>Classe</strong> <%= current_student.salle_de_class.name %>
            </a>

            <a href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600">
              <strong>Mat.</strong> <%= current_student.matricule %>
            </a>
            <%= link_to "Mon compte", edit_student_registration_path, class: 'block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600' %>
            <%= link_to "Se déconnecter", destroy_student_session_path, method: :delete, class: "block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600" %>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white shadow">
      <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
        <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
          <div class="flex-1 min-w-0">
            <!-- Profile -->
            <div class="flex items-center">
<!--              <img class="hidden h-16 w-16 rounded-full sm:block" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.6&w=256&h=256&q=80" alt="">-->
              <div>
                <div class="flex items-center">
                  <span class="inline-block relative">
                    <img class="h-16 w-16 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    <span class="absolute bottom-0 right-0 block h-4 w-4 rounded-full ring-2 ring-white bg-green-400"></span>
                  </span>
                  <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate">
                    <%= current_student.complete_name.upcase %>
                  </h1>
                </div>
                <dl class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
                  <dt class="sr-only">Company</dt>
                  <dd class="flex items-center text-sm text-gray-500 font-medium capitalize sm:mr-6">
                    <!-- Heroicon name: office-building -->
                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd"/>
                    </svg>
                    <%= Structure.find(current_student.structure).name.upcase %>
                  </dd>
                  <dt class="sr-only">Account status</dt>
                  <dd class="mt-3 flex items-center text-sm text-gray-500 font-medium sm:mr-6 sm:mt-0 capitalize">
                    <!-- Heroicon name: check-circle -->
                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                    </svg>
                    Compte étudiant vérifié
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="mt-6 flex space-x-3 md:mt-0 md:ml-4">
            <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
              Add money
            </button>
            <button type="button" class="bg-indigo-400 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
              Informations personnelles
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="md:max-w-6xl md:mx-auto px-4 py-8">


      <%= yield %>
    </div>


  </div>
</div>

<script type="text/javascript" charset="utf-8">
    const application = Stimulus.Application.start();
    application.register('dropdown', Dropdown)
    application.register('modal', Modal)
    application.register('tabs', Tabs)
    application.register('popover', Popover)
    application.register('toggle', Toggle)
    application.register('slideover', Slideover)
</script>
