<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Détail
      <br/>
      <span class="text-indigo-600">du cours.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Emettre une note", course_send_teacher_note_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <%= link_to "Contacter l'enseignant", course_detail_contact_teacher_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <% if @course.course_status.name == "validate" %>
          <%= link_to "Suspendre", course_suspension_path(course_id: @course.id), data: {confirm: "Confirmer la suspension de cette leçon? \nElle ne sera plus disponible aux apprenants de #{current_user.structure.name.upcase}."}, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
        <% else %>
          <%= link_to "Valider", course_validation_path(course_id: @course.id), data: {confirm: "Confirmer la validation de cette leçon? \nUn SMS sera envoyé à tous les apprenants en relation avec ce cours."}, method: :post, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="bg-white shadow overflow-hidden">

  </div>
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Aperçu du fichier
      </h3>
      <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        Personal details and application.
      </p>
    </div>
  </h3>
  <% if @document.video? %>
    <%= video_tag url_for(@document), controls: true, id: 'player' %>
  <% elsif @document.image? %>
    <%= image_tag url_for(@document) %>
  <% elsif @document.audio? %>
    <%= audio_tag url_for(@document), controls: true, id: 'player' %>
  <% elsif @document.content_type.end_with?('pdf') %>
    <object data="<%= rails_blob_path(@document) %>" type="" width="100%" height="1000"></object>
  <% elsif @document.content_type.end_with?("vnd.openxmlformats-officedocument.wordprocessingml.document") %>
    <%= link_to(image_tag(@document.preview(resize: '1000x1000')), rails_blob_path(@document, disposition: 'attachment')) %>
  <% else %>
    <% case @document.content_type %>
  <% when 'application/pdf' %>
      <%= link_to @document.preview(resize: '600x600'), nil %>
    <% when 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' %>
      <%= link_to @documment.preview(resize: '600x600'), nil %>
    <% when 'application/msword' %>
      <%= link_to @document.preview(resize: '600x600'), nil %>
    <% when 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %>
      <%= link_to @document.preview(resize: '600x600'), nil %>
    <% end %>
  <% end %>
  <hr class="mt-4">
  <p class="font-bold mt-2 mb-4">
    Autres documents du cours
  </p>
  <%= @course.extrait.body %>
</div>
<br>
<hr>
<div class="bg-gray-500">
  <div class="bg-white shadow overflow-hidden">
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Informations sur le cours
      </h3>
      <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        Personal details and application.
      </p>
    </div>
    <div>
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Classe
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @course.salle_de_class.name %>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Matiere
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @course.matiere.name %>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Statut du cours
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @course.course_status.name %>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Enseignant
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @course.user.complete_name %>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Date publication
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @course.created_at %>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Format de fichier
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @document.content_type %>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Nom du fichiers
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @document.filename %>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Date importation fichier
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @document.created_at %>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Autre contenu
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @course.extrait.body %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>