<p id="notice"><%= notice %></p>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="container mx-auto px-4 sm:px-6 lg:px-8">
  <!-- Content goes here -->
  <div class="relative pb-5 border-b border-gray-200 sm:pb-0 mt-4">
    <div class="md:flex md:items-center md:justify-between">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Documents et fichiers importés & disponibles
      </h3>
      <div class="mt-3 flex md:mt-0 md:absolute md:top-3 md:right-0">
        <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Share
        </button>
        <%= link_to "Nouvelle matière", new_matiere_path, class: "ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    </div>
    <div class="mt-4">
      <!-- Dropdown menu on small screens -->
      <div class="sm:hidden">
        <label for="selectedTab" class="sr-only">Select a tab</label>
        <select id="selectedTab" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
          <option>Applied</option>

          <option>Phone Screening</option>

          <option selected>Toutes les matières</option>

          <option>Matières par filière</option>

          <option>Hired</option>
        </select>
      </div>
      <!-- Tabs at small breakpoint and up -->
      <div class="hidden sm:block mt-4">
        <nav class="-mb-px flex space-x-8">
          <a href="#" class="whitespace-nowrap pb-4 px-1 border-b-2 border-transparent font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300">
            Documents PDF
          </a>

          <a href="#" class="whitespace-nowrap pb-4 px-1 border-b-2 border-transparent font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300">
            Document Office
          </a>

          <a href="#" class="whitespace-nowrap pb-4 px-1 border-b-2 border-transparent font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300">
            Document images
          </a>

          <a href="#" class="whitespace-nowrap pb-4 px-1 border-b-2 border-transparent font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300">
            Document Audios
          </a>

          <a href="#" class="text-indigo-600 whitespace-nowrap pb-4 px-1 border-b-2 hover:border-red-500 border-indigo-500 border-transparent font-medium text-sm text-gray-500 hover:text-red-500 hover:border-gray-300" aria-current="page">
            Tous les documents
          </a>

          <a href="#" class="whitespace-nowrap pb-4 px-1 border-b-2 border-transparent font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300">
            Documents vidéo
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>


<section class="text-gray-700 body-font">
  <div class="container px-5 mx-auto">

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div>
      <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide mt-8">Pinned Projects</h2>
      <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
        <% @documents.each do |document| %>
          <li class="col-span-1 flex shadow-sm rounded-md">
          <div class="flex-shrink-0 flex items-center justify-center w-16 bg-pink-600 text-white text-sm font-medium rounded-l-md">
            D
          </div>
          <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md truncate">
            <div class="flex-1 px-4 py-2 text-sm truncate">
              <a href="#" class="text-gray-900 font-medium hover:text-gray-600"><%= link_to "Dossier de fichiers", document %></a>
              <p class="text-gray-500"><%= User.find(document.user_id).complete_name unless document.user_id.nil? %></p>
              <p class="text-gray-500"><%= document.created_at.strftime('%d %b %y') %></p>
              <p class="text-gray-500"><%= document.structure_id.nil? ? "No school" : document.structure.name.upcase %></p>
            </div>
            <div class="flex-shrink-0 pr-2">
              <button class="w-8 h-8 bg-white inline-flex items-center justify-center text-gray-400 rounded-full bg-transparent hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="sr-only">Open options</span>
                <!-- Heroicon name: dots-vertical -->
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                </svg>
              </button>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>

  </div>
</section>