<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Import
      <br />
      <span class="text-indigo-600">du fichier apprenant.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
          formulaire d'import manuel
        </a>
      </div>
    </div>
  </div>
</div>

<%= form_with(url: import_student_intent_path, class: 'w-full max-w-lg') do |form| %>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <%= form.label "Fichiers apprenant", class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' %>
      <%= form.file_field :fichier, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password' %>
      <p class="text-gray-600 text-xs italic">Selectionner un fichier au format CSV</p>

      <%= form.submit "Importer le fichier", class: 'mt-8 inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out' %>
    </div>
  </div>
<% end %>
<hr>
<br>
<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Liste des
      <br />
      <span class="text-indigo-600">apprenants recemment importés.</span>
    </h2>
  </div>
</div>

<%= paginate @students %>
<br>

<div class="overflow-x-auto bg-white rounded-lg shadow">
  <table class="w-full whitespace-no-wrap bg-white overflow-hidden table-striped">
    <thead>
    <tr class="text-left">
      <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Salle de classe</th>
      <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Nom & prénom</th>
      <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Matricule</th>
      <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Contact</th>
      <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs" colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |course| %>
      <tr>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <div class="flex items-center">
            <div class="flex-shrink-0 h-10 w-10">
<!--              <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="40" height="40"-->
<!--                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
<!--                   stroke-linecap="round" stroke-linejoin="round">-->
<!--                <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--                <polyline points="14 3 14 8 19 8" />-->
<!--                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />-->
<!--                <path d="M9 15l2 2l4 -4" />-->
<!--              </svg>-->
              <%= image_tag 'student.png' %>
            </div>
            <div class="ml-4">
              <div><%= course.salle_de_class.name %></div>
              <div class="text-sm leading-5 text-gray-500">
                <%= link_to Structure.find(course.structure).name, "#" unless course.structure.nil? %>
              </div>
            </div>
          </div>
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <div class="text-sm font-bold leading-5 text-gray-900"><%= course.name %></div>
          <div class="text-sm leading-5 text-gray-900"><%= course.sexe %></div>
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <div class="text-sm leading-5 text-gray-900"><%= course.matricule %></div>
          <div class="text-sm leading-5 text-gray-500"><%= course.sexe %></div>
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <div class="text-sm leading-5 text-gray-900"><%= course.phone.present? ? course.phone : "Inconnu" %></div>
        </td>
        <td class=" px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <%= link_to "Dossier", "#", class: "mr-4" %>
          <%= link_to "Contacter", "#", class: "mr-4" %>
          <%= link_to "Statistiques", "#" %>
        </td>
      </tr>

    <% end %>

    </tbody>
  </table>
</div>