<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Importer
      <br />
      <span class="text-indigo-600">un fichier enseignant</span>
    </h2>
  </div>
</div>

<%= form_with(url: import_teacher_intent_path, class: 'w-full max-w-lg') do |form| %>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <%= form.label "Fichier enseignants", class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' %>
      <%= form.file_field :fichier, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password' %>
      <p class="text-gray-600 text-xs italic">Selectionner un fichier au format CSV</p>

      <%= form.submit "Importer", class: 'mt-8 inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out' %>
      <%= link_to "Utiliser le formulaire enseignant", "#", class: 'mt-8 inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out' %>
    </div>
  </div>
<% end %>
<br>
<hr>
<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Liste
      <br />
      <span class="text-indigo-600">des enseignants enregistrés</span>
    </h2>
  </div>
</div>
<br>
<div class="flex flex-col">
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
      <table class="min-w-full" id="example">
        <thead>
        <tr>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Nom et prénom
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Matricule
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Contacts
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Classe d'enseignement
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Matiere enseignée
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50" colspan="3"></th>
        </tr>
        </thead>
        <tbody class="bg-white">
        <% @enseignants.each do |enseignant| %>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                  </svg>
                </div>
                <div class="ml-4">
                  <div class="text-sm leading-5 font-medium text-gray-900"><%= enseignant.complete_name %></div>
                  <div class="text-sm leading-5 text-gray-500"><%= enseignant.email %></div>
                  <div class="text-sm leading-5 text-gray-500"><%= enseignant.role.name %></div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900"><%= enseignant.matricule %></div>
              <div class="text-sm leading-5 text-gray-500"><%= enseignant.created_at.strftime("%d %b %Y") %></div>
              <div class="text-sm leading-5 text-gray-500"><%= enseignant.structure.name %></div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900"><%= enseignant.phone1.nil? ? 'Aucune données' : enseignant.phone1 %></div>
              <div class="text-sm leading-5 text-gray-500"><%= enseignant.phone2.nil? ? 'Aucune données' : enseignant.phone2 %></div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-500"><%= link_to "#{TeacherClasse.where(user_id: enseignant.id).count} Salle(s) de classe", "#" %></div>
              <div class="text-sm leading-5 text-gray-900"><%#= enseignant.cycle_ecole.name %></div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"><%= link_to 'Administrateur', set_role_path(type: 'admin', user_id: enseignant.id), data: { confirm: "Etes vous certain de donner le role ADMIN à #{enseignant.complete_name}" }, class: "hover:bg-transparent text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline" %></td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"><%= link_to 'AP', set_role_path(type: 'ap', user_id: enseignant.id), data: { confirm: "Etes vous certain de vouloir donner le role de AP à #{enseignant.complete_name}" }, class: "hover:bg-transparent text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline" %></td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"><%= link_to 'Enseignant', set_role_path(type: 'enseignant', user_id: enseignant.id), method: :delete, data: { confirm: "Cet utilisateur aura pour role Enseignant #{enseignant.complete_name}"}, class: "hover:bg-transparent text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
