<% if notice.present? %>
  <%= render 'layouts/notification_success' %>
  <div class="-m-2 text-center mb-8" id="notice">

    <div class="p-2">
      <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-sm">
        <span class="inline-flex bg-purple-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Terminé!</span>
        <span class="inline-flex px-2">
          <%= notice %>
        </span>
      </div>
    </div>

  </div>
<% end %>


<!--<iframe-->
<!--  src="https://tokbox.com/embed/embed/ot-embed.js?embedId=2c9f024a-6460-44ac-8e61-a30f98f5681c&room=DEFAULT_ROOM&iframe=true"-->
<!--  width=800-->
<!--  height=640-->
<!--  scrolling="auto"-->
<!--  allow="microphone; camera">-->

<!--</iframe>-->


<%#= link_to 'Send Notification', admin_index_path, remote: true %>

<div class="bg-gray-50 -mt-12">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Dashboard
      <br/>
      <span class="text-indigo-600">administrateur</span>
    </h2>
  </div>
</div>

<section class="text-gray-700 body-font">
  <div class="container px-5 mx-auto">
    <div class="flex flex-wrap -m-2">
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/80x80">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium"><%= Course.where(course_status_id: CourseStatus.find_by_name('validate').id, structure_id: current_user.structure_id).count %></h2>
            <p class="text-gray-500">Leçons validées</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/84x84">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium"><%= link_to Course.where(course_status_id: CourseStatus.find_by_name('waiting').id, structure_id: current_user.structure_id).count, course_all_path %></h2>
            <p class="text-gray-500">Leçons en attente de validation</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/88x88">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium"><%= link_to Course.where(course_status_id: CourseStatus.find_by_name('waiting').id, structure_id: current_user.structure_id).count, course_all_path %></h2>
            <p class="text-gray-500">Apprenants imcomplets</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section data-section-id="3" data-category="admin" data-component-id="73a6_15_02_awz" class="py-8 px-4">-->
<!--  <div class="flex flex-wrap -mx-4">-->
<!--    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">-->
<!--      <div class="h-full">-->
<!--        <div class="flex justify-between items-end mb-2">-->
<!--          <h3 class="text-lg font-heading font-light" data-config-id="02-col1-header">Enseignants</h3>-->
<!--          <span class="text-5xl leading-none text-blue-700" data-config-id="02-col1-number">-->
<%#= link_to User.where(role_id: Role.find_by_name('teacher').id, structure_id: current_user.structure_id).count, setup_manage_enseignant_index_path %>
<!--          </span>-->
<!--        </div>-->
<!--        <div class="w-full h-4 bg-gray-300 rounded">-->
<!--          <div class="h-full bg-blue-500" style="width: 62%;"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">-->
<!--      <div class="h-full">-->
<!--        <div class="flex justify-between items-end mb-2">-->
<!--          <h3 class="text-lg font-heading font-semibold" data-config-id="02-col2-header">Leçons publiés</h3>-->
<!--          <span class="text-5xl leading-none text-red-500" data-config-id="02-col2-number">-->
<%#= Course.where(course_status_id: CourseStatus.find_by_name('validate').id, structure_id: current_user.structure_id).count %>
<!--          </span>-->
<!--        </div>-->
<!--        <div class="w-full h-4 bg-gray-300 rounded">-->
<!--          <div class="h-full bg-red-500" style="width: 62%;"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">-->
<!--      <div class="h-full">-->
<!--        <div class="flex justify-between items-end mb-2">-->
<!--          <h3 class="text-lg font-heading font-light" data-config-id="02-col3-header">Leçons attentes</h3>-->
<!--          <span class="text-5xl leading-none text-purple-500" data-config-id="02-col3-number">-->
<%#= link_to Course.where(course_status_id: CourseStatus.find_by_name('waiting').id, structure_id: current_user.structure_id).count, course_all_path %>
<!--          </span>-->
<!--        </div>-->
<!--        <div class="w-full h-4 bg-gray-300 rounded">-->
<!--          <div class="h-full bg-purple-500" style="width: 62%;"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">-->
<!--      <div class="h-full">-->
<!--        <div class="flex justify-between items-end mb-2">-->
<!--          <h3 class="text-lg font-heading font-semibold" data-config-id="02-col4-header">Apprenants</h3>-->
<!--          <span class="text-5xl leading-none text-green-500" data-config-id="02-col4-number">-->
<%#= Student.where(structure: current_user.structure_id).count %>
<!--          </span>-->
<!--        </div>-->
<!--        <div class="w-full h-4 bg-gray-300 rounded">-->
<!--          <div class="h-full bg-green-500" style="width: 62%;"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<br>
<br>

<!--<div class="items-center justify-between mb-4">-->
<!--  <h2 class="text-xl font-bold text-gray-800 mb-6">-->
<%#= column_chart @course_stats, message: {empty: "Aucune données disponibles."}, refresh: 60, xtitle: 'Libellé leçons', ytitle: "Nombre de consultations" %>
<!--    <p class="text-center mt-8">-->
<!--      Statistique cours lus | <%#= link_to 'Imprimer', "#", class: 'font-light' %> | <%#= link_to 'Plus de statistiques', "#", class: 'font-light' %>-->
<!--    </p>-->
<!--  </h2>-->
<!--</div>-->

<% if @new_account.empty? %>

<% else %>
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-xl font-bold text-gray-800 mb-6">Nouveaux comptes</h2>
    <%= link_to 'Tout voir', "#", class: 'hover:bg-transparent text-blue-600 hover:text-blue-500 font-medium' %>
  </div>

  <div class="overflow-x-auto bg-white rounded-lg shadow">
    <table class="w-full whitespace-no-wrap bg-white overflow-hidden table-striped" id="example">
      <thead>
      <tr class="text-left">
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Nom complèt & mat.</th>
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Email & Date ajout</th>
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">User Role & structure</th>
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Cycle & classe</th>
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs bg-blue-200">Statut</th>
      </tr>
      </thead>
      <tbody>
      <% @new_account.each do |account| %>
        <tr>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <%= image_tag 'teacher.png', class: "" %>
              </div>
              <div class="ml-4">
                <div><%= account.complete_name %></div>
                <div class="text-sm leading-5 text-gray-500"> <%= account.matricule %></div>
              </div>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900"><%= account.email %></div>
            <div class="text-sm leading-5 text-gray-500"><%= account.created_at.strftime("%d %b %Y") %></div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900"><%= account.role.name %></div>
            <div class="text-sm leading-5 text-gray-500"><%= account.structure.name %></div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900"><%= account.cycle_ecole.name %></div>
            <div class="text-sm leading-5 text-gray-500">
              <% TeacherClasse.where(user_id: account.id).each do |classe| %>
                <%= SalleDeClass.find(classe.salle_de_class_id).name %> <br>
              <% end %>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 bg-blue-300">
          <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
            <%= link_to "Details", "#", data: {confirm: "Aucuns details disponible pour le moment. \nMerci de patienter."} %>
          </span>
          </td>
        </tr>

      <% end %>

      </tbody>
    </table>
  </div>
<% end %>

<br>
<br>


<br>
<br>


<div class="flex items-center justify-between mb-4 mt-8">
  <h2 class="text-xl font-bold text-gray-800 mb-6">Publications en attentes de validation</h2>
  <%= link_to 'Tout voir', course_all_path, class: 'hover:bg-transparent text-blue-600 hover:text-blue-500 font-medium' %>
</div>

<% if Course.where(course_status_id: CourseStatus.find_by_name('waiting').id, structure_id: current_user.structure_id).empty? %>
  <div class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Aucun cours
        <br/>
        <span class="text-indigo-600">en attente de validation</span>
      </h2>
    </div>
  </div>
<% else %>

  <section class="text-gray-700 body-font">
    <div class="container px-5 mx-auto">
      <div class="flex flex-wrap -m-2">
        <% Course.where(course_status_id: CourseStatus.find_by_name('waiting').id, structure_id: current_user.structure_id).order(created_at: :desc).each do |course| %>
          <% unless course.user.statut == 'inactive' %>
            <%= link_to course_detail_path(course_id: course.id, document_id: course.document_id), "x-click": {detail: true} do %>
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl hover:bg-blue-100">
                  <svg class="w-10 h-10 lex-shrink-0 rounded-full mr-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z"></path>
                  </svg>
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-bold">
                      <%= link_to excerpt(course.chapter.upcase, '', radius: 30), course_detail_path(course_id: course.id, document_id: course.document_id) %>
                    </h2>
                    <p class="text-gray-500"><%= course.user.complete_name %></p>
                    <p class="text-gray-500"><%= course.salle_de_class.name %></p>
                    <p class="text-gray-500"><%= course.created_at.strftime("%d %b %Y - %HH:%Mmin") %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<br>

<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">

    <%# @course.each do |course| %>
    <!--      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">-->

    <!--        <article class="overflow-hidden rounded-lg shadow-lg">-->

    <!--          <a href="#">-->
    <!--            <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
    <!--          </a>-->

    <!--          <header class="flex items-center justify-between leading-tight p-2 md:p-4">-->
    <!--            <h1 class="text-lg">-->
    <!--              <a class="no-underline hover:underline text-black" href="#">-->
    <%#= excerpt(course.chapter, '', radius: 15) %>
    <!--              </a>-->
    <!--            </h1>-->
    <!--            <p class="text-grey-darker text-sm">-->
    <%#= course.created_at.strftime("%d %b %Y") %>
    <!--            </p>-->
    <!--          </header>-->

    <!--          <footer class="flex items-center justify-between leading-none p-2 md:p-4">-->
    <%#= link_to "#", class: "hover:bg-transparent hover:text-indigo-500 flex items-center no-underline hover:underline text-black" do %>
    <!--              <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">-->
    <!--              <p class="ml-2 text-sm">-->
    <%#= course.user.complete_name %>
    <!--              </p>-->
    <%# end %>
    <!--            <a class="no-underline text-grey-darker hover:text-red-dark" href="#">-->
    <!--              <span class="hidden">Like</span>-->
    <!--              <i class="fa fa-heart"></i>-->
    <!--            </a>-->
    <!--          </footer>-->

    <!--        </article>-->

    <!--      </div>-->
    <%# end %>

  </div>
</div>

<br>

<br>

<% if (Student.where(c_pere: nil)).or(Student.where(c_mere: nil)).or(Student.where(c_tuteur: nil)).empty? %>


<% else %>

  <div class="flex items-center justify-between mb-4 mt-8">
    <h2 class="text-xl font-bold text-gray-800 mb-6">Dossiers apprenants incomplet</h2>
    <%= link_to 'Tout voir', course_all_path, class: 'hover:bg-transparent text-blue-600 hover:text-blue-500 font-medium' %>
  </div>

  <div class="flex flex-col">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full" id="abonne">
          <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Nom complèt
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Etablissement
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Père
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Mère
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Tuteur
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
          </tr>
          </thead>
          <tbody class="bg-white">
          <% (Student.where(c_pere: nil)).or(Student.where(c_mere: nil)).or(Student.where(c_tuteur: nil)).each do |student| %>
            <tr>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-medium text-gray-900"><%= student.name.upcase %></div>
                    <div class="text-sm leading-5 text-gray-500"><%= student.salle_de_class.name %></div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= student.matricule %></div>
                <div class="text-sm leading-5 text-gray-500"><%= Structure.find(student.structure.to_i).name %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= student.pere.nil? ? "Aucun contact" : student.pere.upcase %></div>
                <div class="text-sm leading-5 text-gray-500"><%= student.c_pere.nil? ? "Aucun" : student.c_pere %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= student.mere.nil? ? "Aucun contact" : student.mere.upcase %></div>
                <div class="text-sm leading-5 text-gray-500"><%= student.c_mere.nil? ? "Aucun" : student.c_mere %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= student.tuteur.nil? ? "Aucun contact" : student.tuteur.upcase %></div>
                <div class="text-sm leading-5 text-gray-500"><%= student.c_tuteur.nil? ? "Aucun" : student.c_tuteur %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                <a href="#" class="text-indigo-600 hover:text-indigo-900">Modifier</a>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>


<br>

<div class="flex items-center justify-between mb-4 mt-8">
  <h2 class="text-xl font-bold text-gray-800 mb-6">Derniers documents importés</h2>
  <%= link_to 'Tout voir', "#", class: 'hover:bg-transparent text-blue-600 hover:text-blue-500 font-medium' %>
</div>

<% if @documents.nil? %>
  <div class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Aucun document
        <br/>
        <span class="text-indigo-600">en attente.</span>
      </h2>
    </div>
  </div>
<% else %>
  <section class="text-gray-700 body-font">
    <div class="container px-5 mx-auto">
      <div class="flex flex-wrap -m-2">
        <% @documents.each do |document| %>
          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
              <svg class="w-6 h-6 flex-shrink-0 rounded-full mr-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"></path>
              </svg>
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium"><%= document.filename %></h2>
                <p class="text-gray-500"><%= document.content_type %></p>
                <p class="text-gray-500"><%= document.created_at %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
