<% if notice.present? %>
  <div class="-m-2 text-center mb-8" id="notice">

    <div class="p-2">
      <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-sm">
        <span class="inline-flex bg-purple-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Terminé!</span>
        <span class="inline-flex px-2">
          <%= notice %>
        </span>
      </div>
    </div>

  </div>
<% end %>

<div class="bg-gray-50 -mt-12">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Dashboard
      <br/>
      <span class="text-indigo-600">administrateur</span>
    </h2>
<!--    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">-->
<!--      <div class="inline-flex rounded-md shadow">-->
<!--        <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">-->
<!--          Parametres généraux-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="ml-3 inline-flex rounded-md shadow">-->
<!--        <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">-->
<!--          Paramètres-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>

<div class="items-center justify-between mb-4">
  <h2 class="text-xl font-bold text-gray-800 mb-6">
    <%= column_chart(@course_stats) %>
    <p class="text-center mt-8">
      Statistique cours lus | <%= link_to 'Imprimer', "#", class: 'font-light' %> | <%= link_to 'Plus de statistiques', "#", class: 'font-light' %>
    </p>
  </h2>
</div>

<% if @new_account.empty? %>

<% else %>
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-xl font-bold text-gray-800 mb-6">Nouveaux comptes</h2>
    <%= link_to 'Tout voir', "#", class: 'hover:bg-transparent text-blue-600 hover:text-blue-500 font-medium' %>
  </div>

  <div class="overflow-x-auto bg-white rounded-lg shadow">
    <table class="w-full whitespace-no-wrap bg-white overflow-hidden table-striped">
      <thead>
      <tr class="text-left">
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Nom complèt & mat.</th>
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Email & Date ajout</th>
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">User Role & structure</th>
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Cycle & classe</th>
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Statut</th>
      </tr>
      </thead>
      <tbody>
      <% @new_account.each do |account| %>
        <tr>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <%= image_tag 'teacher.png', class: "" %>
              </div>
              <div class="ml-4">
                <div><%= account.complete_name %></div>
                <div class="text-sm leading-5 text-gray-500"> <%= account.matricule %></div>
              </div>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900"><%= account.email %></div>
            <div class="text-sm leading-5 text-gray-500"><%= account.created_at.strftime("%d %b %Y") %></div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900"><%= account.role.name %></div>
            <div class="text-sm leading-5 text-gray-500"><%= account.structure.name %></div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900"><%= account.cycle_ecole.name %></div>
            <div class="text-sm leading-5 text-gray-500">
              <% TeacherClasse.where(user_id: account.id).each do |classe| %>
                <%= SalleDeClass.find(classe.salle_de_class_id).name %> <br>
              <% end %>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
            <%= link_to "Details", "#", data: {confirm: "Aucuns details disponible pour le moment. \nMerci de patienter."} %>
          </span>
          </td>
        </tr>

      <% end %>

      </tbody>
    </table>
  </div>
<% end %>

<br>
<br>


<div class="flex items-center justify-between mb-4 mt-8">
  <h2 class="text-xl font-bold text-gray-800 mb-6">Publications en attentes de validation</h2>
  <%= link_to 'Tout voir', course_all_path, class: 'hover:bg-transparent text-blue-600 hover:text-blue-500 font-medium' %>
</div>

<% if @course.nil? %>
  <div class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Aucun cours
        <br/>
        <span class="text-indigo-600">en attente de validation</span>
      </h2>
    </div>
  </div>
<% else %>
  <div class="overflow-x-auto bg-white rounded-lg shadow">
    <table class="w-full whitespace-no-wrap bg-white overflow-hidden table-striped">
      <thead>
      <tr class="text-left">
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Date publication</th>
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Enseignant</th>
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Classe & Matière</th>
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Titre leçon</th>
        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Statut</th>
      </tr>
      </thead>
      <tbody>
      <% @course.each do |course| %>
        <tr>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <%= image_tag 'course.png' %>
              </div>
              <div class="ml-4">
                <div><%= course.created_at.strftime("%d %b %Y") %></div>
                <div class="text-sm leading-5 text-gray-500"> Heures</div>
              </div>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900"><%= course.user.complete_name %></div>
            <div class="text-sm leading-5 text-gray-500"><%= course.user.cycle_ecole.name %></div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900"><%= course.salle_de_class.name %></div>
            <div class="text-sm leading-5 text-gray-500"><%= course.matiere.name %></div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900"><%= course.chapter %></div>
            <div class="text-sm leading-5 text-gray-500"><%= course.user.cycle_ecole.name %></div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
            <%= link_to course.course_status.name, course_detail_path(course_id: course.id, document_id: course.document_id) %>
          </span>
            <div class="text-sm leading-5 text-gray-500">
              <% if course.course_status.name == "waiting" %>
                En attente de validation
              <% elsif course.course_status.name == "rejected" %>
                Rejecté
              <% else %>
                Validé par ...
              <% end %>
            </div>
          </td>
        </tr>

      <% end %>

      </tbody>
    </table>
  </div>
<% end %>

<br>

<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">

    <%# @course.each do |course| %>
<!--      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">-->

<!--        <article class="overflow-hidden rounded-lg shadow-lg">-->

<!--          <a href="#">-->
<!--            <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
<!--          </a>-->

<!--          <header class="flex items-center justify-between leading-tight p-2 md:p-4">-->
<!--            <h1 class="text-lg">-->
<!--              <a class="no-underline hover:underline text-black" href="#">-->
                <%#= excerpt(course.chapter, '', radius: 15) %>
<!--              </a>-->
<!--            </h1>-->
<!--            <p class="text-grey-darker text-sm">-->
              <%#= course.created_at.strftime("%d %b %Y") %>
<!--            </p>-->
<!--          </header>-->

<!--          <footer class="flex items-center justify-between leading-none p-2 md:p-4">-->
            <%#= link_to "#", class: "hover:bg-transparent hover:text-indigo-500 flex items-center no-underline hover:underline text-black" do %>
<!--              <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">-->
<!--              <p class="ml-2 text-sm">-->
                <%#= course.user.complete_name %>
<!--              </p>-->
            <%# end %>
<!--            <a class="no-underline text-grey-darker hover:text-red-dark" href="#">-->
<!--              <span class="hidden">Like</span>-->
<!--              <i class="fa fa-heart"></i>-->
<!--            </a>-->
<!--          </footer>-->

<!--        </article>-->

<!--      </div>-->
    <%# end %>

  </div>
</div>

<br>

<div class="flex items-center justify-between mb-4 mt-8">
  <h2 class="text-xl font-bold text-gray-800 mb-6">Derniers documents importés</h2>
  <%= link_to 'Tout voir', "#", class: 'hover:bg-transparent text-blue-600 hover:text-blue-500 font-medium' %>
</div>

<% if @documents.nil? %>
  <div class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Aucun document
        <br/>
        <span class="text-indigo-600">en attente.</span>
      </h2>
    </div>
  </div>
<% else %>
  <div class="flex flex-col">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full">
          <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Date importation
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Propriétaire
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50" colspan="3"></th>
          </tr>
          </thead>
          <tbody class="bg-white">
          <% @documents.each do |document| %>
            <tr>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="40" height="40"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z"/>
                      <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"/>
                      <circle cx="12" cy="14" r="2"/>
                      <polyline points="14 4 14 8 8 8 8 4"/>
                    </svg>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-medium text-gray-900"><%= document.created_at.strftime("%d %b %Y") %></div>
                    <div class="text-sm leading-5 text-gray-500"><%= document.filename %></div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900">Importé par</div>
                <div class="text-sm leading-5 text-gray-500"><%= %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                Active
              </span>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
