<% if notice.present? %>
  <%= render 'layouts/notification_success' %>
  <div class="-m-2 text-center mt-8 mb-8" id="notice">

    <div class="p-2">
      <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-sm">
        <span class="inline-flex bg-purple-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Terminé!</span>
        <span class="inline-flex px-2">
          <%= notice %>
        </span>
      </div>
    </div>

  </div>
<% end %>


<%#= link_to 'Send Notification', admin_index_path, remote: true %>

<div class="bg-gray-50 -mt-12">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Etablissement
      <br/>
      <span class="text-indigo-600"><%= current_user.structure.name %></span>
    </h2>
  </div>
</div>

<!-- spécial zone -->
<section class="text-gray-700 body-font mb-4">
  <div class="container px-5 mx-auto">
    <div class="flex flex-wrap -m-2">
      <% if SalleDeClass.where(structure_id: current_user.structure_id).count.zero? %>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
            <svg class="w-10 h-10 flex-shrink-0 rounded-full mr-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">
                <%= link_to 'Aucune salle de classe trouvées', new_salle_de_class_path %>
              </h2>
              <p class="text-gray-500 text-sm">Commencer à importer une salle de classe</p>
              <p class="text-gray-500">
                <%= link_to 'Importer des salles de classes', new_salle_de_class_path %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <% if Matiere.where(structure_id: current_user.structure_id).count.zero? %>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
            <svg class="w-10 h-10 flex-shrink-0 rounded-full mr-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path>
            </svg>
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">Aucune matière trouvées</h2>
              <p class="text-gray-500">sdkfjlsdkf</p>
              <p class="text-gray-500">Importer les matières</p>
            </div>
          </div>
        </div>
      <% end %>

      <% if Student.where(structure: current_user.structure_id).count.zero? %>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
            <svg class="w-10 h-10 flex-shrink-0 rounded-full mr-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
            </svg>
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">Aucun apprenants trouvés</h2>
              <p class="text-gray-500">sdkfjlsdkf</p>
              <p class="text-gray-500">Importer des apprenants</p>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</section>

<section class="text-gray-700 body-font">
  <div class="container px-5 mx-auto">
    <div class="flex flex-wrap -m-2">
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <?xml version="1.0" ?>
          <svg data-name="Layer 2" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" id="Layer_2" viewBox="0 0 2050 2050" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <style>.cls-1 {
                  fill: #4d4c78;
              }

              .cls-11, .cls-2 {
                  fill: #323150;
              }

              .cls-3 {
                  fill: #67baeb;
              }

              .cls-4 {
                  fill: #f44533;
              }

              .cls-5 {
                  fill: #de3226;
              }

              .cls-6 {
                  fill: #f4c23f;
              }

              .cls-7 {
                  fill: #f4a93f;
              }

              .cls-8 {
                  fill: #c8c2e9;
              }

              .cls-9 {
                  fill: #b9b1e0;
              }

              .cls-10 {
                  fill: #b11a31;
              }

              .cls-11 {
                  opacity: 0.1;
              }

              .cls-12 {
                  fill: #83d0fb;
              }

              .cls-13 {
                  opacity: 0.2;
              }

              .cls-14 {
                  fill: #fff;
              }

              .cls-15 {
                  fill: #231f20;
              }

              .cls-16 {
                  fill: #fad564;
              }

              .cls-17 {
                  fill: #dfdafd;
              }

              .cls-18 {
                  fill: #f46253;
              }</style>
            </defs>
            <title/>
            <rect class="cls-1" height="120.02" rx="60" ry="60" width="1911.2" x="69.4" y="1589.3"/>
            <path class="cls-2" d="M1920.6,1589.3H154.9c-.1,1.3-.1,2.6-.1,3.9h0a60,60,0,0,0,60,60.1H1980.4c.1-1.4.2-2.7.2-4h0A60,60,0,0,0,1920.6,1589.3Z"/>
            <rect class="cls-3" height="1158.16" transform="translate(-147.9 290.1) rotate(-10)" width="273.3" x="1440.7" y="408"/>
            <rect class="cls-3" height="1252.55" width="295.6" x="237.1" y="340.7"/>
            <rect class="cls-4" height="1252.55" width="295.6" x="1017.2" y="340.7"/>
            <polygon class="cls-5" points="1017.2 1593.2 1312.8 1593.2 1312.8 340.7 1262.8 340.7 1262.8 1536.4 1017.2 1536.4 1017.2 1593.2"/>
            <rect class="cls-6" height="1166.42" width="242.6" x="532.7" y="426.8"/>
            <path class="cls-7" d="M711.9,426.8V1371c0,98.9-80.2,179.2-179.2,179.2h0v43H775.3V426.8Z"/>
            <rect class="cls-8" height="1089.46" width="242.6" x="774.6" y="503.8"/>
            <path class="cls-9" d="M970.7,503.8v854.9c0,108.3-87.8,196.1-196.1,196.1h0v38.4h242.6V503.8Z"/>
            <rect class="cls-1" height="87.09" width="295.6" x="237.1" y="538.2"/>
            <rect class="cls-1" height="87.09" width="295.6" x="237.1" y="1308.7"/>
            <rect class="cls-7" height="847.15" width="60.7" x="618.1" y="600.4"/>
            <path class="cls-1" d="M950.7,678.9H841.1a20,20,0,0,1,0-40H950.7a20,20,0,0,1,0,40Z"/>
            <path class="cls-1" d="M950.7,780.2H841.1a20,20,0,0,1,0-40H950.7a20,20,0,0,1,0,40Z"/>
            <path class="cls-1" d="M950.7,881.4H841.1a20,20,0,0,1,0-40H950.7a20,20,0,0,1,0,40Z"/>
            <path class="cls-1" d="M931.9,1488.6h-72a20,20,0,0,1,0-40h72a20,20,0,1,1,0,40Z"/>
            <path class="cls-10" d="M1110.3,1401.7a20.1,20.1,0,0,1-20-20V552.3a20,20,0,0,1,40,0v829.4A20,20,0,0,1,1110.3,1401.7Z"/>
            <path class="cls-10" d="M1219.6,1401.7a20,20,0,0,1-20-20V552.3a20,20,0,0,1,40,0v829.4A20.1,20.1,0,0,1,1219.6,1401.7Z"/>
            <polygon class="cls-1" points="1786.1 1382.3 1786.1 1382.3 1517 1430 1524 1469.4 1793.1 1421.7 1786.1 1382.3"/>
            <rect class="cls-1" height="40" transform="translate(-72.6 269.8) rotate(-10)" width="273.3" x="1363" y="528.3"/>
            <polygon class="cls-1" points="1682.1 794.6 1682.1 794.6 1675.1 755.3 1675.1 755.3 1406 802.9 1406 802.9 1413 842.3 1413 842.3 1682.1 794.6"/>
            <polygon class="cls-1" points="1748.8 1171.2 1741.8 1131.8 1472.6 1179.5 1479.6 1218.9 1479.6 1218.9 1748.8 1171.2"/>
            <path class="cls-11" d="M447.3,1319.3V340.7h85.4V1593.2H237.1v-63.7h0C353.2,1529.5,447.3,1435.4,447.3,1319.3Z"/>
            <path class="cls-11" d="M1611,393l-68.5,12.2L1701.2,1302c18.8,106-51.9,207.2-158,225.9l-8.6,1.6,9.1,51.6,269.2-47.6Z"/>
            <rect class="cls-12" height="524.76" rx="32.4" ry="32.4" width="64.8" x="237.1" y="720.7"/>
            <g class="cls-13">
              <rect class="cls-14" height="584.09" rx="36.1" ry="36.1" transform="translate(-143.8 271.3) rotate(-10)" width="72.2" x="1436.6" y="662.2"/>
              <path class="cls-15" d="M1517.2,1242.9a36.6,36.6,0,0,1-36-30.3L1392,708.5a36.6,36.6,0,0,1,29.6-42.4,36.7,36.7,0,0,1,42.5,29.7l89.2,504.1a36.6,36.6,0,0,1-29.6,42.4v0A35.7,35.7,0,0,1,1517.2,1242.9ZM1428,666.6a33.4,33.4,0,0,0-6.2.6,35.4,35.4,0,0,0-28.7,41.2l89.2,504a35.6,35.6,0,0,0,41.2,28.8,35.4,35.4,0,0,0,28.7-41.1L1463,696A35.6,35.6,0,0,0,1428,666.6Z"/>
            </g>
            <rect class="cls-12" height="133.95" rx="32.4" ry="32.4" width="64.8" x="237.1" y="370.8"/>
            <rect class="cls-16" height="586.49" rx="24.3" ry="24.3" width="48.6" x="532.7" y="446.9"/>
            <rect class="cls-17" height="331.71" rx="23.2" ry="23.2" width="46.5" x="774.6" y="947.6"/>
            <rect class="cls-17" height="57.13" rx="19.2" ry="19.2" width="121.3" x="774.6" y="503.8"/>
            <rect class="cls-18" height="755.16" rx="19.4" ry="19.4" width="38.9" x="1017.2" y="503.8"/>
          </svg>
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium"><%= Course.where(course_status_id: CourseStatus.find_by_name('validate').id, structure_id: current_user.structure_id).count %></h2>
            <p class="text-gray-500">Leçons validées</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <?xml version="1.0" ?>
          <svg id="fill" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
            <rect height="48" style="fill:#e5e6eb" width="4" x="47" y="8"/>
            <rect height="48" style="fill:#e5e6eb" width="4" x="13" y="8"/>
            <rect height="46" style="fill:#d9dae2" width="2" x="49" y="9"/>
            <rect height="46" style="fill:#d9dae2" width="2" x="15" y="9"/>
            <path d="M42,23V8H22V23a9.99,9.99,0,0,0,5.663,9A9.989,9.989,0,0,0,22,41V56H42V41a9.989,9.989,0,0,0-5.663-9A9.99,9.99,0,0,0,42,23Z" style="fill:#cceaff"/>
            <path d="M42,23V8H22V9H40V24a9.99,9.99,0,0,1-5.663,9A9.989,9.989,0,0,1,40,42V56h2V41a9.989,9.989,0,0,0-5.663-9A9.99,9.99,0,0,0,42,23Z" style="fill:#85b4e0"/>
            <rect height="4" rx="2" ry="2" style="fill:#cfcfd9" width="6" x="12" y="30"/>
            <rect height="4" rx="2" ry="2" style="fill:#cfcfd9" width="6" x="46" y="30"/>
            <path d="M26,21H38a0,0,0,0,1,0,0v2a6,6,0,0,1-6,6h0a6,6,0,0,1-6-6V21A0,0,0,0,1,26,21Z" style="fill:#027de5"/>
            <path d="M38,55H26V45l1.8-1.5a6.559,6.559,0,0,1,8.4,0L38,45Z" style="fill:#027de5"/>
            <rect height="2" style="fill:#027de5" width="2" x="31" y="32"/>
            <rect height="2" style="fill:#027de5" width="2" x="31" y="36"/>
            <line style="fill:none;stroke:#07d2ed;stroke-linejoin:round" x1="31" x2="33" y1="48" y2="48"/>
            <line style="fill:none;stroke:#07d2ed;stroke-linejoin:round" x1="33" x2="35" y1="51" y2="51"/>
            <rect height="6" rx="3" ry="3" style="fill:#444" width="44" x="10" y="3"/>
            <path d="M52.976,3.758c.006.082.024.159.024.242a3,3,0,0,1-3,3H12a2.98,2.98,0,0,1-1.976-.758A2.991,2.991,0,0,0,13,9H51a2.989,2.989,0,0,0,1.976-5.242Z"/>
            <rect height="6" rx="3" ry="3" style="fill:#444" width="44" x="10" y="55"/>
            <path d="M52.976,55.758c.006.082.024.159.024.242a3,3,0,0,1-3,3H12a2.98,2.98,0,0,1-1.976-.758A2.991,2.991,0,0,0,13,61H51a2.989,2.989,0,0,0,1.976-5.242Z"/>
            <path d="M52,54.142V34.22a2.964,2.964,0,0,0,0-4.44V9.858A3.992,3.992,0,0,0,51,2H13a3.992,3.992,0,0,0-1,7.858V29.78a2.964,2.964,0,0,0,0,4.44V54.142A3.992,3.992,0,0,0,13,62H51a3.992,3.992,0,0,0,1-7.858ZM50,54H48V35h2ZM13,32a1,1,0,0,1,1-1h2a1,1,0,0,1,0,2H14A1,1,0,0,1,13,32Zm6,0a2.985,2.985,0,0,0-1-2.22V10h3V23a10.9,10.9,0,0,0,4.687,9A10.9,10.9,0,0,0,21,41V54H18V34.22A2.985,2.985,0,0,0,19,32Zm4,9a8.935,8.935,0,0,1,5.1-8.1,1,1,0,0,0,0-1.8A8.935,8.935,0,0,1,23,23V10H41V23a8.935,8.935,0,0,1-5.1,8.1,1,1,0,0,0,0,1.8A8.935,8.935,0,0,1,41,41V54H23Zm15.313-9A10.9,10.9,0,0,0,43,23V10h3V29.78a2.964,2.964,0,0,0,0,4.44V54H43V41A10.9,10.9,0,0,0,38.313,32ZM51,32a1,1,0,0,1-1,1H48a1,1,0,0,1,0-2h2A1,1,0,0,1,51,32Zm-3-3V10h2V29ZM11,6a2,2,0,0,1,2-2H51a2,2,0,0,1,0,4H13A2,2,0,0,1,11,6Zm3,4h2V29H14Zm2,25V54H14V35ZM51,60H13a2,2,0,0,1,0-4H51a2,2,0,0,1,0,4Z"/>
          </svg>
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium"><%= link_to Course.where(course_status_id: CourseStatus.find_by_name('waiting').id, structure_id: current_user.structure_id).count, course_all_path %></h2>
            <p class="text-gray-500">En attente de validation</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/88x88">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium"><%= link_to Course.where(course_status_id: CourseStatus.find_by_name('waiting').id, structure_id: current_user.structure_id).count, course_all_path %></h2>
            <p class="text-gray-500">Apprenants imcomplets</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section data-section-id="3" data-category="admin" data-component-id="73a6_15_02_awz" class="py-8 px-4">-->
<!--  <div class="flex flex-wrap -mx-4">-->
<!--    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">-->
<!--      <div class="h-full">-->
<!--        <div class="flex justify-between items-end mb-2">-->
<!--          <h3 class="text-lg font-heading font-light" data-config-id="02-col1-header">Enseignants</h3>-->
<!--          <span class="text-5xl leading-none text-blue-700" data-config-id="02-col1-number">-->
<%#= link_to User.where(role_id: Role.find_by_name('teacher').id, structure_id: current_user.structure_id).count, setup_manage_enseignant_index_path %>
<!--          </span>-->
<!--        </div>-->
<!--        <div class="w-full h-4 bg-gray-300 rounded">-->
<!--          <div class="h-full bg-blue-500" style="width: 62%;"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">-->
<!--      <div class="h-full">-->
<!--        <div class="flex justify-between items-end mb-2">-->
<!--          <h3 class="text-lg font-heading font-semibold" data-config-id="02-col2-header">Leçons publiés</h3>-->
<!--          <span class="text-5xl leading-none text-red-500" data-config-id="02-col2-number">-->
<%#= Course.where(course_status_id: CourseStatus.find_by_name('validate').id, structure_id: current_user.structure_id).count %>
<!--          </span>-->
<!--        </div>-->
<!--        <div class="w-full h-4 bg-gray-300 rounded">-->
<!--          <div class="h-full bg-red-500" style="width: 62%;"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">-->
<!--      <div class="h-full">-->
<!--        <div class="flex justify-between items-end mb-2">-->
<!--          <h3 class="text-lg font-heading font-light" data-config-id="02-col3-header">Leçons attentes</h3>-->
<!--          <span class="text-5xl leading-none text-purple-500" data-config-id="02-col3-number">-->
<%#= link_to Course.where(course_status_id: CourseStatus.find_by_name('waiting').id, structure_id: current_user.structure_id).count, course_all_path %>
<!--          </span>-->
<!--        </div>-->
<!--        <div class="w-full h-4 bg-gray-300 rounded">-->
<!--          <div class="h-full bg-purple-500" style="width: 62%;"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">-->
<!--      <div class="h-full">-->
<!--        <div class="flex justify-between items-end mb-2">-->
<!--          <h3 class="text-lg font-heading font-semibold" data-config-id="02-col4-header">Apprenants</h3>-->
<!--          <span class="text-5xl leading-none text-green-500" data-config-id="02-col4-number">-->
<%#= Student.where(structure: current_user.structure_id).count %>
<!--          </span>-->
<!--        </div>-->
<!--        <div class="w-full h-4 bg-gray-300 rounded">-->
<!--          <div class="h-full bg-green-500" style="width: 62%;"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<br>
<br>

<!--<div class="items-center justify-between mb-4">-->
<!--  <h2 class="text-xl font-bold text-gray-800 mb-6">-->
<%#= column_chart @course_stats, message: {empty: "Aucune données disponibles."}, refresh: 60, xtitle: 'Libellé leçons', ytitle: "Nombre de consultations" %>
<!--    <p class="text-center mt-8">-->
<!--      Statistique cours lus | <%#= link_to 'Imprimer', "#", class: 'font-light' %> | <%#= link_to 'Plus de statistiques', "#", class: 'font-light' %>-->
<!--    </p>-->
<!--  </h2>-->
<!--</div>-->

<% if @new_account.empty? %>

<% else %>
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-xl font-bold text-gray-800 mb-6">Nouveaux comptes</h2>
    <%= link_to 'Tout voir', "#", class: 'hover:bg-transparent text-blue-600 hover:text-blue-500 font-medium' %>
  </div>

  <section class="text-gray-700 body-font">
    <div class="container px-5 mx-auto">
      <div class="flex flex-wrap -m-2">
        <% @new_account.limit(6).each do |account| %>
          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
              <%= image_tag 'teacher.png', class: "w-12 h-12 flex-shrink-0 rounded-full mr-4" %>
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium"><%= account.complete_name %>
                  | <%= account.role.name %></h2>
                <p class="text-gray-500"><%= account.matricule %></p>
                <p class="text-gray-500"><%= account.created_at.strftime("%d %b %Y") %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <!--  <div class="overflow-x-auto bg-white rounded-lg shadow">-->
  <!--    <table class="w-full whitespace-no-wrap bg-white overflow-hidden table-striped" id="example">-->
  <!--      <thead>-->
  <!--      <tr class="text-left">-->
  <!--        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Nom complèt & mat.</th>-->
  <!--        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Email & Date ajout</th>-->
  <!--        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">User Role & structure</th>-->
  <!--        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs">Cycle & classe</th>-->
  <!--        <th class="px-6 py-3 text-gray-500 font-bold tracking-wider uppercase text-xs bg-blue-200">Statut</th>-->
  <!--      </tr>-->
  <!--      </thead>-->
  <!--      <tbody>-->
  <%# @new_account.each do |account| %>
  <!--        <tr>-->
  <!--          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">-->
  <!--            <div class="flex items-center">-->
  <!--              <div class="flex-shrink-0 h-10 w-10">-->
  <%#= image_tag 'teacher.png', class: "" %>
  <!--              </div>-->
  <!--              <div class="ml-4">-->
  <!--                <div><%#= account.complete_name %></div>-->
  <!--                <div class="text-sm leading-5 text-gray-500"> <%#= account.matricule %></div>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--          </td>-->
  <!--          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">-->
  <!--            <div class="text-sm leading-5 text-gray-900"><%#= account.email %></div>-->
  <!--            <div class="text-sm leading-5 text-gray-500"><%#= account.created_at.strftime("%d %b %Y") %></div>-->
  <!--          </td>-->
  <!--          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">-->
  <!--            <div class="text-sm leading-5 text-gray-900"><%#= account.role.name %></div>-->
  <!--            <div class="text-sm leading-5 text-gray-500"><%#= account.structure.name %></div>-->
  <!--          </td>-->
  <!--          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">-->
  <!--            <div class="text-sm leading-5 text-gray-900"><%##= account.cycle_ecole.name %></div>-->
  <!--            <div class="text-sm leading-5 text-gray-500">-->
  <%# TeacherClasse.where(user_id: account.id).each do |classe| %>
  <!--                <%#= SalleDeClass.find(classe.salle_de_class_id).name %> <br>-->
  <%# end %>
  <!--            </div>-->
  <!--          </td>-->
  <!--          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 bg-blue-300">-->
  <!--          <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">-->
  <%#= link_to "Details", "#", data: {confirm: "Aucuns details disponible pour le moment. \nMerci de patienter."} %>
  <!--          </span>-->
  <!--          </td>-->
  <!--        </tr>-->

  <%# end %>

  <!--      </tbody>-->
  <!--    </table>-->
  <!--  </div>-->
<% end %>

<br>
<br>


<br>
<br>


<div class="flex items-center justify-between mb-4 mt-8">
  <h2 class="text-xl font-bold text-gray-800 mb-6">Publications en attentes de validation</h2>
  <%= link_to 'Tout voir', course_all_path, class: 'hover:bg-transparent text-blue-600 hover:text-blue-500 font-medium' %>
</div>

<% if Course.where(course_status_id: CourseStatus.find_by_name('waiting').id, structure_id: current_user.structure_id).empty? %>
  <div class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Aucun cours
        <br/>
        <span class="text-indigo-600">en attente de validation</span>
      </h2>
    </div>
  </div>
<% else %>

  <section class="text-gray-700 body-font">
    <div class="container px-5 mx-auto">
      <div class="flex flex-wrap -m-2">
        <% Course.where(course_status_id: CourseStatus.find_by_name('waiting').id, structure_id: current_user.structure_id).order(created_at: :desc).each do |course| %>
          <% unless course.user.statut == 'inactive' %>
            <%= link_to course_detail_path(course_id: course.id, document_id: course.document_id), "x-click": {detail: true} do %>
              <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl hover:bg-blue-100">
                  <svg class="w-10 h-10 lex-shrink-0 rounded-full mr-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z"></path>
                  </svg>
                  <div class="flex-grow">
                    <h2 class="text-gray-900 title-font font-bold">
                      <%= link_to excerpt(course.chapter.upcase, '', radius: 30), course_detail_path(course_id: course.id, document_id: course.document_id) %>
                    </h2>
                    <p class="text-gray-500"><%= course.user.complete_name %></p>
                    <p class="text-gray-500"><%= course.salle_de_class.name %></p>
                    <p class="text-gray-500"><%= course.created_at.strftime("%d %b %Y - %HH:%Mmin") %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<br>

<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">

    <%# @course.each do |course| %>
    <!--      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">-->

    <!--        <article class="overflow-hidden rounded-lg shadow-lg">-->

    <!--          <a href="#">-->
    <!--            <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
    <!--          </a>-->

    <!--          <header class="flex items-center justify-between leading-tight p-2 md:p-4">-->
    <!--            <h1 class="text-lg">-->
    <!--              <a class="no-underline hover:underline text-black" href="#">-->
    <%#= excerpt(course.chapter, '', radius: 15) %>
    <!--              </a>-->
    <!--            </h1>-->
    <!--            <p class="text-grey-darker text-sm">-->
    <%#= course.created_at.strftime("%d %b %Y") %>
    <!--            </p>-->
    <!--          </header>-->

    <!--          <footer class="flex items-center justify-between leading-none p-2 md:p-4">-->
    <%#= link_to "#", class: "hover:bg-transparent hover:text-indigo-500 flex items-center no-underline hover:underline text-black" do %>
    <!--              <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">-->
    <!--              <p class="ml-2 text-sm">-->
    <%#= course.user.complete_name %>
    <!--              </p>-->
    <%# end %>
    <!--            <a class="no-underline text-grey-darker hover:text-red-dark" href="#">-->
    <!--              <span class="hidden">Like</span>-->
    <!--              <i class="fa fa-heart"></i>-->
    <!--            </a>-->
    <!--          </footer>-->

    <!--        </article>-->

    <!--      </div>-->
    <%# end %>

  </div>
</div>

<br>

<br>

<% if (Student.where(c_pere: nil)).or(Student.where(c_mere: nil)).or(Student.where(c_tuteur: nil)).empty? %>


<% else %>

  <div class="flex items-center justify-between mb-4 mt-8">
    <h2 class="text-xl font-bold text-gray-800 mb-6">Dossiers apprenants incomplet</h2>
    <%= link_to 'Tout voir', course_all_path, class: 'hover:bg-transparent text-blue-600 hover:text-blue-500 font-medium' %>
  </div>

  <div class="flex flex-col">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full" id="abonned">
          <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Nom complèt
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Etablissement
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Père
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Mère
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Tuteur
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
          </tr>
          </thead>
          <tbody class="bg-white">
          <% (Student.where(c_pere: nil)).or(Student.where(c_mere: nil)).or(Student.where(c_tuteur: nil)).each do |student| %>
            <tr>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-medium text-gray-900"><%= student.name %></div>
                    <div class="text-sm leading-5 text-gray-500"><%= student.salle_de_class.name %></div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= student.matricule %></div>
                <div class="text-sm leading-5 text-gray-500"><%= Structure.find(student.structure.to_i).name %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= student.pere.nil? ? "Aucun contact" : student.pere.upcase %></div>
                <div class="text-sm leading-5 text-gray-500"><%= student.c_pere.nil? ? "Aucun" : student.c_pere %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= student.mere.nil? ? "Aucun contact" : student.mere.upcase %></div>
                <div class="text-sm leading-5 text-gray-500"><%= student.c_mere.nil? ? "Aucun" : student.c_mere %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= student.tuteur.nil? ? "Aucun contact" : student.tuteur.upcase %></div>
                <div class="text-sm leading-5 text-gray-500"><%= student.c_tuteur.nil? ? "Aucun" : student.c_tuteur %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                <a href="#" class="text-indigo-600 hover:text-indigo-900">Modifier</a>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>


<br>

<div class="flex items-center justify-between mb-4 mt-8">
  <h2 class="text-xl font-bold text-gray-800 mb-6">Derniers documents importés</h2>
  <%= link_to 'Tout voir', "#", class: 'hover:bg-transparent text-blue-600 hover:text-blue-500 font-medium' %>
</div>

<% if @documents.nil? %>
  <div class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Aucun document
        <br/>
        <span class="text-indigo-600">en attente.</span>
      </h2>
    </div>
  </div>
<% else %>

  <!-- tailwind.config.js -->
  module.exports = {};



  <!-- component -->
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

  <div x-data="{ cartOpen: false , isOpen: false }" class="bg-white">
    <header>
      <div class="container mx-auto px-6 py-3">
        <div class="flex items-center justify-between">
          <div class="hidden w-full text-gray-600 md:flex md:items-center">
            <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.06298 10.063 6.27212 12.2721 6.27212C14.4813 6.27212 16.2721 8.06298 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16755 11.1676 8.27212 12.2721 8.27212C13.3767 8.27212 14.2721 9.16755 14.2721 10.2721Z" fill="currentColor"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.39409 5.48178 3.79417C8.90918 0.194243 14.6059 0.054383 18.2059 3.48178C21.8058 6.90918 21.9457 12.6059 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.97318 6.93028 5.17324C9.59603 2.3733 14.0268 2.26452 16.8268 4.93028C19.6267 7.59603 19.7355 12.0268 17.0698 14.8268Z" fill="currentColor"/>
            </svg>
            <span class="mx-1 text-sm">NY</span>
          </div>
          <div class="w-full text-gray-700 md:text-center text-2xl font-semibold">
            Brand
          </div>
          <div class="flex items-center justify-end w-full">
            <button @click="cartOpen = !cartOpen" class="text-gray-600 focus:outline-none mx-4 sm:mx-0">
              <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
              </svg>
            </button>

            <div class="flex sm:hidden">
              <button @click="isOpen = !isOpen" type="button" class="text-gray-600 hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-label="toggle menu">
                <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                  <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <nav :class="isOpen ? '' : 'hidden'" class="sm:flex sm:justify-center sm:items-center mt-4">
          <div class="flex flex-col sm:flex-row">
            <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">Home</a>
            <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">Shop</a>
            <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">Categories</a>
            <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">Contact</a>
            <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">About</a>
          </div>
        </nav>
        <div class="relative mt-6 max-w-lg mx-auto">
            <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                    <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>

          <input class="w-full border rounded-md pl-10 pr-4 py-2 focus:border-blue-500 focus:outline-none focus:shadow-outline" type="text" placeholder="Search">
        </div>
      </div>
    </header>
    <div :class="cartOpen ? 'translate-x-0 ease-out' : 'translate-x-full ease-in'" class="fixed right-0 top-0 max-w-xs w-full h-full px-6 py-4 transition duration-300 transform overflow-y-auto bg-white border-l-2 border-gray-300">
      <div class="flex items-center justify-between">
        <h3 class="text-2xl font-medium text-gray-700">Your cart</h3>
        <button @click="cartOpen = !cartOpen" class="text-gray-600 focus:outline-none">
          <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <hr class="my-3">
      <div class="flex justify-between mt-6">
        <div class="flex">
          <img class="h-20 w-20 object-cover rounded" src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80" alt="">
          <div class="mx-3">
            <h3 class="text-sm text-gray-600">Mac Book Pro</h3>
            <div class="flex items-center mt-2">
              <button class="text-gray-500 focus:outline-none focus:text-gray-600">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
              </button>
              <span class="text-gray-700 mx-2">2</span>
              <button class="text-gray-500 focus:outline-none focus:text-gray-600">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <span class="text-gray-600">20$</span>
      </div>
      <div class="flex justify-between mt-6">
        <div class="flex">
          <img class="h-20 w-20 object-cover rounded" src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80" alt="">
          <div class="mx-3">
            <h3 class="text-sm text-gray-600">Mac Book Pro</h3>
            <div class="flex items-center mt-2">
              <button class="text-gray-500 focus:outline-none focus:text-gray-600">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
              </button>
              <span class="text-gray-700 mx-2">2</span>
              <button class="text-gray-500 focus:outline-none focus:text-gray-600">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <span class="text-gray-600">20$</span>
      </div>
      <div class="flex justify-between mt-6">
        <div class="flex">
          <img class="h-20 w-20 object-cover rounded" src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80" alt="">
          <div class="mx-3">
            <h3 class="text-sm text-gray-600">Mac Book Pro</h3>
            <div class="flex items-center mt-2">
              <button class="text-gray-500 focus:outline-none focus:text-gray-600">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
              </button>
              <span class="text-gray-700 mx-2">2</span>
              <button class="text-gray-500 focus:outline-none focus:text-gray-600">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <span class="text-gray-600">20$</span>
      </div>
      <div class="mt-8">
        <form class="flex items-center justify-center">
          <input class="form-input w-48" type="text" placeholder="Add promocode">
          <button class="ml-3 flex items-center px-3 py-2 bg-blue-600 text-white text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
            <span>Apply</span>
          </button>
        </form>
      </div>
      <a class="flex items-center justify-center mt-4 px-3 py-2 bg-blue-600 text-white text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
        <span>Chechout</span>
        <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
      </a>
    </div>
    <main class="my-8">
      <div class="container mx-auto px-6">
        <h3 class="text-gray-700 text-2xl font-medium">Wrist Watch</h3>
        <span class="mt-3 text-sm text-gray-500">200+ Products</span>
        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url(<%= asset_path('pdf.png') %>)">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">Titre du cours</h3>
              <span class="text-gray-500 mt-2">Matière</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1524592094714-0f0654e20314?ixlib=rb-1.2.1&auto=format&fit=crop&w=689&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">Old watch</h3>
              <span class="text-gray-500 mt-2">$95</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1532667449560-72a95c8d381b?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">Classic watch</h3>
              <span class="text-gray-500 mt-2">$125</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1542496658-e33a6d0d50f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">fossil watch</h3>
              <span class="text-gray-500 mt-2">$180</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1434056886845-dac89ffe9b56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">braun watch</h3>
              <span class="text-gray-500 mt-2">$49</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1526045431048-f857369baa09?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">rolex watch</h3>
              <span class="text-gray-500 mt-2">$86</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1495857000853-fe46c8aefc30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">MVMtx watch</h3>
              <span class="text-gray-500 mt-2">$100</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1444881421460-d838c3b98f95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">breitling watch</h3>
              <span class="text-gray-500 mt-2">$180</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1495856458515-0637185db551?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">Classic watch</h3>
              <span class="text-gray-500 mt-2">$123</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1524592094714-0f0654e20314?ixlib=rb-1.2.1&auto=format&fit=crop&w=689&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">Old watch</h3>
              <span class="text-gray-500 mt-2">$95</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1532667449560-72a95c8d381b?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">Classic watch</h3>
              <span class="text-gray-500 mt-2">$125</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1542496658-e33a6d0d50f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">fossil watch</h3>
              <span class="text-gray-500 mt-2">$180</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1434056886845-dac89ffe9b56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">braun watch</h3>
              <span class="text-gray-500 mt-2">$49</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1526045431048-f857369baa09?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">rolex watch</h3>
              <span class="text-gray-500 mt-2">$86</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1495857000853-fe46c8aefc30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">MVMtx watch</h3>
              <span class="text-gray-500 mt-2">$100</span>
            </div>
          </div>
          <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
            <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('https://images.unsplash.com/photo-1444881421460-d838c3b98f95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80')">
              <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              </button>
            </div>
            <div class="px-5 py-3">
              <h3 class="text-gray-700 uppercase">breitling watch</h3>
              <span class="text-gray-500 mt-2">$180</span>
            </div>
          </div>
        </div>
        <div class="flex justify-center">
          <div class="flex rounded-md mt-8">
            <a href="#" class="py-2 px-4 leading-tight bg-white border border-gray-200 text-blue-700 border-r-0 ml-0 rounded-l hover:bg-blue-500 hover:text-white"><span>Previous</span></a></a>
            <a href="#" class="py-2 px-4 leading-tight bg-white border border-gray-200 text-blue-700 border-r-0 hover:bg-blue-500 hover:text-white"><span>1</span></a>
            <a href="#" class="py-2 px-4 leading-tight bg-white border border-gray-200 text-blue-700 border-r-0 hover:bg-blue-500 hover:text-white"><span>2</span></a>
            <a href="#" class="py-2 px-4 leading-tight bg-white border border-gray-200 text-blue-700 border-r-0 hover:bg-blue-500 hover:text-white"><span>3</span></a>
            <a href="#" class="py-2 px-4 leading-tight bg-white border border-gray-200 text-blue-700 rounded-r hover:bg-blue-500 hover:text-white"><span>Next</span></a>
          </div>
        </div>
      </div>
    </main>

    <footer class="bg-gray-200">
      <div class="container mx-auto px-6 py-3 flex justify-between items-center">
        <a href="#" class="text-xl font-bold text-gray-500 hover:text-gray-400">Brand</a>
        <p class="py-2 text-gray-500 sm:py-0">All rights reserved</p>
      </div>
    </footer>
  </div>

  <div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">

      <% @documents.limit(9).each do |document| %>
        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

          <!-- Article -->
          <article class="overflow-hidden rounded-lg shadow-lg hover:shadow-xl">

            <a href="#">
              <% if document.image? %>
                <%= image_tag 'photo.png', class: 'block h-auto w-full' %>
              <% elsif document.content_type.end_with?('pdf') %>
                <%#= image_tag rails_blob_path(document), class: "block h-auto w-full" %>
                <%#= image_tag document.preview(resize: "500x500") %>
                <%= image_tag 'pdf.png', class: 'block h-auto w-full' %>
              <% elsif document.video? %>
                <%= image_tag 'video.png', class: 'block h-auto w-full' %>
              <% else %>
                <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
              <% end %>
            </a>

            <header class="flex items-center justify-between leading-tight p-2 md:p-4">
              <h1 class="text-lg">
                <a class="no-underline hover:underline text-black" href="#">
                  <%= document.filename %>
                </a>
              </h1>
              <p class="text-grey-darker text-sm">
                11/1/19
              </p>
            </header>

            <footer class="flex items-center justify-between leading-none p-2 md:p-4">
              <a class="flex items-center no-underline hover:underline text-black" href="#">
                <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
                <p class="ml-2 text-sm">
                  Author Name
                </p>
              </a>
              <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                <span class="hidden">Like</span>
                <i class="fa fa-heart"></i>
              </a>
            </footer>

          </article>
          <!-- END Article -->

        </div>
        <!-- END Column -->
      <% end %>

    </div>
  </div>
  <section class="text-gray-700 body-font">
    <div class="container px-5 mx-auto">
      <div class="flex flex-wrap -m-2">
        <% @documents.each do |document| %>
          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
              <svg class="w-6 h-6 flex-shrink-0 rounded-full mr-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"></path>
              </svg>
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium"><%= document.filename %></h2>
                <p class="text-gray-500"><%= document.content_type %></p>
                <p class="text-gray-500"><%= document.created_at %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
