<%= form_with(model: annee_scolaire, local: true) do |form| %>
  <% if annee_scolaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annee_scolaire.errors.count, "error") %> prohibited this annee_scolaire from being saved:</h2>

      <ul>
        <% annee_scolaire.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date_debut %>
    <%= form.date_select :date_debut %>
  </div>

  <div class="field">
    <%= form.label :date_fin %>
    <%= form.date_select :date_fin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
