<ul>
  <li>
    <%= link_to admin_index_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{ "bg-gray-200 shadow" if action_name == "index"}" do %>
      <%#= image_tag 'iconfinder_world_job_seeker_employee_unemployee_work_2620496.png', class: 'mr-4 w-8 h-8' %>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="mr-4" width="30" height="30">
        <g>
          <g>
            <polygon style="fill:#E6BE94;" points="487.781,484 23.781,484 23.781,268 119.782,268 255.781,132 391.784,268 487.781,268 		"/>
          </g>
          <g>
            <rect x="207.781" y="388" style="fill:#996459;" width="96" height="96"/>
          </g>
          <g>
            <path style="fill:#4BB9EC;" d="M301.781,356h-92c-1.105,0-2,0.895-2,2v30h96v-30C303.781,356.895,302.886,356,301.781,356z"/>
          </g>
          <g>
            <path style="fill:#FF4F19;" d="M329.617,68l13.039-19.562c1.633-2.453,1.789-5.609,0.398-8.211S338.953,36,336,36h-80
			c-4.422,0-8,3.578-8,8v48c0,4.422,3.578,8,8,8h80c2.953,0,5.664-1.625,7.055-4.227s1.234-5.758-0.398-8.211L329.617,68z"/>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M256,140c-4.422,0-8-3.578-8-8V28c0-4.422,3.578-8,8-8s8,3.578,8,8v104
				C264,136.422,260.422,140,256,140z"/>
            </g>
          </g>
          <g>
            <path style="fill:#FF4F19;" d="M288.391,168.938c1.234-2.992,4.156-4.938,7.391-4.938h152c2.734,0,5.281,1.398,6.75,3.703l56,88
			c1.57,2.469,1.664,5.586,0.266,8.148c-1.406,2.555-4.094,4.148-7.016,4.148h-120c-2.125,0-4.156-0.844-5.656-2.344l-88-88
			C287.836,175.367,287.148,171.93,288.391,168.938z"/>
          </g>
          <g>
            <path style="fill:#FF4F19;" d="M223.391,168.938C222.156,165.945,219.234,164,216,164H64c-2.734,0-5.281,1.398-6.75,3.703l-56,88
			c-1.57,2.469-1.664,5.586-0.266,8.148C2.391,266.406,5.078,268,8,268h120c2.125,0,4.156-0.844,5.656-2.344l88-88
			C223.945,175.367,224.633,171.93,223.391,168.938z"/>
          </g>
          <g>
            <g>
              <path style="fill:#E3001E;" d="M391.891,275.891c-2.047,0-4.094-0.781-5.656-2.344L256,143.313L125.766,273.547
				c-3.125,3.125-8.188,3.125-11.313,0s-3.125-8.188,0-11.313l135.891-135.891c3.125-3.125,8.188-3.125,11.313,0l135.891,135.891
				c3.125,3.125,3.125,8.188,0,11.313C395.984,275.109,393.938,275.891,391.891,275.891z"/>
            </g>
          </g>
          <g>
            <circle style="fill:#FFEBB7;" cx="256.001" cy="268" r="48"/>
          </g>
          <g>
            <path style="fill:#5C546A;" d="M256,236c-4.422,0-8,3.578-8,8v16h-16c-4.422,0-8,3.578-8,8s3.578,8,8,8h24c4.422,0,8-3.578,8-8
			v-24C264,239.578,260.422,236,256,236z"/>
          </g>
          <g>
            <g>
              <path style="fill:#4BB9EC;" d="M375.781,320c0-11.046-8.954-20-20-20s-20,8.954-20,20c0,1.37,0.141,2.707,0.403,4h-0.403v32h40
				v-32h-0.403C375.641,322.707,375.781,321.37,375.781,320z"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M356,292c-15.438,0-28,12.562-28,28v36c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-36
				C384,304.562,371.438,292,356,292z M356,308c6.617,0,12,5.383,12,12v4h-24v-4C344,313.383,349.383,308,356,308z M344,348v-8h24v8
				H344z"/>
            </g>
          </g>
          <g>
            <g>
              <rect x="136.001" y="396" style="fill:#4BB9EC;" width="40" height="48"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M176,388h-40c-4.422,0-8,3.578-8,8v48c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-48
				C184,391.578,180.422,388,176,388z M168,404v8h-24v-8H168z M144,436v-8h24v8H144z"/>
            </g>
          </g>
          <g>
            <g>
              <rect x="63.782" y="396" style="fill:#4BB9EC;" width="40" height="48"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M103.781,388h-40c-4.422,0-8,3.578-8,8v48c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-48
				C111.781,391.578,108.203,388,103.781,388z M95.781,404v8h-24v-8H95.781z M71.781,436v-8h24v8H71.781z"/>
            </g>
          </g>
          <g>
            <g>
              <rect x="408" y="396" style="fill:#4BB9EC;" width="40" height="48"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M448,388h-40c-4.422,0-8,3.578-8,8v48c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-48
				C456,391.578,452.422,388,448,388z M440,404v8h-24v-8H440z M416,436v-8h24v8H416z"/>
            </g>
          </g>
          <g>
            <g>
              <rect x="335.782" y="396" style="fill:#4BB9EC;" width="40" height="48"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M375.781,388h-40c-4.422,0-8,3.578-8,8v48c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-48
				C383.781,391.578,380.203,388,375.781,388z M367.781,404v8h-24v-8H367.781z M343.781,436v-8h24v8H343.781z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#4BB9EC;" d="M447.563,320c0-11.046-8.954-20-20-20s-20,8.954-20,20c0,1.37,0.141,2.707,0.403,4h-0.403v32h40
				v-32h-0.403C447.422,322.707,447.563,321.37,447.563,320z"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M427.781,292c-15.438,0-28,12.562-28,28v36c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-36
				C455.781,304.562,443.219,292,427.781,292z M427.781,308c6.617,0,12,5.383,12,12v4h-24v-4
				C415.781,313.383,421.164,308,427.781,308z M415.781,348v-8h24v8H415.781z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#4BB9EC;" d="M103.563,320c0-11.046-8.954-20-20-20s-20,8.954-20,20c0,1.37,0.141,2.707,0.403,4h-0.403v32h40
				v-32h-0.403C103.422,322.707,103.563,321.37,103.563,320z"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M83.781,292c-15.438,0-28,12.562-28,28v36c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-36
				C111.781,304.562,99.219,292,83.781,292z M83.781,308c6.617,0,12,5.383,12,12v4h-24v-4C71.781,313.383,77.164,308,83.781,308z
				 M71.781,348v-8h24v8H71.781z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#4BB9EC;" d="M175.344,320c0-11.046-8.954-20-20-20s-20,8.954-20,20c0,1.37,0.141,2.707,0.403,4h-0.403v32h40
				v-32h-0.403C175.203,322.707,175.344,321.37,175.344,320z"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M155.563,292c-15.438,0-28,12.562-28,28v36c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-36
				C183.563,304.562,171,292,155.563,292z M155.563,308c6.617,0,12,5.383,12,12v4h-24v-4C143.563,313.383,148.945,308,155.563,308z
				 M143.563,348v-8h24v8H143.563z"/>
            </g>
          </g>
          <g>
            <path style="fill:#7E5C62;" d="M256,324c-30.879,0-56-25.121-56-56s25.121-56,56-56s56,25.121,56,56S286.879,324,256,324z
			 M256,228c-22.055,0-40,17.943-40,40s17.945,40,40,40s40-17.943,40-40S278.055,228,256,228z"/>
          </g>
          <g>
            <path style="fill:#7E5C62;" d="M288,348h-64c-13.234,0-24,10.766-24,24v112c0,4.422,3.578,8,8,8s8-3.578,8-8v-88h31.781v88h16v-88
			H296v88c0,4.422,3.578,8,8,8s8-3.578,8-8V372C312,358.766,301.234,348,288,348z M296,380h-80v-8c0-4.414,3.586-8,8-8h64
			c4.414,0,8,3.586,8,8V380z"/>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M504,492H8c-4.422,0-8-3.578-8-8s3.578-8,8-8h496c4.422,0,8,3.578,8,8S508.422,492,504,492z"/>
            </g>
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Accueil
    <% end %>
  </li>

  <li>
    <%= link_to course_all_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{ "bg-gray-200" if action_name == "course_all"}" do %>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve" class="mr-4 " width="30" height="30">
        <g>
          <g>
            <path style="fill:#FF4F19;" d="M472,116.07H24c-13.234,0-24,10.766-24,24v264c0,13.234,10.766,24,24,24h448
			c13.234,0,24-10.766,24-24v-264C496,126.836,485.234,116.07,472,116.07z"/>
          </g>
          <g>
            <rect x="224" y="388.07" style="fill:#E3001E;" width="48" height="40"/>
          </g>
          <g>
            <path style="fill:#E6BE8A;" d="M464.219,364.07v24c0,4.418-3.582,8-8,8h-416c-4.418,0-8-3.582-8-8v-24l47.781-24l192,8l160-8
			L464.219,364.07z"/>
          </g>
          <g>
            <path style="fill:#FFEBB7;" d="M43.443,375.116c65.739-27.139,140.084-25.487,204.776,4.954v-288
			C181.394,60.625,104.27,59.9,36.97,89.894c-2.896,1.291-4.751,4.222-4.751,7.393v270.515
			C32.219,373.581,38.102,377.321,43.443,375.116z"/>
          </g>
          <g>
            <path style="fill:#FFD788;" d="M248.219,380.07c64.692-30.442,139.037-32.093,204.776-4.954
			c5.341,2.205,11.224-1.535,11.224-7.314V97.287c0-3.171-1.855-6.102-4.751-7.393c-67.3-29.994-144.425-29.269-211.249,2.176
			V380.07z"/>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M280.219,327.824c-3.406,0-6.563-2.188-7.633-5.605c-1.32-4.215,1.023-8.707,5.234-10.031
				c8.094-2.543,16.422-4.715,24.758-6.461c4.313-0.906,8.563,1.855,9.469,6.188c0.906,4.324-1.859,8.563-6.188,9.469
				c-7.828,1.641-15.648,3.684-23.242,6.07C281.82,327.703,281.008,327.824,280.219,327.824z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M432.219,327.824c-0.789,0-1.602-0.121-2.398-0.371c-30.187-9.48-61.477-13.031-92.969-10.523
				c-4.469,0.32-8.258-2.941-8.609-7.344c-0.344-4.406,2.938-8.258,7.344-8.609c33.609-2.641,66.891,1.117,99.031,11.211
				c4.211,1.324,6.555,5.816,5.234,10.031C438.781,325.637,435.625,327.824,432.219,327.824z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M432.219,295.73c-0.789,0-1.602-0.121-2.398-0.371c-48.156-15.125-99.047-15.125-147.203,0
				c-4.234,1.324-8.719-1.023-10.031-5.234c-1.32-4.215,1.023-8.707,5.234-10.031c51.297-16.109,105.5-16.109,156.797,0
				c4.211,1.324,6.555,5.816,5.234,10.031C438.781,293.543,435.625,295.73,432.219,295.73z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M280.219,263.824c-3.406,0-6.563-2.188-7.633-5.605c-1.32-4.215,1.023-8.707,5.234-10.031
				c29.445-9.242,60-13.176,90.781-11.73c4.406,0.211,7.82,3.957,7.609,8.371c-0.203,4.422-3.891,7.797-8.375,7.613
				c-28.883-1.363-57.578,2.332-85.219,11.012C281.82,263.703,281.008,263.824,280.219,263.824z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M432.219,263.824c-0.789,0-1.602-0.121-2.398-0.371c-10.109-3.176-20.539-5.723-31-7.566
				c-4.352-0.77-7.258-4.918-6.484-9.27c0.766-4.348,4.922-7.258,9.266-6.488c11.141,1.965,22.242,4.676,33.016,8.059
				c4.211,1.324,6.555,5.816,5.234,10.031C438.781,261.637,435.625,263.824,432.219,263.824z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M432.219,231.73c-0.789,0-1.602-0.121-2.398-0.371c-48.156-15.125-99.047-15.125-147.203,0
				c-4.234,1.316-8.719-1.027-10.031-5.234c-1.32-4.215,1.023-8.707,5.234-10.031c51.297-16.109,105.5-16.109,156.797,0
				c4.211,1.324,6.555,5.816,5.234,10.031C438.781,229.543,435.625,231.73,432.219,231.73z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M280.219,199.731c-3.406,0-6.563-2.188-7.633-5.605c-1.32-4.215,1.023-8.707,5.234-10.031
				c16.094-5.055,32.75-8.562,49.523-10.422c4.453-0.535,8.352,2.684,8.836,7.066c0.484,4.391-2.68,8.348-7.07,8.832
				c-15.742,1.75-31.391,5.043-46.492,9.789C281.82,199.609,281.008,199.731,280.219,199.731z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M432.219,199.731c-0.789,0-1.602-0.121-2.398-0.371c-22.586-7.098-46.039-10.887-69.719-11.258
				c-4.422-0.07-7.945-3.707-7.875-8.125c0.07-4.414,3.93-8.133,8.125-7.875c25.219,0.398,50.211,4.434,74.266,11.992
				c4.211,1.324,6.555,5.816,5.234,10.031C438.773,197.543,435.625,199.731,432.219,199.731z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M280.219,167.824c-3.406,0-6.563-2.188-7.633-5.605c-1.32-4.215,1.023-8.707,5.234-10.031
				c34.859-10.949,70.937-14.465,107.281-10.422c4.391,0.484,7.555,4.441,7.07,8.832c-0.484,4.387-4.359,7.637-8.836,7.066
				c-34.094-3.781-67.992-0.496-100.719,9.789C281.82,167.703,281.008,167.824,280.219,167.824z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M432.219,167.824c-0.789,0-1.602-0.121-2.398-0.371c-5.078-1.598-10.289-3.047-15.5-4.316
				c-4.289-1.047-6.922-5.375-5.875-9.668s5.344-6.918,9.672-5.879c5.539,1.352,11.086,2.898,16.5,4.598
				c4.211,1.324,6.555,5.816,5.234,10.031C438.781,165.637,435.625,167.824,432.219,167.824z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M280.219,135.731c-3.406,0-6.563-2.191-7.633-5.609c-1.32-4.219,1.023-8.707,5.242-10.027
				c5.5-1.727,11.047-3.27,16.492-4.594c4.266-1.051,8.617,1.59,9.664,5.883c1.047,4.293-1.594,8.621-5.883,9.664
				c-5.109,1.242-10.32,2.691-15.492,4.312C281.812,135.609,281.008,135.731,280.219,135.731z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M432.219,135.731c-0.789,0-1.602-0.121-2.398-0.371c-32.734-10.285-66.617-13.566-100.719-9.789
				c-4.422,0.539-8.352-2.684-8.836-7.066c-0.484-4.391,2.68-8.348,7.07-8.832c36.328-4.043,72.414-0.527,107.281,10.422
				c4.211,1.324,6.555,5.816,5.234,10.031C438.781,133.543,435.625,135.731,432.219,135.731z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M64.219,327.824c-3.406,0-6.562-2.188-7.633-5.605c-1.32-4.215,1.023-8.707,5.234-10.031
				c8.094-2.543,16.422-4.715,24.758-6.461c4.32-0.906,8.563,1.855,9.469,6.188c0.906,4.324-1.859,8.563-6.188,9.469
				c-7.828,1.641-15.648,3.684-23.242,6.07C65.82,327.703,65.008,327.824,64.219,327.824z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M216.219,327.824c-0.789,0-1.602-0.121-2.398-0.371c-30.18-9.48-61.477-13.031-92.969-10.523
				c-4.531,0.32-8.258-2.941-8.609-7.344c-0.344-4.406,2.938-8.258,7.344-8.609c33.609-2.641,66.883,1.117,99.031,11.211
				c4.211,1.324,6.555,5.816,5.234,10.031C222.781,325.637,219.625,327.824,216.219,327.824z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M216.219,295.73c-0.789,0-1.602-0.121-2.398-0.371c-48.156-15.125-99.047-15.125-147.203,0
				c-4.25,1.324-8.719-1.023-10.031-5.234c-1.32-4.215,1.023-8.707,5.234-10.031c51.297-16.109,105.5-16.109,156.797,0
				c4.211,1.324,6.555,5.816,5.234,10.031C222.781,293.543,219.625,295.73,216.219,295.73z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M64.219,263.824c-3.406,0-6.562-2.188-7.633-5.605c-1.32-4.215,1.023-8.707,5.234-10.031
				c29.445-9.242,60.023-13.176,90.781-11.73c4.406,0.211,7.82,3.957,7.609,8.371c-0.211,4.422-3.938,7.797-8.375,7.613
				c-28.891-1.363-57.578,2.332-85.219,11.012C65.82,263.703,65.008,263.824,64.219,263.824z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M216.219,263.824c-0.789,0-1.602-0.121-2.398-0.371c-10.109-3.176-20.539-5.723-31-7.566
				c-4.352-0.77-7.258-4.918-6.484-9.27c0.758-4.348,4.93-7.258,9.266-6.488c11.141,1.965,22.242,4.676,33.016,8.059
				c4.211,1.324,6.555,5.816,5.234,10.031C222.781,261.637,219.625,263.824,216.219,263.824z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M64.219,231.73c-3.406,0-6.562-2.188-7.633-5.605c-1.32-4.215,1.023-8.707,5.234-10.031
				c45.477-14.277,94-15.867,140.289-4.594c4.297,1.047,6.93,5.375,5.883,9.668c-1.047,4.289-5.398,6.902-9.664,5.879
				c-43.469-10.598-89.016-9.094-131.711,4.313C65.82,231.609,65.008,231.73,64.219,231.73z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M64.219,199.731c-3.406,0-6.562-2.188-7.633-5.605c-1.32-4.215,1.023-8.707,5.234-10.031
				c16.094-5.055,32.75-8.562,49.523-10.422c4.414-0.535,8.352,2.684,8.836,7.066c0.484,4.391-2.68,8.348-7.07,8.832
				c-15.742,1.75-31.391,5.043-46.492,9.789C65.82,199.609,65.008,199.731,64.219,199.731z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M200.227,195.273c-0.625,0-1.266-0.074-1.898-0.227c-17.734-4.32-35.984-6.66-54.227-6.945
				c-4.422-0.07-7.945-3.707-7.875-8.125c0.07-4.414,3.523-8.133,8.125-7.875c19.437,0.309,38.867,2.797,57.758,7.398
				c4.297,1.047,6.93,5.375,5.883,9.668C207.101,192.824,203.828,195.273,200.227,195.273z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M64.219,167.824c-3.406,0-6.562-2.188-7.633-5.605c-1.32-4.215,1.023-8.707,5.234-10.031
				c34.867-10.949,70.945-14.465,107.281-10.422c4.391,0.484,7.555,4.441,7.07,8.832c-0.484,4.387-4.391,7.637-8.836,7.066
				c-34.094-3.781-67.992-0.496-100.719,9.789C65.82,167.703,65.008,167.824,64.219,167.824z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M64.219,135.731c-3.406,0-6.562-2.191-7.633-5.609c-1.32-4.219,1.023-8.707,5.242-10.027
				c5.5-1.727,11.047-3.27,16.492-4.594c4.258-1.051,8.617,1.59,9.664,5.883c1.047,4.293-1.594,8.621-5.883,9.664
				c-5.109,1.242-10.32,2.691-15.492,4.312C65.812,135.609,65.008,135.731,64.219,135.731z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M200.227,131.27c-0.625,0-1.266-0.074-1.898-0.227c-27.961-6.809-56.633-8.641-85.227-5.473
				c-4.391,0.539-8.352-2.676-8.836-7.066c-0.484-4.391,2.68-8.348,7.07-8.832c30.445-3.391,61-1.422,90.773,5.824
				c4.297,1.047,6.93,5.375,5.883,9.668C207.101,128.82,203.828,131.27,200.227,131.27z"/>
            </g>
          </g>
          <g>
            <path style="fill:#5D647F;" d="M200.219,216.064c0.001,3.194,3.561,5.1,6.219,3.328l17.781-11.854L242,219.392
			c2.658,1.772,6.219-0.133,6.219-3.328V92.734c0-3.16-1.843-6.077-4.731-7.361c-12.457-5.54-25.259-9.983-38.262-13.418
			c-2.537-0.67-5.03,1.292-5.029,3.916L200.219,216.064z"/>
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Leçons publiées &nbsp;
      <% unless Course.where(structure_id: current_user.structure_id, course_status_id: CourseStatus.find_by_name('waiting').id).empty? %>
        <span title="Leçon en attente de validation" class="text-xs pull-right font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 uppercase last:mr-0 mr-1">
          <%= Course.where(structure_id: current_user.structure_id, course_status_id: CourseStatus.find_by_name('waiting').id).count %>
        </span>
      <% end %>
    <% end %>
  </li>

  <li>
    <%= link_to document_all_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{ "bg-gray-200" if action_name == "document_all"}" do %>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 510.946 510.946" style="enable-background:new 0 0 510.946 510.946;" xml:space="preserve" class="mr-4 " width="30" height="30">
        <g>
          <path style="fill:#FF4F19;" d="M112.246,483.246c-0.121,0-0.238,0-0.359,0l-48.289-0.305C28.531,482.723,0,454.02,0,418.949
		v-47.734c0-14.953,5.824-29.016,16.395-39.594L303.918,44.105c10.566-10.578,24.629-16.406,39.598-16.406h103.43
		c35.289,0,64,28.711,64,64v103.43c0,14.953-5.824,29.016-16.395,39.594L346.854,382.416c-6.242,6.25-16.375,6.25-22.625,0
		s-6.25-16.375,0-22.625l147.689-147.685c4.527-4.539,7.027-10.57,7.027-16.977V91.699c0-17.648-14.355-32-32-32h-103.43
		c-6.414,0-12.438,2.492-16.965,7.023L39.027,354.238C34.5,358.777,32,364.809,32,371.215v47.734
		c0,17.531,14.266,31.883,31.797,31.992l48.297,0.305c6.324,0.328,12.613-2.523,17.121-7.023l217.281-217.281l-30.082-30.086
		L127.312,385.957c-6.242,6.25-16.375,6.25-22.625,0s-6.25-16.375,0-22.625L293.785,174.23c12.477-12.477,32.777-12.492,45.254,0
		l30.086,30.086c6.043,6.047,9.371,14.078,9.371,22.625s-3.328,16.578-9.375,22.625L151.84,466.848
		C141.406,477.285,126.992,483.246,112.246,483.246z"/>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Documents importés
      <div class="hidden bg-pink-600 border-0 ml-3 block z-50 font-normal leading-normal text-sm max-w-xs text-left no-underline break-words rounded-lg" id="popover-id">
        <div>
          <div class="bg-pink-600 text-white opacity-75 font-semibold p-3 mb-0 border-b border-solid border-gray-200 uppercase rounded-t-lg">
            teal tooltip title
          </div>
          <div class="text-white p-3">
            And here's some amazing content. It's very engaging. Right?
          </div>
        </div>
      </div>

    <% end %>
  </li>

  <li>
    <%= link_to setup_liste_apprenants_path(token: current_user.token), class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200" do %>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 512.045 512.045" width="30" height="30" class="mr-4" style="enable-background:new 0 0 512.045 512.045;" xml:space="preserve">
        <g>
          <g>
            <rect x="199.804" y="312.044" style="fill:#FCB47E;" width="112" height="104"/>
          </g>
          <g>
            <path style="fill:#4296D9;" d="M288.024,417.989c-19.236,12.231-32.001,14.055-32.001,14.055s-12.762-1.823-31.994-14.05
			c0,0-11.558-29.283-8.225-25.95c3.333,3.333,40.219,0,40.219,0l31.781,8L288.024,417.989z"/>
          </g>
          <g>
            <path style="fill:#996459;" d="M351.804,352.044l83.264,14.023c33.525,9.393,52.955,42.297,52.955,73.12v51.842
			c0,11.606-10.745,21.015-24,21.015h-416c-13.255,0-24-9.409-24-21.015v-51.842c0-30.823,19.43-63.727,52.955-73.12l82.826-14.023
			l96.219,40L351.804,352.044z"/>
          </g>
          <g>
            <path style="fill:#7E5C62;" d="M122.6,358.343c0.124,0.256,0.123,0.55,0.275,0.794c60.82,98.078,120.031,111.047,126.578,112.195
			l5.18,0.914c0.461,0.086,0.922,0.125,1.391,0.125c0.469,0,0.93-0.039,1.391-0.125l5.18-0.914
			c6.547-1.148,65.758-14.117,126.578-112.195c0.145-0.233,0.139-0.513,0.258-0.757l-37.625-6.337l-95.781,40l-96.219-40
			L122.6,358.343z"/>
          </g>
          <g>
            <path style="fill:#4BB9EC;" d="M184.024,312.044l-30.198,40l48.766,71.982c2.818,4.159,8.727,4.722,12.28,1.17l41.152-33.152
			L184.024,312.044z"/>
          </g>
          <g>
            <path style="fill:#4BB9EC;" d="M328.023,312.044l30.198,40l-48.766,71.982c-2.818,4.159-8.727,4.722-12.28,1.17l-41.152-33.152
			L328.023,312.044z"/>
          </g>
          <g>
            <path style="fill:#FFDCAD;" d="M368.212,174.564l-16.188-38.52c0,0-70-38.667-184-24h-0.219c-20.462,25.827-32,57.55-32,96
			c0,79.529,53.726,144,120,144s120-64.471,120-144c0-12.906-1.548-25.352-4.202-37.253
			C369.532,173.105,368.212,174.564,368.212,174.564z"/>
          </g>
          <g>
            <circle style="fill:#AEEFFF;" cx="207.804" cy="208.044" r="32"/>
          </g>
          <g>
            <path style="fill:#FFFFFF;" d="M207.804,176.044c-8.78,0-16.726,3.547-22.507,9.273l45.234,45.234
			c5.727-5.782,9.273-13.727,9.273-22.507C239.804,190.371,225.478,176.044,207.804,176.044z"/>
          </g>
          <g>
            <circle style="fill:#AEEFFF;" cx="303.804" cy="208.044" r="32"/>
          </g>
          <g>
            <path style="fill:#FFFFFF;" d="M304.023,176.044c-8.78,0-16.726,3.547-22.507,9.273l45.234,45.234
			c5.727-5.782,9.273-13.727,9.273-22.507C336.023,190.371,321.697,176.044,304.023,176.044z"/>
          </g>
          <g>
            <path style="fill:#7E5C62;" d="M383.343,20.818c-1.438-3.281-4.852-5.187-8.453-4.695c-20.047,2.898-44.352-2.016-70.063-7.172
			c-43.125-8.656-87.695-17.609-122.539,7.25c-0.508-0.102-1.039-0.156-1.586-0.156c-35.727,0-60.68,29.609-60.68,72
			c0,34.523,15.305,100.547,15.961,103.344c0.82,3.508,3.891,6.039,7.492,6.172c0.102,0.008,0.203,0.008,0.297,0.008
			c3.484,0,6.586-2.266,7.633-5.609l22.711-72.602c95.539-11.039,158.898,16.344,171.672,22.5l15.047,35.812
			c1.297,3.078,4.375,5.203,7.727,4.891c3.352-0.148,6.25-2.367,7.273-5.563C399.812,101.857,391.031,38.286,383.343,20.818z"/>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M272.023,216.044c-4.422,0-8-3.578-8-8c0-4.414-3.586-8-8-8c-4.414,0-8,3.586-8,8
				c0,4.422-3.578,8-8,8s-8-3.578-8-8c0-13.234,10.766-24,24-24s24,10.766,24,24C280.023,212.466,276.445,216.044,272.023,216.044z"
                />
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M176.023,208.044h-40.219c-4.422,0-8-3.578-8-8s3.578-8,8-8h40.219c4.422,0,8,3.578,8,8
				S180.445,208.044,176.023,208.044z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M375.804,208.044h-39.781c-4.422,0-8-3.578-8-8s3.578-8,8-8h39.781c4.422,0,8,3.578,8,8
				S380.226,208.044,375.804,208.044z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M208.023,248.044c-22.055,0-40-17.945-40-40s17.945-40,40-40s40,17.945,40,40
				S230.078,248.044,208.023,248.044z M208.023,184.044c-13.234,0-24,10.766-24,24s10.766,24,24,24s24-10.766,24-24
				S221.257,184.044,208.023,184.044z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M304.023,248.044c-22.055,0-40-17.945-40-40s17.945-40,40-40s40,17.945,40,40
				S326.078,248.044,304.023,248.044z M304.023,184.044c-13.234,0-24,10.766-24,24s10.766,24,24,24s24-10.766,24-24
				S317.257,184.044,304.023,184.044z"/>
            </g>
          </g>
          <g>
            <path style="fill:#7E5C62;" d="M104.023,512.044v-53.492c0-19.234-7.492-37.312-21.086-50.906l-29.559-29.559
			c-4.24,3.317-8.071,7.07-11.44,11.185l29.687,29.687c10.578,10.578,16.398,24.641,16.398,39.594v53.492L104.023,512.044
			L104.023,512.044z"/>
          </g>
          <g>
            <path style="fill:#7E5C62;" d="M458.668,378.086l-29.559,29.559c-13.602,13.594-21.086,31.672-21.086,50.906v53.492h16v-53.492
			c0-14.953,5.82-29.016,16.398-39.594l29.688-29.688C466.74,385.156,462.908,381.404,458.668,378.086z"/>
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Apprenants &nbsp;
      <% unless (Student.where(c_pere: nil)).or(Student.where(c_mere: nil)).or(Student.where(c_tuteur: nil)).empty? %>
        <span title="Dossiers apprenants incomplet" class="text-xs inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 uppercase last:mr-0 mr-1">
          <%= (Student.where(c_pere: nil)).or(Student.where(c_mere: nil)).or(Student.where(c_tuteur: nil)).count %>
        </span>
      <% end %>
    <% end %>
  </li>

  <li>
    <%= link_to setup_manage_enseignant_index_path(token: current_user.token), class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200" do %>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 511.872 511.872" style="enable-background:new 0 0 511.872 511.872;" xml:space="preserve" class="mr-4" width="30" height="30">
        <g>
          <g>
            <path style="fill:#996459;" d="M436.452,358.027l-75.047-14.023c-0.484-0.086-0.977-0.133-1.469-0.133h-208
			c-0.492,0-0.984,0.047-1.469,0.133l-75.726,14.187c-38.609,10.813-58.805,48.844-58.805,80.828v43.836
			c0,16,14.352,29.016,32,29.016h416c17.648,0,32-13.016,32-29.016v-43.836C495.936,407.035,475.741,369.004,436.452,358.027z"/>
          </g>
          <g>
            <path style="fill:#4BB9EC;" d="M294.712,511.871l-14.885-89.312c-0.641-3.859-3.977-6.688-7.891-6.688h-32
			c-3.914,0-7.25,2.828-7.891,6.688l-14.885,89.312L294.712,511.871L294.712,511.871z"/>
          </g>
          <g>
            <path style="fill:#009BCA;" d="M239.936,415.871c-2.044,0-3.903,0.799-5.331,2.086l53.346,53.351l-4.525-27.151l-28.283-28.286
			H239.936z"/>
          </g>
          <g>
            <path style="fill:#3482AC;" d="M287.882,376.019c-0.008-4.414-3.586-7.984-8-7.984h-40c-3.031,0-5.797,1.711-7.156,4.422l-8,16
			c-0.563,1.117-0.852,2.352-0.844,3.609l0.055,15.812c0,13.227,10.766,23.992,24,23.992h16c13.234,0,24-10.766,24-24.016
			L287.882,376.019z"/>
          </g>
          <g>
            <path style="fill:#B4B6BC;" d="M259.78,345.051l-71.945-40.164c-3.492-1.961-7.883-1.008-10.281,2.164l-30.195,40
			c-2.063,2.734-2.164,6.477-0.242,9.305l48.773,71.992c2.688,3.961,6.961,6.492,11.719,6.945c0.516,0.047,1.031,0.07,1.539,0.07
			c4.219,0,8.266-1.656,11.289-4.672c0.203-0.203,0.398-0.422,0.578-0.648l33.148-41.156c0.359-0.438,0.672-0.922,0.922-1.43
			l7.945-15.836c0.563-1.109,0.852-2.344,0.852-3.586v-16C263.882,349.137,262.311,346.465,259.78,345.051z"/>
          </g>
          <g>
            <path style="fill:#B4B6BC;" d="M251.983,345.051l71.945-40.164c3.492-1.961,7.883-1.008,10.281,2.164l30.195,40
			c2.063,2.734,2.164,6.477,0.242,9.305l-48.773,71.992c-2.688,3.961-6.961,6.492-11.719,6.945c-0.516,0.047-1.031,0.07-1.539,0.07
			c-4.219,0-8.266-1.656-11.289-4.672c-0.203-0.203-0.398-0.422-0.578-0.648l-33.147-41.156c-0.359-0.438-0.672-0.922-0.922-1.43
			l-7.945-15.836c-0.563-1.109-0.852-2.344-0.852-3.586v-16C247.882,349.137,249.452,346.465,251.983,345.051z"/>
          </g>
          <g>
            <path style="fill:#FFDCAD;" d="M367.882,152.035l-15.781-16c0,0-54.219-14.667-168.219,0l-48,16c0,11,0,17.55,0,56
			c0,79.529,53.726,144,120,144s120-64.471,120-144c0-12.906,0-37.5,0-56C373.811,154.349,367.882,152.035,367.882,152.035z"/>
          </g>
          <g>
            <circle style="fill:#AEEFFF;" cx="207.717" cy="208.035" r="32"/>
          </g>
          <g>
            <path style="fill:#FFFFFF;" d="M207.936,176.035c-8.78,0-16.726,3.547-22.507,9.273l45.234,45.234
			c5.727-5.782,9.273-13.727,9.273-22.507C239.936,190.362,225.61,176.035,207.936,176.035z"/>
          </g>
          <g>
            <circle style="fill:#AEEFFF;" cx="303.717" cy="208.035" r="32"/>
          </g>
          <g>
            <path style="fill:#FFFFFF;" d="M303.936,176.035c-8.78,0-16.726,3.547-22.507,9.273l45.234,45.234
			c5.727-5.782,9.273-13.727,9.273-22.507C335.936,190.362,321.61,176.035,303.936,176.035z"/>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M272.101,216.035c-4.422,0-8-3.578-8-8c0-4.414-3.586-8-8-8s-8,3.586-8,8c0,4.422-3.578,8-8,8
				s-8-3.578-8-8c0-13.234,10.766-24,24-24c13.234,0,24,10.766,24,24C280.101,212.457,276.522,216.035,272.101,216.035z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M176.101,208.035h-40.219c-4.422,0-8-3.578-8-8s3.578-8,8-8h40.219c4.422,0,8,3.578,8,8
				S180.522,208.035,176.101,208.035z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M375.882,208.035h-39.781c-4.422,0-8-3.578-8-8s3.578-8,8-8h39.781c4.422,0,8,3.578,8,8
				S380.304,208.035,375.882,208.035z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M208.101,248.035c-22.055,0-40-17.945-40-40s17.945-40,40-40s40,17.945,40,40
				S230.155,248.035,208.101,248.035z M208.101,184.035c-13.234,0-24,10.766-24,24s10.766,24,24,24s24-10.766,24-24
				C232.101,194.801,221.335,184.035,208.101,184.035z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M304.101,248.035c-22.055,0-40-17.945-40-40s17.945-40,40-40s40,17.945,40,40
				S326.155,248.035,304.101,248.035z M304.101,184.035c-13.234,0-24,10.766-24,24s10.766,24,24,24s24-10.766,24-24
				C328.1,194.801,317.335,184.035,304.101,184.035z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#FFFFFF;" d="M221.827,282.629c-4.336,0-8.594-1.406-12.102-5.711c-2.781-3.43-2.266-8.469,1.164-11.258
				c3.438-2.781,8.469-2.266,11.258,1.164c0.828,0.125,5.125-1.367,7.914-2.32c8.367-2.852,19.828-6.766,30.516,0.852
				c3.602,2.563,4.438,7.555,1.875,11.156c-2.563,3.586-7.555,4.43-11.156,1.875c-3.727-2.664-8.562-1.297-16.078,1.266
				C231.233,281.012,226.491,282.629,221.827,282.629z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#FFFFFF;" d="M290.046,282.629c-4.656,0-9.406-1.617-13.391-2.977c-7.523-2.555-12.359-3.93-16.078-1.266
				c-3.594,2.57-8.594,1.719-11.156-1.875c-2.563-3.602-1.727-8.594,1.875-11.156c10.672-7.602,22.148-3.703,30.516-0.852
				c2.789,0.953,6.992,2.461,8.328,2.102c2.781-3.422,7.609-3.836,11.047-1.055c3.43,2.781,3.742,7.93,0.961,11.359
				C298.647,281.223,294.382,282.629,290.046,282.629z"/>
            </g>
          </g>
          <g>
            <path style="fill:#FFFFFF;" d="M287.874,303.371c-0.266-4.219-3.758-7.5-7.984-7.5h-47.906c-4.227,0-7.719,3.281-7.984,7.5
			c-0.148,2.391-3.359,59,25.82,93.656c1.516,1.805,3.758,2.844,6.117,2.844s4.602-1.039,6.117-2.844
			C291.233,362.371,288.022,305.762,287.874,303.371z"/>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M415.936,207.871c-4.422,0-8-3.578-8-8v-95.383c0-4.422,3.578-8,8-8s8,3.578,8,8v95.383
				C423.936,204.293,420.358,207.871,415.936,207.871z"/>
            </g>
          </g>
          <g>
            <path style="fill:#5C546A;" d="M441.936,60.324L279.21,4.535c-17.617-6.047-37.047-6.047-54.68,0L61.804,60.324
			c-8.508,2.922-14,10.609-14,19.602s5.492,16.68,14,19.602l79.57,27.281c0.836,0.281,1.711,0.43,2.594,0.43c0.031,0,0.07,0,0.102,0
			l223.969-2.797c0.844-0.008,1.688-0.156,2.492-0.43l71.406-24.484c8.508-2.922,14-10.609,14-19.602S450.444,63.246,441.936,60.324
			z"/>
          </g>
          <g>
            <g>
              <path style="fill:#5D647F;" d="M228.498,141.195c8.483-0.616,17.577-0.996,27.439-0.996c9.862,0,18.956,0.379,27.439,0.996
				c32.577,1.882,71.284,7.267,92.561,18.84v-64c0-27.484-62.203-40-120-40s-120,12.516-120,40v64
				C157.214,148.461,195.92,143.077,228.498,141.195z"/>
            </g>
            <g>
              <path style="fill:#5C546A;" d="M255.936,100.363c-34.716,0-92.229,4.566-120,19.672v20.328c0-6.969,42.055-24,120-24
				s120,17.031,120,24v-20.328C348.166,104.93,290.653,100.363,255.936,100.363z"/>
            </g>
            <g>
              <path style="fill:#68748D;" d="M255.936,56.035c-0.018,0-0.037,0.001-0.055,0.001V140.2c0.019,0,0.036-0.001,0.055-0.001
				c9.862,0,18.956,0.379,27.439,0.996c32.577,1.882,71.284,7.267,92.561,18.84v-64C375.936,68.551,313.733,56.035,255.936,56.035z"
                />
            </g>
            <g>
              <path style="fill:#5D647F;" d="M255.882,100.364v16c0.019,0,0.036-0.001,0.055-0.001c77.945,0,120,17.031,120,24v-20.328
				c-27.771-15.105-85.284-19.672-120-19.672C255.919,100.363,255.899,100.364,255.882,100.364z"/>
            </g>
          </g>
          <g>
            <path style="fill:#FFE671;" d="M423.882,256.035h-16c-4.418,0-8-3.582-8-8v-32c0-8.837,7.163-16,16-16l0,0c8.837,0,16,7.163,16,16
			v32C431.882,252.453,428.3,256.035,423.882,256.035z"/>
          </g>
          <g>
            <path style="fill:#FFCD00;" d="M399.882,216.035v32c0,4.418,3.582,8,8,8h8v-56C407.045,200.035,399.882,207.198,399.882,216.035z"
              />
          </g>
          <g>
            <path style="fill:#B4B6BC;" d="M95.938,458.382c0-16.974-6.743-33.252-18.745-45.255L41.667,377.6
			c-16.948,16.802-25.73,40.394-25.73,61.419v43.836c0,16,14.352,29.016,32,29.016h48.002v-53.489H95.938z"/>
          </g>
          <g>
            <path style="fill:#B4B6BC;" d="M470.136,377.676l-35.451,35.452c-12.003,12.002-18.746,28.281-18.746,45.255v53.489h47.998
			c17.648,0,32-13.016,32-29.016V439.02C495.936,418.045,487.194,394.516,470.136,377.676z"/>
          </g>
          <g>
            <polygon style="fill:#009BCA;" points="229.159,439.882 225.926,459.275 278.517,511.871 294.712,511.871 293.427,504.156 		"/>
          </g>
          <g>
            <polygon style="fill:#009BCA;" points="218.784,502.132 228.522,511.871 251.147,511.871 222.016,482.739 		"/>
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Enseignants
    <% end %>
  </li>

  <li>
    <%= link_to salle_de_classes_path(token: current_user.token), class: 'mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200' do %>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="30" width="30" class="mr-4">
        <g>
          <g>
            <rect x="408" y="72" style="fill:#FFEBB7;" width="88" height="32"/>
          </g>
          <g>
            <rect x="392" y="120" style="fill:#FFEBB7;" width="88" height="32"/>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M176,264c-4.422,0-8-3.578-8-8v-32c0-4.422,3.578-8,8-8s8,3.578,8,8v32
				C184,260.422,180.421,264,176,264z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M335.999,264c-4.422,0-8-3.578-8-8v-32c0-4.422,3.578-8,8-8s8,3.578,8,8v32
				C343.999,260.422,340.421,264,335.999,264z"/>
            </g>
          </g>
          <g>
            <path style="fill:#996459;" d="M343.999,88H168c-13.234,0-24,10.766-24,24v96c0,13.234,10.766,24,24,24h176
			c13.234,0,24-10.766,24-24v-96C367.999,98.766,357.234,88,343.999,88z"/>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M152,424c-4.422,0-8-3.578-8-8V288c0-4.422,3.578-8,8-8s8,3.578,8,8v128
				C160,420.422,156.421,424,152,424z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#7E5C62;" d="M32,424c-4.422,0-8-3.578-8-8V192c0-4.422,3.578-8,8-8s8,3.578,8,8v224
				C40,420.422,36.421,424,32,424z"/>
            </g>
          </g>
          <g>
            <path style="fill:#996459;" d="M32,408L32,408c-8.837,0-16,7.163-16,16v16c0,4.418,3.582,8,8,8h16c4.418,0,8-3.582,8-8v-16
			C48,415.163,40.837,408,32,408z"/>
          </g>
          <g>
            <g>
              <path style="fill:#7E5C62;" d="M479.999,424c-4.422,0-8-3.578-8-8V192c0-4.422,3.578-8,8-8s8,3.578,8,8v224
				C487.999,420.422,484.421,424,479.999,424z"/>
            </g>
          </g>
          <g>
            <path style="fill:#996459;" d="M480,408L480,408c-8.837,0-16,7.163-16,16v16c0,4.418,3.582,8,8,8h16c4.418,0,8-3.582,8-8v-16
			C496,415.163,488.836,408,480,408z"/>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M359.999,424c-4.422,0-8-3.578-8-8V288c0-4.422,3.578-8,8-8s8,3.578,8,8v128
				C367.999,420.422,364.421,424,359.999,424z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M359.999,368H152c-4.422,0-8-3.578-8-8s3.578-8,8-8h208c4.422,0,8,3.578,8,8
				S364.421,368,359.999,368z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#4BB9EC;" d="M480.219,160h-72c-13.234,0-24-10.766-24-24s10.766-24,24-24h72c4.422,0,8,3.578,8,8s-3.578,8-8,8
				h-72c-4.414,0-8,3.586-8,8s3.586,8,8,8h72c4.422,0,8,3.578,8,8S484.64,160,480.219,160z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#FF4F19;" d="M496.219,112h-72c-13.234,0-24-10.766-24-24s10.766-24,24-24h72c4.422,0,8,3.578,8,8s-3.578,8-8,8
				h-72c-4.414,0-8,3.586-8,8s3.586,8,8,8h72c4.422,0,8,3.578,8,8S500.64,112,496.219,112z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#FF4F19;" d="M96,120c-4.422,0-8-3.578-8-8V72c0-4.422,3.578-8,8-8s8,3.578,8,8v40
				C104,116.422,100.422,120,96,120z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#00C37A;" d="M80,128c-4.422,0-8-3.578-8-8V80c0-4.422,3.578-8,8-8s8,3.578,8,8v40
				C88,124.422,84.422,128,80,128z"/>
            </g>
          </g>
          <g>
            <path style="fill:#E6BE94;" d="M496,192H360.22H16c-8.837,0-16-7.163-16-16l0,0c0-8.837,7.163-16,16-16h480
			c8.837,0,16,7.163,16,16l0,0C512,184.836,504.836,192,496,192z"/>
          </g>
          <g>
            <path style="fill:#868491;" d="M151.781,408L151.781,408c-8.837,0-16,7.163-16,16v16c0,4.418,3.582,8,8,8h16c4.418,0,8-3.582,8-8
			v-16C167.781,415.163,160.617,408,151.781,408z"/>
          </g>
          <g>
            <path style="fill:#868491;" d="M359.781,408L359.781,408c-8.837,0-16,7.163-16,16v16c0,4.418,3.582,8,8,8h16c4.418,0,8-3.582,8-8
			v-16C375.781,415.163,368.617,408,359.781,408z"/>
          </g>
          <g>
            <path style="fill:#7E5C62;" d="M368,288H144c-8.837,0-16-7.163-16-16v-8c0-4.418,3.582-8,8-8h240c4.418,0,8,3.582,8,8v8
			C384,280.836,376.836,288,368,288z"/>
          </g>
          <g>
            <path style="fill:#5C546A;" d="M107.388,104H60.612c-2.434,0-4.304,2.156-3.96,4.566L64,160h40l7.348-51.434
			C111.692,106.156,109.822,104,107.388,104z"/>
          </g>
          <g>
            <path style="fill:#868491;" d="M107.388,104H84v56h20l7.348-51.435C111.692,106.156,109.822,104,107.388,104z"/>
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Salle de classe
    <% end %>
  </li>

  <li>
    <%= link_to matieres_path(token: current_user.token), class: 'mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200' do %>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" height="30" width="30" class="mr-4" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 504 504" style="enable-background:new 0 0 504 504;" xml:space="preserve">
        <g>
          <g>
            <path style="fill:#FFEBB7;" d="M479.781,476h-375c-40.317,0-73-32.683-73-73v-14c0-40.317,32.683-73,73-73h375V476z"/>
          </g>
          <g>
            <rect x="47.781" y="332" style="fill:#5C546A;" width="40" height="128"/>
          </g>
          <g>
            <path style="fill:#FFEBB7;" d="M441.781,292h-426V180h426c12.15,0,22,9.85,22,22v68C463.781,282.15,453.931,292,441.781,292z"/>
          </g>
          <g>
            <rect x="71.781" y="36" style="fill:#FFEBB7;" width="408" height="120"/>
          </g>
          <g>
            <path style="fill:#00C37A;" d="M480,492H112c-52.934,0-96-43.062-96-96s43.066-96,96-96h368c8.836,0,16,7.164,16,16
			s-7.164,16-16,16H112c-35.289,0-64,28.711-64,64s28.711,64,64,64h368c8.836,0,16,7.164,16,16S488.836,492,480,492z"/>
          </g>
          <g>
            <g>
              <path style="fill:#009BCA;" d="M432,300H8c-4.422,0-8-3.578-8-8s3.578-8,8-8h424c13.234,0,24-10.766,24-24v-48
				c0-13.234-10.766-24-24-24H8c-4.422,0-8-3.578-8-8s3.578-8,8-8h424c22.055,0,40,17.945,40,40v48C472,282.055,454.055,300,432,300
				z"/>
            </g>
          </g>
          <g>
            <path style="fill:#E6BE94;" d="M479.781,76h-368c-4.418,0-8-3.582-8-8l0,0c0-4.418,3.582-8,8-8h368V76z"/>
          </g>
          <g>
            <path style="fill:#E6BE94;" d="M479.781,108h-368c-4.418,0-8-3.582-8-8l0,0c0-4.418,3.582-8,8-8h368V108z"/>
          </g>
          <g>
            <path style="fill:#E6BE94;" d="M479.781,140h-368c-4.418,0-8-3.582-8-8l0,0c0-4.418,3.582-8,8-8h368V140z"/>
          </g>
          <g>
            <path style="fill:#E6BE94;" d="M15.781,204h416c4.418,0,8,3.582,8,8l0,0c0,4.418-3.582,8-8,8h-416
			C15.781,220,15.781,204,15.781,204z"/>
          </g>
          <g>
            <path style="fill:#E6BE94;" d="M15.781,236h416c4.418,0,8,3.582,8,8l0,0c0,4.418-3.582,8-8,8h-416
			C15.781,252,15.781,236,15.781,236z"/>
          </g>
          <g>
            <path style="fill:#E6BE94;" d="M15.781,268h416c4.418,0,8,3.582,8,8l0,0c0,4.418-3.582,8-8,8h-416
			C15.781,284,15.781,268,15.781,268z"/>
          </g>
          <g>
            <path style="fill:#FF4F19;" d="M488,172H104c-26.469,0-48-21.531-48-48V60c0-26.469,21.531-48,48-48h384c8.836,0,16,7.164,16,16
			s-7.164,16-16,16H104c-8.824,0-16,7.176-16,16v64c0,8.82,7.176,16,16,16h384c8.836,0,16,7.164,16,16S496.836,172,488,172z"/>
          </g>
          <g>
            <path style="fill:#E6BE94;" d="M111.781,444c-4.422,0-8,3.578-8,8s3.578,8,8,8h368v-16H111.781z"/>
          </g>
          <g>
            <path style="fill:#E6BE94;" d="M111.781,412c-4.422,0-8,3.578-8,8s3.578,8,8,8h368v-16H111.781z"/>
          </g>
          <g>
            <path style="fill:#E6BE94;" d="M111.781,380c-4.422,0-8,3.578-8,8s3.578,8,8,8h368v-16H111.781z"/>
          </g>
          <g>
            <path style="fill:#E6BE94;" d="M111.781,348c-4.422,0-8,3.578-8,8s3.578,8,8,8h368v-16H111.781z"/>
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Matières
    <% end %>
  </li>

<!--  <li>-->
<!--    <a href="#"-->
<!--       class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">-->
<!--      <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"-->
<!--           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
<!--           stroke-linecap="round" stroke-linejoin="round">-->
<!--        <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--        <circle cx="7" cy="5" r="2" />-->
<!--        <path d="M5 22v-5l-1-1v-4a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4l-1 1v5" />-->
<!--        <circle cx="17" cy="5" r="2" />-->
<!--        <path d="M15 22v-4h-2l2 -6a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1l2 6h-2v4" />-->
<!--      </svg>-->
<!--      Apprenants-->
<!--    </a>-->
<!--  </li>-->

<!--  <li>-->
    <%#= link_to teachers_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-blue-600 hover:text-blue-600 hover:bg-gray-200 #{ "bg-gray-200" if action_name == "teachers"}" do %>
<!--      <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"-->
<!--           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
<!--           stroke-linecap="round" stroke-linejoin="round">-->
<!--        <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--        <circle cx="12" cy="7" r="4" />-->
<!--        <path d="M5.5 21v-2a4 4 0 0 1 4 -4h5a4 4 0 0 1 4 4v2" />-->
<!--      </svg>-->
<!--      Enseignants-->
    <%# end %>
<!--  </li>-->

  <li>
    <a href="#"
       class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
      <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
           stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <polyline points="3 17 9 11 13 15 21 7" />
        <polyline points="14 7 21 7 21 14" />
      </svg>
      Historique
    </a>
  </li>

  <li>
    <%= link_to setup_index_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
           stroke-linecap="round" stroke-linejoin="round">
        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
        <path
          d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
        <circle cx="12" cy="12" r="3"/>
      </svg>
      Paramètres
    <% end %>
  </li>

  <li>
    <%= link_to local_news_index_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200" do %>
      <svg version="1.1" id="Layer_1" class="mr-4" width="30" height="30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path style="fill:#996459;" d="M416,40H96c-22.055,0-40,17.945-40,40v392c0,22.055,17.945,40,40,40h320c22.055,0,40-17.945,40-40
			V80C456,57.945,438.055,40,416,40z"/>
          </g>
          <g>
            <path style="fill:#FFFFFF;" d="M415.6,72c4.639,0,8.4,3.728,8.4,8.327v391.347c0,4.599-3.761,8.327-8.4,8.327H96.4
			c-4.639,0-8.4-3.728-8.4-8.327V80.326C88,75.728,91.761,72,96.4,72H415.6z"/>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M200,216h-48c-8.82,0-16-7.18-16-16v-48c0-8.82,7.18-16,16-16h48c8.82,0,16,7.18,16,16v48
				C216,208.82,208.82,216,200,216z M152,152v48h48.016L200,152H152z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M264,160h-24c-4.422,0-8-3.578-8-8s3.578-8,8-8h24c4.422,0,8,3.578,8,8S268.422,160,264,160z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M360,192H240c-4.422,0-8-3.578-8-8s3.578-8,8-8h120c4.422,0,8,3.578,8,8S364.422,192,360,192z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M320,272h-80c-4.422,0-8-3.578-8-8s3.578-8,8-8h80c4.422,0,8,3.578,8,8S324.422,272,320,272z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M360,304H240c-4.422,0-8-3.578-8-8s3.578-8,8-8h120c4.422,0,8,3.578,8,8S364.422,304,360,304z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#5C546A;" d="M272,376h-32c-4.422,0-8-3.578-8-8s3.578-8,8-8h32c4.422,0,8,3.578,8,8S276.422,376,272,376z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M360,408H240c-4.422,0-8-3.578-8-8s3.578-8,8-8h120c4.422,0,8,3.578,8,8S364.422,408,360,408z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#868491;" d="M288,40c-4.422,0-8-3.578-8-8v-8c0-4.414-3.586-8-8-8h-32c-4.414,0-8,3.586-8,8v8
				c0,4.422-3.578,8-8,8s-8-3.578-8-8v-8c0-13.234,10.766-24,24-24h32c13.234,0,24,10.766,24,24v8C296,36.422,292.422,40,288,40z"/>
            </g>
          </g>
          <g>
            <path style="fill:#B4B6BC;" d="M344,24H168c-4.418,0-8,3.582-8,8v24c0,22.091,17.909,40,40,40h112c22.091,0,40-17.909,40-40V32
			C352,27.582,348.418,24,344,24z"/>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M200,320h-48c-8.82,0-16-7.18-16-16v-48c0-8.82,7.18-16,16-16h48c8.82,0,16,7.18,16,16v48
				C216,312.82,208.82,320,200,320z M152,256v48h48.016L200,256H152z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#B4B6BC;" d="M200,424h-48c-8.82,0-16-7.18-16-16v-48c0-8.82,7.18-16,16-16h48c8.82,0,16,7.18,16,16v48
				C216,416.82,208.82,424,200,424z M152,360v48h48.016L200,360H152z"/>
            </g>
          </g>
          <g>
            <g>
              <path style="fill:#FF4F19;" d="M184,296c-2.047,0-4.094-0.781-5.656-2.344l-16-16c-3.125-3.125-3.125-8.188,0-11.313
				s8.188-3.125,11.313,0L184,276.687l34.344-34.344c3.125-3.125,8.188-3.125,11.313,0s3.125,8.187,0,11.312l-40,40
				C188.094,295.219,186.047,296,184,296z"/>
            </g>
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      Babillard
    <% end %>
  </li>
</ul>