<div class="px-4 py-2">
  <ul>
    <li>
      <%= link_to main_app.home_index_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if action_name == "index" && controller_name == "home"}" do %>
        <svg class="mr-4" height="32" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" version="1.1" viewBox="0 0 101 125" width="32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M42.994,105.275l0,-26c0,-0.3 0.2,-0.5 0.5,-0.5l13.8,0c0.3,0 0.5,0.2 0.5,0.5l0,26l23.6,0c4.1,0 7.5,-3.4 7.5,-7.5l0,-42.2c0,-2.6 -1.1,-5.1 -2.9,-7l-30,-26.7c-3.1,-3 -8.2,-3 -11.3,0l-29.8,26.7l-0.1,0.1c-1.9,1.8 -2.9,4.4 -2.9,7l0,42.2c0,4.1 3.4,7.5 7.5,7.5l23.6,0l0,-0.1Zm-24.1,-7.5l0,-42.2c0,-0.7 0.3,-1.4 0.8,-1.9l29.8,-26.6l0.1,-0.1c0.5,-0.4 1.2,-0.4 1.6,0l29.9,26.7c0.5,0.5 0.8,1.2 0.8,1.9l0,42.2c0,0.3 -0.2,0.5 -0.5,0.5l-16.6,0l0,-19c0,-4.1 -3.4,-7.5 -7.5,-7.5l-13.8,0c-4.1,0 -7.5,3.4 -7.5,7.5l0,19l-16.6,0c-0.3,0 -0.5,-0.2 -0.5,-0.5Z" style="fill-rule:nonzero;"/>
          <path d="M81.394,98.275c0.34,-0.044 0.5,-0.232 0.5,-0.5l0,-42.2c0,-0.7 -0.3,-1.4 -0.8,-1.9l-29.9,-26.7c-0.4,-0.4 -1.1,-0.4 -1.6,0l-0.1,0.1l-29.8,26.6c-0.5,0.5 -0.8,1.2 -0.8,1.9l0,42.2c0,0.3 0.2,0.5 0.5,0.5l16.6,0l0,-19c0,-4.068 3.347,-7.447 7.5,-7.5l13.8,0c4.154,0.053 7.5,3.432 7.5,7.5l0,19l16.6,0Z" style="fill:#1cfff4;"/>
          <path d="M38.893,91.46l-19.999,2.54l0,4.275l20.279,0" style="fill:#020000;fill-opacity:0.200867;"/>
          <path d="M61.363,98.275l20.531,0l0,-12.275l-20.619,2.618" style="fill:#020000;fill-opacity:0.200867;"/>
        </svg>
        Accueil
      <% end %>
    </li>

    <li>
      <%= link_to main_app.dashboard_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if action_name == "dashboard"}" do %>
        <svg class="mr-4" height="32" id="svg8" version="1.1" viewBox="0 0 5.2932209 5.2932171" width="32" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg">
          <defs id="defs2"/>
          <g id="layer13" transform="translate(-17.726565,-34.3948)">
            <g id="FLAT-12">
              <path d="m 18.492412,34.3948 c -0.419134,0 -0.765844,0.346704 -0.765845,0.765844 v 3.761529 c 0,0.419131 0.346711,0.765844 0.765845,0.765844 h 3.761527 c 0.419134,0 0.765845,-0.346713 0.765845,-0.765844 v -3.761529 c 0,-0.41914 -0.346711,-0.765844 -0.765845,-0.765844 z" id="path1268" style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#82bbfb;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.529167;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000"/>
              <path d="m 87.003906,142.89844 a 17.202391,32.202391 69.881832 0 1 -4.085937,1.67187 17.202391,32.202391 69.881832 0 1 -15.783203,3.36524 c 0.362455,1.18563 1.462415,2.0664 2.757812,2.0664 h 14.216797 c 1.584128,0 2.894531,-1.31041 2.894531,-2.89453 z" id="path1501" style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#65a3fc;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000" transform="scale(0.26458334)"/>
              <path d="m 21.254,34.926035 a 0.2645835,0.2645835 0 0 0 -0.26355,0.263549 0.2645835,0.2645835 0 0 0 0.26355,0.265618 h 0.706934 a 0.2645835,0.2645835 0 0 0 0.26355,-0.265618 0.2645835,0.2645835 0 0 0 -0.26355,-0.263549 z M 17.992184,35.9823 a 0.26458337,0.26458337 0 0 0 -0.265617,0.265618 0.26458337,0.26458337 0 0 0 0.265617,0.263548 h 4.761467 A 0.26458337,0.26458337 0 0 0 23.019784,36.247918 0.26458337,0.26458337 0 0 0 22.753651,35.9823 Z m 2.380733,0.88315 A 0.2645835,0.2645835 0 0 0 20.1073,37.129001 V 38.3651 a 0.2645835,0.2645835 0 0 0 0.265617,0.263552 0.2645835,0.2645835 0 0 0 0.26355,-0.263552 v -1.236099 a 0.2645835,0.2645835 0 0 0 -0.26355,-0.263551 z m -1.058333,0.529166 a 0.2645835,0.2645835 0 0 0 -0.26355,0.263552 V 38.3651 a 0.2645835,0.2645835 0 0 0 0.26355,0.263552 0.2645835,0.2645835 0 0 0 0.265617,-0.263552 v -0.706932 a 0.2645835,0.2645835 0 0 0 -0.265617,-0.263552 z m 2.117183,0 A 0.2645835,0.2645835 0 0 0 21.16615,37.658168 V 38.3651 a 0.2645835,0.2645835 0 0 0 0.265617,0.263552 0.2645835,0.2645835 0 0 0 0.26355,-0.263552 v -0.706932 a 0.2645835,0.2645835 0 0 0 -0.26355,-0.263552 z" id="path1291" style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#007ff9;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.529167;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000"/>
              <path d="m 81.998047,144.89844 a 17.202391,32.202391 69.881832 0 1 -1.857422,0.61133 1.0000006,1.0000006 0 0 0 0.861328,0.48828 1.0000006,1.0000006 0 0 0 0.996094,-0.9961 z" id="path1504" style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#006ef9;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000" transform="scale(0.26458334)"/>
            </g>
          </g>
        </svg>
        Dashboard
      <% end %>
    </li>

    <li>
      <%= link_to main_app.msg_path, class: 'mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200' do %>
        <svg class="mr-4" height="32" width="32" viewBox="0 0 227.95 210.67" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <style>.cls-1 {
              fill: #ffc742;
            }

            .cls-2 {
              fill: #275563;
            }

            .cls-3 {
              fill: #f7ead0;
            }

            .cls-3, .cls-6 {
              opacity: 0.5;
            }

            .cls-4 {
              fill: #908152;
            }

            .cls-5, .cls-9 {
              fill: #fff;
            }

            .cls-6, .cls-7 {
              fill: #d9f0ff;
            }

            .cls-8, .cls-9 {
              opacity: 0.7;
            }</style>
          </defs>
          <title/>
          <g data-name="Layer 2" id="Layer_2">
            <g data-name="Layer 1" id="Layer_1-2">
              <path class="cls-1" d="M223.94,54.78V173.56a8.82,8.82,0,0,1-8.82,8.82H198.18l-13.68,19.84a10.3,10.3,0,0,1-17-.06l-13.42-19.77H12.82A8.82,8.82,0,0,1,4,173.56V54.78A8.82,8.82,0,0,1,12.82,46H215.12A8.82,8.82,0,0,1,223.94,54.78Z"/>
              <path class="cls-2" d="M79,97.22H37.88a4,4,0,1,1,0-8H79a4,4,0,0,1,0,8Z"/>
              <path class="cls-2" d="M106.26,114.51H37.88a4,4,0,0,1,0-8h68.38a4,4,0,0,1,0,8Z"/>
              <path class="cls-2" d="M106.26,131.8H37.88a4,4,0,0,1,0-8h68.38a4,4,0,0,1,0,8Z"/>
              <rect class="cls-3" height="9.52" width="218.24" x="5.76" y="49.01"/>
              <path class="cls-2" d="M176,210.67H176a14.29,14.29,0,0,1-11.78-6.27l-12.23-18H12.82A12.83,12.83,0,0,1,0,173.56V54.78A12.83,12.83,0,0,1,12.82,42H215.12a12.83,12.83,0,0,1,12.82,12.82V81.45a4,4,0,1,1-8,0V54.78A4.82,4.82,0,0,0,215.12,50H12.82A4.82,4.82,0,0,0,8,54.78V173.56a4.82,4.82,0,0,0,4.82,4.82H156.2l14.6,21.53a6.22,6.22,0,0,0,5.19,2.76h0a6.21,6.21,0,0,0,5.18-2.72l14.88-21.57h19a4.82,4.82,0,0,0,4.82-4.82V131.78a4,4,0,0,1,8,0v41.78a12.83,12.83,0,0,1-12.82,12.82H200.28l-12.49,18.11A14.29,14.29,0,0,1,176,210.67Z"/>
              <ellipse class="cls-4" cx="165.43" cy="57.83" rx="43.47" ry="43.55"/>
              <circle class="cls-5" cx="165.77" cy="46.94" r="43.55"/>
              <path class="cls-6" d="M210,46.6a43.55,43.55,0,1,1-84.84-13.83C128.76,52.9,147.27,71,166.48,71s36.74-14.56,41.3-38.23A43.31,43.31,0,0,1,210,46.6Z"/>
              <path class="cls-7" d="M209.65,45.94a43.55,43.55,0,1,1-87.09,0,44.06,44.06,0,0,1,.37-5.67,43.55,43.55,0,0,0,86.35,0A44.09,44.09,0,0,1,209.65,45.94Z"/>
              <path class="cls-2" d="M165,95.09A47.55,47.55,0,1,1,212.5,47.55,47.6,47.6,0,0,1,165,95.09ZM165,8A39.55,39.55,0,1,0,204.5,47.55,39.59,39.59,0,0,0,165,8Z"/>
              <g class="cls-8">
                <path class="cls-5" d="M17.27,94.86a3,3,0,0,1-3-3V80.7a3,3,0,0,1,6,0V91.86A3,3,0,0,1,17.27,94.86Z"/>
                <path class="cls-5" d="M17.27,74.33a3,3,0,0,1-3-3v-6a3,3,0,0,1,6,0v6A3,3,0,0,1,17.27,74.33Z"/>
              </g>
              <circle class="cls-9" cx="17.23" cy="104.38" r="3.53"/>
              <path class="cls-2" d="M154.12,47.57a3.22,3.22,0,0,1,.59-2,1.86,1.86,0,0,1,1.56-.8H162V38.89a2,2,0,0,1,.86-1.59,3.16,3.16,0,0,1,2-.7,3,3,0,0,1,2,.7,2.06,2.06,0,0,1,.81,1.59V44.8h5.72a2,2,0,0,1,1.56.82,2.92,2.92,0,0,1,.7,2,2.86,2.86,0,0,1-.67,2,2.05,2.05,0,0,1-1.59.77h-5.72v6a2,2,0,0,1-.78,1.62,3.27,3.27,0,0,1-2.08.61,3.41,3.41,0,0,1-2.08-.61,1.91,1.91,0,0,1-.84-1.62v-6h-5.77a1.9,1.9,0,0,1-1.56-.74A3.08,3.08,0,0,1,154.12,47.57Z"/>
              <path class="cls-2" d="M224,119.6a4,4,0,0,1-4-4v-7.31a4,4,0,0,1,8,0v7.31A4,4,0,0,1,224,119.6Z"/>
              <path class="cls-2" d="M224,99.6a4,4,0,0,1-4-4v-.31a4,4,0,1,1,8,0v.31A4,4,0,0,1,224,99.6Z"/>
            </g>
          </g>
        </svg>
        Messagerie
        <span class="badge mb-1 ml-2 bg-purple-500 shadow rounded-full px-2 py-1 text-center object-right-top text-white text-sm mr-1">
          <%= Comment.where(user_id: current_user.id, read: false).count %>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to notifications_path, class: 'mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200' do %>
        <svg class="mr-4" height="32" width="32" viewBox="0 0 227.95 210.67" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <style>.cls-1 {
              fill: #ffc742;
            }

            .cls-2 {
              fill: #275563;
            }

            .cls-3 {
              fill: #f7ead0;
            }

            .cls-3, .cls-6 {
              opacity: 0.5;
            }

            .cls-4 {
              fill: #908152;
            }

            .cls-5, .cls-9 {
              fill: #fff;
            }

            .cls-6, .cls-7 {
              fill: #d9f0ff;
            }

            .cls-8, .cls-9 {
              opacity: 0.7;
            }</style>
          </defs>
          <title/>
          <g data-name="Layer 2" id="Layer_2">
            <g data-name="Layer 1" id="Layer_1-2">
              <path class="cls-1" d="M223.94,54.78V173.56a8.82,8.82,0,0,1-8.82,8.82H198.18l-13.68,19.84a10.3,10.3,0,0,1-17-.06l-13.42-19.77H12.82A8.82,8.82,0,0,1,4,173.56V54.78A8.82,8.82,0,0,1,12.82,46H215.12A8.82,8.82,0,0,1,223.94,54.78Z"/>
              <path class="cls-2" d="M79,97.22H37.88a4,4,0,1,1,0-8H79a4,4,0,0,1,0,8Z"/>
              <path class="cls-2" d="M106.26,114.51H37.88a4,4,0,0,1,0-8h68.38a4,4,0,0,1,0,8Z"/>
              <path class="cls-2" d="M106.26,131.8H37.88a4,4,0,0,1,0-8h68.38a4,4,0,0,1,0,8Z"/>
              <rect class="cls-3" height="9.52" width="218.24" x="5.76" y="49.01"/>
              <path class="cls-2" d="M176,210.67H176a14.29,14.29,0,0,1-11.78-6.27l-12.23-18H12.82A12.83,12.83,0,0,1,0,173.56V54.78A12.83,12.83,0,0,1,12.82,42H215.12a12.83,12.83,0,0,1,12.82,12.82V81.45a4,4,0,1,1-8,0V54.78A4.82,4.82,0,0,0,215.12,50H12.82A4.82,4.82,0,0,0,8,54.78V173.56a4.82,4.82,0,0,0,4.82,4.82H156.2l14.6,21.53a6.22,6.22,0,0,0,5.19,2.76h0a6.21,6.21,0,0,0,5.18-2.72l14.88-21.57h19a4.82,4.82,0,0,0,4.82-4.82V131.78a4,4,0,0,1,8,0v41.78a12.83,12.83,0,0,1-12.82,12.82H200.28l-12.49,18.11A14.29,14.29,0,0,1,176,210.67Z"/>
              <ellipse class="cls-4" cx="165.43" cy="57.83" rx="43.47" ry="43.55"/>
              <circle class="cls-5" cx="165.77" cy="46.94" r="43.55"/>
              <path class="cls-6" d="M210,46.6a43.55,43.55,0,1,1-84.84-13.83C128.76,52.9,147.27,71,166.48,71s36.74-14.56,41.3-38.23A43.31,43.31,0,0,1,210,46.6Z"/>
              <path class="cls-7" d="M209.65,45.94a43.55,43.55,0,1,1-87.09,0,44.06,44.06,0,0,1,.37-5.67,43.55,43.55,0,0,0,86.35,0A44.09,44.09,0,0,1,209.65,45.94Z"/>
              <path class="cls-2" d="M165,95.09A47.55,47.55,0,1,1,212.5,47.55,47.6,47.6,0,0,1,165,95.09ZM165,8A39.55,39.55,0,1,0,204.5,47.55,39.59,39.59,0,0,0,165,8Z"/>
              <g class="cls-8">
                <path class="cls-5" d="M17.27,94.86a3,3,0,0,1-3-3V80.7a3,3,0,0,1,6,0V91.86A3,3,0,0,1,17.27,94.86Z"/>
                <path class="cls-5" d="M17.27,74.33a3,3,0,0,1-3-3v-6a3,3,0,0,1,6,0v6A3,3,0,0,1,17.27,74.33Z"/>
              </g>
              <circle class="cls-9" cx="17.23" cy="104.38" r="3.53"/>
              <path class="cls-2" d="M154.12,47.57a3.22,3.22,0,0,1,.59-2,1.86,1.86,0,0,1,1.56-.8H162V38.89a2,2,0,0,1,.86-1.59,3.16,3.16,0,0,1,2-.7,3,3,0,0,1,2,.7,2.06,2.06,0,0,1,.81,1.59V44.8h5.72a2,2,0,0,1,1.56.82,2.92,2.92,0,0,1,.7,2,2.86,2.86,0,0,1-.67,2,2.05,2.05,0,0,1-1.59.77h-5.72v6a2,2,0,0,1-.78,1.62,3.27,3.27,0,0,1-2.08.61,3.41,3.41,0,0,1-2.08-.61,1.91,1.91,0,0,1-.84-1.62v-6h-5.77a1.9,1.9,0,0,1-1.56-.74A3.08,3.08,0,0,1,154.12,47.57Z"/>
              <path class="cls-2" d="M224,119.6a4,4,0,0,1-4-4v-7.31a4,4,0,0,1,8,0v7.31A4,4,0,0,1,224,119.6Z"/>
              <path class="cls-2" d="M224,99.6a4,4,0,0,1-4-4v-.31a4,4,0,1,1,8,0v.31A4,4,0,0,1,224,99.6Z"/>
            </g>
          </g>
        </svg>
        <%#= pluralize(Notification.unread_count(current_user), 'Notification') %>
      <% end %>
    </li>

    <li>
      <%= link_to main_app.courses_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if controller_name == "courses"}" do %>
        <svg class="mr-4" width="32" height="32" viewBox="0 0 314.14 288.42" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <style>.cls-1 {
              fill: #020203;
              opacity: 0.15;
            }

            .cls-2 {
              fill: #0094da;
            }

            .cls-3 {
              fill: #fff;
            }

            .cls-4 {
              fill: #fbbd00;
            }

            .cls-5 {
              fill: #139334;
            }

            .cls-6 {
              fill: #e2000f;
            }

            .cls-7, .cls-8 {
              fill: none;
              stroke: #fff;
              stroke-miterlimit: 10;
            }

            .cls-7 {
              stroke-width: 7.25px;
            }

            .cls-8 {
              stroke-width: 7.36px;
            }</style>
          </defs>
          <title/>
          <g data-name="Capa 2" id="Capa_2">
            <g data-name="Capa 1" id="Capa_1-2">
              <polyline class="cls-1" points="126.5 262.17 0 202.56 126.31 156.86 288.37 233.72 138.21 258.75"/>
              <polygon class="cls-2" points="126.31 55.11 126.5 260.99 272.91 219.55 269.31 0 126.31 55.11"/>
              <polygon class="cls-3" points="138.21 61.67 138.65 267.15 282.74 228.77 275.43 15.94 138.21 61.67"/>
              <polygon class="cls-4" points="158.78 71.02 158.46 278.57 302.76 234.62 303.93 21.62 158.78 71.02"/>
              <polygon class="cls-5" points="168.67 75.7 167.71 288.42 314.14 247.25 314.14 28.81 168.67 75.7"/>
              <polygon class="cls-6" points="158.78 71.02 288.3 26.94 148.09 65.69 148.09 272.6 158.47 270.12 158.78 71.02"/>
              <line class="cls-7" x1="189.85" x2="296.35" y1="107.79" y2="75.77"/>
              <line class="cls-7" x1="189.86" x2="296.36" y1="128.28" y2="96.27"/>
              <line class="cls-7" x1="192.12" x2="298.62" y1="146.5" y2="114.48"/>
              <line class="cls-8" x1="192.11" x2="298.61" y1="166.84" y2="133.8"/>
              <line class="cls-8" x1="188.9" x2="295.4" y1="187.75" y2="154.71"/>
              <line class="cls-8" x1="187.86" x2="294.36" y1="210.67" y2="177.63"/>
              <line class="cls-8" x1="188.99" x2="250.42" y1="231.59" y2="212.53"/>
            </g>
          </g>
        </svg>
        Publications
      <% end %>
    </li>

    <li>
      <%= link_to main_app.documents_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if controller_name == "documents"}" do %>
        <%= image_tag 'iconfinder_note_job_seeker_employee_unemployee_work_2620509.png', class: 'w-8 h-8 mr-4' %>
        Mes documents
      <% end %>
    </li>

    <li>
      <%= link_to main_app.epreuves_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if controller_name == "epreuves"}" do %>
<!--        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"-->
<!--             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
<!--             stroke-linecap="round" stroke-linejoin="round">-->
<!--          <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--          <rect x="3" y="7" width="18" height="13" rx="2" />-->
<!--          <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />-->
<!--          <line x1="12" y1="12" x2="12" y2="12.01" />-->
<!--          <path d="M3 13a20 20 0 0 0 18 0" />-->
<!--        </svg>-->
        <%= image_tag 'iconfinder_location_job_seeker_employee_unemployee_work_2620495.png', class: 'w-8 h-8 mr-4' %>
        Training Space
      <% end %>
    </li>

<!--    <li>-->
      <%#= link_to live_course_index_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if controller_name == "live_course"}" do %>
<!--        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"-->
<!--             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
<!--             stroke-linecap="round" stroke-linejoin="round">-->
<!--          <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--          <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />-->
<!--          <circle cx="12" cy="13" r="3" />-->
<!--        </svg>-->
<!--        Live course-->
      <%# end %>
<!--    </li>-->

    <li>
      <%= link_to main_app.salle_classe_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if action_name == "classes"}" do %>
<!--        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
<!--          <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--          <circle cx="7" cy="5" r="2" />-->
<!--          <path d="M5 22v-5l-1-1v-4a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4l-1 1v5" />-->
<!--          <circle cx="17" cy="5" r="2" />-->
<!--          <path d="M15 22v-4h-2l2 -6a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1l2 6h-2v4" />-->
<!--        </svg>-->
        <%= image_tag 'iconfinder_rotation_job_seeker_employee_unemployee_work_2620504.png', class: 'w-8 h-8 mr-4' %>
        Mes classes
      <% end %>
    </li>

<!--    <li>-->
      <%#= link_to apprenant_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if action_name == "apprenants"}" do %>
        <%#= image_tag 'iconfinder_hierarchy_job_seeker_employee_unemployee_work_2620519.png', class: 'w-8 h-8 mr-4' %>
<!--        Apprenants-->
      <%# end %>
<!--    </li>-->

    <li>
      <%= link_to main_app.discuss_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-gray-700 hover:bg-gray-200 #{"bg-gray-200" if action_name == "discuss"}" do %>
<!--        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
<!--          <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--          <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />-->
<!--          <line x1="12" y1="11" x2="12" y2="11.01" />-->
<!--          <line x1="8" y1="11" x2="8" y2="11.01" />-->
<!--          <line x1="16" y1="11" x2="16" y2="11.01" />-->
<!--        </svg>-->
        <%= image_tag 'iconfinder_skill_job_seeker_employee_unemployee_work_2620501.png', class: 'w-8 h-8 mr-4' %>
        Live teaching
      <% end %>
    </li>

    <li>
      <%= link_to main_app.planning_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-gray-700 hover:bg-gray-200 #{"bg-gray-200" if action_name == "planning"}" do %>
<!--        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
<!--          <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--          <rect x="4" y="5" width="16" height="16" rx="2" />-->
<!--          <line x1="16" y1="3" x2="16" y2="7"></line>-->
<!--          <line x1="8" y1="3" x2="8" y2="7" />-->
<!--          <line x1="4" y1="11" x2="20" y2="11" />-->
<!--          <line x1="11" y1="15" x2="12" y2="15" />-->
<!--          <line x1="12" y1="15" x2="12" y2="18" />-->
<!--        </svg>-->
        <%= image_tag 'iconfinder_calendar_job_seeker_employee_unemployee_work_2620532.png', class: 'w-8 h-8 mr-4' %>
        Planning validation
      <% end %>
    </li>

    <li>
      <%= link_to main_app.blog_index_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-gray-700 hover:bg-gray-200 #{"bg-gray-200" if action_name == "blog_index"}" do %>
<!--        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
<!--          <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--          <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />-->
<!--          <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />-->
<!--          <line x1="3" y1="6" x2="3" y2="19" />-->
<!--          <line x1="12" y1="6" x2="12" y2="19" />-->
<!--          <line x1="21" y1="6" x2="21" y2="19" />-->
<!--        </svg>-->
        <%= image_tag 'iconfinder_note_job_seeker_employee_unemployee_work_2620509.png', class: 'w-8 h-8 mr-4' %>
        Blog
      <% end %>
    </li>


  </ul>

</div>