<div class="px-4 py-2">
  <ul>
    <li>
      <%= link_to main_app.home_index_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if action_name == "index" && controller_name == "home"}" do %>
        <svg class="mr-4" height="32" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" version="1.1" viewBox="0 0 101 125" width="32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M42.994,105.275l0,-26c0,-0.3 0.2,-0.5 0.5,-0.5l13.8,0c0.3,0 0.5,0.2 0.5,0.5l0,26l23.6,0c4.1,0 7.5,-3.4 7.5,-7.5l0,-42.2c0,-2.6 -1.1,-5.1 -2.9,-7l-30,-26.7c-3.1,-3 -8.2,-3 -11.3,0l-29.8,26.7l-0.1,0.1c-1.9,1.8 -2.9,4.4 -2.9,7l0,42.2c0,4.1 3.4,7.5 7.5,7.5l23.6,0l0,-0.1Zm-24.1,-7.5l0,-42.2c0,-0.7 0.3,-1.4 0.8,-1.9l29.8,-26.6l0.1,-0.1c0.5,-0.4 1.2,-0.4 1.6,0l29.9,26.7c0.5,0.5 0.8,1.2 0.8,1.9l0,42.2c0,0.3 -0.2,0.5 -0.5,0.5l-16.6,0l0,-19c0,-4.1 -3.4,-7.5 -7.5,-7.5l-13.8,0c-4.1,0 -7.5,3.4 -7.5,7.5l0,19l-16.6,0c-0.3,0 -0.5,-0.2 -0.5,-0.5Z" style="fill-rule:nonzero;"/>
          <path d="M81.394,98.275c0.34,-0.044 0.5,-0.232 0.5,-0.5l0,-42.2c0,-0.7 -0.3,-1.4 -0.8,-1.9l-29.9,-26.7c-0.4,-0.4 -1.1,-0.4 -1.6,0l-0.1,0.1l-29.8,26.6c-0.5,0.5 -0.8,1.2 -0.8,1.9l0,42.2c0,0.3 0.2,0.5 0.5,0.5l16.6,0l0,-19c0,-4.068 3.347,-7.447 7.5,-7.5l13.8,0c4.154,0.053 7.5,3.432 7.5,7.5l0,19l16.6,0Z" style="fill:#1cfff4;"/>
          <path d="M38.893,91.46l-19.999,2.54l0,4.275l20.279,0" style="fill:#020000;fill-opacity:0.200867;"/>
          <path d="M61.363,98.275l20.531,0l0,-12.275l-20.619,2.618" style="fill:#020000;fill-opacity:0.200867;"/>
        </svg>
        Accueil
      <% end %>
    </li>

    <li>
      <%= link_to main_app.dashboard_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if action_name == "dashboard"}" do %>
        <svg class="mr-4" height="32" id="svg8" version="1.1" viewBox="0 0 5.2932209 5.2932171" width="32" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg">
          <defs id="defs2"/>
          <g id="layer13" transform="translate(-17.726565,-34.3948)">
            <g id="FLAT-12">
              <path d="m 18.492412,34.3948 c -0.419134,0 -0.765844,0.346704 -0.765845,0.765844 v 3.761529 c 0,0.419131 0.346711,0.765844 0.765845,0.765844 h 3.761527 c 0.419134,0 0.765845,-0.346713 0.765845,-0.765844 v -3.761529 c 0,-0.41914 -0.346711,-0.765844 -0.765845,-0.765844 z" id="path1268" style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#82bbfb;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.529167;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000"/>
              <path d="m 87.003906,142.89844 a 17.202391,32.202391 69.881832 0 1 -4.085937,1.67187 17.202391,32.202391 69.881832 0 1 -15.783203,3.36524 c 0.362455,1.18563 1.462415,2.0664 2.757812,2.0664 h 14.216797 c 1.584128,0 2.894531,-1.31041 2.894531,-2.89453 z" id="path1501" style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#65a3fc;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000" transform="scale(0.26458334)"/>
              <path d="m 21.254,34.926035 a 0.2645835,0.2645835 0 0 0 -0.26355,0.263549 0.2645835,0.2645835 0 0 0 0.26355,0.265618 h 0.706934 a 0.2645835,0.2645835 0 0 0 0.26355,-0.265618 0.2645835,0.2645835 0 0 0 -0.26355,-0.263549 z M 17.992184,35.9823 a 0.26458337,0.26458337 0 0 0 -0.265617,0.265618 0.26458337,0.26458337 0 0 0 0.265617,0.263548 h 4.761467 A 0.26458337,0.26458337 0 0 0 23.019784,36.247918 0.26458337,0.26458337 0 0 0 22.753651,35.9823 Z m 2.380733,0.88315 A 0.2645835,0.2645835 0 0 0 20.1073,37.129001 V 38.3651 a 0.2645835,0.2645835 0 0 0 0.265617,0.263552 0.2645835,0.2645835 0 0 0 0.26355,-0.263552 v -1.236099 a 0.2645835,0.2645835 0 0 0 -0.26355,-0.263551 z m -1.058333,0.529166 a 0.2645835,0.2645835 0 0 0 -0.26355,0.263552 V 38.3651 a 0.2645835,0.2645835 0 0 0 0.26355,0.263552 0.2645835,0.2645835 0 0 0 0.265617,-0.263552 v -0.706932 a 0.2645835,0.2645835 0 0 0 -0.265617,-0.263552 z m 2.117183,0 A 0.2645835,0.2645835 0 0 0 21.16615,37.658168 V 38.3651 a 0.2645835,0.2645835 0 0 0 0.265617,0.263552 0.2645835,0.2645835 0 0 0 0.26355,-0.263552 v -0.706932 a 0.2645835,0.2645835 0 0 0 -0.26355,-0.263552 z" id="path1291" style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#007ff9;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.529167;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000"/>
              <path d="m 81.998047,144.89844 a 17.202391,32.202391 69.881832 0 1 -1.857422,0.61133 1.0000006,1.0000006 0 0 0 0.861328,0.48828 1.0000006,1.0000006 0 0 0 0.996094,-0.9961 z" id="path1504" style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#006ef9;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000" transform="scale(0.26458334)"/>
            </g>
          </g>
        </svg>
        Dashboard
      <% end %>
    </li>

    <li>
      <%= link_to main_app.msg_path, class: 'mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200' do %>
        <svg class="mr-4" height="32" width="32" viewBox="0 0 227.95 210.67" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <style>.cls-1 {
              fill: #ffc742;
            }

            .cls-2 {
              fill: #275563;
            }

            .cls-3 {
              fill: #f7ead0;
            }

            .cls-3, .cls-6 {
              opacity: 0.5;
            }

            .cls-4 {
              fill: #908152;
            }

            .cls-5, .cls-9 {
              fill: #fff;
            }

            .cls-6, .cls-7 {
              fill: #d9f0ff;
            }

            .cls-8, .cls-9 {
              opacity: 0.7;
            }</style>
          </defs>
          <title/>
          <g data-name="Layer 2" id="Layer_2">
            <g data-name="Layer 1" id="Layer_1-2">
              <path class="cls-1" d="M223.94,54.78V173.56a8.82,8.82,0,0,1-8.82,8.82H198.18l-13.68,19.84a10.3,10.3,0,0,1-17-.06l-13.42-19.77H12.82A8.82,8.82,0,0,1,4,173.56V54.78A8.82,8.82,0,0,1,12.82,46H215.12A8.82,8.82,0,0,1,223.94,54.78Z"/>
              <path class="cls-2" d="M79,97.22H37.88a4,4,0,1,1,0-8H79a4,4,0,0,1,0,8Z"/>
              <path class="cls-2" d="M106.26,114.51H37.88a4,4,0,0,1,0-8h68.38a4,4,0,0,1,0,8Z"/>
              <path class="cls-2" d="M106.26,131.8H37.88a4,4,0,0,1,0-8h68.38a4,4,0,0,1,0,8Z"/>
              <rect class="cls-3" height="9.52" width="218.24" x="5.76" y="49.01"/>
              <path class="cls-2" d="M176,210.67H176a14.29,14.29,0,0,1-11.78-6.27l-12.23-18H12.82A12.83,12.83,0,0,1,0,173.56V54.78A12.83,12.83,0,0,1,12.82,42H215.12a12.83,12.83,0,0,1,12.82,12.82V81.45a4,4,0,1,1-8,0V54.78A4.82,4.82,0,0,0,215.12,50H12.82A4.82,4.82,0,0,0,8,54.78V173.56a4.82,4.82,0,0,0,4.82,4.82H156.2l14.6,21.53a6.22,6.22,0,0,0,5.19,2.76h0a6.21,6.21,0,0,0,5.18-2.72l14.88-21.57h19a4.82,4.82,0,0,0,4.82-4.82V131.78a4,4,0,0,1,8,0v41.78a12.83,12.83,0,0,1-12.82,12.82H200.28l-12.49,18.11A14.29,14.29,0,0,1,176,210.67Z"/>
              <ellipse class="cls-4" cx="165.43" cy="57.83" rx="43.47" ry="43.55"/>
              <circle class="cls-5" cx="165.77" cy="46.94" r="43.55"/>
              <path class="cls-6" d="M210,46.6a43.55,43.55,0,1,1-84.84-13.83C128.76,52.9,147.27,71,166.48,71s36.74-14.56,41.3-38.23A43.31,43.31,0,0,1,210,46.6Z"/>
              <path class="cls-7" d="M209.65,45.94a43.55,43.55,0,1,1-87.09,0,44.06,44.06,0,0,1,.37-5.67,43.55,43.55,0,0,0,86.35,0A44.09,44.09,0,0,1,209.65,45.94Z"/>
              <path class="cls-2" d="M165,95.09A47.55,47.55,0,1,1,212.5,47.55,47.6,47.6,0,0,1,165,95.09ZM165,8A39.55,39.55,0,1,0,204.5,47.55,39.59,39.59,0,0,0,165,8Z"/>
              <g class="cls-8">
                <path class="cls-5" d="M17.27,94.86a3,3,0,0,1-3-3V80.7a3,3,0,0,1,6,0V91.86A3,3,0,0,1,17.27,94.86Z"/>
                <path class="cls-5" d="M17.27,74.33a3,3,0,0,1-3-3v-6a3,3,0,0,1,6,0v6A3,3,0,0,1,17.27,74.33Z"/>
              </g>
              <circle class="cls-9" cx="17.23" cy="104.38" r="3.53"/>
              <path class="cls-2" d="M154.12,47.57a3.22,3.22,0,0,1,.59-2,1.86,1.86,0,0,1,1.56-.8H162V38.89a2,2,0,0,1,.86-1.59,3.16,3.16,0,0,1,2-.7,3,3,0,0,1,2,.7,2.06,2.06,0,0,1,.81,1.59V44.8h5.72a2,2,0,0,1,1.56.82,2.92,2.92,0,0,1,.7,2,2.86,2.86,0,0,1-.67,2,2.05,2.05,0,0,1-1.59.77h-5.72v6a2,2,0,0,1-.78,1.62,3.27,3.27,0,0,1-2.08.61,3.41,3.41,0,0,1-2.08-.61,1.91,1.91,0,0,1-.84-1.62v-6h-5.77a1.9,1.9,0,0,1-1.56-.74A3.08,3.08,0,0,1,154.12,47.57Z"/>
              <path class="cls-2" d="M224,119.6a4,4,0,0,1-4-4v-7.31a4,4,0,0,1,8,0v7.31A4,4,0,0,1,224,119.6Z"/>
              <path class="cls-2" d="M224,99.6a4,4,0,0,1-4-4v-.31a4,4,0,1,1,8,0v.31A4,4,0,0,1,224,99.6Z"/>
            </g>
          </g>
        </svg>
        Messagerie
        <span class="badge mb-1 ml-2 bg-purple-500 shadow rounded-full px-2 py-1 text-center object-right-top text-white text-sm mr-1">
          <%= Comment.where(user_id: current_user.id, read: false).count %>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to main_app.courses_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if controller_name == "courses"}" do %>
        <svg class="mr-4" height="32" width="32" xmlns="http://www.w3.org/2000/svg" id="object" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#c9c1f5;}.cls-2{fill:#afbdd6;}.cls-3{fill:#91e085;}.cls-4{fill:#84bf6f;}.cls-5{fill:#d6b5b0;}.cls-6{fill:#bf9e99;}</style></defs><title/><path class="cls-1" d="M26,31a1,1,0,0,1-.62-.22L16,23.28l-9.38,7.5a1,1,0,1,1-1.24-1.56l10-8a1,1,0,0,1,1.24,0l10,8a1,1,0,0,1,.16,1.41A1,1,0,0,1,26,31Z"/><path class="cls-2" d="M26.78,30.62A1,1,0,0,1,26,31a1,1,0,0,1-.62-.22L16,23.28V21a1,1,0,0,1,.62.22L18.85,23l7.77,6.22A1,1,0,0,1,26.78,30.62Z"/><rect class="cls-3" height="18" rx="1" ry="1" width="28" x="2" y="5"/><path class="cls-4" d="M30,6V22a1,1,0,0,1-1,1H16V5H29A1,1,0,0,1,30,6Z"/><rect class="cls-5" height="6" rx="1" ry="1" width="30" x="1" y="1"/><path class="cls-6" d="M31,2V6a1,1,0,0,1-1,1H16V1H30A1,1,0,0,1,31,2Z"/></svg>
        Publications
      <% end %>
    </li>

    <li>
      <%= link_to time_tables_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if controller_name == "courses"}" do %>
        <svg height="32" width="32" class="mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 398.75 396.1">
          <defs>
            <style>.cls-1 {
                fill: #32caf8;
            }

            .cls-2 {
                fill: #00a3eb;
            }

            .cls-3, .cls-7 {
                fill: #fff;
            }

            .cls-4 {
                fill: #ffd947;
            }

            .cls-5 {
                fill: #f3a70f;
            }

            .cls-6 {
                fill: #426572;
            }

            .cls-7 {
                font-size: 194.07px;
                font-family: Dosis-Bold, Dosis;
                font-weight: 700;
            }</style>
          </defs>
          <title/>
          <g data-name="Layer 2" id="Layer_2">
            <g data-name="Layer 1" id="Layer_1-2">
              <rect class="cls-1" height="335.98" rx="86.19" ry="86.19" width="386.75" x="6" y="54.12"/>
              <rect class="cls-2" height="7" width="386.75" x="6.44" y="157.91"/>
              <path class="cls-2" d="M393.19,286.69v28.19A76.32,76.32,0,0,1,317.09,391H82.55A76.32,76.32,0,0,1,6.44,314.88V131.11a75.52,75.52,0,0,1,.88-11.55V275.14a76.32,76.32,0,0,0,76.11,76.11H318A76.38,76.38,0,0,0,393.19,286.69Z"/>
              <ellipse class="cls-3" cx="360.38" cy="206.85" rx="3.83" ry="24.95" transform="translate(-3.67 6.53) rotate(-1.03)"/>
              <ellipse class="cls-3" cx="361.11" cy="255.69" rx="3.83" ry="12.48" transform="translate(-4.54 6.53) rotate(-1.03)"/>
              <path class="cls-4" d="M392.75,128.46v22.35H7.32v-33a75.52,75.52,0,0,0-.88,11.55v21.47H6V128.46A76.32,76.32,0,0,1,82.1,52.36H316.65A76.32,76.32,0,0,1,392.75,128.46Z"/>
              <path class="cls-5" d="M397.17,132.88v22.35h-1.62a76.39,76.39,0,0,0-74.48-60.48H86.52A76.39,76.39,0,0,0,12,155.23h-.3v-33a75.52,75.52,0,0,0-.88,11.55v21.47h-.44V132.88A76.32,76.32,0,0,1,86.52,56.77H321.06A76.32,76.32,0,0,1,397.17,132.88Z"/>
              <rect class="cls-6" height="12" width="386.75" x="6" y="146.58"/>
              <path class="cls-6" d="M306.56,396.1H92.19A92.29,92.29,0,0,1,0,303.91V140.31A92.29,92.29,0,0,1,92.19,48.12H306.56a92.29,92.29,0,0,1,92.19,92.19v163.6A92.29,92.29,0,0,1,306.56,396.1ZM92.19,60.12A80.28,80.28,0,0,0,12,140.31v163.6A80.28,80.28,0,0,0,92.19,384.1H306.56a80.28,80.28,0,0,0,80.19-80.19V140.31a80.28,80.28,0,0,0-80.19-80.19Z"/>
              <rect class="cls-1" height="93.6" rx="21.19" ry="21.19" width="42.38" x="94.74" y="6"/>
              <rect class="cls-1" height="93.6" rx="21.19" ry="21.19" width="42.38" x="254.56" y="6"/>
              <path class="cls-6" d="M115.93,105.6A27.22,27.22,0,0,1,88.74,78.41V27.19a27.19,27.19,0,0,1,54.38,0V78.41A27.22,27.22,0,0,1,115.93,105.6Zm0-93.6a15.21,15.21,0,0,0-15.19,15.19V78.41a15.19,15.19,0,0,0,30.38,0V27.19A15.21,15.21,0,0,0,115.93,12Z"/>
              <path class="cls-6" d="M275.75,105.6a27.22,27.22,0,0,1-27.19-27.19V27.19a27.19,27.19,0,1,1,54.38,0V78.41A27.22,27.22,0,0,1,275.75,105.6Zm0-93.6a15.21,15.21,0,0,0-15.19,15.19V78.41a15.19,15.19,0,1,0,30.38,0V27.19A15.21,15.21,0,0,0,275.75,12Z"/>
              <text class="cls-7" transform="translate(117.22 325.63)"/>
            </g>
          </g>
        </svg>
        Emploi du temps
      <% end %>
    </li>

    <li>
      <%= link_to main_app.documents_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if controller_name == "documents"}" do %>
        <?xml version="1.0" ?><svg enable-background="new 0 0 24 24" class="w-8 h-8 mr-4 opacity-50" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M12,8.5H0V3c0-0.5522847,0.4477153-1,1-1h8.5L12,4V8.5z" fill="#FFE55E"/><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_1_" x1="6" x2="6" y1="2" y2="8.5"><stop offset="0" style="stop-color:#000000;stop-opacity:0"/><stop offset="1" style="stop-color:#000000;stop-opacity:0.1"/></linearGradient><path d="M12,8.5H0V3c0-0.5522847,0.4477153-1,1-1h8.5L12,4V8.5z" fill="url(#SVGID_1_)"/><path d="M9.5,2H1C0.4476929,2,0,2.4476929,0,3v0.25c0-0.5523071,0.4476929-1,1-1h8.5l2.5,2V4L9.5,2z" fill="#FFFFFF" opacity="0.2"/><path d="M23,4H12L9.5,6H1C0.4477153,6,0,6.4477153,0,7v13c0,0.5522842,0.4477153,1,1,1h22   c0.5522842,0,1-0.4477158,1-1V5C24,4.4477153,23.5522842,4,23,4z" fill="#FFDD55"/><path d="M23,20.75H1c-0.5523071,0-1-0.4477539-1-1V20c0,0.5522461,0.4476929,1,1,1h22c0.5523071,0,1-0.4477539,1-1   v-0.25C24,20.3022461,23.5523071,20.75,23,20.75z" opacity="0.1"/><path d="M19,12H5c-0.5522847,0-1,0.4477148-1,1v8.5C4,21.7761421,4.2238574,22,4.5,22h3   C7.7761426,22,8,21.7761421,8,21.5V16h8v5.5c0,0.2761421,0.2238579,0.5,0.5,0.5h3c0.2761421,0,0.5-0.2238579,0.5-0.5V13   C20,12.4477148,19.5522842,12,19,12z" fill="#15BEF0"/><path d="M23,4H12L9.5,6H1C0.4476929,6,0,6.4476929,0,7v0.25c0-0.5523071,0.4476929-1,1-1h8.5l2.5-2   h11c0.5523071,0,1,0.4476929,1,1V5C24,4.4476929,23.5523071,4,23,4z" fill="#FFFFFF" opacity="0.2"/><path d="M19,12H5c-0.5523071,0-1,0.4476929-1,1v0.25c0-0.5523071,0.4476929-1,1-1h14   c0.5523071,0,1,0.4476929,1,1V13C20,12.4476929,19.5523071,12,19,12z" fill="#FFFFFF" opacity="0.2"/><path d="M19.5,21.75h-3c-0.276123,0-0.5-0.223877-0.5-0.5v0.25c0,0.276123,0.223877,0.5,0.5,0.5h3   c0.276123,0,0.5-0.223877,0.5-0.5v-0.25C20,21.526123,19.776123,21.75,19.5,21.75z" opacity="0.1"/><path d="M7.5,21.75h-3c-0.276123,0-0.5-0.223877-0.5-0.5v0.25C4,21.776123,4.223877,22,4.5,22h3   C7.776123,22,8,21.776123,8,21.5v-0.25C8,21.526123,7.776123,21.75,7.5,21.75z" opacity="0.1"/><rect height="0.25" opacity="0.1" width="8" x="8" y="15.75"/><rect fill="#FFFFFF" height="1" width="7" x="2" y="3.5"/><rect fill="#82C341" height="1" width="1.5" x="2" y="3.5"/><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_2_" x1="10" x2="16.5" y1="14" y2="20.5"><stop offset="0" style="stop-color:#000000;stop-opacity:0.1"/><stop offset="1" style="stop-color:#000000;stop-opacity:0"/></linearGradient><polyline fill="url(#SVGID_2_)" points="8,16 13,21 16,21 16,16  "/><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_3_" x1="17.6411743" x2="23.8071098" y1="14.4411621" y2="20.6070976"><stop offset="0" style="stop-color:#000000;stop-opacity:0.1"/><stop offset="1" style="stop-color:#000000;stop-opacity:0"/></linearGradient><path d="M19.7411499,12.3411865l-0.0002441,0.0018921C19.8973389,12.5195312,20,12.7456055,20,13v8h3   c0.5523071,0,1-0.4477539,1-1v-3.4000244L19.7411499,12.3411865z" fill="url(#SVGID_3_)"/><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_4_" x1="-1.5805718" x2="24.8145218" y1="6.1672702" y2="18.4755039"><stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.2"/><stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/></linearGradient><path d="M23,4H12L9.5,2H1C0.4476929,2,0,2.4476929,0,3v17c0,0.5522461,0.4476929,1,1,1h3v0.5   C4,21.776123,4.223877,22,4.5,22h3C7.776123,22,8,21.776123,8,21.5V21h8v0.5c0,0.276123,0.223877,0.5,0.5,0.5h3   c0.276123,0,0.5-0.223877,0.5-0.5V21h3c0.5523071,0,1-0.4477539,1-1V5C24,4.4476929,23.5523071,4,23,4z" fill="url(#SVGID_4_)"/></g><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>
        Mes documents
      <% end %>
    </li>

    <li>
      <%= link_to main_app.epreuves_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if controller_name == "epreuves"}" do %>
<!--        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"-->
<!--             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
<!--             stroke-linecap="round" stroke-linejoin="round">-->
<!--          <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--          <rect x="3" y="7" width="18" height="13" rx="2" />-->
<!--          <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />-->
<!--          <line x1="12" y1="12" x2="12" y2="12.01" />-->
<!--          <path d="M3 13a20 20 0 0 0 18 0" />-->
<!--        </svg>-->
        <%= image_tag 'iconfinder_location_job_seeker_employee_unemployee_work_2620495.png', class: 'w-8 h-8 mr-4' %>
        Training Space
      <% end %>
    </li>

<!--    <li>-->
      <%#= link_to live_course_index_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if controller_name == "live_course"}" do %>
<!--        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"-->
<!--             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"-->
<!--             stroke-linecap="round" stroke-linejoin="round">-->
<!--          <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--          <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />-->
<!--          <circle cx="12" cy="13" r="3" />-->
<!--        </svg>-->
<!--        Live course-->
      <%# end %>
<!--    </li>-->

    <li>
      <%= link_to main_app.salle_classe_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if action_name == "classes"}" do %>
<!--        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
<!--          <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--          <circle cx="7" cy="5" r="2" />-->
<!--          <path d="M5 22v-5l-1-1v-4a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4l-1 1v5" />-->
<!--          <circle cx="17" cy="5" r="2" />-->
<!--          <path d="M15 22v-4h-2l2 -6a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1l2 6h-2v4" />-->
<!--        </svg>-->
        <%= image_tag 'iconfinder_rotation_job_seeker_employee_unemployee_work_2620504.png', class: 'w-8 h-8 mr-4' %>
        Mes classes
      <% end %>
    </li>

<!--    <li>-->
      <%#= link_to apprenant_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200 #{"bg-gray-200" if action_name == "apprenants"}" do %>
        <%#= image_tag 'iconfinder_hierarchy_job_seeker_employee_unemployee_work_2620519.png', class: 'w-8 h-8 mr-4' %>
<!--        Apprenants-->
      <%# end %>
<!--    </li>-->

    <li>
      <%= link_to main_app.discuss_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-gray-700 hover:bg-gray-200 #{"bg-gray-200" if action_name == "discuss"}" do %>
        <?xml version="1.0" ?><svg height="63.999px" class="w-8 h-8 mr-4 opacity-50" id="Layer_1" style="enable-background:new 0 0 64.003 63.999;" version="1.1" viewBox="0 0 64.003 63.999" width="64.003px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Body_6_"><g><path d="M60,0H4C1.791,0,0,1.79,0,4v55.999c0,2.21,1.791,4,4,4h56c2.209,0,4-1.79,4-4V4    C64,1.79,62.209,0,60,0z" style="fill:#E6E6E6;"/></g></g><g id="Holes"><g><path d="M58,51.999c-1.104,0-2,0.896-2,2.001v3.999    c0,1.104,0.896,2,2,2s2-0.896,2-2V54C60,52.895,59.104,51.999,58,51.999z M50,51.999c-1.105,0-2,0.896-2,2.001v3.999    c0,1.104,0.895,2,2,2c1.104,0,2-0.896,2-2V54C52,52.895,51.104,51.999,50,51.999z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#CCCCCC;"/></g></g><g id="Viewer"><g><path d="M14,13.999H6c-1.104,0-2,0.896-2,2.001c0,1.104,0.896,1.999,2,1.999h8c1.104,0,2-0.896,2-1.999    C16,14.895,15.104,13.999,14,13.999z" style="fill:#666666;"/></g></g><g id="Blitz"><g><path d="M58,4h-8c-1.105,0-2,0.895-2,1.999v8C48,15.104,48.895,16,50,16h8c1.104,0,2-0.896,2-2.001v-8    C60,4.895,59.104,4,58,4z" style="fill:#AFC39E;"/></g></g><g id="Strip"><g><rect height="4" style="fill:#ED7161;" width="64.002" x="0.001" y="25.999"/></g></g><g id="Strip_3_"><g><rect height="4" style="fill:#FFCC66;" width="64.002" x="0.001" y="29.999"/></g></g><g id="Strip_2_"><g><rect height="4" style="fill:#88C057;" width="64.002" x="0.001" y="33.999"/></g></g><g id="Lens_6_"><g><circle cx="32" cy="32" r="16" style="fill:#B3B3B3;"/></g></g><g id="Lens_3_"><g><circle cx="32" cy="32" r="12" style="fill:#666666;"/></g></g><g id="Lens_4_"><g><circle cx="32" cy="32" r="4" style="fill:#333333;"/></g></g><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>
        Live teaching
      <% end %>
    </li>

    <li>
      <%= link_to main_app.planning_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-gray-700 hover:bg-gray-200 #{"bg-gray-200" if action_name == "planning"}" do %>
<!--        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
<!--          <path stroke="none" d="M0 0h24v24H0z"/>-->
<!--          <rect x="4" y="5" width="16" height="16" rx="2" />-->
<!--          <line x1="16" y1="3" x2="16" y2="7"></line>-->
<!--          <line x1="8" y1="3" x2="8" y2="7" />-->
<!--          <line x1="4" y1="11" x2="20" y2="11" />-->
<!--          <line x1="11" y1="15" x2="12" y2="15" />-->
<!--          <line x1="12" y1="15" x2="12" y2="18" />-->
<!--        </svg>-->
        <%= image_tag 'iconfinder_calendar_job_seeker_employee_unemployee_work_2620532.png', class: 'w-8 h-8 mr-4' %>
        Planning validation
      <% end %>
    </li>

    <li>
      <%= link_to main_app.blog_index_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-gray-700 hover:bg-gray-200 #{"bg-gray-200" if action_name == "blog_index"}" do %>
        <?xml version="1.0" ?><svg enable-background="new 0 0 24 24" class="w-8 h-8 mr-4 opacity-50" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><polygon fill="#339EAD" points="22,10 9,6 11,12 22,16  "/><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_1_" x1="8.4244356" x2="22.9327774" y1="7.2343025" y2="13.9996529"><stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.2"/><stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/></linearGradient><polygon fill="url(#SVGID_1_)" points="22,10 9,6 11,12 22,16  "/><polygon opacity="0.1" points="9,6 11,12 22,16 22,15.75 11,11.75  "/><polygon fill="#1991A3" points="2,0 8,2 8,24 2,22  "/><polygon fill="#008599" points="22,10 2,22 8,24 22,16  "/><polygon fill="#FFFFFF" opacity="0.2" points="2,0 2,0.25 8,2.25 8,2  "/><polygon fill="#FFFFFF" opacity="0.2" points="9,6 9.0928345,6.2785645 21.7245483,10.1652832 2,22 22,10.25 22,10  "/><polygon opacity="0.1" points="8,24 22,16 22,15.75 8,23.75 2.2678833,21.8392944 2,22  "/><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_2_" x1="-2.0604482" x2="20.4957829" y1="8.7076588" y2="19.2258034"><stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.2"/><stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/></linearGradient><polygon fill="url(#SVGID_2_)" points="9,6 11,12 15.7735596,13.7358398 8,18.4000244 8,2 2,0 2,22 8,24 22,16 22,10  "/></g><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>
        Blog
      <% end %>
    </li>

    <li>
      <%= link_to document_word_server_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-gray-700 hover:bg-gray-200 #{"bg-gray-200" if action_name == "blog_index"}" do %>
        <?xml version="1.0" ?><svg enable-background="new 0 0 24 24" class="w-8 h-8 mr-4 opacity-50" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M21,6l-6-6H5C3.8954306,0,3,0.8954305,3,2v20c0,1.1045704,0.8954306,2,2,2h14c1.1045704,0,2-0.8954296,2-2   V6z" fill="#5796FF"/><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_1_" x1="16.80896" x2="22.2063599" y1="4.2216797" y2="9.6190796"><stop offset="0" style="stop-color:#000000;stop-opacity:0.1"/><stop offset="1" style="stop-color:#000000;stop-opacity:0"/></linearGradient><path d="M17,6c-0.5444336,0-1.0367432-0.2190552-1.3973999-0.5719604L21,10.8254395V6H17z" fill="url(#SVGID_1_)"/><path d="M19,23.75H5c-1.1045532,0-2-0.8954468-2-2V22c0,1.1045532,0.8954468,2,2,2h14c1.1045532,0,2-0.8954468,2-2   v-0.25C21,22.8545532,20.1045532,23.75,19,23.75z" opacity="0.1"/><path d="M15,0v4c0,1.1045694,0.8954306,2,2,2h4L15,0z" fill="#A1C4FF"/><path d="M17,5.75c-1.1045532,0-2-0.8954468-2-2V4c0,1.1045532,0.8954468,2,2,2h4l-0.25-0.25H17z" opacity="0.1"/><g><g id="XMLID_1459_"><rect fill="#FFFFFF" height="1" width="8" x="8" y="11"/></g><g id="XMLID_1460_"><rect fill="#FFFFFF" height="1" width="8" x="8" y="13"/></g><g id="XMLID_1461_"><rect fill="#FFFFFF" height="1" width="8" x="8" y="15"/></g><g id="XMLID_1462_"><rect fill="#FFFFFF" height="1" width="4.5" x="8" y="17"/></g></g><path d="M15,0H5C3.8954468,0,3,0.8953857,3,2v0.25c0-1.1046143,0.8954468-2,2-2h10" fill="#FFFFFF" opacity="0.2"/><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_2_" x1="0.2100637" x2="22.9961185" y1="7.5385189" y2="18.1638298"><stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.2"/><stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/></linearGradient><path d="M21,6l-6-6H5C3.8954306,0,3,0.8954305,3,2v20c0,1.1045704,0.8954306,2,2,2h14   c1.1045704,0,2-0.8954296,2-2V6z" fill="url(#SVGID_2_)"/></g><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>
        Writer
      <% end %>
    </li>

    <li>
      <%= link_to document_calc_server_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-gray-700 hover:bg-gray-200 #{"bg-gray-200" if action_name == "blog_index"}" do %>
        <?xml version="1.0" ?><svg enable-background="new 0 0 24 24" class="w-8 h-8 mr-4 opacity-50" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M21,6l-6-6H5C3.8954306,0,3,0.8954305,3,2v20c0,1.1045704,0.8954306,2,2,2h14c1.1045704,0,2-0.8954296,2-2   V6z" fill="#19B870"/><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_1_" x1="16.80896" x2="22.2063599" y1="4.2216797" y2="9.6190796"><stop offset="0" style="stop-color:#000000;stop-opacity:0.1"/><stop offset="1" style="stop-color:#000000;stop-opacity:0"/></linearGradient><path d="M17,6c-0.5444336,0-1.0367432-0.2190552-1.3973999-0.5719604L21,10.8254395V6H17z" fill="url(#SVGID_1_)"/><path d="M19,23.75H5c-1.1045532,0-2-0.8954468-2-2V22c0,1.1045532,0.8954468,2,2,2h14c1.1045532,0,2-0.8954468,2-2   v-0.25C21,22.8545532,20.1045532,23.75,19,23.75z" opacity="0.1"/><path d="M15,0v4c0,1.1045694,0.8954306,2,2,2h4L15,0z" fill="#80D8B0"/><path d="M17,5.75c-1.1045532,0-2-0.8954468-2-2V4c0,1.1045532,0.8954468,2,2,2h4l-0.25-0.25H17z" opacity="0.1"/><path d="M15,0H5C3.8954468,0,3,0.8953857,3,2v0.25c0-1.1046143,0.8954468-2,2-2h10" fill="#FFFFFF" opacity="0.2"/><path d="M7,9v10h10V9H7z M16,12h-3.5v-2H16V12z M12.5,13H16v2h-3.5V13z M11.5,15H8v-2h3.5V15z M11.5,10v2H8v-2H11.5   z M8,16h3.5v2H8V16z M12.5,18v-2H16v2H12.5z" fill="#FFFFFF"/><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_2_" x1="0.2100637" x2="22.9961185" y1="7.5385189" y2="18.1638298"><stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.2"/><stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/></linearGradient><path d="M21,6l-6-6H5C3.8954306,0,3,0.8954305,3,2v20c0,1.1045704,0.8954306,2,2,2h14   c1.1045704,0,2-0.8954296,2-2V6z" fill="url(#SVGID_2_)"/></g><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>
        Calc
      <% end %>
    </li>

    <li>
      <%= link_to document_powerpoint_server_path, class: "mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-gray-700 hover:bg-gray-200 #{"bg-gray-200" if action_name == "blog_index"}" do %>
        <?xml version="1.0" ?><svg enable-background="new 0 0 24 24" class="w-8 h-8 mr-4 opacity-50" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><rect fill="#FFFFFF" height="17" width="11.5" x="12" y="3.5"/><path d="M23.5,21h-10c-0.2763672,0-0.5-0.2236328-0.5-0.5s0.2236328-0.5,0.5-0.5H23V4h-9.5   C13.2236328,4,13,3.7763672,13,3.5S13.2236328,3,13.5,3h10C23.7763672,3,24,3.2236328,24,3.5v17   C24,20.7763672,23.7763672,21,23.5,21z" fill="#CC5334"/><polygon fill="#CC5334" points="14,0 0,2.6086957 0,21.391304 14,24  "/><polygon fill="#FFFFFF" opacity="0.2" points="0,2.6087036 0,2.8587036 14,0.25 14,0  "/><polygon opacity="0.1" points="0,21.3912964 14,24 14,23.75 0,21.1412964  "/><path d="M16.5,6C14.5670166,6,13,7.5670166,13,9.5s1.5670166,3.5,3.5,3.5S20,11.4329834,20,9.5h-3.5V6z" fill="#CC5334"/><path d="M17.5,5v3.5H21C21,6.5670166,19.4329834,5,17.5,5z" fill="#CC5334"/><rect fill="#CC5334" height="1" width="8" x="13.5" y="14.5"/><rect fill="#CC5334" height="1" width="8" x="13.5" y="17.5"/><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_1_" x1="9.5" x2="23.3536377" y1="7.5" y2="21.3536377"><stop offset="0" style="stop-color:#000000;stop-opacity:0.1"/><stop offset="1" style="stop-color:#000000;stop-opacity:0"/></linearGradient><path d="M23.5,21c0.2763672,0,0.5-0.2236328,0.5-0.5V13L14,3v18H23.5z" fill="url(#SVGID_1_)"/><path d="M6.25,13.25H6.5c1.5166016,0,2.75-1.2333984,2.75-2.75S8.0166016,7.75,6.5,7.75H4.75v8.5535889   l1.5,0.1071167V13.25z M6.25,9.25H6.5c0.6894531,0,1.25,0.5605469,1.25,1.25s-0.5605469,1.25-1.25,1.25H6.25V9.25z" fill="#FFFFFF"/><linearGradient gradientTransform="matrix(60.9756088 0 0 60.9756088 20560.1210938 -26748.4140625)" gradientUnits="userSpaceOnUse" id="SVGID_2_" x1="-337.1860046" x2="-336.9563904" y1="438.8707886" y2="438.8707886"><stop offset="0" style="stop-color:#FFFFFF"/><stop offset="1" style="stop-color:#000000"/></linearGradient><path d="M14,0L0,2.6086957v18.782608L14,24V0z" fill="url(#SVGID_2_)" opacity="0.05"/><linearGradient gradientUnits="userSpaceOnUse" id="SVGID_3_" x1="-1.5634501" x2="25.0453987" y1="5.9615331" y2="18.369442"><stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.2"/><stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/></linearGradient><path d="M23.5,3H14V0L0,2.6087036v18.7825928L14,24v-3h9.5c0.2763672,0,0.5-0.2236328,0.5-0.5v-17   C24,3.2236328,23.7763672,3,23.5,3z" fill="url(#SVGID_3_)"/></g><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>
        Présentation
      <% end %>
    </li>


  </ul>

</div>