<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Apprenants
      <br/>
      <span class="text-indigo-600">Liste detaillée de vos apprenants.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to 'Démarrer une nouvelle session', "#", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>

<%= paginate @current_classes %>

<div class="flex flex-col mt-8">
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
      <table class="min-w-full" id="table">
        <thead>
        <tr>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Name
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Section
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Matricule
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Inscription
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50" colspan="2"></th>
        </tr>
        </thead>
        <tbody class="bg-white">
        <% SalleDeClass.where(structure_id: current_user.structure_id, id: @current_classes).each do |apprenant| %>
          lorem
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <%= image_tag 'student.png' %>
                </div>
                <div class="ml-4">
                  <div class="text-sm leading-5 font-medium text-gray-900"><%= apprenant.complete_name %></div>
                  <div class="text-sm leading-5 text-gray-500"><%= apprenant.matricule %></div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900"><%= apprenant.salle_de_class.cycle_ecole.name %></div>
              <div class="text-sm leading-5 text-gray-500"><%= apprenant.salle_de_class.name %></div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900"><%= apprenant.matricule %></div>
              <div class="text-sm leading-5 text-gray-500"><%= apprenant.sexe %></div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              <div class="text-sm leading-5 text-gray-500"><%= apprenant.created_at.strftime("%d %b %Y") %></div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">

              <%= link_to apprenant_details_path(id: apprenant.id), class: "text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline" do %>

                <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <circle cx="12" cy="12" r="2"/>
                  <path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2"/>
                  <path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2"/>
                </svg>

              <% end %>

            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>