<% if notice.present? %>
  <div class="-m-2 text-center mb-8" id="notice">

    <div class="p-2">
      <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-sm">
        <span class="inline-flex bg-purple-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Terminé!</span>
        <span class="inline-flex px-2">
          <%= notice %>
        </span>
      </div>
    </div>

  </div>
<% end %>

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Salles de classes
      <br/>
      <span class="text-indigo-600">& affectations.</span>
    </h2>
  </div>
</div>

<% if @classe.empty? %>

  <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

    <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

      <%= image_tag('iconfinder_storytelling-storyboard-scenario-script-screenplay_3993838.png', class: 'mr-4 opacity-50 mx-auto md:mx-0 md:mr-6 w-100 h-100', height: 100, width: 100) %>

      <div class="text-center md:text-left">
        <h2 class="text-lg mt-8">Vous ne semblez pas encore être affecté.</h2> <br>
        <%= link_to "Ecrire à l'administration?", new_message_path(admin_token: User.find_by_role_id(Role.find_by_name("admin").id).token), class: "hover:bg-transparent hover:text-indigo-500" %>
      </div>
    </div>

  </div>

<% else %>

  <div class="flex flex-col">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full">
          <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Salle de Classe
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Statistique apprenants
            </th>
          </tr>
          </thead>
          <tbody class="bg-white">
          <% @classe.each do |classe| %>
            <tr>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <% if current_user.structure.logo.attached? %>
                      <%= image_tag current_user.structure.logo, class: "h-10 w-10 rounded-full" %>
                    <% else %>
                      <%= image_tag 'logo.png', class: "h-10 w-10 rounded-full" %>
                    <% end %>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-medium text-gray-900 font-semibold"><%= classe.salle_de_class.name %></div>
                    <div class="text-sm leading-5 font-medium text-gray-900">
                      <div class="px-6 py-4">
                        <% TeacherClasse.where(user_id: current_user.id, salle_de_class_id: classe.id).each do |matiere| %>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                          <%= Matiere.find(matiere.id).name %>
                        </span>
                        <% end %>
                      </div>
                      <div class="text-sm leading-5 text-gray-500">
                        <%= classe.created_at.strftime("%d %b %Y") %>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= Student.where(salle_de_class_id: classe.id).count %>
                  Apprenant(s)
                </div>
                <div class="text-sm leading-5 text-gray-500"><%= User.where(salle_de_class_id: classe.id).count %>
                  Enseigneant(s)
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                <%= link_to "Accèder à la classe", inside_classe_path(token: classe.salle_de_class.token), class: "text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline hover:bg-transparent" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>