<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Discus
      <br/>
      <span class="text-indigo-600">enseignement en temps réel.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to 'Programmer une Live session', "#", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>

<% if @classe.empty? %>

  <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

    <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

      <%= image_tag('iconfinder_storytelling-storyboard-scenario-script-screenplay_3993838.png', class: 'mr-4 opacity-50 mx-auto md:mx-0 md:mr-6 w-100 h-100', height: 100, width: 100) %>

      <div class="text-center md:text-left">
        <h2 class="text-lg mt-8">Vous ne semblez pas encore être affecté.</h2> <br>
        <%= link_to "Ecrire à l'administration?", new_message_path(admin_token: User.find_by_role_id(Role.find_by_name("admin").id).token), class: "hover:bg-transparent hover:text-indigo-500" %>
      </div>
    </div>

  </div>

<% else %>

  <div class="flex flex-col">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full">
          <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Classe disponible
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Nombre apprenants
            </th>
          </tr>
          </thead>
          <tbody class="bg-white">
          <% @classe.each do |classe| %>
            <tr>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <%= image_tag 'logo.png', class: "h-10 w-10 rounded-full" %>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-medium text-gray-900 font-semibold"><%= classe.salle_de_class.name %></div>
                    <div class="text-sm leading-5 font-medium text-gray-900">
                      <div class="px-6 py-4">
                        <% TeacherClasse.where(user_id: current_user.id, salle_de_class_id: classe.id).each do |matiere| %>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                          <%= Matiere.find(matiere.id).name %>
                        </span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= Student.where(salle_de_class_id: classe.id).count %></div>
                <div class="text-sm leading-5 text-gray-500">Apprenants dispo.</div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                <%= link_to discus_chat_path(token: classe.salle_de_class.token, room: @room, etablissement: @etablissement), title: "Générer un lien de discussion", class: "inline-block text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline hover:bg-transparent" do %>
                  <svg class="mr-4 opacity-50 w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path>
                  </svg>
                <% end %>

                <%= link_to discus_chat_path(token: classe.salle_de_class.token), class: "inline-block text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline hover:bg-transparent" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="50" height="50"
                       viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                       stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"/>
                    <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"/>
                    <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"/>
                  </svg>
                <% end %>

                <%= link_to inside_classe_path(token: classe.salle_de_class.token), class: "inline-block text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline hover:bg-transparent" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="50" height="50"
                       viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                       stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"/>
                    <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2"/>
                    <circle cx="12" cy="13" r="3"/>
                  </svg>
                <% end %>

              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>