<div class="flex items-center justify-between mb-4">
  <h2 class="text-xl font-bold text-gray-800">Emploi du temps</h2>
  <a href="#" class="text-blue-600 hover:text-blue-500 font-medium">
    <%= link_to "Tout voir", planning_path, class: "hover:bg-transparent hover:text-indigo-500" %>
  </a>
</div>

<br>

<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<% if @time_table.empty? %>



<% else %>

  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
            <tr>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                date debut
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Date fin
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Filière
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                salle de classe
              </th>
              <th class="px-6 py-3 bg-gray-50" colspan="2"></th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <% @time_table.each do |time_table| %>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=256&amp;h=256&amp;q=60" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">
                        <%= time_table.periode_debut.to_date.strftime("%d %b %Y") %>
                      </div>
                      <% if Date.today > time_table.periode_fin.to_date %>
                        <div class="text-sm leading-5 text-red-500">
                          Emploi du temps périmé, invalide
                        </div>
                      <% else %>
                        <div class="text-sm leading-5 text-green-500">
                          Valide et en cours
                        </div>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900"><%= time_table.periode_fin.to_date.strftime("%d %b %Y") %></div>
                  <div class="text-sm leading-5 text-gray-500"><%= time_table.structure.name %></div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900"><%= time_table.filiere.name %></div>
                  <div class="text-sm leading-5 text-gray-500">Optimization</div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold">
                  <%= time_table.salle_de_class.name %>
                </span>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                  <% if Date.today > time_table.periode_fin.to_date %>

                  <% else %>
                    <%= link_to 'Show', time_table, class: "text-indigo-600 hover:text-indigo-900" %>
                  <% end %>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                  <%= link_to 'Supprimer', time_table, method: :delete, data: {confirm: 'Confirmer la suppression de cet emploi du temps?'}, class: "text-indigo-600 hover:text-indigo-900" %>
                </td>
              </tr>
            <% end %>

            <!-- More rows... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<% end %>

<div>
  <div class="flex items-center justify-between mb-8 mt-10">
    <h2 class="text-xl font-bold text-gray-800"><%= t('last_post', locale: :fr) %></h2>
    <%= link_to "Voir tous mes cours", courses_path, class: "text-blue-600 hover:text-blue-500 font-medium bg-transparent hover:bg-transparent hover:text-indigo-500" %>
  </div>

  <% if @current_course.count.zero? %>
    <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

      <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

        <%= image_tag('iconfinder_box-empty-play-button-video_3993859.png', class: 'mr-4 opacity-50 mx-auto md:mx-0 md:mr-6 w-100 h-100', height: 100, width: 100) %>

        <div class="text-center md:text-left">
          <h2 class="text-lg mt-8">Pas de leçons trouvées.</h2> <br>
          <%= link_to "Publier une nouvelle leçon?", documents_path, class: "hover:bg-transparent hover:text-indigo-500" %>
        </div>
      </div>

    </div>
  <% else %>

    <%= render 'layouts/course_template', courses: @current_course %>

  <% end %>
</div>

<div class="py-8">
  <div class="flex items-center justify-between mb-8 mt-10">
    <h2 class="text-xl font-bold text-gray-800">Babillard d'informations</h2>
    <%= link_to "Voir toutes les informations", "#", class: "text-blue-600 hover:text-blue-500 font-medium bg-transparent hover:bg-transparent hover:text-indigo-500" %>
  </div>

  <% if @local_news.empty? %>
    <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

      <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

        <%= image_tag('iconfinder_video-slides-layers-player-ui_3993849.png', class: 'mr-4 opacity-50 mx-auto md:mx-0 md:mr-6 w-100 h-100', height: 100, width: 100) %>

        <div class="text-center md:text-left">
          <h2 class="text-lg mt-8">Babillard vide pour le moment.</h2> <br>
        </div>
      </div>

    </div>
  <% else %>
    <div class="">
      <div class="">
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
          <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
            <table class="min-w-full leading-normal">
              <thead>
              <tr>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                  activite
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                  extrait
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                  date publication
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Statut</th>
              </tr>
              </thead>
              <tbody>
              <% @local_news.each do |news| %>
                <tr>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 w-10 h-10">
                        <%= image_tag 'info.png', class: "w-full h-full" %>
                      </div>
                      <div class="ml-3">
                        <p class="text-gray-900 whitespace-no-wrap">
                          <%= news.title %>
                        </p>
                      </div>
                    </div>
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                      <%= excerpt(news.extrait, '', radius: 20) %>
                    </p>
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                      <%= news.created_at.strftime("%d %b %Y") %>
                    </p>
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <span
                    class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                      <span aria-hidden
                            class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                      <span class="relative"><%= news.statut %></span>
                  </span>
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <span
                    class="relative inline-block px-3 py-1 font-semibold leading-tight">
                      <span aria-hidden class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                      <span class="relative"><%= link_to "Consulter", local_news_path(news), class: "hover:bg-transparent hover:text-indigo-500" %></span>
                  </span>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

