<% if notice.present? %>
  <div class="-m-2 text-center mb-8" id="notice">

    <div class="p-2">
      <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-sm">
        <span class="inline-flex bg-purple-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Terminé!</span>
        <span class="inline-flex px-2">
          <%= notice %>
        </span>
      </div>
    </div>

  </div>
<% end %>

<!-- This is an example component -->
<div>
  <%= render 'menu' %>

  <div class="bg-indigo-900 md:overflow-hidden">
    <div class="px-4 py-20 md:py-4">
      <div class="md:max-w-6xl md:mx-auto">
        <div class="md:flex md:flex-wrap">
          <div class="md:w-1/2 text-center md:text-left md:pt-16">
            <h1
              class="font-bold text-white text-2xl md:text-5xl leading-tight mb-4"
            >
              Plateforme digitale d'enseignement à distance.
            </h1>

            <p class="text-indigo-200 md:text-xl md:pr-38">
              NAL Online School est la plateforme d’enseignement à distance par excellence.
              Le groupe scolaire bilingue NAL (GSBNAL) et le complexe secondaire bilingue NAL (CSBNAL)
              invite leurs élèves et les parents d’élèves à suivre GRATUITEMENT à tout instant et en
              tout lieu les cours publiés sur la plateforme. <br>
              Il suffit d’avoir un téléphone, une tablette ou un ordinateur ainsi qu’une connexion Internet
            </p>

            <% if student_signed_in? %>
              <%= link_to "Acceder en tant que #{current_student.complete_name}", home_student_index_path, class: "mt-6 mb-12 md:mb-0 md:mt-10 inline-block py-3 px-8 text-white bg-red-500 hover:bg-red-600 rounded-lg shadow"%>
            <% elsif user_signed_in? %>
              <%= link_to "Accéder en tant que #{current_user.complete_name}", home_index_path, class: "mt-6 mb-12 md:mb-0 md:mt-10 inline-block py-3 px-8 text-white bg-red-500 hover:bg-red-600 rounded-lg shadow"%>
            <% else %>
              <%= link_to 'Je suis un étudiant', new_student_session_path, class: "mt-6 mb-12 md:mb-0 md:mt-10 inline-block py-3 px-8 text-white bg-red-500 hover:bg-red-600 rounded-lg shadow"%>
              <%= link_to 'Je suis un enseignant', new_user_session_path, class: "mt-6 mb-12 md:mb-0 md:mt-10 inline-block py-3 px-8 text-white bg-red-500 hover:bg-red-600 rounded-lg shadow"%>
            <% end %>
          </div>
          <div class="md:w-1/2 relative">
            <div class="hidden md:block">

              <div
                class="mt-10 w-full absolute right-0 top-0 flex rounded-lg bg-white overflow-hidden shadow-lg"
                style="transform: rotate(-8deg); margin-right: -250px; z-index: 1;"
              >
                <div class="w-32 bg-gray-200" style="height: 560px;"></div>
                <div class="flex-1 p-6">
                  <h2 class="text-lg text-gray-700 font-bold mb-3">
                    Cours populaire
                  </h2>
                  <div class="flex mb-5">
                    <div class="w-16 rounded-full bg-gray-100 py-2 px-4 mr-2">
                      <div class="p-1 rounded-full bg-gray-300"></div>
                    </div>
                    <div class="w-16 rounded-full bg-gray-100 py-2 px-4 mr-2">
                      <div class="p-1 rounded-full bg-gray-300"></div>
                    </div>
                    <div class="w-16 rounded-full bg-gray-100 py-2 px-4 mr-2">
                      <div class="p-1 rounded-full bg-gray-300"></div>
                    </div>
                    <div class="w-16 rounded-full bg-gray-100 py-2 px-4">
                      <div class="p-1 rounded-full bg-gray-300"></div>
                    </div>
                  </div>

                  <div class="flex flex-wrap -mx-4 mb-5">
                    <div class="w-1/3 px-4">
                      <div class="h-40 rounded-lg bg-white shadow-lg p-6">
                        <div
                          class="w-16 h-16 rounded-full bg-gray-200 mb-6"
                        ></div>
                        <div
                          class="h-2 w-16 bg-gray-200 mb-2 rounded-full"
                        ></div>
                        <div class="h-2 w-10 bg-gray-200 rounded-full"></div>
                      </div>
                    </div>
                    <div class="w-1/3 px-4">
                      <div class="h-40 rounded-lg bg-white shadow-lg p-6">
                        <div
                          class="w-16 h-16 rounded-full bg-gray-200 mb-6"
                        ></div>
                        <div
                          class="h-2 w-16 bg-gray-200 mb-2 rounded-full"
                        ></div>
                        <div class="h-2 w-10 bg-gray-200 rounded-full"></div>
                      </div>
                    </div>
                    <div class="w-1/3 px-4">
                      <div class="h-40 rounded-lg bg-white shadow-lg p-6">
                        <div
                          class="w-16 h-16 rounded-full bg-gray-200 mb-6"
                        ></div>
                        <div
                          class="h-2 w-16 bg-gray-200 mb-2 rounded-full"
                        ></div>
                        <div class="h-2 w-10 bg-gray-200 rounded-full"></div>
                      </div>
                    </div>
                  </div>

                  <h2 class="text-lg text-gray-700 font-bold mb-3">
                    Cours interactifs
                  </h2>

                  <div
                    class="w-full flex flex-wrap justify-between items-center border-b-2 border-gray-100 py-3"
                  >
                    <div class="w-1/3">
                      <div class="flex">
                        <div class="h-8 w-8 rounded bg-gray-200 mr-4"></div>
                        <div>
                          <div
                            class="h-2 w-16 bg-gray-200 mb-1 rounded-full"
                          ></div>
                          <div
                            class="h-2 w-10 bg-gray-100 rounded-full"
                          ></div>
                        </div>
                      </div>
                    </div>
                    <div class="w-1/3">
                      <div
                        class="w-16 rounded-full bg-green-100 py-2 px-4 mx-auto"
                      >
                        <div class="p-1 rounded-full bg-green-200"></div>
                      </div>
                    </div>
                    <div class="w-1/3">
                      <div
                        class="h-2 w-10 bg-gray-100 rounded-full mx-auto"
                      ></div>
                    </div>
                  </div>

                  <div
                    class="flex flex-wrap justify-between items-center border-b-2 border-gray-100 py-3"
                  >
                    <div class="w-1/3">
                      <div class="flex">
                        <div class="h-8 w-8 rounded bg-gray-200 mr-4"></div>
                        <div>
                          <div
                            class="h-2 w-16 bg-gray-200 mb-1 rounded-full"
                          ></div>
                          <div
                            class="h-2 w-10 bg-gray-100 rounded-full"
                          ></div>
                        </div>
                      </div>
                    </div>
                    <div class="w-1/3">
                      <div
                        class="w-16 rounded-full bg-orange-100 py-2 px-4 mx-auto"
                      >
                        <div class="p-1 rounded-full bg-orange-200"></div>
                      </div>
                    </div>
                    <div class="w-1/3">
                      <div
                        class="h-2 w-16 bg-gray-100 rounded-full mx-auto"
                      ></div>
                    </div>
                  </div>

                  <div
                    class="flex flex-wrap justify-between items-center border-b-2 border-gray-100 py-3"
                  >
                    <div class="w-1/3">
                      <div class="flex">
                        <div class="h-8 w-8 rounded bg-gray-200 mr-4"></div>
                        <div>
                          <div
                            class="h-2 w-16 bg-gray-200 mb-1 rounded-full"
                          ></div>
                          <div
                            class="h-2 w-10 bg-gray-100 rounded-full"
                          ></div>
                        </div>
                      </div>
                    </div>
                    <div class="w-1/3">
                      <div
                        class="w-16 rounded-full bg-blue-100 py-2 px-4 mx-auto"
                      >
                        <div class="p-1 rounded-full bg-blue-200"></div>
                      </div>
                    </div>
                    <div class="w-1/3">
                      <div
                        class="h-2 w-8 bg-gray-100 rounded-full mx-auto"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="w-full absolute left-0 bottom-0 ml-1"
                style="transform: rotate(-8deg); z-index: 1; margin-bottom: -360px;"
              >
                <div class="grid--gray h-48 w-48"></div>
              </div>
            </div>

            <div
              class="md:hidden w-full absolute right-0 top-0 flex rounded-lg bg-white overflow-hidden shadow"
            >
              <div
                class="h-4 bg-gray-200 absolute top-0 left-0 right-0 rounded-t-lg flex items-center"
              >
                  <span
                    class="h-2 w-2 rounded-full bg-red-500 inline-block mr-1 ml-2"
                  ></span>
                <span
                  class="h-2 w-2 rounded-full bg-orange-400 inline-block mr-1"
                ></span>
                <span
                  class="h-2 w-2 rounded-full bg-green-500 inline-block mr-1"
                ></span>
              </div>
              <div class="w-32 bg-gray-100 px-2 py-8" style="height: 340px;">
                <div class="h-2 w-16 bg-gray-300 rounded-full mb-4"></div>
                <div class="flex items-center mb-4">
                  <div
                    class="h-5 w-5 rounded-full bg-gray-300 mr-3 flex-shrink-0"
                  ></div>
                  <div>
                    <div class="h-2 w-10 bg-gray-300 rounded-full"></div>
                  </div>
                </div>

                <div class="h-2 w-16 bg-gray-200 rounded-full mb-2"></div>
                <div class="h-2 w-10 bg-gray-200 rounded-full mb-2"></div>
                <div class="h-2 w-20 bg-gray-200 rounded-full mb-2"></div>
                <div class="h-2 w-6 bg-gray-200 rounded-full mb-2"></div>
                <div class="h-2 w-16 bg-gray-200 rounded-full mb-2"></div>
                <div class="h-2 w-10 bg-gray-200 rounded-full mb-2"></div>
                <div class="h-2 w-20 bg-gray-200 rounded-full mb-2"></div>
                <div class="h-2 w-6 bg-gray-200 rounded-full mb-2"></div>
              </div>
              <div class="flex-1 px-4 py-8">
                <h2 class="text-xs text-gray-700 font-bold mb-1">
                  Popular Payments
                </h2>
                <div class="flex mb-5">
                  <div class="p-2 w-12 rounded-full bg-gray-100 mr-2"></div>
                  <div class="p-2 w-12 rounded-full bg-gray-100 mr-2"></div>
                  <div class="p-2 w-12 rounded-full bg-gray-100 mr-2"></div>
                  <div class="p-2 w-12 rounded-full bg-gray-100 mr-2"></div>
                </div>

                <div class="flex flex-wrap -mx-2 mb-5">
                  <div class="w-1/3 px-2">
                    <div class="p-3 rounded-lg bg-white shadow">
                      <div
                        class="w-6 h-6 rounded-full bg-gray-200 mb-2"
                      ></div>
                      <div
                        class="h-2 w-10 bg-gray-200 mb-1 rounded-full"
                      ></div>
                      <div class="h-2 w-6 bg-gray-200 rounded-full"></div>
                    </div>
                  </div>
                  <div class="w-1/3 px-2">
                    <div class="p-3 rounded-lg bg-white shadow">
                      <div
                        class="w-6 h-6 rounded-full bg-gray-200 mb-2"
                      ></div>
                      <div
                        class="h-2 w-10 bg-gray-200 mb-1 rounded-full"
                      ></div>
                      <div class="h-2 w-6 bg-gray-200 rounded-full"></div>
                    </div>
                  </div>
                  <div class="w-1/3 px-2">
                    <div class="p-3 rounded-lg bg-white shadow">
                      <div
                        class="w-6 h-6 rounded-full bg-gray-200 mb-2"
                      ></div>
                      <div
                        class="h-2 w-10 bg-gray-200 mb-1 rounded-full"
                      ></div>
                      <div class="h-2 w-6 bg-gray-200 rounded-full"></div>
                    </div>
                  </div>
                </div>

                <h2 class="text-xs text-gray-700 font-bold mb-1">
                  Popular Payments
                </h2>

                <div
                  class="w-full flex flex-wrap justify-between items-center border-b-2 border-gray-100 py-3"
                >
                  <div class="w-1/3">
                    <div class="flex">
                      <div
                        class="h-5 w-5 rounded-full bg-gray-200 mr-3 flex-shrink-0"
                      ></div>
                      <div>
                        <div
                          class="h-2 w-16 bg-gray-200 mb-1 rounded-full"
                        ></div>
                        <div class="h-2 w-10 bg-gray-100 rounded-full"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-1/3">
                    <div
                      class="w-16 rounded-full bg-green-100 py-2 px-4 mx-auto"
                    >
                      <div class="p-1 rounded-full bg-green-200"></div>
                    </div>
                  </div>
                  <div class="w-1/3">
                    <div
                      class="h-2 w-10 bg-gray-100 rounded-full mx-auto"
                    ></div>
                  </div>
                </div>

                <div class="flex flex-wrap justify-between items-center py-3">
                  <div class="w-1/3">
                    <div class="flex">
                      <div
                        class="h-5 w-5 rounded-full bg-gray-200 mr-3 flex-shrink-0"
                      ></div>
                      <div>
                        <div
                          class="h-2 w-16 bg-gray-200 mb-1 rounded-full"
                        ></div>
                        <div class="h-2 w-10 bg-gray-100 rounded-full"></div>
                      </div>
                    </div>
                  </div>
                  <div class="w-1/3">
                    <div
                      class="w-16 rounded-full bg-orange-100 py-2 px-4 mx-auto"
                    >
                      <div class="p-1 rounded-full bg-orange-200"></div>
                    </div>
                  </div>
                  <div class="w-1/3">
                    <div
                      class="h-2 w-16 bg-gray-100 rounded-full mx-auto"
                    ></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <svg
      class="fill-current text-white hidden md:block"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320" >
      <path fill-opacity="1" d="M0,224L1440,32L1440,320L0,320Z"></path>
    </svg>
  </div>
</div>
