<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>

<!-- Narrower side column -->
<div class="flex items-center justify-between mb-2">
  <div class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-5 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-2xl sm:leading-10">
        <span class="text-indigo-600">Cours récemments publiés.</span>
      </h2>
    </div>
  </div>

  <a href="#" class="text-blue-600 hover:text-blue-500 font-medium hover:bg-transparent hover:text-indigo-500">Tout
    voir</a>
</div>

<!-- Narrower side column -->
<!--<div class="">-->
<!--  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">-->
<!--    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">-->
<!--      <table class="min-w-full">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">-->
<!--            Titre&nbsp;cours-->
<!--          </th>-->
<!--          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">-->
<!--            Enseignant-->
<!--          </th>-->
<!--          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">-->
<!--            Tags-->
<!--          </th>-->
<!--          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody class="bg-white">-->
<%# @last_course.each do |content| %>
<!--          <tr>-->
<!--            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">-->
<!--              <div class="flex items-center">-->
<!--                <div class="flex-shrink-0 h-10 w-10">-->
<%#= image_tag 'course.png', style: 'h-10 w-10 rounded-full' %>
<!--                </div>-->
<!--                <div class="ml-4">-->
<!--                  <div class="text-sm leading-5 font-semibold text-gray-900"><%#= excerpt(content.chapter, '', radius: 20) %></div>-->
<!--                  <div class="text-sm leading-5 font-semibold text-gray-500"><%#= content.created_at.strftime("%d %b %Y") %></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </td>-->
<!--            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">-->
<!--              <div class="text-sm leading-5 text-gray-900"><%#= content.user.complete_name %></div>-->
<!--              <div class="text-sm leading-5 text-gray-500"><%#= content.matiere.name %></div>-->
<!--            </td>-->
<!--            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">-->
<!--              <span class="px-2 inline-flex text-xs leading-5 font-semibold text-green-800">-->
<%# if content.tag.nil? %>
<!--                  Aucun tags fournis-->
<%# else %>
<%# content.tag.split(',').each do |content| %>
<!--                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">-->
<%#= content %>
<!--                    </span>-->
<%# end %>
<%# end %>
<!--              </span>-->
<!--            </td>-->
<!--            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium hover:bg-indigo-100">-->
<%#= link_to "Consulter ce cours", read_course_path(cours_key: Document.find(content.document_id).file.find(content.file_id).key, id: Document.find(content.document_id).file.find(content.file_id).id, course_id: content.id), class: "text-indigo-600 hover:bg-transparent hover:text-indigo-900 focus:outline-none focus:underline" %>
<!--            </td>-->
<!--          </tr>-->
<%# end %>
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<% if @last_course.empty? %>

  <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

    <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

      <%= image_tag('iconfinder_video-slides-layers-player-ui_3993849.png', class: 'mr-4 opacity-50 mx-auto md:mx-0 md:mr-6 w-100 h-100', height: 100, width: 100) %>

      <div class="text-center md:text-left">
        <h2 class="text-lg mt-8">Aucuns enseignants pour le moment</h2> <br>
        <%= link_to "Importer des enseignant?", "#", class: "hover:bg-transparent hover:text-indigo-500" %>
      </div>
    </div>

  </div>

<% else %>

  <div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">

      <% @last_course.each do |content| %>

        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

          <!-- Article -->
          <article class="overflow-hidden rounded-lg shadow-lg">

            <%= link_to read_course_path(cours_key: Document.find(content.document_id).file.find(content.file_id).key, id: Document.find(content.document_id).file.find(content.file_id).id, course_id: content.id), class: "hover:bg-transparent hover:text-indigo-500" do %>
              <%= image_tag 'pdf.png', class: 'block h-auto w-full' %>
            <% end %>

            <header class="flex items-center justify-between leading-tight p-2 md:p-4">
              <h1 class="text-lg">
                <%= link_to content.chapter, read_course_path(cours_key: Document.find(content.document_id).file.find(content.file_id).key, id: Document.find(content.document_id).file.find(content.file_id).id, course_id: content.id), class: "hover:bg-transparent hover:text-indigo-500 no-underline hover:underline text-black" %>
              </h1>
              <p class="text-grey-darker text-sm">
                <%= content.created_at.strftime("%d %b %y") %>
              </p>
            </header>
            <footer class="flex items-center justify-between leading-none p-2 md:p-4">
              <%= link_to my_teacher_course_path(current_teacher: content.user_id), class: "hover:bg-transparent hover:text-indigo-500 flex items-center no-underline hover:underline text-black" do %>
                <%= image_tag 'teacher.png', class: "block rounded-full h-10 w-10" %>
                <p class="ml-2 text-sm">
                  <%= content.user.complete_name %>
                </p>
              <% end %>
              <a class="hover:bg-transparent hover:text-indigo-500 no-underline text-grey-darker hover:text-red-dark" href="#">
                <span class="hidden">Like</span>
                <i class="fa fa-heart"></i>
              </a>
            </footer>

          </article>
          <!-- END Article -->

        </div>
        <!-- END Column -->

      <% end %>

    </div>
  </div>

  <div class="bg-gray-50 mt-8">
    <div class="max-w-screen-xl mx-auto py-12 px-8 sm:px-6 lg:py-5 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-2xl sm:leading-10">
        <span class="text-indigo-600">Cours par matière.</span>
      </h2>
    </div>
  </div>

  <div class="">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full">
          <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Titre&nbsp;Matière
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Nombre de cours
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
          </tr>
          </thead>
          <tbody class="bg-white">
          <% @last_course.distinct.pluck(:matiere_id).uniq.each do |content| %>
            <tr>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <%= image_tag 'logo.png', style: 'h-10 w-10 rounded-full' %>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-semibold text-gray-900"><%= Matiere.find(content).name %></div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= Course.where(matiere_id: content, salle_de_class_id: current_student.salle_de_class_id).count %></div>
                <div class="text-sm leading-5 text-gray-500"></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium hover:bg-indigo-100">
                <%= link_to "Consulter les cours de cette matière", list_course_path(id: content, course_id: Course.find_by_matiere_id(content)), class: "text-indigo-600 hover:bg-transparent hover:text-indigo-900 focus:outline-none focus:underline" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>

<div class="py-8">
  <div class="flex items-center justify-between mb-8 mt-10">
    <h2 class="text-xl font-bold text-gray-800">Babillard</h2>
    <%= link_to "Voir toutes les informations", "#", class: "text-blue-600 hover:text-blue-500 font-medium bg-transparent" %>
  </div>


  <div class="">
    <div class="">
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
          <table class="min-w-full leading-normal">
            <thead>
            <tr>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                activite
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                extrait
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                date publication
              </th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Statut</th>
            </tr>
            </thead>
            <tbody>
            <% @local_news.each do |news| %>
              <tr>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 w-10 h-10">
                      <%= image_tag 'info.png', class: "w-full h-full" %>
                    </div>
                    <div class="ml-3">
                      <p class="text-gray-900 whitespace-no-wrap">
                        <%= news.title %>
                      </p>
                    </div>
                  </div>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">
                    <%= news.extrait %>
                  </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">
                    <%= news.created_at %>
                  </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <span
                    class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                      <span aria-hidden
                            class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                      <span class="relative"><%= news.statut %></span>
                  </span>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <span
                    class="relative inline-block px-3 py-1 font-semibold leading-tight">
                      <span aria-hidden
                            class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                      <span class="relative"><%= link_to "Consulter", local_news_path(news), class: "" %></span>
                  </span>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


