
<div class="relative pb-5 border-b border-gray-200 sm:pb-0 mt-4 mb-8">
  <div class="md:flex md:items-center md:justify-between">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      <%= @current_course.chapter %>
    </h3>
    <div class="mt-3 flex md:mt-0 md:absolute md:top-3 md:right-0">
      <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Share
      </button>
      <button type="button" class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Create
      </button>
    </div>
  </div>
  <div class="mt-4">
    <!-- Dropdown menu on small screens -->
    <div class="sm:hidden">
      <label for="selected-tab" class="sr-only">Select a tab</label>
      <select id="selected-tab" name="selected-tab" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">

        <option>Excercices</option>

        <option selected>Cours/leçon</option>

        <option>Synthèses</option>

      </select>
    </div>
    <!-- Tabs at small breakpoint and up -->
    <div class="hidden sm:block">
      <nav class="-mb-px flex space-x-8">

        <a href="/course/exercice?course_key=<%= params[:cours_key] %>&course_id=<%= params[:course_id] %>" class="whitespace-nowrap pb-4 px-1 border-b-2 border-transparent font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300">
          Excercices
        </a>

        <a href="/course/read_course?course_key=<%= params[:cours_key] %>&course_id=<%= params[:course_id] %>" class="whitespace-nowrap pb-4 px-1 border-b-2 border-indigo-500 font-medium text-sm text-indigo-600" aria-current="page">
          Cours/leçon
        </a>

        <a href="/course/synthese?course_key=<%= params[:cours_key] %>&course_id=<%= params[:course_id] %>" class="whitespace-nowrap pb-4 px-1 border-b-2 border-transparent font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300">
          Synthèses
        </a>

      </nav>
    </div>
  </div>
</div>

<div class="flex items-center justify-between mb-4">
  <h2 class="text-xl font-bold text-gray-800">
    <p class="mt-4">Publié le <%= @current_course.created_at.strftime("%d %b %Y") %> par Mr/Mme <%= @current_course.user.complete_name %></p>
  </h2>
</div>

<%#= render 'layouts/student/navbar_internal' %>

  <div class="mt-3 mr-3">
    <% if @current_file.video? %>
      <%= video_tag url_for(@current_file), controls: true, id: 'player' %>
    <% elsif @current_file.audio? %>
      <%= audio_tag url_for(@current_file), controls: true, id: 'player' %>
    <% elsif @current_file.image? %>
      <%= image_tag(@current_file, size: '512x512', class: 'shadow') %>
    <% elsif @current_file.content_type.end_with?("pdf") %>
      <object data="<%= rails_blob_path(@current_file) %>" height="1024" width="100%"></object>
      <%#= link_to(image_tag(@current_file.preview(resize: "1024x1024")), rails_blob_path(@current_file, disposition: "inline")) %>
    <% elsif @current_file.content_type.end_with?('vnd.openxmlformats-officedocument.wordprocessingml.document')%>
      <%= link_to image_tag(@current_file.preview(resize: '1000x1000')), rails_blob_path(@current_file, disposition: "attachement") %>
    <% elsif @current_file.content_type.end_with?('vnd.openxmlformats-officedocument.spreadsheetml.sheet')%>
      <%= link_to image_tag(@current_file.preview(resize: '600x600')), nil %>
    <% end %>
    <br>
    <%= link_to "Télécharger", rails_blob_path(Document.find(@current_course.document_id).file.find(@current_course.file_id), disposition: 'attachement'), class: "mt-8 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<br>

<!-- This example requires Tailwind CSS v2.0+ -->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Laissez un message
  </h3>
  <p class="mt-1 text-sm text-gray-500">
    Vous avez des questions?, des difficultés? ou alors besoin d'aide ou d'informations supplementaires.
  </p>
</div>


<%= form_with(url: student_comment_path) do |form| %>
  <%= form.hidden_field :student_id, value: current_student.id %>
  <%= form.hidden_field :user_id, value: @current_course.user_id %>
  <%= form.hidden_field :course_key, value: params[:course_key] %>
  <%= form.hidden_field :course_id, value: params[:course_id] %>
  <%= form.hidden_field :id, value: params[:id] %>
  <%= form.rich_text_area :content %>
  <br>
  <%= form.submit "Soumettre le commentaire", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>

<% end %>
<br>
<hr>
<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Autres cours publiés par
      <br />
      <span class="text-indigo-600"><%= @current_course.user.complete_name %>.</span>
    </h2>
  </div>
</div>
<br>
<% @teacher_course = Course.where(user_id: @current_course.user_id).limit(8) %>
<% if @teacher_course.nil? %>
  <p class="text-center text-gray-600 font-semibold">Aucun cours produit par cet enseignant</p>
<% else %>
  <div class="grid grid-cols-4 gap-4 mb-4">
    <% @teacher_course.each do |cours| %>
      <div class="bg-white overflow-hidden border-b-4 border-blue-500 shadow-md hover:shadow-lg">
        <% if cours.file.nil? %>
          Aucune publication trouvée
        <% else %>
          <% docs = Document.find(cours.document_id).file.find(cours.file_id) %>
          <% if docs.previewable? %>
            <%= link_to(image_tag(docs.preview(resize: '500x200')), read_course_path(cours_key: Document.find(cours.document_id).file.find(cours.file_id).key, id: Document.find(cours.document_id).file.find(cours.file_id).id, course_id: cours.id), class: "object-cover w-full h-32 sm:h-48 md:h-64") %>
          <% elsif docs.variable? %>
            <%= link_to(image_tag(docs.variant(resize: '500x200')), read_course_path(cours_key: Document.find(cours.document_id).file.find(cours.file_id).key, id: Document.find(cours.document_id).file.find(cours.file_id).id, course_id: cours.id), class: "object-cover w-full h-32 sm:h-48 md:h-64") %>
          <% else %>
            <%= link_to(image_tag('course.png'), read_course_path(cours_key: Document.find(cours.document_id).file.find(cours.file_id).key, id: Document.find(cours.document_id).file.find(cours.file_id).id, course_id: cours.id), class: "object-cover  w-full h-32 sm:h-48 md:h-64") %>
          <% end %>
        <% end %>
        <div class="p-4 md:p-6">
          <p class="text-blue-500 font-semibold text-xs mb-1 leading-none"><%= cours.categorie.nil? ? "Aucune catégorie" : cours.categorie.upcase %></p>
          <h3 class="font-semibold mb-2 text-xl leading-tight sm:leading-normal"><%= cours.chapter %></h3>
          <div class="text-sm flex items-center">
            <svg class="opacity-75 mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="12" height="12" viewBox="0 0 97.16 97.16" style="enable-background:new 0 0 97.16 97.16;" xml:space="preserve">
              <path d="M48.58,0C21.793,0,0,21.793,0,48.58s21.793,48.58,48.58,48.58s48.58-21.793,48.58-48.58S75.367,0,48.58,0z M48.58,86.823    c-21.087,0-38.244-17.155-38.244-38.243S27.493,10.337,48.58,10.337S86.824,27.492,86.824,48.58S69.667,86.823,48.58,86.823z"/>
              <path d="M73.898,47.08H52.066V20.83c0-2.209-1.791-4-4-4c-2.209,0-4,1.791-4,4v30.25c0,2.209,1.791,4,4,4h25.832    c2.209,0,4-1.791,4-4S76.107,47.08,73.898,47.08z"/>
            </svg>
            <p class="leading-none">
              Publié le : <%= cours.created_at.strftime("%d %b %Y") %> <br>
              Par : <%= cours.user.complete_name %> <br>
              classe : <%= cours.salle_de_class.name %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>