<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Corrigé epreuve
      <br />
      <span class="text-indigo-600">de <%= @epreuve_response.title %> en <%= @epreuve_response.matiere.name %></span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="ml-3 inline-flex rounded-md shadow">
        <%= link_to "retourner à l'epreuve", read_epreuve_path(token: @epreuve_response.token), class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>

<%= form_with(url: read_response_path, html: {class: "w-full"}) do |form| %>
  <!-- current user -->
  <%= form.hidden_field :current_student, value: current_student.id %>
  <%= form.hidden_field :epreuve_token, value: params[:token] %>

  <!-- form beginning -->
  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
    Fichier de votre travail
  </label>
  <%= form.file_field :fichier, accept: "application/pdf", class: "mb-4 appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white", required: true %>

<!--    <div class="flex flex-wrap -mx-3 mb-6">-->
<!--      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">-->
<!--        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">-->
<!--          First Name-->
<!--        </label>-->
<!--        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane">-->
<!--        <p class="text-red-500 text-xs italic">Please fill out this field.</p>-->
<!--      </div>-->
<!--      <div class="w-full md:w-1/2 px-3">-->
<!--        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">-->
<!--          Last Name-->
<!--        </label>-->
<!--        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Doe">-->
<!--      </div>-->
<!--    </div>-->
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
          Informations supplémentaires
        </label>
        <%= form.text_area :description, rows: 12, cols: 50, placeholder: "Ajouter des informations supplémentaires si necessaires ...", class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
        <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>

        <p class="font-bold mt-10 mb-10 text-red-400">
          Note : Après validation de votre document, vous recevrer le lien du document contenant la réponse par SMS à votre numéro de téléphone <%= current_student.phone.nil? ? "Pas de numéro fournis" : current_student.phone %>.
        </p>

        <%= form.submit "Soumettre ma réponse", class: "font-semibold rounded-md px-10 py-4 text-white bg-indigo-600 mt-4 hover:shadow-lg" %>
      </div>
    </div>
<% end %>

<!--<object data="<%#= rails_blob_path(@epreuve_response.response) %>" type="" height="1000" width="100%"></object>-->
