<div class="flex">
  <% @students.each do |students| %>
    <div class="bg-white my-12 pb-6 w-full flex-1 justify-center items-center overflow-hidden md:max-w-sm rounded-lg shadow-sm mx-auto">
      <div class="relative h-40">
        <%= image_tag 'student.png', class: "absolute h-full w-full object-cover" %>
        <%= image_tag 'abstract.jpg', class: 'absolute h-full w-full object-cover' %>
      </div>
      <div class="relative shadow mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
        <%= image_tag 'student.png', class: "object-cover w-full h-full" %>
      </div>
      <div class="mt-16">
        <h1 class="text-lg text-center font-semibold">
          <%= students.complete_name %>
        </h1>
        <p class="text-sm text-gray-600 text-center">
          13 connections cette journée
        </p>
      </div>
      <div class="mt-6 pt-3 flex flex-wrap mx-6 border-t">
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          Chatter
        </div>
        <%= link_to "soumettre un problème", new_probleme_path, class: 'text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default' %>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          demander une assistance
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          Message
        </div>
      </div>
    </div>
  <% end %>
</div>
