<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Apreçu
      <br/>
      <span class="text-indigo-600">d'un document importé.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to 'Joindre ce document à un cours', join_to_course_path(document_id: params[:document_id], current_file_id: params[:file_id]), class: 'inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out' %>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <%= link_to "Précédent", :back, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>

  <% if @current_file.video? %>
    <%= video_tag url_for(@current_file), controls: true, id: "player", class: 'shadow' %>
  <% elsif @current_file.audio? %>
    <%= video_tag url_for(@current_file), controls: true, id: "player", class: 'shadow' %>
  <% elsif @current_file.image? %>
    <%= image_tag @current_file.preview(resize: "1024x1024") %>
  <% elsif @current_file.content_type.end_with?("pdf") %>
  <object data="<%= rails_blob_path(@current_file) %>" type="<%= @current_file.content_type %>" height="1000" width="100%"></object>
  <% else %>
    <%= image_tag @current_file.preview(resize: "1024x1024") %>
    <%= link_to "Télécharger ce document", rails_blob_path(@current_file, disposition: "attachment") %>
  <% end %>