<p id="notice"><%= notice %></p>

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Documents importés
      <br />
      <span class="text-indigo-600">Documents recements importés</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to 'Editer', edit_document_path(@document), class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <%= link_to 'Retour', documents_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col">
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
      <table class="min-w-full">
        <thead>
        <tr>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Fichiers
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Date import
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Statut
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
        </tr>
        </thead>
        <tbody class="bg-white">
        <% @document.file.each do |document| %>
          <% if document.variable? %>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-30 w-30">
                    <% if document.content_type.start_with?("application") %>
                      <%= image_tag 'pdf.png', size: '100x100' %>
                    <% elsif document.image? %>
                      <%= image_tag 'photo.png', size: '100x100' %>
                    <% elsif document.video? %>
                      <%= image_tag 'video.png', size: '100x100' %>
                    <% elsif document.audio? %>
                      <%= image_tag 'audio.png', size: '100x100' %>
                    <% end %>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-medium text-gray-900"><%= document.filename %></div>
                    <div class="text-sm leading-5 text-gray-500"><%= document.content_type %></div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= document.created_at.strftime("%d %b %Y") %></div>
                <div class="text-sm leading-5 text-gray-500"><%= document.created_at.strftime("%H:%M") %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                Active
              </span>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                <%= link_to "Prévisualiser", preview_course_path(document_id: params[:id], file_id: document), class: "text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline" %>
              </td>
              <% if current_user.role.name == 'teacher' %>
                <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                  <%= link_to "Joindre à un cours", join_to_course_path(document_id: @document.id, current_file_id: document.id), class: "text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline" %>
                </td>
              <% end %>
            </tr>
          <% elsif document.previewable? %>
            <tr>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-30 w-30">
                    <% if document.content_type.start_with?("application") %>
                      <%= image_tag 'pdf.png', size: '100x100' %>
                    <% elsif document.image? %>
                      <%= image_tag 'photo.png', size: '100x100' %>
                    <% elsif document.video? %>
                      <%= image_tag 'video.png', size: '100x100' %>
                    <% elsif document.audio? %>
                      <%= image_tag 'audio.png', size: '100x100' %>
                    <% else %>
                      <%= image_tag 'course.png', size: '100x100' %>
                    <% end %>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-medium text-gray-900"><%= document.filename %></div>
                    <div class="text-sm leading-5 text-gray-500"><%= excerpt(document.content_type, '', radius: 30) %></div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= document.created_at.strftime("%d %b %Y") %></div>
                <div class="text-sm leading-5 text-gray-500"></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                Active
              </span>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                <%= link_to "Prévisualiser", preview_course_path(document_id: params[:id], file_id: document), class: "hover:bg-transparent text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline" %>
              </td>
              <% if current_user.role.name == 'teacher' %>
                <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                  <%= link_to "Joindre à un cours", join_to_course_path(document_id: @document.id, current_file_id: document.id), class: "hover:bg-transparent text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--<%#= link_to 'Edit', edit_document_path(@document) %> |-->
<%#= link_to 'Back', documents_path %>
