<%= form_with(model: teacher_class, local: true) do |form| %>
  <% if teacher_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher_class.errors.count, "error") %> prohibited this teacher_class from being saved:</h2>

      <ul>
        <% teacher_class.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :structure_id, value: current_user.structure_id %>

  <div class="p-10 bg-white shadow">

    <div class="flex flex-wrap -mx-3 mb-6">

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
        <%= form.label 'Enseignant' %>
      </label>
      <%= form.collection_select(:user_id, User.where(role_id: Role.find_by_name('teacher'), structure_id: current_user.structure.id), :id, :name, {prompt: "Selectionner un enseignant"}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
      <p class="text-gray-500 text-xs italic">Selectionner un enseignant</p>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
        <%= form.label :salle_de_class_id %>
      </label>
      <%= form.collection_select(:salle_de_class_id, SalleDeClass.where(structure_id: current_user.structure.id), :id, :name, {prompt: "Selectionner une classe"}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
      <p class="text-gray-500 text-xs italic">Selectionner une salle de classe</p>
    </div>

    </div>

<!--    <div class="field">-->
      <%#= form.label 'Enseignant' %>
      <%#= form.collection_select(:user_id, User.where(role_id: Role.find_by_name('teacher'), structure_id: current_user.structure.id), :id, :name, {prompt: "Selectionner un enseignant"}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
<!--    </div>-->

<!--    <div class="field">-->
      <%#= form.label :salle_de_class_id %>
      <%#= form.collection_select(:salle_de_class_id, SalleDeClass.where(structure_id: current_user.structure.id), :id, :name, {prompt: "Selectionner une classe"}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
<!--    </div>-->

    <div class="field flex inline-block flex-wrap">
      <%= form.label 'Matières' %>
      <br>
      <br>
      <%#= form.collection_select(:matiere_id, Matiere.where(structure_id: current_user.structure.id), :id, :name, {prompt: "Selectionner une matière"}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>

      <%= form.collection_check_boxes(:matiere_id, Matiere.where(structure_id: current_user.structure.id).group(:id).distinct, :id, :matiere_with_initial) do |b| %>
        <%= b.label(class: "my-#{ b.object.class.name.parameterize } p-2 flex inline-block text-black", 'data-value': b.value) { b.check_box(class: "mr-2") + b.text } %>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit "Valider l'affectation", class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" %>
    </div>

  </div>

<% end %>

<script type="text/javascript" charset="utf-8">
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
        console.log("loaded ...!");
        $('#teacher_classe_user_id').select2();
        $('#teacher_classe_salle_de_class_id').select2();
    });
</script>
