<% if notice.present? %>
  <div class="-m-2 text-center mb-8" id="notice">

    <div class="p-2">
      <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-sm">
        <span class="inline-flex bg-purple-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Terminé!</span>
        <span class="inline-flex px-2">
          <%= notice %>
        </span>
      </div>
    </div>

  </div>
<% end %>

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Détails des affectations de
      <br />
      <span class="text-indigo-600"><%= @current_user.complete_name %></span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Ajouter une affectation", "#", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <%= link_to "Précedent", :back, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>


<% if @teacher_classes.empty? %>

  <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

    <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

      <%= image_tag('iconfinder_video-slides-layers-player-ui_3993849.png', class: 'mr-4 opacity-50 mx-auto md:mx-0 md:mr-6 w-100 h-100', height: 100, width: 100) %>

      <div class="text-center md:text-left">
        <h2 class="text-lg mt-8">Aucune affectation pour le moment.</h2> <br>
        <%= link_to "Nouvelle affectation?", new_teacher_class_path, class: "hover:bg-transparent hover:text-indigo-500" %>
      </div>
    </div>

  </div>

<% else %>

  <div class="flex flex-col">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full">
          <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Salle de Classe
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Matière
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50" colspan="2"></th>
          </tr>
          </thead>
          <tbody class="bg-white">
          <% @teacher_classes.each do |teacher_class| %>
            <tr>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <%= image_tag 'teacher.png', class: "h-10 w-10 rounded-full" %>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 text-gray-900"><%= teacher_class.salle_de_class.name %></div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="text-sm leading-5 text-gray-900"><%= teacher_class.matiere.name %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                <%= link_to "Modifier", delete_affectation_path(id: teacher_class.id), class: "hover:bg-transparent text-indigo-600 hover:text-indigo-900" %>
                <%= link_to "Supprimer", delete_affectation_path(id: teacher_class.id, token: params[:token]), method: :delete, data: {confirm: "Supprimer cet affectation?"}, class: "hover:bg-transparent text-indigo-600 hover:text-indigo-900" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>
