<p id="notice"><%= notice %></p>

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Affectation des
      <br/>
      <span class="text-indigo-600">enseignants</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to 'Nouvelle affectation', new_teacher_class_path(token: params[:token]), class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>

<br>
<%= form_with(url: importation_path) do |form| %>
  <%= form.file_field :file, class: "w-full shadow-inner p-4 border-0 bg-white mb-4" %>
  <span class="sm:ml-3 shadow-sm rounded-md mt-8">
    <%= form.submit "Importer des affectations", class: "inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out" %>
    </span>
<% end %>
<br>
<br>
<hr>

<% if @teacher_classes.empty? %>

  <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

    <div class="md:flex bg-transparent rounded-lg p-6 text-center justify-center">

      <%= image_tag('iconfinder_video-slides-layers-player-ui_3993849.png', class: 'mr-4 opacity-50 mx-auto md:mx-0 md:mr-6 w-100 h-100', height: 100, width: 100) %>

      <div class="text-center md:text-left">
        <h2 class="text-lg mt-8">Aucune affectation pour le moment.</h2> <br>
        <%= link_to "Nouvelle affectation?", new_teacher_class_path, class: "hover:bg-transparent hover:text-indigo-500" %>
      </div>
    </div>

  </div>

<% else %>

  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Rechercher ...", class="w-full shadow-inner p-4 border-0 mb-8 bg-white-900">
  <br>

  <div class="flex flex-col">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full" id="myTable">
          <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Enseignant
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Salle de classe
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Matières
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Details
            </th>
          </tr>
          </thead>
          <tbody class="bg-white">
          <% @teacher_classes.each do |teacher_class| %>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <%= image_tag 'teacher.png', class: "h-10 w-10 rounded-full" %>
                </div>
                <div class="ml-4">
                  <div class="text-sm leading-5 font-medium text-gray-900"><%= teacher_class.user.complete_name %></div>
                  <div class="text-sm leading-5 text-gray-500"><%= teacher_class.user.matricule %></div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900"><%= teacher_class.salle_de_class.name %></div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900"><%= teacher_class.matiere.name %></div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-500">
                <%= link_to "Details affectations", affectation_details_path(token: User.find(teacher_class.user_id).token), class: 'hover:bg-transparent hover:text-indigo-500' %>
              </div>
            </td>
          </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>


<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>User</th>-->
<!--    <th>Salle de class</th>-->
<!--    <th>Matiere</th>-->
<!--    <th colspan="3"></th>-->
<!--  </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
  <%# @teacher_classes.each do |teacher_class| %>
<!--    <tr>-->
<!--      <td><%#= teacher_class.user.complete_name %></td>-->
<!--      <td><%#= teacher_class.salle_de_class.name %></td>-->
<!--      <td><%#= teacher_class.matiere.name %></td>-->
<!--      <td><%#= link_to 'Show', teacher_class %></td>-->
<!--      <td><%#= link_to 'Edit', edit_teacher_class_path(teacher_class) %></td>-->
<!--      <td><%#= link_to 'Destroy', teacher_class, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
<!--    </tr>-->
  <%# end %>
<!--  </tbody>-->
<!--</table>-->

<script !src="">
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>