<%= form_with(model: salle_de_class, local: true) do |form| %>
  <% if salle_de_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salle_de_class.errors.count, "error") %> prohibited this salle_de_class from being saved:</h2>

      <ul>
        <% salle_de_class.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :structure_id, value: current_user.structure_id %>

  <div class="ml-3 inline-flex rounded-md shadow">
    <%= form.submit "Enregistrer une nouvelle salle de classe", class: 'inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out' %>
  </div>

  <!-- component -->
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
          Nom de la salle de classe
        </label>
        <%= form.text_field :name, placeholder: 'Nom salle de classe', class: 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3' %>
        <p class="text-red text-xs italic">Libellé de la salle de classe.</p>
      </div>
      <div class="md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
          Effectif de la salle de classe
        </label>
        <%= form.number_field :effectif, placeholder: 'Effectif salle de classe', class: 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4' %>
      </div>
    </div>
    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-full px-3">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-password">
          Cycle de la salle de classe
        </label>
        <%= form.collection_select(:cycle_ecole_id, CycleEcole.all, :id, :name, {:include_blank => "Selectionner un cycle (francophone/Anglophone)"}, {class: 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3'}) %>
        <p class="text-grey-dark text-xs italic">Anglophone, Francophone ou bilingue</p>
      </div>
    </div>
    <p class="text-2xl mt-8 mb-8">
      Importer un fichier de salle de classe
    </p>
    <div class="-mx-3 md:flex mb-2">
      <div class="md:w-1/2 px-3 mb-6 md:mb-0">
        <%= form_with(url: import_gsbnal_data_path) do |form| %>
          <%= form.file_field :file, accept: 'text/csv', class: 'block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded' %>
          <%= form.submit "Importer & enregistrer", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
