<p id="notice"><%= notice %></p>

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Cycle
      <br />
      <span class="text-indigo-600">de l'établissement.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">

    </div>
  </div>
</div>

<div class="flex flex-col">
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
      <table class="min-w-full" id="table">
        <thead>
        <tr>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Name
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Title
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Status
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50" colspan="3"></th>
        </tr>
        </thead>
        <tbody class="bg-white">
        <% @cycle_ecoles.each do |cycle_ecole| %>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <%= image_tag 'logo.png', class: 'h-10 w-10 rounded-full' %>
                </div>
                <div class="ml-4">
                  <div class="text-sm leading-5 font-medium text-gray-900"><%= cycle_ecole.name %></div>
                  <div class="text-sm leading-5 text-gray-500"><%= cycle_ecole.code %></div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900"><%= cycle_ecole.structure.name%></div>
              <div class="text-sm leading-5 text-gray-500">Human Resources</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                Active
              </span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <%= link_to 'Affichier', cycle_ecole %>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <%= link_to 'Editer', edit_cycle_ecole_path(cycle_ecole) %>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <%= link_to 'Supprimer', cycle_ecole, method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Cycle Ecole', new_cycle_ecole_path, class: 'bg-blue-500 hover:bg-blue-700 hover:text-white text-white font-bold py-2 px-4 rounded' %>


<script type="text/javascript" charset="utf-8">
    $(document).ready( function () {
        $('#table').DataTable();
    } );
</script>