<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cycle_ecole.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @cycle_ecole.code %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @cycle_ecole.detail %>
</p>

<p>
  <strong>Structure:</strong>
  <%= @cycle_ecole.structure_id %>
</p>

<%= link_to 'Edit', edit_cycle_ecole_path(@cycle_ecole) %> |
<%= link_to 'Back', cycle_ecoles_path %>
