<p id="notice"><%= notice %></p>

<h1>Local News</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Extrait</th>
      <th>Statut</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @local_news.each do |local_news| %>
      <tr>
        <td><%= local_news.title %></td>
        <td><%= local_news.extrait %></td>
        <td><%= local_news.statut %></td>
        <td><%= link_to 'Show', local_news %></td>
        <td><%= link_to 'Edit', edit_local_news_path(local_news) %></td>
        <td><%= link_to 'Destroy', local_news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Local News', new_local_news_path %>
