<%= form_with(model: probleme, local: true) do |form| %>
  <% if probleme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(probleme.errors.count, "error") %> prohibited this probleme from being saved:</h2>

      <ul>
        <% probleme.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if student_signed_in? %>
  <%= form.hidden_field :student_id, value: current_student.id %>
<% elsif user_signed_in? %>
    <%= form.hidden_field :student_id, value: current_user.id %>
<% end %>

  <div class="field">
    <%= form.label 'Libellé du problème', class: 'text-md mb-4 mt-8 font-semibold' %>
    <%= form.text_field :title, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' %>
  </div>

  <div class="field">
    <%= form.label "Description de votre problème", class: 'text-md mb-4 mt-8 font-semibold' %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit 'Soumettre ce problème', class: 'bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded' %>
  </div>
<% end %>
