<%= form_with(model: epreufe, local: true) do |form| %>
  <% if epreufe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(epreufe.errors.count, "error") %> prohibited this epreufe from being saved:</h2>

      <ul>
        <% epreufe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
          Titre de l'epreuve
        </label>
        <%= form.text_field :title, class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" %>
        <p class="text-red text-xs italic">Decrire clairement l'epreuve.</p>
      </div>
      <div class="md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
          Matière de l'epreuve
        </label>
        <%= form.collection_select(:matiere_id, TeacherClasse.where(user_id: current_user.id), :id, :name_with_initial, {prompt: "Selectionner une matière..."}, {class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"}) %>
      </div>
    </div>

    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
          Salle de classe
        </label>
        <%= form.collection_select(:salle_de_class_id, TeacherClasse.where(user_id: current_user.id), :salle_de_class_id, :class_with_initial, {prompt: "Selectionner une salle de classe..."}, {class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"}) %>
      </div>

      <div class="md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
          Filière
        </label>
        <%= form.collection_select(:filiere_id, Filiere.all, :id, :name, {prompt: "Selectionner une filiere..."}, {class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"}) %>
      </div>

    </div>

    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
          document corrigé epreuve
        </label>
        <%= form.file_field :response, accept: 'application/pdf', class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4" %>
      </div>
      <div class="md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
          Document épreuve
        </label>
        <%= form.file_field :file, accept: 'application/pdf', class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4" %>
      </div>
    </div>

  </div>

  <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
    <div class="inline-flex rounded-md shadow">
      <%= form.submit 'Enregistrer', class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
    </div>
    <div class="ml-3 inline-flex rounded-md shadow">
      <%= link_to "Retour aux épreuves", epreuves_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
    </div>
  </div>
<% end %>
