<% if notice.present? %>
  <div class="-m-2 text-center mb-8" id="notice">

    <div class="p-2">
      <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-sm">
        <span class="inline-flex bg-purple-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Terminé!</span>
        <span class="inline-flex px-2">
          <%= notice %>
        </span>
      </div>
    </div>

  </div>
<% end %>

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Epreuves d'examens
      <br />
      <span class="text-indigo-600">Liste d'épreuves publiés par vous.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to 'Importer une épreuve', new_epreufe_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out hover:bg-transparent" %>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col">
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
      <table class="min-w-full">
        <thead>
        <tr>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Titre
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Salle de classe
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Matiere
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Role
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50" colspan="3"></th>
        </tr>
        </thead>
        <tbody class="bg-white">
          <% @epreuves.each do |epreufe| %>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <%= image_tag 'info.png', class: "h-10 w-10 rounded-full" %>
                </div>
                <div class="ml-4">
                  <div class="text-sm leading-5 font-medium text-gray-900"><%= epreufe.title %></div>
                  <div class="text-sm leading-5 text-gray-500">Pub : <%= epreufe.created_at %></div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900"><%= epreufe.salle_de_class.name %></div>
              <div class="text-sm leading-5 text-gray-500"><%= epreufe.matiere.name %></div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                Active
              </span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              <div class="text-sm leading-5 text-gray-900"><%= epreufe.user.complete_name %></div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"><%= link_to 'Consulter', epreufe, class: 'hover:bg-transparent text-indigo-600 hover:text-indigo-900' %></td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"><%= link_to 'Editer', edit_epreufe_path(epreufe), class: 'hover:bg-transparent text-indigo-600 hover:text-indigo-900' %></td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"><%= link_to 'Supprimer', epreufe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'hover:bg-transparent text-indigo-600 hover:text-indigo-900' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

