<% if notice.present? %>
  <div class="-m-2 text-center mb-8" id="notice">

    <div class="p-2">
      <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-sm">
        <span class="inline-flex bg-purple-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Terminé!</span>
        <span class="inline-flex px-2">
          <%= notice %>
        </span>
      </div>
    </div>

  </div>
<% end %>

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      <%= @epreufe.title %>
      <br/>
      <span class="text-indigo-600">Epreuve de <%= @epreufe.matiere.name %>.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to 'Modifier cette épreuve', edit_epreufe_path(@epreufe), class: 'inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out' %>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <%= link_to 'Retourner aux épreuves', epreuves_path, class: 'hover:bg-transparent inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out' %>
      </div>
    </div>
  </div>
</div>

<!-- Two columns -->
<div class="bg-white">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Epreuve de <%= @epreufe.title %>
      </h3>
      <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        <%= @epreufe.matiere.name %>
      </p>
      <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        Publié le <%= @epreufe.created_at %>
      </p>
    </div>
    <div>
      <p>
        <% if @epreufe.file.previewable? %>
          <object data="<%= rails_blob_path(@epreufe.file) %>" type="<%= @epreufe.file.content_type %>" height="700" width="100%"></object>
          <%= link_to "Télécharger l'epreuve", rails_blob_path(@epreufe.file, disposition: 'inline') %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<br>
<div class="bg-white">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Document de correction
      </h3>
      <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        Correction de l'epreuve <%= @epreufe.title %>
      </p>
    </div>
    <div>
      <p>
        <% if @epreufe.response.previewable? %>
          <object data="<%= rails_blob_path(@epreufe.response) %>" type="<%= @epreufe.response.content_type %>" height="700" width="100%"></object>
          <%= link_to "Télécharger le corrigé", rails_blob_path(@epreufe.response, disposition: 'inline') %>
          <div class="ml-3 inline-flex rounded-md shadow">
            <%= link_to 'Statistiques de consultation', epreuves_path, class: 'hover:bg-transparent inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out' %>
          </div>
        <% end %>
        </p>
        </div>
  </div>
</div>

<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Etudiants/Apprenants ayant
      <br>
      <span class="text-indigo-600">consultés vos précedente epreuves.</span>
    </h2>
<!--    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">-->
<!--      <div class="inline-flex rounded-md shadow">-->
<!--        <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">-->
<!--          Get started-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="ml-3 inline-flex rounded-md shadow">-->
<!--        <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">-->
<!--          Learn more-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>

<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
          <tr>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Libellé épreuve
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Etudiant/Elève/appreant
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Status
            </th>
            <th class="px-6 py-3 bg-gray-50"></th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          <% @data.each do |response| %>

            <tr>
              <td class="px-6 py-4 whitespace-no-wrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=256&amp;h=256&amp;q=60" alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-medium text-gray-900">
                      <%= response.epreuve.title %>
                    </div>
                    <div class="text-sm leading-5 text-gray-500">
                      <%= response.epreuve.matiere.name %>
                    </div>
                    <div class="text-sm leading-5 text-gray-500">
                      <%= response.epreuve.created_at %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap">
                <div class="text-sm leading-5 text-gray-900"><%= response.student.complete_name %></div>
                <div class="text-sm leading-5 text-gray-500"><%= response.student.salle_de_class.name %></div>
                <div class="text-sm leading-5 text-gray-500"><%= response.created_at %></div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  <%= response.statut ? "Validé" : "Pas encore validé" %>
                </span>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                <%= link_to "Vérifier cette copie", verif_epreuve_path(e_id: response.id), class: "text-indigo-600 hover:text-indigo-900" %>
              </td>
            </tr>

          <% end %>

          <!-- More rows... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

