<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @matiere.name %>
</p>

<p>
  <strong>Descriptioin:</strong>
  <%= @matiere.descriptioin %>
</p>

<%= link_to 'Edit', edit_matiere_path(@matiere) %> |
<%= link_to 'Back', matieres_path %>
