<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Gestion des matières
      <br/>
      <span class="text-indigo-600">de <%= current_user.structure.name %></span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Ajouter nouvelle", "#", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <%= link_to "Importer", "#", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>

<br>
<%= paginate @matieres %>
<br>
<div class="flex flex-col">
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
      <table class="min-w-full">
        <thead>
        <tr>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Libellé Matières
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
        </tr>
        </thead>
        <tbody class="bg-white">
        <% @matieres.each do |matiere| %>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <%= image_tag 'course.png', class: "h-10 w-10 rounded-full" %>
                </div>
                <div class="ml-4">
                  <div class="text-sm leading-5 font-medium text-gray-900"><%= matiere.name %></div>
                  <div class="text-sm leading-5 text-gray-500"><%= matiere.structure.name %></div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <div class="pr-10">

                <div class="dropdown inline-block relative">
                  <button class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
                    <span class="mr-1">Menu</span>
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                  </button>
                  <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 z-10">
                    <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap text-left" href="#">Modifier</a></li>
                    <li class="">
                      <%= link_to "Supprimer", manage_matiere_path(token: matiere.token), method: :delete, class: "rounded-t bg-red-500 hover:bg-red-400 py-2 px-4 block whitespace-no-wrap text-left", data: {confirm: "En supprimant cette matière de #{matiere.name.upcase}, vous allez \nsupprimer tous les cours qui lui sont rattachés. \nSouhaitez-vous vraiment continuer? \nCette action est irreversible."} %>
                    </li>
                  </ul>
                </div>

              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--<div class="container my-12 mx-auto px-4 md:px-12">-->
<!--  <div class="flex flex-wrap -mx-1 lg:-mx-4">-->

<%# @enseignants.each do |enseignant| %>
<!--      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">-->

<!--        <article class="overflow-hidden rounded-lg shadow-lg">-->

<!--          <a href="#">-->
<!--            <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
<!--          </a>-->

<!--          <header class="flex items-center justify-between leading-tight p-2 md:p-4">-->
<!--            <h1 class="text-lg">-->
<!--              <a class="no-underline hover:underline text-black" href="#">-->
<!--                Article Title-->
<!--              </a>-->
<!--            </h1>-->
<!--            <p class="text-grey-darker text-sm">-->
<!--              11/1/19-->
<!--            </p>-->
<!--          </header>-->

<!--          <footer class="flex items-center justify-between leading-none p-2 md:p-4">-->
<!--            <a class="flex items-center no-underline hover:underline text-black" href="#">-->
<!--              <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">-->
<!--              <p class="ml-2 text-sm">-->
<%#= enseignant.complete_name %>
<!--              </p>-->
<!--            </a>-->
<!--            <a class="no-underline text-grey-darker hover:text-red-dark" href="#">-->
<!--              <span class="hidden">Like</span>-->
<!--              <i class="fa fa-heart"></i>-->
<!--            </a>-->
<!--          </footer>-->

<!--        </article>-->


<!--      </div>-->

<%# end %>

<!--  </div>-->
<!--</div>-->