<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Formulaire d'importation des
      <br/>
      <span class="text-indigo-600">enseignants de <%= @current_structure.name %></span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Précédent", :back, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
      <!--      <div class="ml-3 inline-flex rounded-md shadow">-->
      <%#= link_to "Formulaire de saisie", setup_add_new_structure_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      <!--      </div>-->
    </div>
  </div>
</div>

<% if params[:update].present? %>

  <% current_teacher = User.find_by_token(params[:e_token]) %>

  <%= form_with(url: setup_new_teacher_path, method: :patch) do |form| %>
    <%= form.hidden_field :token, value: params[:token] %>
    <%= form.hidden_field :e_token, value: params[:e_token] %>
    <%= form.hidden_field :structure_id, value: current_teacher.role_id %>
    <%= form.hidden_field :role_id, value: current_teacher.role_id %>

    <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
      <section class="bg-white p-4 shadow">
        <div class="md:flex">
          <h2 class="md:w-1/3 uppercase tracking-wide text-sm sm:text-lg mb-6">Mise à jour enseignant</h2>
        </div>
        <form>
          <div class="md:flex mb-8">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Informations personnelle</legend>
              <p class="text-xs font-light text-red">Merci de renseigner toutes les informations personnelle de
                l'enseignant.</p>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Nom</label>
                <%= form.text_field :name, value: current_teacher.name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Nom de m'enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Prénom</label>
                <%= form.text_field :second_name, value: current_teacher.second_name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Prénom de l'enseignant" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Matricule</label>
                <%= form.text_field :matricule, value: current_teacher.matricule, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Matricule enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Numéro CNI</label>
                <%= form.text_field :cni, value: current_teacher.cni, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Numéro pièce d'identité", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Date naissance</label>
                <%= form.date_field :date_naissance, value: current_teacher.date_naissance, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Age de l'enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Lieu naissance</label>
                <%= form.text_field :lieu_naissance, value: current_teacher.lieu_naissance, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Lieu de naissance", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Role</label>
                <%= form.text_field :role, value: current_teacher.role.name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Lieu de naissance", readonly: true %>
              </div>

            </div>
          </div>
          <div class="md:flex mb-6">
            <div class="md:flex-1 px-3 text-center md:text-right">
              <%= form.submit "Mettre à jour l'enregistrement", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
            </div>
          </div>
        </form>
      </section>
    </main>
  <% end %>

<% elsif params[:sms].present? %>

  <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
    <section class="bg-white p-4 shadow">
      <label class="block uppercase tracking-wide text-xs font-bold mb-8">Formulaire d'envoi du SMS
        à <%= User.find_by_token(params[:e_token]).complete_name %></label>
      <%= form_with(url: setup_new_teacher_path) do |form| %>
        <%= form.hidden_field :e_token, value: params[:e_token] %>
        <%= form.hidden_field :token, value: params[:token] %>
        <%= form.hidden_field :sms, value: params[:sms] %>
        <%= form.rich_text_area :message %>
        <div class="md:flex mt-6 mb-6">
          <div class="md:flex-1 px-3 text-center md:text-right">
            <%= form.submit "Envoyer le SMS", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
          </div>
        </div>
      <% end %>
    </section>
  </main>

<% else %>

  <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
    <section class="bg-white p-4 shadow">
      <%= form_with(url: import_enseignant_intent_path) do |form| %>
        <%= form.file_field :file, accept: "text/csv", class: "w-full shadow-inner p-4 border-0 bg-gray-100" %>
        <div class="md:flex mt-6 mb-6">
          <div class="md:flex-1 px-3 text-center md:text-right">
            <%= form.submit "Importer", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
          </div>
        </div>
      <% end %>
    </section>
  </main>

  <div class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Formulaire de création
        <br/>
        <span class="text-indigo-600">des enseignants</span>
      </h2>
    </div>
  </div>

  <%= form_with(url: setup_new_teacher_path) do |form| %>
    <%= form.hidden_field :password, value: "123456" %>
    <%= form.hidden_field :token, value: params[:token] %>

    <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
      <section class="bg-white p-4 shadow">
        <div class="md:flex">
          <h2 class="md:w-1/3 uppercase tracking-wide text-sm sm:text-lg mb-6">Nouvel enseignant</h2>
        </div>
        <form>
          <div class="md:flex mb-8">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Informations personnelle</legend>
              <p class="text-xs font-light text-red">Merci de renseigner toutes les informations personnelle de
                l'enseignant.</p>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Nom</label>
                <%= form.text_field :name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Nom de m'enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Prénom</label>
                <%= form.text_field :second_name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Prénom de l'enseignant" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Matricule</label>
                <%= form.text_field :matricule, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Matricule enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Numéro CNI</label>
                <%= form.text_field :cni, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Numéro pièce d'identité", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Sexe enseignant</label>
                <%= form.select(:sexe, [%w(Féminin feminin), %w(Masculin masculin)], {}, {class: "w-full shadow-inner p-4 border-0 bg-gray-100"}) %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Date naissance</label>
                <%= form.date_field :date_naissance, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Age de l'enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Lieu naissance</label>
                <%= form.text_field :lieu_naissance, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Lieu de naissance", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Role utilisateur</label>
                <% if current_user.role.name == "root" %>
                  <%= form.collection_select(:role_id, Role.all, :id, :role_with_initial, {prompt: "Un role d'utilisateur..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
                <% else %>
                  <%= form.collection_select(:role_id, Role.all, :id, :name, {prompt: "Un role d'utilisateur..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
                <% end %>
              </div>

            </div>
          </div>
          <div class="md:flex mb-8">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Contact</legend>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Numéro de téléphone principale</label>
                <%= form.telephone_field :phone1, class: "w-full shadow-inner p-4 border-0  bg-gray-100", placeholder: "Numéro de téléphone principal", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Numéro de téléphone secondaire</label>
                <%= form.telephone_field :phone2, class: "w-full shadow-inner p-4 border-0  bg-gray-100", placeholder: "Numéro de téléphone secondaire" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Adresse
                  email</label>
                <%= form.email_field :email, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Adresse email enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Pays</label>
                <%= form.text_field :pays, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Pays de localisation" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Région</label>
                <%= form.text_field :region, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Région de localisation" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Site web
                  link</label>
                <%= form.url_field :url, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Adresse site web" %>
              </div>
              <!--            <div class="mb-4">-->
              <!--              <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Email contact</label>-->
              <%#= form.email_field :email, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Adresse email de contact" %>
              <!--            </div>-->
            </div>
          </div>
          <div class="md:flex mb-8">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Affectation</legend>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Structure d'affectation</label>
                <%#= form.text_field :structure_id, value: @current_structure.id, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Structure d'affectation", readonly: true %>
                <% if current_user.role.name == "root" %>
                  <%= form.collection_select(:structure_id, Structure.all, :id, :structure_with_initial, {prompt: "Selectionner un établissement..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
                <% else %>
                  <%= form.collection_select(:structure_id, Structure.where(id: current_user.structure_id), :id, :structure_with_initial, {prompt: "Un role d'utilisateur..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
                <% end %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Salle de classe</label>
                <%= form.collection_select(:salle_de_class_id, SalleDeClass.where(structure_id: current_user.structure_id), :id, :salle_de_class_with_initial, {prompt: "Selectionner une salle de classe..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Cycle d'enseignement</label>
                <%= form.collection_select(:cycle_ecole_id, CycleEcole.all, :id, :cycle_with_initial, {prompt: "Selectionner un cycle d'enseignement..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
              </div>
            </div>
          </div>

          <div class="md:flex mb-6">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Description</legend>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <%= form.rich_text_area :description, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Details supplémentaires sur l'enseignant." %>
            </div>
          </div>
          <div class="md:flex mb-6">
            <div class="md:flex-1 px-3 text-center md:text-right">
              <%= form.submit "Enregistrer", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
            </div>
          </div>
        </form>
      </section>
    </main>
  <% end %>

<% end %>