
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="container mx-auto px-4 sm:px-6 lg:px-8">
  <!-- Content goes here -->

  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="md:flex md:items-center md:justify-between mt-8 mb-8">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
        Back End Developer
      </h2>
    </div>

  </div>


  <!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ]
  }
  ```
-->
  <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6 mb-8">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Profile</h3>
        <p class="mt-1 text-sm text-gray-500">
          This information will be displayed publicly so be careful what you share.
        </p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form class="space-y-6" action="#" method="POST">
          <div class="grid grid-cols-3 gap-6">
            <div class="col-span-3 sm:col-span-2">
              <label for="company_website" class="block text-sm font-medium text-gray-700">
                Website
              </label>
              <div class="mt-1 flex rounded-md shadow-sm">
              <span class="inline-flex items-center py-3 px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm">
                http://
              </span>
                <input type="text" id="company_website" class="focus:ring-indigo-500 py-3 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300" placeholder="www.example.com">
              </div>
            </div>
          </div>

          <div>
            <label for="about" class="block text-sm font-medium text-gray-700">
              About
            </label>
            <div class="mt-1">
              <textarea id="about" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="you@example.com"></textarea>
            </div>
            <p class="mt-2 text-sm text-gray-500">
              Brief description for your profile. URLs are hyperlinked.
            </p>
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-700">
              Photo
            </label>
            <div class="mt-2 flex items-center space-x-5">
            <span class="inline-block h-12 w-12 rounded-full overflow-hidden bg-gray-100">
              <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
              </svg>
            </span>
              <button type="button" class="bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Change
              </button>
            </div>
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-700">
              Cover photo
            </label>
            <div class="mt-2 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
              <div class="text-center space-y-1">
                <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="text-sm text-gray-600">
                  <button class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Upload a file
                  </button>
                  or drag and drop
                </p>
                <p class="text-xs text-gray-500">
                  PNG, JPG, GIF up to 10MB
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6 mb-8">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Informations personnelles</h3>
        <p class="mt-1 text-sm text-gray-500">
          Inserer ici les informations personnelles de l'enseignant/utilisateur.
        </p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form action="#" method="POST">
          <div class="grid grid-cols-6 gap-6">

            <div class="col-span-6 sm:col-span-3">
              <label for="country" class="block text-sm font-medium text-gray-700">Civilité</label>
              <select id="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option>M.</option>
                <option>Mme</option>
                <option>Mlle</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="country" class="block text-sm font-medium text-gray-700">Grade</label>
              <select id="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option>M.</option>
                <option>Docteur</option>
                <option>Professeur</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="first_name" class="block text-sm font-medium text-gray-700">Nom</label>
              <input type="text" id="first_name" class="border border-gray-200 py-3 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="last_name" class="block text-sm font-medium text-gray-700">Prénom</label>
              <input type="text" id="last_name" class="border border-gray-200 py-3 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="last_name" class="block text-sm font-medium text-gray-700">Numéro de CNI</label>
              <input type="text" id="last_name" class="border border-gray-200 py-3 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="last_name" class="block text-sm font-medium text-gray-700">Sexe</label>
              <input type="text" id="last_name" class="border border-gray-200 py-3 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="last_name" class="block text-sm font-medium text-gray-700">Date de naissance</label>
              <input type="date" id="last_name" class="border border-gray-200 py-3 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="last_name" class="block text-sm font-medium text-gray-700">Lieu de naissance</label>
              <input type="text" id="last_name" class="border border-gray-200 py-3 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-4">
              <label for="email_address" class="block text-sm font-medium text-gray-700">Adresse Email</label>
              <input type="text" id="email_address" class="border border-gray-200 py-3 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="country" class="block text-sm font-medium text-gray-700">Nationalité</label>
              <select id="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option>United States</option>
                <option>Canada</option>
                <option>Mexico</option>
              </select>
            </div>

            <div class="col-span-6">
              <label for="street_address" class="block text-sm font-medium text-gray-700">Street address</label>
              <input type="text" id="street_address" class="border border-gray-200 py-3 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-6 lg:col-span-2">
              <label for="city" class="block text-sm font-medium text-gray-700">City</label>
              <input type="text" id="city" class="border border-gray-200 py-3  mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <label for="state" class="block text-sm font-medium text-gray-700">State / Province</label>
              <input type="text" id="state" class="border border-gray-200 py-3  mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <label for="postal_code" class="block text-sm font-medium text-gray-700">ZIP / Postal</label>
              <input type="text" id="postal_code" class="border border-gray-200 py-3 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6 mb-8">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Informations academique</h3>
        <p class="mt-1 text-sm text-gray-500">
          Inserer ici les informations liées aux domaine academique de base de l'eneignant.
        </p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form action="#" method="POST">
          <div class="grid grid-cols-6 gap-6">

            <div class="col-span-6 sm:col-span-3">
              <label for="country" class="block text-sm font-medium text-gray-700">Etablissement d'affectation</label>
              <select id="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option>M.</option>
                <option>Mme</option>
                <option>Mlle</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="country" class="block text-sm font-medium text-gray-700">Filière de base</label>
              <select id="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option>M.</option>
                <option>Docteur</option>
                <option>Professeur</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="country" class="block text-sm font-medium text-gray-700">Salle de classe</label>
              <select id="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option>M.</option>
                <option>Docteur</option>
                <option>Professeur</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="country" class="block text-sm font-medium text-gray-700">Cycle d'enseignement</label>
              <select id="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option>M.</option>
                <option>Docteur</option>
                <option>Professeur</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="first_name" class="block text-sm font-medium text-gray-700">Matricule</label>
              <input type="text" id="first_name" class="border border-gray-200 py-3 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="last_name" class="block text-sm font-medium text-gray-700">Prénom</label>
              <input type="text" id="last_name" class="border border-gray-200 py-3 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-4">
              <label for="email_address" class="block text-sm font-medium text-gray-700">Adresse Email</label>
              <input type="text" id="email_address" class="border border-gray-200 py-3 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="country" class="block text-sm font-medium text-gray-700">Nationalité</label>
              <select id="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option>United States</option>
                <option>Canada</option>
                <option>Mexico</option>
              </select>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6 mb-8">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Notifications</h3>
        <p class="mt-1 text-sm text-gray-500">
          Decide which communications you'd like to receive and how.
        </p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form class="space-y-6" action="#" method="POST">
          <fieldset>
            <legend class="text-base font-medium text-gray-900">By Email</legend>
            <div class="mt-4 space-y-4">
              <div class="flex items-start">
                <div class="h-5 flex items-center">
                  <input id="comments" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                </div>
                <div class="ml-3 text-sm">
                  <label for="comments" class="font-medium text-gray-700">Comments</label>
                  <p class="text-gray-500">Get notified when someones posts a comment on a posting.</p>
                </div>
              </div>
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <input id="candidates" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                </div>
                <div class="ml-3 text-sm">
                  <label for="candidates" class="font-medium text-gray-700">Candidates</label>
                  <p class="text-gray-500">Get notified when a candidate applies for a job.</p>
                </div>
              </div>
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <input id="offers" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                </div>
                <div class="ml-3 text-sm">
                  <label for="offers" class="font-medium text-gray-700">Offers</label>
                  <p class="text-gray-500">Get notified when a candidate accepts or rejects an offer.</p>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div>
              <legend class="text-base font-medium text-gray-900">Push Notifications</legend>
              <p class="text-sm text-gray-500">These are delivered via SMS to your mobile phone.</p>
            </div>
            <div class="mt-4 space-y-4">
              <div class="flex items-center">
                <input id="push_everything" name="push_notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                <label for="push_everything" class="ml-3 block text-sm font-medium text-gray-700">
                  Everything
                </label>
              </div>
              <div class="flex items-center">
                <input id="push_email" name="push_notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                <label for="push_email" class="ml-3 block text-sm font-medium text-gray-700">
                  Same as email
                </label>
              </div>
              <div class="flex items-center">
                <input id="push_nothing" name="push_notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                <label for="push_nothing" class="ml-3 block text-sm font-medium text-gray-700">
                  No push notifications
                </label>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>


</div>




<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Formulaire d'importation des
      <br/>
      <span class="text-indigo-600">enseignants de <%= @current_structure.name %></span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Précédent", :back, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
      <!--      <div class="ml-3 inline-flex rounded-md shadow">-->
      <%#= link_to "Formulaire de saisie", setup_add_new_structure_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      <!--      </div>-->
    </div>
  </div>
</div>

<% if params[:update].present? %>

  <% current_teacher = User.find_by_token(params[:e_token]) %>

  <%= form_with(url: setup_new_teacher_path, method: :patch) do |form| %>
    <%= form.hidden_field :token, value: params[:token] %>
    <%= form.hidden_field :e_token, value: params[:e_token] %>
    <%= form.hidden_field :structure_id, value: current_teacher.role_id %>
    <%= form.hidden_field :role_id, value: current_teacher.role_id %>

    <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
      <section class="bg-white p-4 shadow">
        <div class="md:flex">
          <h2 class="md:w-1/3 uppercase tracking-wide text-sm sm:text-lg mb-6">Mise à jour enseignant</h2>
        </div>
        <form>
          <div class="md:flex mb-8">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Informations personnelle</legend>
              <p class="text-xs font-light text-red">Merci de renseigner toutes les informations personnelle de
                l'enseignant.</p>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Nom</label>
                <%= form.text_field :name, value: current_teacher.name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Nom de m'enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Prénom</label>
                <%= form.text_field :second_name, value: current_teacher.second_name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Prénom de l'enseignant" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Matricule</label>
                <%= form.text_field :matricule, value: current_teacher.matricule, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Matricule enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Numéro CNI</label>
                <%= form.text_field :cni, value: current_teacher.cni, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Numéro pièce d'identité", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Date naissance</label>
                <%= form.date_field :date_naissance, value: current_teacher.date_naissance, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Age de l'enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Lieu naissance</label>
                <%= form.text_field :lieu_naissance, value: current_teacher.lieu_naissance, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Lieu de naissance", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Role</label>
                <%= form.text_field :role, value: current_teacher.role.name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Lieu de naissance", readonly: true %>
              </div>

            </div>
          </div>
          <div class="md:flex mb-6">
            <div class="md:flex-1 px-3 text-center md:text-right">
              <%= form.submit "Mettre à jour l'enregistrement", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
            </div>
          </div>
        </form>
      </section>
    </main>
  <% end %>

<% elsif params[:sms].present? %>

  <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
    <section class="bg-white p-4 shadow">
      <label class="block uppercase tracking-wide text-xs font-bold mb-8">Formulaire d'envoi du SMS
        à <%= User.find_by_token(params[:e_token]).complete_name %></label>
      <%= form_with(url: setup_new_teacher_path) do |form| %>
        <%= form.hidden_field :e_token, value: params[:e_token] %>
        <%= form.hidden_field :token, value: params[:token] %>
        <%= form.hidden_field :sms, value: params[:sms] %>
        <%= form.rich_text_area :message %>
        <div class="md:flex mt-6 mb-6">
          <div class="md:flex-1 px-3 text-center md:text-right">
            <%= form.submit "Envoyer le SMS", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
          </div>
        </div>
      <% end %>
    </section>
  </main>

<% else %>

  <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
    <section class="bg-white p-4 shadow">
      <%= form_with(url: import_enseignant_intent_path) do |form| %>
        <%= form.file_field :file, accept: "text/csv", class: "w-full shadow-inner p-4 border-0 bg-gray-100" %>
        <div class="md:flex mt-6 mb-6">
          <div class="md:flex-1 px-3 text-center md:text-right">
            <%= form.submit "Importer", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
          </div>
        </div>
      <% end %>
    </section>
  </main>

  <div class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Formulaire de création
        <br/>
        <span class="text-indigo-600">des enseignants</span>
      </h2>
    </div>
  </div>

  <%= form_with(url: setup_new_teacher_path) do |form| %>
    <%= form.hidden_field :password, value: "123456" %>
    <%= form.hidden_field :token, value: params[:token] %>

    <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
      <section class="bg-white p-4 shadow">
        <div class="md:flex">
          <h2 class="md:w-1/3 uppercase tracking-wide text-sm sm:text-lg mb-6">Nouvel enseignant</h2>
        </div>
        <form>
          <div class="md:flex mb-8">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Informations personnelle</legend>
              <p class="text-xs font-light text-red">Merci de renseigner toutes les informations personnelle de
                l'enseignant.</p>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Nom</label>
                <%= form.text_field :name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Nom de m'enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Prénom</label>
                <%= form.text_field :second_name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Prénom de l'enseignant" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Matricule</label>
                <%= form.text_field :matricule, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Matricule enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Numéro CNI</label>
                <%= form.text_field :cni, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Numéro pièce d'identité", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Sexe enseignant</label>
                <%= form.select(:sexe, [%w(Féminin feminin), %w(Masculin masculin)], {}, {class: "w-full shadow-inner p-4 border-0 bg-gray-100"}) %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Date naissance</label>
                <%= form.date_field :date_naissance, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Age de l'enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Lieu naissance</label>
                <%= form.text_field :lieu_naissance, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Lieu de naissance", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Role utilisateur</label>
                <% if current_user.role.name == "root" %>
                  <%= form.collection_select(:role_id, Role.all, :id, :role_with_initial, {prompt: "Un role d'utilisateur..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
                <% else %>
                  <%= form.collection_select(:role_id, Role.all, :id, :name, {prompt: "Un role d'utilisateur..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
                <% end %>
              </div>

            </div>
          </div>
          <div class="md:flex mb-8">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Contact</legend>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Numéro de téléphone principale</label>
                <%= form.telephone_field :phone1, class: "w-full shadow-inner p-4 border-0  bg-gray-100", placeholder: "Numéro de téléphone principal", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Numéro de téléphone secondaire</label>
                <%= form.telephone_field :phone2, class: "w-full shadow-inner p-4 border-0  bg-gray-100", placeholder: "Numéro de téléphone secondaire" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Adresse
                  email</label>
                <%= form.email_field :email, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Adresse email enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Pays</label>
                <%= form.text_field :pays, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Pays de localisation" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Région</label>
                <%= form.text_field :region, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Région de localisation" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Site web
                  link</label>
                <%= form.url_field :url, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Adresse site web" %>
              </div>
              <!--            <div class="mb-4">-->
              <!--              <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Email contact</label>-->
              <%#= form.email_field :email, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Adresse email de contact" %>
              <!--            </div>-->
            </div>
          </div>
          <div class="md:flex mb-8">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Affectation</legend>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Structure d'affectation</label>
                <%#= form.text_field :structure_id, value: @current_structure.id, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Structure d'affectation", readonly: true %>
                <% if current_user.role.name == "root" %>
                  <%= form.collection_select(:structure_id, Structure.all, :id, :structure_with_initial, {prompt: "Selectionner un établissement..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
                <% else %>
                  <%= form.collection_select(:structure_id, Structure.where(id: current_user.structure_id), :id, :structure_with_initial, {prompt: "Un role d'utilisateur..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
                <% end %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Salle de classe</label>
                <%= form.collection_select(:salle_de_class_id, SalleDeClass.where(structure_id: current_user.structure_id), :id, :salle_de_class_with_initial, {prompt: "Selectionner une salle de classe..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Cycle d'enseignement</label>
                <%= form.collection_select(:cycle_ecole_id, CycleEcole.all, :id, :cycle_with_initial, {prompt: "Selectionner un cycle d'enseignement..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
              </div>
            </div>
          </div>

          <div class="md:flex mb-6">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Description</legend>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <%= form.rich_text_area :description, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Details supplémentaires sur l'enseignant." %>
            </div>
          </div>
          <div class="md:flex mb-6">
            <div class="md:flex-1 px-3 text-center md:text-right">
              <%= form.submit "Enregistrer", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
            </div>
          </div>
        </form>
      </section>
    </main>
  <% end %>

<% end %>