<!--<div class="container my-12 mx-auto px-4 md:px-12">-->
<!--  <div class="flex flex-wrap -mx-1 lg:-mx-4">-->

<%# @enseignants.each do |enseignant| %>
<!--      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">-->

<!--        <article class="overflow-hidden rounded-lg shadow-lg">-->

<!--          <a href="#">-->
<!--            <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
<!--          </a>-->

<!--          <header class="flex items-center justify-between leading-tight p-2 md:p-4">-->
<!--            <h1 class="text-lg">-->
<!--              <a class="no-underline hover:underline text-black" href="#">-->
<!--                Article Title-->
<!--              </a>-->
<!--            </h1>-->
<!--            <p class="text-grey-darker text-sm">-->
<!--              11/1/19-->
<!--            </p>-->
<!--          </header>-->

<!--          <footer class="flex items-center justify-between leading-none p-2 md:p-4">-->
<!--            <a class="flex items-center no-underline hover:underline text-black" href="#">-->
<!--              <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">-->
<!--              <p class="ml-2 text-sm">-->
<%#= enseignant.complete_name %>
<!--              </p>-->
<!--            </a>-->
<!--            <a class="no-underline text-grey-darker hover:text-red-dark" href="#">-->
<!--              <span class="hidden">Like</span>-->
<!--              <i class="fa fa-heart"></i>-->
<!--            </a>-->
<!--          </footer>-->

<!--        </article>-->


<!--      </div>-->

<%# end %>

<!--  </div>-->
<!--</div>-->

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Formulaire d'importation des
      <br/>
      <span class="text-indigo-600">enseignants de <%= @current_structure.name %></span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Précédent", :back, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <%= link_to "Formulaire de saisie", setup_add_new_structure_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>

<% if params[:update].present? %>

  <% current_teacher = User.find_by_token(params[:e_token]) %>

  <%= form_with(url: setup_new_teacher_path, method: :patch) do |form| %>
    <%= form.hidden_field :token, value: params[:token] %>
    <%= form.hidden_field :e_token, value: params[:e_token] %>
    <%= form.hidden_field :structure_id, value: current_teacher.role_id %>
    <%= form.hidden_field :role_id, value: current_teacher.role_id %>

    <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
      <section class="bg-white p-4 shadow">
        <div class="md:flex">
          <h2 class="md:w-1/3 uppercase tracking-wide text-sm sm:text-lg mb-6">Mise à jour enseignant</h2>
        </div>
        <form>
          <div class="md:flex mb-8">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Informations personnelle</legend>
              <p class="text-xs font-light text-red">Merci de renseigner toutes les informations personnelle de
                l'enseignant.</p>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Nom</label>
                <%= form.text_field :name, value: current_teacher.name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Nom de m'enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Prénom</label>
                <%= form.text_field :second_name, value: current_teacher.second_name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Prénom de l'enseignant" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Matricule</label>
                <%= form.text_field :matricule, value: current_teacher.matricule, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Matricule enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Numéro CNI</label>
                <%= form.text_field :cni, value: current_teacher.cni, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Numéro pièce d'identité", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Date naissance</label>
                <%= form.date_field :date_naissance, value: current_teacher.date_naissance, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Age de l'enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Lieu naissance</label>
                <%= form.text_field :lieu_naissance, value: current_teacher.lieu_naissance, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Lieu de naissance", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Role</label>
                <%= form.text_field :role, value: current_teacher.role.name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Lieu de naissance", readonly: true %>
              </div>

            </div>
          </div>
          <div class="md:flex mb-6">
            <div class="md:flex-1 px-3 text-center md:text-right">
              <%= form.submit "Mettre à jour l'enregistrement", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
            </div>
          </div>
        </form>
      </section>
    </main>
  <% end %>

  <% elsif params[:sms].present? %>

  <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
    <section class="bg-white p-4 shadow">
      <label class="block uppercase tracking-wide text-xs font-bold mb-8">Formulaire d'envoi du SMS à <%= User.find_by_token(params[:e_token]).complete_name %></label>
      <%= form_with(url: setup_new_teacher_path) do |form| %>
        <%= form.hidden_field :e_token, value: params[:e_token] %>
        <%= form.hidden_field :token, value: params[:token] %>
        <%= form.hidden_field :sms, value: params[:sms] %>
        <%= form.rich_text_area :message %>
        <div class="md:flex mt-6 mb-6">
          <div class="md:flex-1 px-3 text-center md:text-right">
            <%= form.submit "Envoyer le SMS", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
          </div>
        </div>
      <% end %>
    </section>
  </main>

<% else %>

  <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
    <section class="bg-white p-4 shadow">
      <%= form_with(url: import_enseignant_intent_path) do |form| %>
        <%= form.file_field :file, accept: "text/csv", class: "w-full shadow-inner p-4 border-0 bg-gray-100" %>
        <div class="md:flex mt-6 mb-6">
          <div class="md:flex-1 px-3 text-center md:text-right">
            <%= form.submit "Importer", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
          </div>
        </div>
      <% end %>
    </section>
  </main>

  <div class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Formulaire de création
        <br/>
        <span class="text-indigo-600">des enseignants</span>
      </h2>
    </div>
  </div>

  <%= form_with(url: setup_new_teacher_path) do |form| %>
    <%= form.hidden_field :password, value: "123456" %>
    <%= form.hidden_field :token, value: params[:token] %>
    <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
      <section class="bg-white p-4 shadow">
        <div class="md:flex">
          <h2 class="md:w-1/3 uppercase tracking-wide text-sm sm:text-lg mb-6">Nouvelle enseignant</h2>
        </div>
        <form>
          <div class="md:flex mb-8">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Informations personnelle</legend>
              <p class="text-xs font-light text-red">Merci de renseigner toutes les informations personnelle de
                l'enseignant.</p>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Nom</label>
                <%= form.text_field :name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Nom de m'enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Prénom</label>
                <%= form.text_field :second_name, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Prénom de l'enseignant" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Matricule</label>
                <%= form.text_field :matricule, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Matricule enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Numéro CNI</label>
                <%= form.text_field :cni, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Numéro pièce d'identité", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Sexe enseignant</label>
                <%= form.select(:sexe, [%w(Féminin feminin), %w(Masculin masculin)], {}, {class: "w-full shadow-inner p-4 border-0 bg-gray-100"}) %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Date naissance</label>
                <%= form.date_field :date_naissance, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Age de l'enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Lieu naissance</label>
                <%= form.text_field :lieu_naissance, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Lieu de naissance", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Role utilisateur</label>
                <%= form.collection_select(:role_id, Role.all.group(:name).distinct, :id, :role_with_initial, {prompt: "Un role d'utilisateur..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
              </div>

            </div>
          </div>
          <div class="md:flex mb-8">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Contact</legend>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Numéro de téléphone principale</label>
                <%= form.telephone_field :phone1, class: "w-full shadow-inner p-4 border-0  bg-gray-100", placeholder: "Numéro de téléphone principal", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Numéro de téléphone secondaire</label>
                <%= form.telephone_field :phone2, class: "w-full shadow-inner p-4 border-0  bg-gray-100", placeholder: "Numéro de téléphone secondaire" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Adresse email</label>
                <%= form.email_field :email, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Adresse email enseignant", required: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Pays</label>
                <%= form.text_field :pays, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Pays de localisation" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Région</label>
                <%= form.text_field :region, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Région de localisation" %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Site web link</label>
                <%= form.url_field :url, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Adresse site web" %>
              </div>
              <!--            <div class="mb-4">-->
              <!--              <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Email contact</label>-->
              <%#= form.email_field :email, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Adresse email de contact" %>
              <!--            </div>-->
            </div>
          </div>
          <div class="md:flex mb-8">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Affectation</legend>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <!--            <div class="mb-4">-->
              <!--              <label class="block uppercase tracking-wide text-xs font-bold">Section principale</label>-->
              <%#= form.collection_select(:cycle_id, CycleEcole.all, :id, :cycle_with_initial, {prompt: "Selectionner un cycle..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
              <!--            </div>-->
              <!--            <div class="mb-4">-->
              <!--              <label class="block uppercase tracking-wide text-xs font-bold mb-4">Salle de classe</label>-->
              <%#= form.collection_check_boxes(:cycle_id, CycleEcole.all, :id, :cycle_with_initial, {prompt: "Selectionner un cycle..."}, {class: "inline-block bg-gray-200"}) %>
              <!--            </div>-->
              <!--            <div class="mb-4">-->
              <!--              <label class="block uppercase tracking-wide text-xs font-bold">Numéro de téléphone secondaire</label>-->
              <%#= form.telephone_field :phone1, class: "w-full shadow-inner p-4 border-0  bg-gray-100", placeholder: "Numéro de téléphone mobile" %>
              <!--            </div>-->
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Structure d'affectation</label>
                <%= form.text_field :structure_id, value: @current_structure.id, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Structure d'affectation", readonly: true %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Salle de classe</label>
                <%= form.collection_select(:salle_de_class_id, SalleDeClass.all, :id, :salle_de_class_with_initial, {prompt: "Selectionner une salle de classe..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
              </div>
              <div class="mb-4">
                <label class="block uppercase tracking-wide text-xs font-bold">Cycle d'enseignement</label>
                <%= form.collection_select(:cycle_ecole_id, CycleEcole.all, :id, :cycle_with_initial, {prompt: "Selectionner un cycle d'enseignement..."}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
              </div>
              <!--            <div class="mb-4">-->
              <!--              <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Adresse email</label>-->
              <%#= form.email_field :email, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Adresse email enseignant" %>
              <!--            </div>-->
              <!--            <div class="mb-4">-->
              <!--              <label class="block uppercase tracking-wide text-xs font-bold">Région</label>-->
              <%#= form.text_field :region, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Région de localisation" %>
              <!--            </div>-->
              <!--            <div class="mb-4">-->
              <!--              <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Site web link</label>-->
              <%#= form.url_field :url, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Adresse site web" %>
              <!--            </div>-->
              <!--            <div class="mb-4">-->
              <!--              <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Email contact</label>-->
              <%#= form.email_field :email, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Adresse email de contact" %>
              <!--            </div>-->
            </div>
          </div>
          <!--        <div class="md:flex">-->
          <!--          <div class="md:w-1/3">-->
          <!--            <legend class="uppercase tracking-wide text-sm">Réseaux Sociaux</legend>-->
          <!--          </div>-->
          <!--          <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">-->
          <!--            <div class="md:flex mb-4">-->
          <!--              <div class="md:flex-1 md:pr-3">-->
          <!--                <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Facebook</label>-->
          <!--                <div class="w-full flex">-->
          <!--                  <span class="text-xs py-4 px-2 bg-grey-light text-grey-dark">facebook.com/</span>-->
          <!--                  <input class="flex-1 shadow-inner p-4 border-0" type="text" name="facebook" placeholder="acmeco">-->
          <!--                </div>-->
          <!--              </div>-->
          <!--              <div class="md:flex-1 md:pl-3 mt-2 md:mt-0">-->
          <!--                <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Twitter</label>-->
          <!--                <div class="w-full flex">-->
          <!--                  <span class="text-xs py-4 px-2 bg-grey-light text-grey-dark">twitter.com/</span>-->
          <!--                  <input class="flex-1 shadow-inner p-4 border-0" type="text" name="twitter" placeholder="acmeco">-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div class="md:flex mb-4">-->
          <!--              <div class="md:flex-1 md:pr-3">-->
          <!--                <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Instagram</label>-->
          <!--                <div class="w-full flex">-->
          <!--                  <span class="text-xs py-4 px-2 bg-grey-light text-grey-dark">instagram.com/</span>-->
          <!--                  <input class="flex-1 shadow-inner p-4 border-0" type="text" name="instagram" placeholder="acmeco">-->
          <!--                </div>-->
          <!--              </div>-->
          <!--              <div class="md:flex-1 md:pl-3 mt-2 md:mt-0">-->
          <!--                <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Yelp</label>-->
          <!--                <div class="w-full flex">-->
          <!--                  <span class="text-xs py-4 px-2 bg-grey-light text-grey-dark">yelp.com/</span>-->
          <!--                  <input class="flex-1 shadow-inner p-4 border-0" type="text" name="yelp" placeholder="acmeco">-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--        </div>-->
          <div class="md:flex mb-6">
            <div class="md:w-1/3">
              <legend class="uppercase tracking-wide text-sm">Description</legend>
            </div>
            <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
              <%= form.rich_text_area :description, class: "w-full shadow-inner p-4 border-0 bg-gray-100", placeholder: "Details supplémentaires sur l'enseignant." %>
            </div>
          </div>
          <div class="md:flex mb-6">
            <div class="md:flex-1 px-3 text-center md:text-right">
              <%= form.submit "Enregistrer", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
            </div>
          </div>
        </form>
      </section>
    </main>
  <% end %>

<% end %>

<!--<div class="bg-gray-50">-->
<!--  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">-->
<!--    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">-->
<!--      Gestion des senseignants-->
<!--      <br/>-->
<!--      <span class="text-indigo-600">de <%#= current_user.structure.name %></span>-->
<!--    </h2>-->
<!--    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">-->
<!--      <div class="inline-flex rounded-md shadow">-->
<%#= link_to "Ajouter nouveau", "#", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
<!--      </div>-->
<!--      <div class="ml-3 inline-flex rounded-md shadow">-->
<%#= link_to "Importer", "#", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<br>-->
<%#= paginate @enseignants %>
<!--<br>-->
<!--<div class="flex flex-col">-->
<!--  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">-->
<!--    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">-->
<!--      <table class="min-w-full">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">-->
<!--            Nom Complet-->
<!--          </th>-->
<!--          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">-->
<!--            Classe & matières-->
<!--          </th>-->
<!--          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">-->
<!--            Contact-->
<!--          </th>-->
<!--          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody class="bg-white">-->
<%# @enseignants.each do |enseignant| %>
<!--          <tr>-->
<!--            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">-->
<!--              <div class="flex items-center">-->
<!--                <div class="flex-shrink-0 h-10 w-10">-->
<%#= image_tag 'teacher.png', class: "h-10 w-10 rounded-full" %>
<!--                </div>-->
<!--                <div class="ml-4">-->
<!--                  <div class="text-sm leading-5 font-medium text-gray-900"><%#= excerpt(enseignant.complete_name, '', radius: 20) %></div>-->
<!--                  <div class="text-sm leading-5 text-gray-500"><%#= enseignant.matricule %></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </td>-->
<!--            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">-->
<!--              <div class="text-sm leading-5 text-gray-900">-->
<%# current_classe = TeacherClasse.where(user_id: enseignant.id) %>
<%# current_classe.distinct.pluck(:salle_de_class_id).uniq.each do |classe| %>
<%#= SalleDeClass.find(classe).name %>
<%# end %>
<!--              </div>-->
<!--              <div class="text-sm leading-5 text-gray-500">-->
<%# current_matiere = TeacherClasse.where(user_id: enseignant.id) %>
<%# current_classe.distinct.pluck(:matiere_id).uniq.each do |matiere| %>
<!--                  <%#= Matiere.find(matiere).name %> <br>-->
<%# end %>
<!--              </div>-->
<!--            </td>-->
<!--            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">-->
<!--              <div class="text-sm leading-5 text-gray-900">-->
<%#= enseignant.phone1 %>
<!--              </div>-->
<!--              <div class="text-sm leading-5 text-gray-900">-->
<%#= enseignant.phone2 %>
<!--              </div>-->
<!--            </td>-->
<!--            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">-->
<!--              <div class="pr-10">-->

<!--                <div class="dropdown inline-block relative">-->
<!--                  <button class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">-->
<!--                    <span class="mr-1">Menu</span>-->
<!--                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>-->
<!--                  </button>-->
<!--                  <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 z-10">-->
<!--                    <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap text-left" href="#">Modifier</a></li>-->
<!--                    <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap text-left" href="#">Message</a></li>-->
<!--                    <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap text-left" href="#">Suspendre</a></li>-->
<!--                    <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap text-left" href="#">Update password</a></li>-->
<!--                  </ul>-->
<!--                </div>-->

<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<%# end %>
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container my-12 mx-auto px-4 md:px-12">-->
<!--  <div class="flex flex-wrap -mx-1 lg:-mx-4">-->

<%# @enseignants.each do |enseignant| %>
<!--      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">-->

<!--        <article class="overflow-hidden rounded-lg shadow-lg">-->

<!--          <a href="#">-->
<!--            <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
<!--          </a>-->

<!--          <header class="flex items-center justify-between leading-tight p-2 md:p-4">-->
<!--            <h1 class="text-lg">-->
<!--              <a class="no-underline hover:underline text-black" href="#">-->
<!--                Article Title-->
<!--              </a>-->
<!--            </h1>-->
<!--            <p class="text-grey-darker text-sm">-->
<!--              11/1/19-->
<!--            </p>-->
<!--          </header>-->

<!--          <footer class="flex items-center justify-between leading-none p-2 md:p-4">-->
<!--            <a class="flex items-center no-underline hover:underline text-black" href="#">-->
<!--              <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">-->
<!--              <p class="ml-2 text-sm">-->
<%#= enseignant.complete_name %>
<!--              </p>-->
<!--            </a>-->
<!--            <a class="no-underline text-grey-darker hover:text-red-dark" href="#">-->
<!--              <span class="hidden">Like</span>-->
<!--              <i class="fa fa-heart"></i>-->
<!--            </a>-->
<!--          </footer>-->

<!--        </article>-->


<!--      </div>-->

<%# end %>

<!--  </div>-->
<!--</div>-->