<!-- Static sidebar for desktop -->

<!-- Content area -->
<div class="flex-1 flex flex-col">
  <div class="w-full max-w-4xl mx-auto md:px-8 xl:px-0">
    <div class="relative z-10 flex-shrink-0 h-16 bg-white border-b border-gray-200 flex">
      <button class="border-r border-gray-200 px-4 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-purple-500 sm:hidden">
        <span class="sr-only">Open sidebar</span>
        <!-- Heroicon name: menu-alt-2 -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </button>
      <div class="flex-1 flex justify-between px-4 md:px-0">
        <div class="flex-1 flex">
          <form class="w-full flex md:ml-0" action="#" method="GET">
            <label for="search_field" class="sr-only">Search</label>
            <div class="relative w-full text-gray-400 focus-within:text-gray-600">
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center">
                <!-- Heroicon name: search -->
                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
              </div>
              <input id="search_field" class="h-full w-full border-transparent py-2 pl-8 pr-3 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-0 focus:border-transparent focus:placeholder-gray-400 sm:hidden" placeholder="Search" type="search">
              <input id="search_field" class="hidden h-full w-full border-transparent py-2 pl-8 pr-3 text-sm text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-0 focus:border-transparent focus:placeholder-gray-400 sm:block" placeholder="Search jobs, applicants, and more" type="search">
            </div>
          </form>
        </div>
        <div class="ml-4 flex items-center md:ml-6">
          <button class="bg-white rounded-full p-1 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
            <!-- Heroicon name: bell -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
            <span class="sr-only">View notifications</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <main class="flex-1 overflow-y-auto focus:outline-none" tabindex="0">
    <div class="relative max-w-4xl mx-auto md:px-8 xl:px-0">
      <div class="pt-10 pb-16">
        <div class="px-4 sm:px-6 md:px-0">
          <h1 class="text-3xl font-extrabold text-gray-900">Paramètres</h1>
        </div>
        <div class="px-4 sm:px-6 md:px-0">
          <div class="py-6">
            <!-- Tabs -->
            <div class="lg:hidden">
              <label for="selectedTab" class="sr-only">Select a tab</label>
              <select id="selectedTab" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm rounded-md">
                <option selected>General</option>

                <option>Password</option>

                <option>Notifications</option>

                <option>Établissement</option>

                <option>Billing</option>

                <option>Team Members</option>
              </select>
            </div>
            <div class="hidden lg:block">
              <div class="border-b border-gray-200">
                <nav class="-mb-px flex">
                  <a href="#" class="whitespace-nowrap py-4 px-1 border-b-2 border-purple-500 font-medium text-sm text-purple-600">
                    General
                  </a>

                  <a href="#" class="whitespace-nowrap ml-8 py-4 px-1 border-b-2 border-transparent font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300">
                    Mot de passe
                  </a>

                  <a href="#" class="whitespace-nowrap ml-8 py-4 px-1 border-b-2 border-transparent font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300">
                    Notifications
                  </a>

                  <a href="#" class="whitespace-nowrap ml-8 py-4 px-1 border-b-2 border-transparent font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300">
                    Établissement
                  </a>

                  <a href="#" class="whitespace-nowrap ml-8 py-4 px-1 border-b-2 border-transparent font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300">
                    Comptes administrateur
                  </a>

                </nav>
              </div>
            </div>

            <!-- Description list with inline editing -->
            <div class="mt-10 divide-y divide-gray-200">
              <div class="space-y-1">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                  Profile
                </h3>
                <p class="max-w-2xl text-sm text-gray-500">
                  This information will be displayed publicly so be careful what you share.
                </p>
              </div>
              <div class="mt-6">
                <dl class="divide-y divide-gray-200">
                  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                      Nom
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      <span class="flex-grow"><%= current_user.complete_name %></span>
                      <span class="ml-4 flex-shrink-0">
                          <button type="button" class="bg-white rounded-md font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                            Mettre à jour
                          </button>
                        </span>
                    </dd>
                  </div>
                  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:pt-5">
                    <dt class="text-sm font-medium text-gray-500">
                      Photo profile
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">
                          <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                        </span>
                      <span class="ml-4 flex-shrink-0 flex items-start space-x-4">
                          <button type="button" class="bg-white rounded-md font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                            Mettre à jour
                          </button>
                          <span class="text-gray-300" aria-hidden="true">|</span>
                          <button type="button" class="bg-white rounded-md font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                            Supprimer
                          </button>
                        </span>
                    </dd>
                  </div>
                  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:pt-5">
                    <dt class="text-sm font-medium text-gray-500">
                      Adresse email
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      <span class="flex-grow"><%= current_user.email %></span>
                      <span class="ml-4 flex-shrink-0">
                          <button type="button" class="bg-white rounded-md font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                            Mettre à jour
                          </button>
                        </span>
                    </dd>
                  </div>
                  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-b sm:border-gray-200">
                    <dt class="text-sm font-medium text-gray-500">
                      Job title
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      <span class="flex-grow">Human Resources Manager</span>
                      <span class="ml-4 flex-shrink-0">
                          <button type="button" class="bg-white rounded-md font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                            Update
                          </button>
                        </span>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>

            <div class="mt-10 divide-y divide-gray-200">
              <div class="space-y-1">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                  Compte
                </h3>
                <p class="max-w-2xl text-sm text-gray-500">
                  Manage how information is displayed on your account.
                </p>
              </div>
              <div class="mt-6">
                <dl class="divide-y divide-gray-200">
                  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                      Langue
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      <span class="flex-grow">Français</span>
                      <span class="ml-4 flex-shrink-0">
                          <button type="button" class="bg-white rounded-md font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                            Mettre à jour
                          </button>
                        </span>
                    </dd>
                  </div>
                  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:pt-5">
                    <dt class="text-sm font-medium text-gray-500">
                      Format de la date
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      <span class="flex-grow">DD-MM-YYYY</span>
                      <span class="ml-4 flex-shrink-0 flex items-start space-x-4">
                          <button type="button" class="bg-white rounded-md font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                            Update
                          </button>
                          <span class="text-gray-300" aria-hidden="true">|</span>
                          <button type="button" class="bg-white rounded-md font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                            Remove
                          </button>
                        </span>
                    </dd>
                  </div>
                  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:pt-5">
                    <dt id="timezone-option-label" class="text-sm font-medium text-gray-500">
                      Automatic timezone
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      <!-- On: "bg-purple-600", Off: "bg-gray-200" -->
                      <button type="button" @click="on = !on" x-data="{ on: true }" :aria-pressed="on.toString()" :class="{ 'bg-gray-200': !on, 'bg-purple-600': on }" aria-pressed="true" aria-labelledby="timezone-option-label" class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 sm:ml-auto">
                        <span class="sr-only">Use setting</span>
                        <!-- On: "translate-x-5", Off: "translate-x-0" -->
                        <span :class="{ 'translate-x-5': on, 'translate-x-0': off }" aria-hidden="true" class="translate-x-0 inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
                      </button>
                    </dd>
                  </div>
                  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-b sm:border-gray-200">
                    <dt id="auto-update-option-label" class="text-sm font-medium text-gray-500">
                      Auto-update applicant data
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      <!-- On: "bg-purple-600", Off: "bg-gray-200" -->
                      <button type="button" aria-pressed="false" aria-labelledby="auto-update-option-label" class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 sm:ml-auto">
                        <span class="sr-only">Use setting</span>
                        <!-- On: "translate-x-5", Off: "translate-x-0" -->
                        <span aria-hidden="true" class="translate-x-0 inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
                      </button>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>



<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Centre de configuration</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Le centre de configuration vous permet de configurer tout ce qui concerne votre établissement, mais egalement de vous assurer le bon fonctionnement de ce dernier
        <br>Il est important de noter que toute validation à ce niveau sera considéré comme irreversible.</p>
    </div>
    <div class="flex flex-wrap -m-2">
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/80x80">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium"><%= link_to "Etablissement #{current_user.structure.name}", manage_structure_path(token: current_user.structure.token) %></h2>
            <p class="text-gray-500">Configurer votre établissement <%= current_user.structure.name.upcase %>.</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/84x84">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium">
              <%= link_to "Calendrier scolaire", calendar_path %></h2>
            <p class="text-gray-500">Configurer votre calendrier</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/88x88">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium"><%= link_to 'Apprenants', student_index_path(show: 'all') %></h2>
            <p class="text-gray-500">Gestion des apprenants</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/90x90">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium"><%= link_to 'Enseignants', manage_enseignant_path %></h2>
            <p class="text-gray-500">Gestion des enseignants</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/94x94">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium"><%= link_to "Salles de classe", salle_de_classes_path %></h2>
            <p class="text-gray-500">Gestion des salles de classe</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/98x98">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium"><%= link_to "Matières", matieres_path %></h2>
            <p class="text-gray-500">Gestion des matières</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/98x98">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium"><%= link_to "Filieres", filieres_path %></h2>
            <p class="text-gray-500">Gestion des filieres</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/100x90">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium">Administrateurs</h2>
            <p class="text-gray-500">Configurer les administrateur</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/104x94">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium">Notifications et SMS</h2>
            <p class="text-gray-500">Configurer les notifications</p>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg bg-white hover:shadow-xl">
          <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/108x98">
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium">Sécurité et mot de passe</h2>
            <p class="text-gray-500">Product Manager</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Accueil
      <br />
      <span class="text-indigo-600">paramètres.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
          Journaux des activités
        </a>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center bg-grey-lighter">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="250" height="250" class="flex inline-block align-middle text-center">
    <g>
      <g>
        <rect x="408" y="72" style="fill:#FFEBB7;" width="88" height="32"/>
      </g>
      <g>
        <rect x="392" y="120" style="fill:#FFEBB7;" width="88" height="32"/>
      </g>
      <g>
        <g>
          <path style="fill:#5C546A;" d="M176,264c-4.422,0-8-3.578-8-8v-32c0-4.422,3.578-8,8-8s8,3.578,8,8v32
				C184,260.422,180.421,264,176,264z"/>
        </g>
      </g>
      <g>
        <g>
          <path style="fill:#5C546A;" d="M335.999,264c-4.422,0-8-3.578-8-8v-32c0-4.422,3.578-8,8-8s8,3.578,8,8v32
				C343.999,260.422,340.421,264,335.999,264z"/>
        </g>
      </g>
      <g>
        <path style="fill:#996459;" d="M343.999,88H168c-13.234,0-24,10.766-24,24v96c0,13.234,10.766,24,24,24h176
			c13.234,0,24-10.766,24-24v-96C367.999,98.766,357.234,88,343.999,88z"/>
      </g>
      <g>
        <g>
          <path style="fill:#5C546A;" d="M152,424c-4.422,0-8-3.578-8-8V288c0-4.422,3.578-8,8-8s8,3.578,8,8v128
				C160,420.422,156.421,424,152,424z"/>
        </g>
      </g>
      <g>
        <g>
          <path style="fill:#7E5C62;" d="M32,424c-4.422,0-8-3.578-8-8V192c0-4.422,3.578-8,8-8s8,3.578,8,8v224
				C40,420.422,36.421,424,32,424z"/>
        </g>
      </g>
      <g>
        <path style="fill:#996459;" d="M32,408L32,408c-8.837,0-16,7.163-16,16v16c0,4.418,3.582,8,8,8h16c4.418,0,8-3.582,8-8v-16
			C48,415.163,40.837,408,32,408z"/>
      </g>
      <g>
        <g>
          <path style="fill:#7E5C62;" d="M479.999,424c-4.422,0-8-3.578-8-8V192c0-4.422,3.578-8,8-8s8,3.578,8,8v224
				C487.999,420.422,484.421,424,479.999,424z"/>
        </g>
      </g>
      <g>
        <path style="fill:#996459;" d="M480,408L480,408c-8.837,0-16,7.163-16,16v16c0,4.418,3.582,8,8,8h16c4.418,0,8-3.582,8-8v-16
			C496,415.163,488.836,408,480,408z"/>
      </g>
      <g>
        <g>
          <path style="fill:#5C546A;" d="M359.999,424c-4.422,0-8-3.578-8-8V288c0-4.422,3.578-8,8-8s8,3.578,8,8v128
				C367.999,420.422,364.421,424,359.999,424z"/>
        </g>
      </g>
      <g>
        <g>
          <path style="fill:#5C546A;" d="M359.999,368H152c-4.422,0-8-3.578-8-8s3.578-8,8-8h208c4.422,0,8,3.578,8,8
				S364.421,368,359.999,368z"/>
        </g>
      </g>
      <g>
        <g>
          <path style="fill:#4BB9EC;" d="M480.219,160h-72c-13.234,0-24-10.766-24-24s10.766-24,24-24h72c4.422,0,8,3.578,8,8s-3.578,8-8,8
				h-72c-4.414,0-8,3.586-8,8s3.586,8,8,8h72c4.422,0,8,3.578,8,8S484.64,160,480.219,160z"/>
        </g>
      </g>
      <g>
        <g>
          <path style="fill:#FF4F19;" d="M496.219,112h-72c-13.234,0-24-10.766-24-24s10.766-24,24-24h72c4.422,0,8,3.578,8,8s-3.578,8-8,8
				h-72c-4.414,0-8,3.586-8,8s3.586,8,8,8h72c4.422,0,8,3.578,8,8S500.64,112,496.219,112z"/>
        </g>
      </g>
      <g>
        <g>
          <path style="fill:#FF4F19;" d="M96,120c-4.422,0-8-3.578-8-8V72c0-4.422,3.578-8,8-8s8,3.578,8,8v40
				C104,116.422,100.422,120,96,120z"/>
        </g>
      </g>
      <g>
        <g>
          <path style="fill:#00C37A;" d="M80,128c-4.422,0-8-3.578-8-8V80c0-4.422,3.578-8,8-8s8,3.578,8,8v40
				C88,124.422,84.422,128,80,128z"/>
        </g>
      </g>
      <g>
        <path style="fill:#E6BE94;" d="M496,192H360.22H16c-8.837,0-16-7.163-16-16l0,0c0-8.837,7.163-16,16-16h480
			c8.837,0,16,7.163,16,16l0,0C512,184.836,504.836,192,496,192z"/>
      </g>
      <g>
        <path style="fill:#868491;" d="M151.781,408L151.781,408c-8.837,0-16,7.163-16,16v16c0,4.418,3.582,8,8,8h16c4.418,0,8-3.582,8-8
			v-16C167.781,415.163,160.617,408,151.781,408z"/>
      </g>
      <g>
        <path style="fill:#868491;" d="M359.781,408L359.781,408c-8.837,0-16,7.163-16,16v16c0,4.418,3.582,8,8,8h16c4.418,0,8-3.582,8-8
			v-16C375.781,415.163,368.617,408,359.781,408z"/>
      </g>
      <g>
        <path style="fill:#7E5C62;" d="M368,288H144c-8.837,0-16-7.163-16-16v-8c0-4.418,3.582-8,8-8h240c4.418,0,8,3.582,8,8v8
			C384,280.836,376.836,288,368,288z"/>
      </g>
      <g>
        <path style="fill:#5C546A;" d="M107.388,104H60.612c-2.434,0-4.304,2.156-3.96,4.566L64,160h40l7.348-51.434
			C111.692,106.156,109.822,104,107.388,104z"/>
      </g>
      <g>
        <path style="fill:#868491;" d="M107.388,104H84v56h20l7.348-51.435C111.692,106.156,109.822,104,107.388,104z"/>
      </g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
  </svg>
</div>
<div class="flex justify-center bg-grey-lighter">
  <p class="text-center text-xl font-bold">
    Administration et gestion
  </p>
</div>