<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      <% if @current_structure.logo.attached? %>
        <%= image_tag url_for(@current_structure.logo), class: "inline-block h-12 w-12" %> Gestion de la structure
      <% else %>
        <%= image_tag 'logo.png', class: "inline-block h-12 w-12" %> Gestion de la structure
      <% end %>
      <br/>
      <span class="text-indigo-600"><%= @current_structure.name %>.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Update structure", setup_structure_index_path(structure_id: params[:structure_id]), class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>


<section class="my-8 font-sans container m-auto max-w-xl ">
  <div class="text-center">
    <h1 class="my-4 font-medium">Show Your Work</h1>
    <p class="leading-normal mb-4 max-w-sm m-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="flex flex-col sm:flex-row flex-wrap my-8">
    <%= link_to setup_root_structure_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-12 h-12 rounded-full bg-red-300 text-center" alt="">
      </div>
      <h3 class="mt-4 mb-1">ADMIN</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal px-6 hidden hover:block">Donec nec justo eget felis
        facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
    <% end %>
    <%= link_to matieres_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-12 h-12 rounded-full bg-yellow-300" alt=""></div>
      <h3 class="mt-4 mb-1">MATIERES</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    <% end %>
    <%= link_to setup_manage_enseignant_index_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-12 h-12 rounded-full bg-black" alt=""></div>
      <h3 class="mt-4 mb-1">ENSEIGNANTS</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Phasellus ultrices nulla quis nibh.
        Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus.</p>
    <% end %>
    <%= link_to cycle_ecoles_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-12 h-12 rounded-full bg-green-300" alt=""></div>
      <h3 class="mt-4 mb-1">CYCLES</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Donec nec justo eget felis facilisis
        fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
    <% end %>
    <%= link_to teacher_classes_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-12 h-12 rounded-full bg-indigo-300" alt=""></div>
      <h3 class="mt-4 mb-1">AFFECTATIONS</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit.</p>
    <% end %>
    <%= link_to salle_de_classes_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
      <h3 class="mt-4 mb-1">CLASSES</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Donec odio. Quisque volutpat mattis
        eros. Nullam malesuada erat ut turpis. </p>
    <% end %>
    <%= link_to setup_liste_apprenants_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-12 h-12 rounded-full bg-yellow-300" alt=""></div>
      <h3 class="mt-4 mb-1">APPRENANTS</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    <% end %>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-yellow-300" alt=""></div>
      <h3 class="mt-4 mb-1">API EXTERNES</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-yellow-300" alt=""></div>
      <h3 class="mt-4 mb-1">ROLES</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-yellow-300" alt=""></div>
      <h3 class="mt-4 mb-1">SALLES DE CLASSE</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-yellow-300" alt=""></div>
      <h3 class="mt-4 mb-1">SALLES DE CLASSE</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-yellow-300" alt=""></div>
      <h3 class="mt-4 mb-1">COMPTES PARENTS</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    </div>
  </div>
</section>

<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg bg-white">

        <% if User.where(structure_id: @current_structure.id).count.zero? %>
          <%= link_to "#", data: {confirm: "Il est necessaire d'importer des enseignants pour avoir \naccès à cette fonctionnalités"} do %>
            <%#= image_tag 'word.png', class: "block h-auto w-full" %>
          <% end %>
        <% else %>
          <%= link_to setup_root_structure_path do %>
            <%#= image_tag 'rulers.png', class: "block h-auto w-full" %>
          <% end %>
        <% end %>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              ADMIN. <%= @current_structure.name %>
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <p class="ml-2 text-sm">
              Gestion des utilisateurs administrateur mais egalement d'administration
            </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg bg-white">

        <%= link_to setup_matiere_index_path(token: params[:token]) do %>
          <%#= image_tag 'iconfinder_book-note-paper-school_2824439.png', class: "block h-auto w-full" %>
          <!-- <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
        <% end %>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black hover:bg-transparent hover:text-indigo-500" href="#">
              Gestion des matières
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <p class="ml-2 text-sm">
              Gestion des matières par import d'un document ou une création à la volée.
            </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg bg-white">
        <%= link_to setup_manage_enseignant_index_path(token: params[:token]) do %>
          <%#= image_tag 'iconfinder_pencil-pen-stationery-school_2824443.png', class: "block h-auto w-full" %>
        <% end %>

        <!-- <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Gestion des enseignants
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <p class="ml-2 text-sm">
            Importer ou créer des enseignants, effectuer des affectations.
          </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg bg-white">

        <%= link_to teacher_classes_path(token: params[:token]) do %>
          <%#= image_tag 'iconfinder_book-note-paper-school_2824439.png', class: "block h-auto w-full" %>
          <!-- <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
        <% end %>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black hover:bg-transparent hover:text-indigo-500" href="#">
              Gestion des affectations
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <p class="ml-2 text-sm">
              Gerer toutes les affectations des enseignants dans l'établissement.
            </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg bg-white">

        <%= link_to salle_de_classes_path do %>
          <%#= image_tag 'pdf.png', class: "block h-auto w-full" %>
        <% end %>

        <!-- <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Gestion des classes
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <p class="ml-2 text-sm">
              Permet de gerer des salles de classe, d'importer ou de créer manuellement.
            </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg bg-white">

        <a href="#">
          <%#= image_tag 'pdf.png', class: "block h-auto w-full" %>
          <!-- <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
        </a>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Gestion des apprenants
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <p class="ml-2 text-sm">
              Gestion des apprenants, permet d'importer ou de créer des apprenants à la volée.
            </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg bg-white">

        <a href="#">
          <%#= image_tag 'pdf.png', class: "block h-auto w-full" %>
          <!--          <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
        </a>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Roles & postes
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
            <p class="ml-2 text-sm">
              Permet de gerer les rôles et les postes sur la plateforme
            </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg bg-white">

        <a href="#">
          <%#= image_tag 'pdf.png', class: "block h-auto w-full" %>
          <!--          <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
        </a>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Gestion des Cycles
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <p class="ml-2 text-sm">
              Permet de gerer les rôles et les postes sur la plateforme
            </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg bg-white">

        <a href="#">
          <%#= image_tag 'iconfinder_tube-lab-science-school_2824437.png', class: "block h-auto w-full" %>
          <!-- <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
        </a>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              External API Intégration
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <p class="ml-2 text-sm">
              Permet de gerer l'intégration des API externes complementaires à la plateforme.
            </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">

        <a href="#">
          <%#= image_tag 'pdf.png', class: "block h-auto w-full" %>
          <!-- <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
        </a>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Sécurités de la structure
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <p class="ml-2 text-sm">
              Permet de gerer tous les aspects liés à la sécurité de la plateforme.
            </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">

        <a href="#">
          <%= image_tag 'pdf.png', class: "block h-auto w-full" %>
          <!-- <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
        </a>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Gestion des notifications
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <p class="ml-2 text-sm">
              Permet de gerer tous les aspects liés à la sécurité de la plateforme.
            </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">

        <a href="#">
          <%#= image_tag 'pdf.png', class: "block h-auto w-full" %>
          <!-- <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
        </a>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Gestion des documents
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <p class="ml-2 text-sm">
              Permet de gerer tous les aspects liés à la sécurité de la plateforme.
            </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">

        <a href="#">
          <%#= image_tag 'pdf.png', class: "block h-auto w-full" %>
          <!-- <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">-->
        </a>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Historique
            </a>
          </h1>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <p class="ml-2 text-sm">
              Permet de gerer tous les aspects liés à la sécurité de la plateforme.
            </p>
          </a>
        </footer>

      </article>
      <!-- END Article -->

    </div>
    <!-- END Column -->

  </div>
</div>