<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      <% if @current_structure.logo.attached? %>
        <%= image_tag url_for(@current_structure.logo), class: "inline-block h-12 w-12" %> Gestion de la structure
      <% else %>
        <%= image_tag 'logo.png', class: "inline-block h-12 w-12" %> Gestion de la structure
      <% end %>
      <br/>
      <span class="text-indigo-600"><%= @current_structure.name %>.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Update structure", setup_structure_index_path(structure_id: params[:structure_id]), class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>


<section class="my-8 font-sans container m-auto max-w-xl ">
<!--  <div class="text-center">-->
<!--    <h1 class="my-4 font-medium">Show Your Work</h1>-->
<!--    <p class="leading-normal mb-4 max-w-sm m-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do-->
<!--      eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--  </div>-->
  <div class="flex flex-col sm:flex-row flex-wrap my-8">
    <%= link_to setup_root_structure_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-24 h-24 text-center" alt="">
        <svg style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="_x34_0_x2C__Microsoft_x2C__Admin">
            <g>
              <path d="M48.5,96v320l240,30c0-12.107,0-370.376,0-380L48.5,96z" style="fill:#9BC9FF;"/>
              <path d="M186.14,195.65l37.43,120.7H194.2l-9.31-30.979h-34.57l-8.59,30.979h-28.3l36.89-120.7H186.14z     M180.95,264.95l-7.53-25.6c-2.14-7.17-4.29-16.12-6.08-23.28h-0.36c-1.79,7.16-3.58,16.29-5.55,23.28l-7.17,25.6H180.95z" style="fill:#FFFFFF;"/>
              <path d="M338.5,441c11.05,0,20,8.95,20,20s-8.95,20-20,20c-11.051,0-20-8.95-20-20S327.449,441,338.5,441z" style="fill:#9BC9FF;"/>
              <circle cx="393.5" cy="76" r="30" style="fill:#9BC9FF;"/>
              <path d="M311.51,232.29c13.051,0,23.7,10.65,23.7,23.72c0,13.05-10.649,23.7-23.7,23.7    c-1.02,0-2.02-0.08-3.01-0.2v-47.02C309.49,232.37,310.49,232.29,311.51,232.29z" style="fill:#FFFFFF;"/>
              <path d="M311.529,309.71c29.551,0,53.681-24.13,53.681-53.68c0-29.61-24.13-53.74-53.681-53.74    c-1.02,0-2.029,0.04-3.029,0.1V129h22.43l3.87,37.08c8.49,2.15,16.49,5.53,23.851,9.89l28.91-23.49l27.51,27.46l-23.53,28.91    c4.35,7.36,7.739,15.42,9.88,23.86l37.08,3.87v38.84l-37.08,3.87c-2.141,8.49-5.53,16.5-9.88,23.86l23.53,28.909l-27.51,27.511    l-28.91-23.54c-7.36,4.359-15.36,7.739-23.851,9.89L330.93,383H308.5v-73.38C309.5,309.67,310.51,309.71,311.529,309.71z" style="fill:#FFFFFF;"/>
              <circle cx="461" cy="103.5" r="7.5" style="fill:#1E81CE;"/>
              <circle cx="461" cy="413.5" r="7.5" style="fill:#1E81CE;"/>
              <circle cx="396" cy="448.5" r="7.5" style="fill:#1E81CE;"/>
              <circle cx="331" cy="33.5" r="7.5" style="fill:#1E81CE;"/>
              <circle cx="116" cy="33.5" r="7.5" style="fill:#1E81CE;"/>
              <circle cx="111" cy="458.5" r="7.5" style="fill:#1E81CE;"/>
              <path d="M330.93,388H308.5c-2.762,0-5-2.238-5-5v-73.38c0-2.762,2.238-5,5-5s5,2.238,5,5V378h12.924    l3.402-32.6c0.219-2.085,1.714-3.813,3.746-4.327c7.828-1.983,15.408-5.127,22.529-9.345c1.804-1.068,4.08-0.899,5.705,0.425    l25.41,20.689l21.126-21.127l-20.681-25.409c-1.321-1.623-1.492-3.898-0.427-5.7c4.229-7.156,7.37-14.739,9.337-22.538    c0.512-2.035,2.241-3.533,4.328-3.751l32.6-3.402v-29.83l-32.6-3.402c-2.084-0.218-3.813-1.712-4.327-3.744    c-1.987-7.839-5.13-15.424-9.338-22.545c-1.065-1.802-0.895-4.077,0.427-5.7l20.678-25.407l-21.123-21.085l-25.414,20.649    c-1.624,1.32-3.9,1.488-5.701,0.421c-7.121-4.218-14.7-7.362-22.529-9.345c-2.032-0.515-3.527-2.243-3.746-4.328L326.424,134    H313.5v68.39c0,2.761-2.238,5-5,5s-5-2.239-5-5V129c0-2.761,2.238-5,5-5h22.43c2.561,0,4.707,1.934,4.973,4.481l3.516,33.68    c6.453,1.896,12.729,4.501,18.73,7.774l26.259-21.335c1.986-1.615,4.873-1.468,6.685,0.342l27.51,27.46    c1.816,1.813,1.966,4.705,0.346,6.695l-21.373,26.26c3.266,6.002,5.866,12.279,7.765,18.735l33.681,3.515    c2.547,0.266,4.48,2.413,4.48,4.973v38.84c0,2.561-1.934,4.707-4.48,4.973l-33.677,3.516c-1.888,6.436-4.489,12.714-7.768,18.736    l21.372,26.259c1.619,1.988,1.471,4.879-0.342,6.691l-27.51,27.511c-1.813,1.814-4.703,1.96-6.693,0.342l-26.257-21.38    c-6.002,3.271-12.276,5.875-18.728,7.772l-3.516,33.68C335.637,386.065,333.49,388,330.93,388z" style="fill:#1E81CE;"/>
              <path d="M311.529,314.71c-1.189,0-2.324-0.049-3.277-0.096c-2.662-0.133-4.752-2.329-4.752-4.994v-30.11    c0-2.762,2.238-5,5-5s5,2.238,5,5v25.161c25.932-1.038,46.71-22.459,46.71-48.641c0-26.214-20.778-47.662-46.71-48.701v25.161    c0,2.761-2.238,5-5,5s-5-2.239-5-5v-30.1c0-2.645,2.061-4.833,4.7-4.991c1.222-0.073,2.312-0.109,3.329-0.109    c32.357,0,58.681,26.351,58.681,58.74C370.21,288.387,343.887,314.71,311.529,314.71z" style="fill:#1E81CE;"/>
              <path d="M311.51,284.71c-1.119,0-2.301-0.077-3.612-0.236c-2.51-0.305-4.397-2.436-4.397-4.964v-47.02    c0-2.528,1.888-4.659,4.397-4.963c1.312-0.159,2.493-0.237,3.612-0.237c15.825,0,28.7,12.884,28.7,28.72    C340.21,271.835,327.335,284.71,311.51,284.71z M313.5,237.396v37.209c9.379-0.996,16.71-8.955,16.71-18.595    C330.21,246.36,322.879,238.393,313.5,237.396z" style="fill:#1E81CE;"/>
              <path d="M223.59,321.35c-0.007,0-0.013,0-0.02,0H194.2c-2.207,0-4.153-1.447-4.789-3.561l-8.24-27.419    h-27.049l-7.574,27.315c-0.601,2.165-2.571,3.664-4.818,3.664h-28.3c-1.585,0-3.076-0.752-4.019-2.025    c-0.943-1.274-1.226-2.92-0.763-4.437l36.89-120.699c0.643-2.103,2.583-3.539,4.782-3.539h35.82c2.191,0,4.126,1.426,4.775,3.519    l37.298,120.274c0.243,0.587,0.376,1.231,0.376,1.906C228.59,319.111,226.351,321.35,223.59,321.35z M197.918,311.35h18.866    l-34.329-110.7H154.02l-33.834,110.7h17.742l7.574-27.315c0.601-2.165,2.571-3.664,4.818-3.664h34.57    c2.207,0,4.153,1.447,4.789,3.561L197.918,311.35z" style="fill:#1E81CE;"/>
              <path d="M180.95,269.95h-26.69c-1.564,0-3.039-0.732-3.984-1.979s-1.253-2.863-0.831-4.37l7.17-25.6    c1.146-4.065,2.252-8.977,3.321-13.726c0.751-3.337,1.461-6.489,2.193-9.418c0.556-2.226,2.556-3.787,4.851-3.787h0.36    c2.294,0,4.294,1.562,4.851,3.787l0.906,3.641c1.574,6.344,3.357,13.534,5.115,19.422l7.536,25.619    c0.445,1.512,0.15,3.145-0.793,4.406S182.525,269.95,180.95,269.95z M160.853,259.95h13.415l-5.644-19.189    c-0.417-1.395-0.833-2.854-1.246-4.353c-0.371,1.487-0.749,2.93-1.135,4.299L160.853,259.95z" style="fill:#1E81CE;"/>
              <path d="M288.5,451c-0.206,0-0.413-0.013-0.62-0.039l-240-30c-2.502-0.313-4.38-2.439-4.38-4.961V96    c0-2.521,1.878-4.648,4.38-4.961l240-30c1.425-0.179,2.854,0.264,3.929,1.213c1.076,0.949,1.691,2.314,1.691,3.749v150    c0,2.761-2.238,5-5,5s-5-2.239-5-5V71.664l-230,28.75v311.172l230,28.75V306c0-2.762,2.238-5,5-5s5,2.238,5,5v140    c0,1.435-0.615,2.799-1.691,3.748C290.891,450.56,289.711,451,288.5,451z" style="fill:#1E81CE;"/>
              <path d="M393.5,111c-19.299,0-35-15.701-35-35s15.701-35,35-35s35,15.701,35,35S412.799,111,393.5,111z     M393.5,51c-13.785,0-25,11.215-25,25s11.215,25,25,25s25-11.215,25-25S407.285,51,393.5,51z" style="fill:#1E81CE;"/>
              <path d="M338.5,486c-13.785,0-25-11.215-25-25s11.215-25,25-25s25,11.215,25,25S352.285,486,338.5,486z     M338.5,446c-8.271,0-15,6.729-15,15s6.729,15,15,15s15-6.729,15-15S346.771,446,338.5,446z" style="fill:#1E81CE;"/>
              <path d="M288.5,251c-2.762,0-5-2.239-5-5v-30c0-2.761,2.238-5,5-5s5,2.239,5,5v30    C293.5,248.761,291.262,251,288.5,251z" style="fill:#1E81CE;"/>
              <path d="M288.5,281c-2.762,0-5-2.238-5-5v-30c0-2.761,2.238-5,5-5s5,2.239,5,5v30    C293.5,278.762,291.262,281,288.5,281z" style="fill:#1E81CE;"/>
              <path d="M288.5,311c-2.762,0-5-2.238-5-5v-30c0-2.762,2.238-5,5-5s5,2.238,5,5v30    C293.5,308.762,291.262,311,288.5,311z" style="fill:#1E81CE;"/>
            </g>
          </g>
          <g id="Layer_1"/>
        </svg>
      </div>
      <h3 class="mt-4 mb-1">ADMIN</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal px-6 hidden hover:block">Donec nec justo eget felis
        facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
    <% end %>
    <%= link_to matieres_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-24 h-24" alt="">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 512.438 512.438" style="enable-background:new 0 0 512.438 512.438;" xml:space="preserve">
          <g>
            <g>
              <path style="fill:#FF4F19;" d="M424,116.219h-40c-4.418,0-8,3.582-8,8v216h56v-216C432,119.801,428.418,116.219,424,116.219z"/>
            </g>
            <g>
              <path style="fill:#E3001E;" d="M404,116.219h-20c-4.418,0-8,3.582-8,8v216h28V116.219z"/>
            </g>
            <g>
              <path style="fill:#E3001E;" d="M168.219,84.219H120c-4.418,0-8,3.582-8,8v248h64.219v-248
			C176.219,87.801,172.637,84.219,168.219,84.219z"/>
            </g>
            <g>
              <path style="fill:#FF4F19;" d="M168.219,84.219H144v256h32.219v-248C176.219,87.801,172.637,84.219,168.219,84.219z"/>
            </g>
            <g>
              <g>
                <path style="fill:#868491;" d="M80,452.219c-2.977,0-5.781-1.668-7.156-4.422l-40-80c-1.977-3.953-0.375-8.758,3.578-10.734
				c3.945-1.969,8.758-0.375,10.734,3.578L72,410.332v-46.113c0-4.418,3.578-8,8-8s8,3.582,8,8v80c0,3.711-2.555,6.934-6.164,7.785
				C81.227,452.149,80.609,452.219,80,452.219z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#868491;" d="M432.219,452.219c-0.609,0-1.227-0.07-1.836-0.215c-3.609-0.852-6.164-4.074-6.164-7.785v-80
				c0-4.418,3.578-8,8-8s8,3.582,8,8v46.113l24.844-49.691c1.984-3.953,6.781-5.547,10.734-3.578
				c3.953,1.977,5.555,6.781,3.578,10.734l-40,80C438,450.551,435.195,452.219,432.219,452.219z"/>
              </g>
            </g>
            <g>
              <path style="fill:#5D647F;" d="M248,84.219h-16c-4.418,0-8,3.582-8,8v248h32v-248C256,87.801,252.418,84.219,248,84.219z"/>
            </g>
            <g>
              <path style="fill:#4BB9EC;" d="M368,84.219h-16c-4.418,0-8,3.582-8,8v248h32v-248C376,87.801,372.418,84.219,368,84.219z"/>
            </g>
            <g>
              <path style="fill:#FF9100;" d="M104,108.219H88c-4.418,0-8,3.582-8,8v223.125c0,0.483,0.392,0.875,0.875,0.875H112v-224
			C112,111.801,108.418,108.219,104,108.219z"/>
            </g>
            <g>
              <path style="fill:#00C37A;" d="M72,132.219H48c-4.418,0-8,3.582-8,8v200h40v-200C80,135.801,76.418,132.219,72,132.219z"/>
            </g>
            <g>
              <path style="fill:#5D647F;" d="M464,100.219h-24c-4.418,0-8,3.582-8,8v232h40v-232C472,103.801,468.418,100.219,464,100.219z"/>
            </g>
            <g>
              <path style="fill:#FF9100;" d="M336,60.219h-40c-4.418,0-8,3.582-8,8v272h56v-272C344,63.801,340.418,60.219,336,60.219z"/>
            </g>
            <g>
              <path style="fill:#00C37A;" d="M280,116.219h-16c-4.418,0-8,3.582-8,8v216h32v-216C288,119.801,284.418,116.219,280,116.219z"/>
            </g>
            <g>
              <path style="fill:#4BB9EC;" d="M216,100.219h-32c-4.418,0-8,3.582-8,8v232h48v-232C224,103.801,220.418,100.219,216,100.219z"/>
            </g>
            <g>
              <path style="fill:#E6BE8A;" d="M504.438,372.219H8c-4.418,0-8-3.582-8-8v-16c0-4.418,3.582-8,8-8h496.438c4.418,0,8,3.582,8,8v16
			C512.438,368.637,508.856,372.219,504.438,372.219z"/>
            </g>
            <g>
              <rect x="112" y="108.219" style="fill:#5D647F;" width="32" height="16"/>
            </g>
            <g>
              <rect x="144" y="108.219" style="fill:#868491;" width="32" height="16"/>
            </g>
            <g>
              <rect x="112" y="300.219" style="fill:#5D647F;" width="32" height="16"/>
            </g>
            <g>
              <rect x="144" y="300.219" style="fill:#868491;" width="32" height="16"/>
            </g>
            <g>
              <g>
                <rect x="272.219" y="140.219" style="fill:#00A077;" width="16" height="16"/>
              </g>
            </g>
            <g>
              <g>
                <rect x="272.219" y="292.219" style="fill:#00A077;" width="16" height="16"/>
              </g>
            </g>
            <g>
              <g>
                <rect x="376" y="140.219" style="fill:#FF9100;" width="28" height="16"/>
              </g>
            </g>
            <g>
              <g>
                <rect x="376" y="292.219" style="fill:#FF9100;" width="28" height="16"/>
              </g>
            </g>
            <g>
              <g>
                <rect x="404" y="140.219" style="fill:#FFCD00;" width="28" height="16"/>
              </g>
            </g>
            <g>
              <g>
                <rect x="404" y="292.219" style="fill:#FFCD00;" width="28" height="16"/>
              </g>
            </g>
            <g>
              <path style="fill:#009BCA;" d="M176,108.219v232h24v-240h-16C179.582,100.219,176,103.801,176,108.219z"/>
            </g>
            <g>
              <path style="fill:#FF4F19;" d="M80,340.219h16v-232h-8c-4.418,0-8,3.582-8,8V340.219z"/>
            </g>
            <g>
              <path style="fill:#00A077;" d="M40,340.219h20v-208H46.998c-3.865,0-6.998,3.133-6.998,6.998V340.219z"/>
            </g>
            <g>
              <path style="fill:#5C546A;" d="M224,340.219h16v-256h-8c-4.418,0-8,3.582-8,8V340.219z"/>
            </g>
            <g>
              <path style="fill:#00A077;" d="M256,340.219h16v-224h-8c-4.418,0-8,3.582-8,8V340.219z"/>
            </g>
            <g>
              <g>
                <rect x="256" y="140.219" style="fill:#5D647F;" width="16" height="16"/>
              </g>
            </g>
            <g>
              <g>
                <rect x="256" y="292.219" style="fill:#5D647F;" width="16" height="16"/>
              </g>
            </g>
            <g>
              <path style="fill:#FF4F19;" d="M288,340.219h28v-280h-20c-4.418,0-8,3.582-8,8V340.219z"/>
            </g>
            <g>
              <path style="fill:#009BCA;" d="M360,84.219h-8c-4.418,0-8,3.582-8,8v248h16V84.219z"/>
            </g>
            <g>
              <path style="fill:#5C546A;" d="M452.22,100.219H440c-4.418,0-8,3.582-8,8v232h20.22V100.219z"/>
            </g>
            <g>
              <path style="fill:#C9A07C;" d="M0,356.219v8c0,4.418,3.582,8,8,8h496.438c4.418,0,8-3.582,8-8v-8H0z"/>
            </g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
        </svg>
      </div>
      <h3 class="mt-4 mb-1">MATIERES</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    <% end %>
    <%= link_to setup_manage_enseignant_index_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-24 h-24" alt="">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 511.872 511.872" style="enable-background:new 0 0 511.872 511.872;" xml:space="preserve">
          <g>
            <g>
              <path style="fill:#996459;" d="M436.452,358.027l-75.047-14.023c-0.484-0.086-0.977-0.133-1.469-0.133h-208
			c-0.492,0-0.984,0.047-1.469,0.133l-75.726,14.187c-38.609,10.813-58.805,48.844-58.805,80.828v43.836
			c0,16,14.352,29.016,32,29.016h416c17.648,0,32-13.016,32-29.016v-43.836C495.936,407.035,475.741,369.004,436.452,358.027z"/>
            </g>
            <g>
              <path style="fill:#4BB9EC;" d="M294.712,511.871l-14.885-89.312c-0.641-3.859-3.977-6.688-7.891-6.688h-32
			c-3.914,0-7.25,2.828-7.891,6.688l-14.885,89.312L294.712,511.871L294.712,511.871z"/>
            </g>
            <g>
              <path style="fill:#009BCA;" d="M239.936,415.871c-2.044,0-3.903,0.799-5.331,2.086l53.346,53.351l-4.525-27.151l-28.283-28.286
			H239.936z"/>
            </g>
            <g>
              <path style="fill:#3482AC;" d="M287.882,376.019c-0.008-4.414-3.586-7.984-8-7.984h-40c-3.031,0-5.797,1.711-7.156,4.422l-8,16
			c-0.563,1.117-0.852,2.352-0.844,3.609l0.055,15.812c0,13.227,10.766,23.992,24,23.992h16c13.234,0,24-10.766,24-24.016
			L287.882,376.019z"/>
            </g>
            <g>
              <path style="fill:#B4B6BC;" d="M259.78,345.051l-71.945-40.164c-3.492-1.961-7.883-1.008-10.281,2.164l-30.195,40
			c-2.063,2.734-2.164,6.477-0.242,9.305l48.773,71.992c2.688,3.961,6.961,6.492,11.719,6.945c0.516,0.047,1.031,0.07,1.539,0.07
			c4.219,0,8.266-1.656,11.289-4.672c0.203-0.203,0.398-0.422,0.578-0.648l33.148-41.156c0.359-0.438,0.672-0.922,0.922-1.43
			l7.945-15.836c0.563-1.109,0.852-2.344,0.852-3.586v-16C263.882,349.137,262.311,346.465,259.78,345.051z"/>
            </g>
            <g>
              <path style="fill:#B4B6BC;" d="M251.983,345.051l71.945-40.164c3.492-1.961,7.883-1.008,10.281,2.164l30.195,40
			c2.063,2.734,2.164,6.477,0.242,9.305l-48.773,71.992c-2.688,3.961-6.961,6.492-11.719,6.945c-0.516,0.047-1.031,0.07-1.539,0.07
			c-4.219,0-8.266-1.656-11.289-4.672c-0.203-0.203-0.398-0.422-0.578-0.648l-33.147-41.156c-0.359-0.438-0.672-0.922-0.922-1.43
			l-7.945-15.836c-0.563-1.109-0.852-2.344-0.852-3.586v-16C247.882,349.137,249.452,346.465,251.983,345.051z"/>
            </g>
            <g>
              <path style="fill:#FFDCAD;" d="M367.882,152.035l-15.781-16c0,0-54.219-14.667-168.219,0l-48,16c0,11,0,17.55,0,56
			c0,79.529,53.726,144,120,144s120-64.471,120-144c0-12.906,0-37.5,0-56C373.811,154.349,367.882,152.035,367.882,152.035z"/>
            </g>
            <g>
              <circle style="fill:#AEEFFF;" cx="207.717" cy="208.035" r="32"/>
            </g>
            <g>
              <path style="fill:#FFFFFF;" d="M207.936,176.035c-8.78,0-16.726,3.547-22.507,9.273l45.234,45.234
			c5.727-5.782,9.273-13.727,9.273-22.507C239.936,190.362,225.61,176.035,207.936,176.035z"/>
            </g>
            <g>
              <circle style="fill:#AEEFFF;" cx="303.717" cy="208.035" r="32"/>
            </g>
            <g>
              <path style="fill:#FFFFFF;" d="M303.936,176.035c-8.78,0-16.726,3.547-22.507,9.273l45.234,45.234
			c5.727-5.782,9.273-13.727,9.273-22.507C335.936,190.362,321.61,176.035,303.936,176.035z"/>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M272.101,216.035c-4.422,0-8-3.578-8-8c0-4.414-3.586-8-8-8s-8,3.586-8,8c0,4.422-3.578,8-8,8
				s-8-3.578-8-8c0-13.234,10.766-24,24-24c13.234,0,24,10.766,24,24C280.101,212.457,276.522,216.035,272.101,216.035z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M176.101,208.035h-40.219c-4.422,0-8-3.578-8-8s3.578-8,8-8h40.219c4.422,0,8,3.578,8,8
				S180.522,208.035,176.101,208.035z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M375.882,208.035h-39.781c-4.422,0-8-3.578-8-8s3.578-8,8-8h39.781c4.422,0,8,3.578,8,8
				S380.304,208.035,375.882,208.035z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#868491;" d="M208.101,248.035c-22.055,0-40-17.945-40-40s17.945-40,40-40s40,17.945,40,40
				S230.155,248.035,208.101,248.035z M208.101,184.035c-13.234,0-24,10.766-24,24s10.766,24,24,24s24-10.766,24-24
				C232.101,194.801,221.335,184.035,208.101,184.035z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#868491;" d="M304.101,248.035c-22.055,0-40-17.945-40-40s17.945-40,40-40s40,17.945,40,40
				S326.155,248.035,304.101,248.035z M304.101,184.035c-13.234,0-24,10.766-24,24s10.766,24,24,24s24-10.766,24-24
				C328.1,194.801,317.335,184.035,304.101,184.035z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#FFFFFF;" d="M221.827,282.629c-4.336,0-8.594-1.406-12.102-5.711c-2.781-3.43-2.266-8.469,1.164-11.258
				c3.438-2.781,8.469-2.266,11.258,1.164c0.828,0.125,5.125-1.367,7.914-2.32c8.367-2.852,19.828-6.766,30.516,0.852
				c3.602,2.563,4.438,7.555,1.875,11.156c-2.563,3.586-7.555,4.43-11.156,1.875c-3.727-2.664-8.562-1.297-16.078,1.266
				C231.233,281.012,226.491,282.629,221.827,282.629z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#FFFFFF;" d="M290.046,282.629c-4.656,0-9.406-1.617-13.391-2.977c-7.523-2.555-12.359-3.93-16.078-1.266
				c-3.594,2.57-8.594,1.719-11.156-1.875c-2.563-3.602-1.727-8.594,1.875-11.156c10.672-7.602,22.148-3.703,30.516-0.852
				c2.789,0.953,6.992,2.461,8.328,2.102c2.781-3.422,7.609-3.836,11.047-1.055c3.43,2.781,3.742,7.93,0.961,11.359
				C298.647,281.223,294.382,282.629,290.046,282.629z"/>
              </g>
            </g>
            <g>
              <path style="fill:#FFFFFF;" d="M287.874,303.371c-0.266-4.219-3.758-7.5-7.984-7.5h-47.906c-4.227,0-7.719,3.281-7.984,7.5
			c-0.148,2.391-3.359,59,25.82,93.656c1.516,1.805,3.758,2.844,6.117,2.844s4.602-1.039,6.117-2.844
			C291.233,362.371,288.022,305.762,287.874,303.371z"/>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M415.936,207.871c-4.422,0-8-3.578-8-8v-95.383c0-4.422,3.578-8,8-8s8,3.578,8,8v95.383
				C423.936,204.293,420.358,207.871,415.936,207.871z"/>
              </g>
            </g>
            <g>
              <path style="fill:#5C546A;" d="M441.936,60.324L279.21,4.535c-17.617-6.047-37.047-6.047-54.68,0L61.804,60.324
			c-8.508,2.922-14,10.609-14,19.602s5.492,16.68,14,19.602l79.57,27.281c0.836,0.281,1.711,0.43,2.594,0.43c0.031,0,0.07,0,0.102,0
			l223.969-2.797c0.844-0.008,1.688-0.156,2.492-0.43l71.406-24.484c8.508-2.922,14-10.609,14-19.602S450.444,63.246,441.936,60.324
			z"/>
            </g>
            <g>
              <g>
                <path style="fill:#5D647F;" d="M228.498,141.195c8.483-0.616,17.577-0.996,27.439-0.996c9.862,0,18.956,0.379,27.439,0.996
				c32.577,1.882,71.284,7.267,92.561,18.84v-64c0-27.484-62.203-40-120-40s-120,12.516-120,40v64
				C157.214,148.461,195.92,143.077,228.498,141.195z"/>
              </g>
              <g>
                <path style="fill:#5C546A;" d="M255.936,100.363c-34.716,0-92.229,4.566-120,19.672v20.328c0-6.969,42.055-24,120-24
				s120,17.031,120,24v-20.328C348.166,104.93,290.653,100.363,255.936,100.363z"/>
              </g>
              <g>
                <path style="fill:#68748D;" d="M255.936,56.035c-0.018,0-0.037,0.001-0.055,0.001V140.2c0.019,0,0.036-0.001,0.055-0.001
				c9.862,0,18.956,0.379,27.439,0.996c32.577,1.882,71.284,7.267,92.561,18.84v-64C375.936,68.551,313.733,56.035,255.936,56.035z"
                  />
              </g>
              <g>
                <path style="fill:#5D647F;" d="M255.882,100.364v16c0.019,0,0.036-0.001,0.055-0.001c77.945,0,120,17.031,120,24v-20.328
				c-27.771-15.105-85.284-19.672-120-19.672C255.919,100.363,255.899,100.364,255.882,100.364z"/>
              </g>
            </g>
            <g>
              <path style="fill:#FFE671;" d="M423.882,256.035h-16c-4.418,0-8-3.582-8-8v-32c0-8.837,7.163-16,16-16l0,0c8.837,0,16,7.163,16,16
			v32C431.882,252.453,428.3,256.035,423.882,256.035z"/>
            </g>
            <g>
              <path style="fill:#FFCD00;" d="M399.882,216.035v32c0,4.418,3.582,8,8,8h8v-56C407.045,200.035,399.882,207.198,399.882,216.035z"
                />
            </g>
            <g>
              <path style="fill:#B4B6BC;" d="M95.938,458.382c0-16.974-6.743-33.252-18.745-45.255L41.667,377.6
			c-16.948,16.802-25.73,40.394-25.73,61.419v43.836c0,16,14.352,29.016,32,29.016h48.002v-53.489H95.938z"/>
            </g>
            <g>
              <path style="fill:#B4B6BC;" d="M470.136,377.676l-35.451,35.452c-12.003,12.002-18.746,28.281-18.746,45.255v53.489h47.998
			c17.648,0,32-13.016,32-29.016V439.02C495.936,418.045,487.194,394.516,470.136,377.676z"/>
            </g>
            <g>
              <polygon style="fill:#009BCA;" points="229.159,439.882 225.926,459.275 278.517,511.871 294.712,511.871 293.427,504.156 		"/>
            </g>
            <g>
              <polygon style="fill:#009BCA;" points="218.784,502.132 228.522,511.871 251.147,511.871 222.016,482.739 		"/>
            </g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
        </svg>
      </div>
      <h3 class="mt-4 mb-1">ENSEIGNANTS</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Phasellus ultrices nulla quis nibh.
        Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus.</p>
    <% end %>
    <%= link_to cycle_ecoles_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-24 h-24" alt="">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
          <g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M84.516,343.25c-3.023,0-5.922-1.719-7.273-4.648c-1.852-4.008-0.102-8.766,3.914-10.617
				l106.352-49.086c4.023-1.852,8.766-0.094,10.617,3.914s0.102,8.766-3.914,10.617L87.859,342.516
				C86.773,343.016,85.633,343.25,84.516,343.25z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M205.305,213.086c-2.047,0-4.094-0.781-5.656-2.344l-70.461-70.461
				c-3.125-3.125-3.125-8.188,0-11.313s8.188-3.125,11.312,0l70.461,70.461c3.125,3.125,3.125,8.187,0,11.312
				C209.398,212.305,207.351,213.086,205.305,213.086z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M307.133,213.086c-2.047,0-4.094-0.781-5.656-2.344c-3.125-3.125-3.125-8.188,0-11.312
				L402.969,97.945c3.125-3.125,8.188-3.125,11.313,0s3.125,8.187,0,11.312L312.789,210.742
				C311.226,212.305,309.18,213.086,307.133,213.086z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M449.594,457.375c-2.047,0-4.094-0.781-5.656-2.344L301.469,312.562
				c-3.125-3.125-3.125-8.187,0-11.312s8.188-3.125,11.312,0L455.25,443.719c3.125,3.125,3.125,8.188,0,11.313
				C453.687,456.594,451.64,457.375,449.594,457.375z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M269.305,408c-4.094,0-7.578-3.125-7.961-7.273l-6.578-72.305
				c-0.398-4.398,2.844-8.297,7.242-8.695c4.477-0.383,8.289,2.852,8.695,7.242l6.578,72.305c0.398,4.398-2.844,8.297-7.242,8.695
				C269.789,407.992,269.547,408,269.305,408z"/>
              </g>
            </g>
            <g>
              <circle style="fill:#FF4F19;" cx="256.219" cy="256" r="80"/>
            </g>
            <g>
              <circle style="fill:#FF8C62;" cx="276" cy="236" r="28"/>
            </g>
            <g>
              <circle style="fill:#FF9100;" cx="47.89" cy="351.89" r="47.89"/>
            </g>
            <g>
              <circle style="fill:#FFCD00;" cx="59.732" cy="339.918" r="16.762"/>
            </g>
            <g>
              <circle style="fill:#FFCD00;" cx="448.109" cy="63.89" r="63.89"/>
            </g>
            <g>
              <circle style="fill:#FFE671;" cx="463.907" cy="47.918" r="22.362"/>
            </g>
            <g>
              <circle style="fill:#00C37A;" cx="111.89" cy="112.11" r="39.89"/>
            </g>
            <g>
              <circle style="fill:#60DC4D;" cx="121.754" cy="102.137" r="13.962"/>
            </g>
            <g>
              <circle style="fill:#4CD7FF;" cx="471.89" cy="472.109" r="39.89"/>
            </g>
            <g>
              <circle style="fill:#AEEFFF;" cx="481.754" cy="462.137" r="13.962"/>
            </g>
            <g>
              <circle style="fill:#868491;" cx="272.109" cy="432.109" r="39.89"/>
            </g>
            <g>
              <circle style="fill:#B4B6BC;" cx="281.973" cy="422.137" r="13.962"/>
            </g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
        </svg>
      </div>
      <h3 class="mt-4 mb-1">CYCLES</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Donec nec justo eget felis facilisis
        fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
    <% end %>
    <%= link_to teacher_classes_path(token: params[:token]), target: '_blank', class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-24 h-24" alt="">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g>
            <g>
              <rect x="408" y="72" style="fill:#FFEBB7;" width="88" height="32"/>
            </g>
            <g>
              <rect x="392" y="120" style="fill:#FFEBB7;" width="88" height="32"/>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M176,264c-4.422,0-8-3.578-8-8v-32c0-4.422,3.578-8,8-8s8,3.578,8,8v32
				C184,260.422,180.421,264,176,264z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M335.999,264c-4.422,0-8-3.578-8-8v-32c0-4.422,3.578-8,8-8s8,3.578,8,8v32
				C343.999,260.422,340.421,264,335.999,264z"/>
              </g>
            </g>
            <g>
              <path style="fill:#996459;" d="M343.999,88H168c-13.234,0-24,10.766-24,24v96c0,13.234,10.766,24,24,24h176
			c13.234,0,24-10.766,24-24v-96C367.999,98.766,357.234,88,343.999,88z"/>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M152,424c-4.422,0-8-3.578-8-8V288c0-4.422,3.578-8,8-8s8,3.578,8,8v128
				C160,420.422,156.421,424,152,424z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#7E5C62;" d="M32,424c-4.422,0-8-3.578-8-8V192c0-4.422,3.578-8,8-8s8,3.578,8,8v224
				C40,420.422,36.421,424,32,424z"/>
              </g>
            </g>
            <g>
              <path style="fill:#996459;" d="M32,408L32,408c-8.837,0-16,7.163-16,16v16c0,4.418,3.582,8,8,8h16c4.418,0,8-3.582,8-8v-16
			C48,415.163,40.837,408,32,408z"/>
            </g>
            <g>
              <g>
                <path style="fill:#7E5C62;" d="M479.999,424c-4.422,0-8-3.578-8-8V192c0-4.422,3.578-8,8-8s8,3.578,8,8v224
				C487.999,420.422,484.421,424,479.999,424z"/>
              </g>
            </g>
            <g>
              <path style="fill:#996459;" d="M480,408L480,408c-8.837,0-16,7.163-16,16v16c0,4.418,3.582,8,8,8h16c4.418,0,8-3.582,8-8v-16
			C496,415.163,488.836,408,480,408z"/>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M359.999,424c-4.422,0-8-3.578-8-8V288c0-4.422,3.578-8,8-8s8,3.578,8,8v128
				C367.999,420.422,364.421,424,359.999,424z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M359.999,368H152c-4.422,0-8-3.578-8-8s3.578-8,8-8h208c4.422,0,8,3.578,8,8
				S364.421,368,359.999,368z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#4BB9EC;" d="M480.219,160h-72c-13.234,0-24-10.766-24-24s10.766-24,24-24h72c4.422,0,8,3.578,8,8s-3.578,8-8,8
				h-72c-4.414,0-8,3.586-8,8s3.586,8,8,8h72c4.422,0,8,3.578,8,8S484.64,160,480.219,160z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#FF4F19;" d="M496.219,112h-72c-13.234,0-24-10.766-24-24s10.766-24,24-24h72c4.422,0,8,3.578,8,8s-3.578,8-8,8
				h-72c-4.414,0-8,3.586-8,8s3.586,8,8,8h72c4.422,0,8,3.578,8,8S500.64,112,496.219,112z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#FF4F19;" d="M96,120c-4.422,0-8-3.578-8-8V72c0-4.422,3.578-8,8-8s8,3.578,8,8v40
				C104,116.422,100.422,120,96,120z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#00C37A;" d="M80,128c-4.422,0-8-3.578-8-8V80c0-4.422,3.578-8,8-8s8,3.578,8,8v40
				C88,124.422,84.422,128,80,128z"/>
              </g>
            </g>
            <g>
              <path style="fill:#E6BE94;" d="M496,192H360.22H16c-8.837,0-16-7.163-16-16l0,0c0-8.837,7.163-16,16-16h480
			c8.837,0,16,7.163,16,16l0,0C512,184.836,504.836,192,496,192z"/>
            </g>
            <g>
              <path style="fill:#868491;" d="M151.781,408L151.781,408c-8.837,0-16,7.163-16,16v16c0,4.418,3.582,8,8,8h16c4.418,0,8-3.582,8-8
			v-16C167.781,415.163,160.617,408,151.781,408z"/>
            </g>
            <g>
              <path style="fill:#868491;" d="M359.781,408L359.781,408c-8.837,0-16,7.163-16,16v16c0,4.418,3.582,8,8,8h16c4.418,0,8-3.582,8-8
			v-16C375.781,415.163,368.617,408,359.781,408z"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M368,288H144c-8.837,0-16-7.163-16-16v-8c0-4.418,3.582-8,8-8h240c4.418,0,8,3.582,8,8v8
			C384,280.836,376.836,288,368,288z"/>
            </g>
            <g>
              <path style="fill:#5C546A;" d="M107.388,104H60.612c-2.434,0-4.304,2.156-3.96,4.566L64,160h40l7.348-51.434
			C111.692,106.156,109.822,104,107.388,104z"/>
            </g>
            <g>
              <path style="fill:#868491;" d="M107.388,104H84v56h20l7.348-51.435C111.692,106.156,109.822,104,107.388,104z"/>
            </g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
        </svg>
      </div>
      <h3 class="mt-4 mb-1">AFFECTATIONS</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit.</p>
    <% end %>
    <%= link_to salle_de_classes_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-24 h-24" alt="">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g>
            <g>
              <polygon style="fill:#E6BE94;" points="487.781,484 23.781,484 23.781,268 119.782,268 255.781,132 391.784,268 487.781,268 		"/>
            </g>
            <g>
              <rect x="207.781" y="388" style="fill:#996459;" width="96" height="96"/>
            </g>
            <g>
              <path style="fill:#4BB9EC;" d="M301.781,356h-92c-1.105,0-2,0.895-2,2v30h96v-30C303.781,356.895,302.886,356,301.781,356z"/>
            </g>
            <g>
              <path style="fill:#FF4F19;" d="M329.617,68l13.039-19.562c1.633-2.453,1.789-5.609,0.398-8.211S338.953,36,336,36h-80
			c-4.422,0-8,3.578-8,8v48c0,4.422,3.578,8,8,8h80c2.953,0,5.664-1.625,7.055-4.227s1.234-5.758-0.398-8.211L329.617,68z"/>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M256,140c-4.422,0-8-3.578-8-8V28c0-4.422,3.578-8,8-8s8,3.578,8,8v104
				C264,136.422,260.422,140,256,140z"/>
              </g>
            </g>
            <g>
              <path style="fill:#FF4F19;" d="M288.391,168.938c1.234-2.992,4.156-4.938,7.391-4.938h152c2.734,0,5.281,1.398,6.75,3.703l56,88
			c1.57,2.469,1.664,5.586,0.266,8.148c-1.406,2.555-4.094,4.148-7.016,4.148h-120c-2.125,0-4.156-0.844-5.656-2.344l-88-88
			C287.836,175.367,287.148,171.93,288.391,168.938z"/>
            </g>
            <g>
              <path style="fill:#FF4F19;" d="M223.391,168.938C222.156,165.945,219.234,164,216,164H64c-2.734,0-5.281,1.398-6.75,3.703l-56,88
			c-1.57,2.469-1.664,5.586-0.266,8.148C2.391,266.406,5.078,268,8,268h120c2.125,0,4.156-0.844,5.656-2.344l88-88
			C223.945,175.367,224.633,171.93,223.391,168.938z"/>
            </g>
            <g>
              <g>
                <path style="fill:#E3001E;" d="M391.891,275.891c-2.047,0-4.094-0.781-5.656-2.344L256,143.313L125.766,273.547
				c-3.125,3.125-8.188,3.125-11.313,0s-3.125-8.188,0-11.313l135.891-135.891c3.125-3.125,8.188-3.125,11.313,0l135.891,135.891
				c3.125,3.125,3.125,8.188,0,11.313C395.984,275.109,393.938,275.891,391.891,275.891z"/>
              </g>
            </g>
            <g>
              <circle style="fill:#FFEBB7;" cx="256.001" cy="268" r="48"/>
            </g>
            <g>
              <path style="fill:#5C546A;" d="M256,236c-4.422,0-8,3.578-8,8v16h-16c-4.422,0-8,3.578-8,8s3.578,8,8,8h24c4.422,0,8-3.578,8-8
			v-24C264,239.578,260.422,236,256,236z"/>
            </g>
            <g>
              <g>
                <path style="fill:#4BB9EC;" d="M375.781,320c0-11.046-8.954-20-20-20s-20,8.954-20,20c0,1.37,0.141,2.707,0.403,4h-0.403v32h40
				v-32h-0.403C375.641,322.707,375.781,321.37,375.781,320z"/>
              </g>
              <g>
                <path style="fill:#7E5C62;" d="M356,292c-15.438,0-28,12.562-28,28v36c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-36
				C384,304.562,371.438,292,356,292z M356,308c6.617,0,12,5.383,12,12v4h-24v-4C344,313.383,349.383,308,356,308z M344,348v-8h24v8
				H344z"/>
              </g>
            </g>
            <g>
              <g>
                <rect x="136.001" y="396" style="fill:#4BB9EC;" width="40" height="48"/>
              </g>
              <g>
                <path style="fill:#7E5C62;" d="M176,388h-40c-4.422,0-8,3.578-8,8v48c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-48
				C184,391.578,180.422,388,176,388z M168,404v8h-24v-8H168z M144,436v-8h24v8H144z"/>
              </g>
            </g>
            <g>
              <g>
                <rect x="63.782" y="396" style="fill:#4BB9EC;" width="40" height="48"/>
              </g>
              <g>
                <path style="fill:#7E5C62;" d="M103.781,388h-40c-4.422,0-8,3.578-8,8v48c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-48
				C111.781,391.578,108.203,388,103.781,388z M95.781,404v8h-24v-8H95.781z M71.781,436v-8h24v8H71.781z"/>
              </g>
            </g>
            <g>
              <g>
                <rect x="408" y="396" style="fill:#4BB9EC;" width="40" height="48"/>
              </g>
              <g>
                <path style="fill:#7E5C62;" d="M448,388h-40c-4.422,0-8,3.578-8,8v48c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-48
				C456,391.578,452.422,388,448,388z M440,404v8h-24v-8H440z M416,436v-8h24v8H416z"/>
              </g>
            </g>
            <g>
              <g>
                <rect x="335.782" y="396" style="fill:#4BB9EC;" width="40" height="48"/>
              </g>
              <g>
                <path style="fill:#7E5C62;" d="M375.781,388h-40c-4.422,0-8,3.578-8,8v48c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-48
				C383.781,391.578,380.203,388,375.781,388z M367.781,404v8h-24v-8H367.781z M343.781,436v-8h24v8H343.781z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#4BB9EC;" d="M447.563,320c0-11.046-8.954-20-20-20s-20,8.954-20,20c0,1.37,0.141,2.707,0.403,4h-0.403v32h40
				v-32h-0.403C447.422,322.707,447.563,321.37,447.563,320z"/>
              </g>
              <g>
                <path style="fill:#7E5C62;" d="M427.781,292c-15.438,0-28,12.562-28,28v36c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-36
				C455.781,304.562,443.219,292,427.781,292z M427.781,308c6.617,0,12,5.383,12,12v4h-24v-4
				C415.781,313.383,421.164,308,427.781,308z M415.781,348v-8h24v8H415.781z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#4BB9EC;" d="M103.563,320c0-11.046-8.954-20-20-20s-20,8.954-20,20c0,1.37,0.141,2.707,0.403,4h-0.403v32h40
				v-32h-0.403C103.422,322.707,103.563,321.37,103.563,320z"/>
              </g>
              <g>
                <path style="fill:#7E5C62;" d="M83.781,292c-15.438,0-28,12.562-28,28v36c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-36
				C111.781,304.562,99.219,292,83.781,292z M83.781,308c6.617,0,12,5.383,12,12v4h-24v-4C71.781,313.383,77.164,308,83.781,308z
				 M71.781,348v-8h24v8H71.781z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#4BB9EC;" d="M175.344,320c0-11.046-8.954-20-20-20s-20,8.954-20,20c0,1.37,0.141,2.707,0.403,4h-0.403v32h40
				v-32h-0.403C175.203,322.707,175.344,321.37,175.344,320z"/>
              </g>
              <g>
                <path style="fill:#7E5C62;" d="M155.563,292c-15.438,0-28,12.562-28,28v36c0,4.422,3.578,8,8,8h40c4.422,0,8-3.578,8-8v-36
				C183.563,304.562,171,292,155.563,292z M155.563,308c6.617,0,12,5.383,12,12v4h-24v-4C143.563,313.383,148.945,308,155.563,308z
				 M143.563,348v-8h24v8H143.563z"/>
              </g>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M256,324c-30.879,0-56-25.121-56-56s25.121-56,56-56s56,25.121,56,56S286.879,324,256,324z
			 M256,228c-22.055,0-40,17.943-40,40s17.945,40,40,40s40-17.943,40-40S278.055,228,256,228z"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M288,348h-64c-13.234,0-24,10.766-24,24v112c0,4.422,3.578,8,8,8s8-3.578,8-8v-88h31.781v88h16v-88
			H296v88c0,4.422,3.578,8,8,8s8-3.578,8-8V372C312,358.766,301.234,348,288,348z M296,380h-80v-8c0-4.414,3.586-8,8-8h64
			c4.414,0,8,3.586,8,8V380z"/>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M504,492H8c-4.422,0-8-3.578-8-8s3.578-8,8-8h496c4.422,0,8,3.578,8,8S508.422,492,504,492z"/>
              </g>
            </g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
        </svg>
      </div>
      <h3 class="mt-4 mb-1">CLASSES</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Donec odio. Quisque volutpat mattis
        eros. Nullam malesuada erat ut turpis. </p>
    <% end %>
    <%= link_to setup_liste_apprenants_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-24 h-24" alt="">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 512.045 512.045" style="enable-background:new 0 0 512.045 512.045;" xml:space="preserve">
          <g>
            <g>
              <rect x="199.804" y="312.044" style="fill:#FCB47E;" width="112" height="104"/>
            </g>
            <g>
              <path style="fill:#4296D9;" d="M288.024,417.989c-19.236,12.231-32.001,14.055-32.001,14.055s-12.762-1.823-31.994-14.05
			c0,0-11.558-29.283-8.225-25.95c3.333,3.333,40.219,0,40.219,0l31.781,8L288.024,417.989z"/>
            </g>
            <g>
              <path style="fill:#996459;" d="M351.804,352.044l83.264,14.023c33.525,9.393,52.955,42.297,52.955,73.12v51.842
			c0,11.606-10.745,21.015-24,21.015h-416c-13.255,0-24-9.409-24-21.015v-51.842c0-30.823,19.43-63.727,52.955-73.12l82.826-14.023
			l96.219,40L351.804,352.044z"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M122.6,358.343c0.124,0.256,0.123,0.55,0.275,0.794c60.82,98.078,120.031,111.047,126.578,112.195
			l5.18,0.914c0.461,0.086,0.922,0.125,1.391,0.125c0.469,0,0.93-0.039,1.391-0.125l5.18-0.914
			c6.547-1.148,65.758-14.117,126.578-112.195c0.145-0.233,0.139-0.513,0.258-0.757l-37.625-6.337l-95.781,40l-96.219-40
			L122.6,358.343z"/>
            </g>
            <g>
              <path style="fill:#4BB9EC;" d="M184.024,312.044l-30.198,40l48.766,71.982c2.818,4.159,8.727,4.722,12.28,1.17l41.152-33.152
			L184.024,312.044z"/>
            </g>
            <g>
              <path style="fill:#4BB9EC;" d="M328.023,312.044l30.198,40l-48.766,71.982c-2.818,4.159-8.727,4.722-12.28,1.17l-41.152-33.152
			L328.023,312.044z"/>
            </g>
            <g>
              <path style="fill:#FFDCAD;" d="M368.212,174.564l-16.188-38.52c0,0-70-38.667-184-24h-0.219c-20.462,25.827-32,57.55-32,96
			c0,79.529,53.726,144,120,144s120-64.471,120-144c0-12.906-1.548-25.352-4.202-37.253
			C369.532,173.105,368.212,174.564,368.212,174.564z"/>
            </g>
            <g>
              <circle style="fill:#AEEFFF;" cx="207.804" cy="208.044" r="32"/>
            </g>
            <g>
              <path style="fill:#FFFFFF;" d="M207.804,176.044c-8.78,0-16.726,3.547-22.507,9.273l45.234,45.234
			c5.727-5.782,9.273-13.727,9.273-22.507C239.804,190.371,225.478,176.044,207.804,176.044z"/>
            </g>
            <g>
              <circle style="fill:#AEEFFF;" cx="303.804" cy="208.044" r="32"/>
            </g>
            <g>
              <path style="fill:#FFFFFF;" d="M304.023,176.044c-8.78,0-16.726,3.547-22.507,9.273l45.234,45.234
			c5.727-5.782,9.273-13.727,9.273-22.507C336.023,190.371,321.697,176.044,304.023,176.044z"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M383.343,20.818c-1.438-3.281-4.852-5.187-8.453-4.695c-20.047,2.898-44.352-2.016-70.063-7.172
			c-43.125-8.656-87.695-17.609-122.539,7.25c-0.508-0.102-1.039-0.156-1.586-0.156c-35.727,0-60.68,29.609-60.68,72
			c0,34.523,15.305,100.547,15.961,103.344c0.82,3.508,3.891,6.039,7.492,6.172c0.102,0.008,0.203,0.008,0.297,0.008
			c3.484,0,6.586-2.266,7.633-5.609l22.711-72.602c95.539-11.039,158.898,16.344,171.672,22.5l15.047,35.812
			c1.297,3.078,4.375,5.203,7.727,4.891c3.352-0.148,6.25-2.367,7.273-5.563C399.812,101.857,391.031,38.286,383.343,20.818z"/>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M272.023,216.044c-4.422,0-8-3.578-8-8c0-4.414-3.586-8-8-8c-4.414,0-8,3.586-8,8
				c0,4.422-3.578,8-8,8s-8-3.578-8-8c0-13.234,10.766-24,24-24s24,10.766,24,24C280.023,212.466,276.445,216.044,272.023,216.044z"
                  />
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M176.023,208.044h-40.219c-4.422,0-8-3.578-8-8s3.578-8,8-8h40.219c4.422,0,8,3.578,8,8
				S180.445,208.044,176.023,208.044z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#5C546A;" d="M375.804,208.044h-39.781c-4.422,0-8-3.578-8-8s3.578-8,8-8h39.781c4.422,0,8,3.578,8,8
				S380.226,208.044,375.804,208.044z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#868491;" d="M208.023,248.044c-22.055,0-40-17.945-40-40s17.945-40,40-40s40,17.945,40,40
				S230.078,248.044,208.023,248.044z M208.023,184.044c-13.234,0-24,10.766-24,24s10.766,24,24,24s24-10.766,24-24
				S221.257,184.044,208.023,184.044z"/>
              </g>
            </g>
            <g>
              <g>
                <path style="fill:#868491;" d="M304.023,248.044c-22.055,0-40-17.945-40-40s17.945-40,40-40s40,17.945,40,40
				S326.078,248.044,304.023,248.044z M304.023,184.044c-13.234,0-24,10.766-24,24s10.766,24,24,24s24-10.766,24-24
				S317.257,184.044,304.023,184.044z"/>
              </g>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M104.023,512.044v-53.492c0-19.234-7.492-37.312-21.086-50.906l-29.559-29.559
			c-4.24,3.317-8.071,7.07-11.44,11.185l29.687,29.687c10.578,10.578,16.398,24.641,16.398,39.594v53.492L104.023,512.044
			L104.023,512.044z"/>
            </g>
            <g>
              <path style="fill:#7E5C62;" d="M458.668,378.086l-29.559,29.559c-13.602,13.594-21.086,31.672-21.086,50.906v53.492h16v-53.492
			c0-14.953,5.82-29.016,16.398-39.594l29.688-29.688C466.74,385.156,462.908,381.404,458.668,378.086z"/>
            </g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
        </svg>
      </div>
      <h3 class="mt-4 mb-1">APPRENANTS</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    <% end %>
    <%= link_to setup_manage_api_path(token: params[:token]), class: "hover:bg-white hover:text-black w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child" do %>
      <div class="w-24 h-24" alt="">
        <svg style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="comp_x5F_42-Bit_Connect">
            <g>
              <g>
                <g>
                  <g>
                    <path d="M167.407,186.342c0-19.07,0-37.77,0-56.114c0-1.439-2.114-3.593-3.9-4.702       c-12.123-8.613-18.504-20.482-16.731-35.617c1.767-15.474,9.954-26.258,24.573-31.646c17.805-6.454,38.095,2.16,45.925,19.444       c8.188,17.62,1.812,38.493-14.569,48.215c-3.205,1.765-4.297,3.584-3.949,7.181c0,15.832,0,31.656-0.351,47.848       c0,2.527,0,6.133,0,6.133s3.587,0.72,5.7,1.076c6.433,1.061,12.827,3.219,18.868,5.729c2.151,0.715,3.586,1.811,3.586,1.811       s2.857-2.494,3.553-2.86c28.841-24.864,57.704-49.664,86.555-74.477c12.135-10.433,24.559-21.222,36.69-31.657       c2.135-1.829,3.215-3.245,2.485-6.519c-3.95-17.59,0.728-33.071,14.939-44.217c13.934-11.142,29.261-12.952,45.284-5.398       c16.025,7.58,24.22,21.239,24.558,38.83c0.692,30.978-31.354,52.89-59.51,40.688c-3.19-1.452-4.955-0.725-7.437,1.075       c-38.854,32.007-77.677,63.664-116.862,95.346c-1.418,1.413-2.847,2.502-4.594,3.936       c46.628,39.208,53.416,109.023,14.913,157.917c11.043,13.319,22.456,27.021,33.859,39.928c1.042,1.117,3.553,1.117,5.337,1.117       c19.961-3.645,39.188,8.974,44.193,28.788c4.967,20.118-6.805,40.636-26.379,46.034c-14.619,4.295-27.797,0.709-38.143-10.088       c-10.68-10.774-13.165-24.104-8.869-38.863c0.694-2.88,0.694-4.647-1.056-7.178c-9.282-11.134-18.509-22.675-27.461-34.174       c-1.407-1.469-2.484-2.89-3.89-4.711c-62.365,41.413-141.083,11.554-164.954-51.067c-13.165-33.82-11.014-66.898,7.487-98.573       C105.092,209.014,132.854,191.737,167.407,186.342L167.407,186.342z" style="fill:#FB8614;"/>
                    <path d="M312.41,496c-12.608,0-24.216-5.145-33.57-14.878c-12.703-12.854-16.678-29.403-11.517-47.906       c-7.818-9.409-16.162-19.785-24.84-30.892c-18.538,10.504-39.066,16.017-59.888,16.017c-49.618,0-94.695-30.795-112.167-76.63       c-14.429-37.067-11.68-73.149,8.196-107.178c17.276-29.607,44.397-49.013,78.783-56.495v-44.58       c-15.57-11.198-22.68-26.651-20.563-44.713c2.215-19.4,12.952-33.196,31.047-39.865c5.065-1.836,10.323-2.758,15.678-2.758       c18.452,0,35.257,10.778,42.813,27.459c10.191,21.928,2.62,47.707-17.626,60.364c0,14.596-0.006,29.65-0.305,44.852       c5.154,1.056,10.645,2.758,16.649,5.161c21.917-18.892,43.846-37.749,65.772-56.602l19.273-16.574       c6.19-5.322,12.455-10.737,18.718-16.149c5.607-4.846,11.214-9.691,16.763-14.467c-3.969-20.904,2.726-39.313,18.984-52.064       C374.628,20.092,385.567,16,397.05,16c7.669,0,15.501,1.859,23.281,5.527c19.12,9.044,29.874,25.976,30.291,47.683       c0.319,14.28-5.044,27.827-15.104,38.114c-10.066,10.294-23.909,16.199-37.979,16.199c-6.439,0-12.75-1.206-18.782-3.587       c-36.219,29.83-72.721,59.619-111.404,90.913c19.482,19.882,31.513,45.745,34.203,73.975       c2.813,29.52-4.876,58.748-21.731,83.172c8.896,10.703,17.686,21.169,26.551,31.275c2.27-0.325,4.562-0.489,6.838-0.489       c22.179,0,41.508,15.2,47.005,36.965c6.232,25.244-8.724,51.266-33.334,58.101C321.999,495.275,317.13,496,312.41,496z        M244.719,379.216c3.003,0,5.961,1.35,7.923,3.891l0.267,0.346c1.15,1.491,1.981,2.568,2.928,3.558       c0.236,0.246,0.46,0.505,0.67,0.774c9.575,12.299,18.744,23.709,27.251,33.914c0.192,0.229,0.373,0.469,0.544,0.715       c4.063,5.876,3.571,10.986,2.553,15.21c-0.037,0.151-0.077,0.302-0.12,0.451c-3.422,11.757-1.339,21.252,6.37,29.028       c0.039,0.04,0.079,0.081,0.118,0.121c7.794,8.135,17.259,10.6,28.104,7.412c0.053-0.016,0.106-0.03,0.159-0.045       c14.313-3.947,22.983-19.198,19.329-33.998c-3.238-12.82-14.594-21.811-27.601-21.811c-1.692,0-3.403,0.156-5.088,0.463       c-0.593,0.108-1.193,0.163-1.796,0.163c-3.021,0-8.643,0-12.649-4.297c-0.062-0.065-0.122-0.132-0.182-0.199       c-11.431-12.938-22.636-26.383-34.063-40.166c-3.009-3.629-3.075-8.866-0.158-12.569       c35.262-44.778,29.336-108.064-13.492-144.076c-2.275-1.914-3.582-4.741-3.564-7.714c0.018-2.973,1.358-5.784,3.657-7.67       l1.093-0.89c1.131-0.917,2.025-1.641,2.787-2.399c0.245-0.244,0.502-0.475,0.771-0.692       c40.674-32.885,78.877-64.054,116.791-95.288c0.158-0.13,0.32-0.255,0.486-0.376c2.408-1.748,5.752-3.754,10.263-3.754       c2.334,0,4.654,0.532,7.089,1.626c3.974,1.711,8.14,2.58,12.383,2.58c8.721,0,17.352-3.711,23.679-10.182       c6.266-6.407,9.606-14.829,9.408-23.715c-0.272-14.143-6.609-24.23-18.836-30.013C406.71,37.217,401.747,36,397.05,36       c-6.926,0-13.475,2.545-20.022,7.78C366.22,52.257,362.4,63.75,365.6,77.997c2.131,9.563-3.584,14.46-5.735,16.304       c-5.918,5.089-11.919,10.276-17.922,15.464c-6.276,5.424-12.554,10.849-18.756,16.182l-19.274,16.574       c-22.426,19.283-44.854,38.569-67.27,57.894c-0.373,0.321-0.769,0.615-1.184,0.877c-0.477,0.366-1.563,1.279-2.323,1.942       c-3.707,3.235-8.78,3.638-12.541,0.501c-0.161-0.095-0.453-0.249-0.775-0.356c-0.231-0.077-0.458-0.162-0.683-0.255       c-6.312-2.623-11.761-4.29-16.658-5.097c-2.275-0.382-5.89-1.107-6.042-1.138c-4.67-0.938-8.031-5.04-8.031-9.804v-6.133       c0-0.072,0-0.145,0.002-0.217c0.346-15.939,0.349-31.834,0.349-47.214c-0.524-7.167,2.487-12.636,8.956-16.264       c12.007-7.203,16.52-22.369,10.493-35.335c-4.364-9.632-14.018-15.8-24.636-15.8c-3.024,0-5.989,0.519-8.813,1.542       c-10.935,4.031-16.686,11.465-18.045,23.379c-1.259,10.745,2.802,19.309,12.411,26.205c1.986,1.303,8.285,5.99,8.285,12.979       v56.114c0,4.927-3.589,9.12-8.458,9.88c-32.718,5.108-57.296,21.39-73.054,48.394c-16.646,28.498-18.934,58.746-6.805,89.905       c14.562,38.199,52.128,63.819,93.504,63.819c19.831,0,39.403-6.035,56.599-17.455       C240.891,379.76,242.813,379.216,244.719,379.216z" style="fill:#BC650F;"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
          <g id="Layer_1"/>
        </svg>
      </div>
      <h3 class="mt-4 mb-1">API EXTERNES</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    <% end %>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-24 h-24" alt="">
        <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <style>.cls-1 {
              fill: #515570;
            }

            .cls-2, .cls-7, .cls-9 {
              fill: #393c54;
            }

            .cls-2 {
              opacity: 0.5;
            }

            .cls-3, .cls-6 {
              fill: #8f5653;
            }

            .cls-4 {
              fill: #fba875;
            }

            .cls-5 {
              fill: #ffbb94;
            }

            .cls-6 {
              opacity: 0.7;
            }

            .cls-8 {
              fill: #fff;
            }

            .cls-9 {
              opacity: 0.2;
            }

            .cls-10 {
              fill: #f85565;
            }

            .cls-11 {
              fill: #356cb6;
              opacity: 0.3;
            }</style>
          </defs>
          <title/>
          <circle class="cls-1" cx="64" cy="64" r="60"/>
          <circle class="cls-2" cx="64" cy="64" r="48"/>
          <path class="cls-3" d="M106,104.41C104.1,100,99.05,97,93.39,97H34.61C29,97,23.9,100,22,104.41l-.48,2a60,60,0,0,0,85,0Z"/>
          <circle class="cls-4" cx="92.56" cy="60.67" r="8.29"/>
          <circle class="cls-4" cx="35.44" cy="60.67" r="8.29"/>
          <path class="cls-5" d="M64,96.15A29.61,29.61,0,0,1,34.4,66.54V47.08a29.6,29.6,0,1,1,59.2,0V66.54A29.61,29.61,0,0,1,64,96.15Z"/>
          <path class="cls-6" d="M34.4,53.54V47.08a29.6,29.6,0,1,1,59.2,0v6.46Z"/>
          <path class="cls-7" d="M44.56,97c2.1,8.36,10,23.59,19.44,23.59S81.34,105.36,83.44,97Z"/>
          <path class="cls-8" d="M64,99.9c-12.79,0-26.38-12.24-26.38-27.34l-1-24.74a27.34,27.34,0,0,1,54.68,0l-1,24.74C90.38,87.66,77.28,99.9,64,99.9Z"/>
          <path class="cls-9" d="M76,23.25a27.28,27.28,0,0,1,9.34,20.57l-1,24.74c0,15.1-13.1,27.34-26.38,27.34a23.62,23.62,0,0,1-10.44-2.59A25.77,25.77,0,0,0,64,99.9c13.28,0,26.38-12.24,26.38-27.34l1-24.74A27.34,27.34,0,0,0,76,23.25Z"/>
          <path class="cls-7" d="M60,17h8a0,0,0,0,1,0,0v7a1,1,0,0,1-1,1H61a1,1,0,0,1-1-1V17A0,0,0,0,1,60,17Z"/>
          <path class="cls-7" d="M87,45h8a0,0,0,0,1,0,0v5a1,1,0,0,1-1,1H88a1,1,0,0,1-1-1V45A0,0,0,0,1,87,45Z" transform="translate(139 -43) rotate(90)"/>
          <path class="cls-7" d="M34,45h6a1,1,0,0,1,1,1v5a0,0,0,0,1,0,0H33a0,0,0,0,1,0,0V46A1,1,0,0,1,34,45Z" transform="translate(85 11) rotate(90)"/>
          <circle class="cls-7" cx="75.5" cy="59.5" r="5.5"/>
          <circle class="cls-7" cx="52.5" cy="59.5" r="5.5"/>
          <polygon class="cls-10" points="52 50 64 55 75 50 52 50"/>
          <path class="cls-11" d="M61.68,66.51,60,71.28A2,2,0,0,0,61.93,74h4.19a2,2,0,0,0,1.93-2.72l-1.67-4.77A2.49,2.49,0,0,0,61.68,66.51Z"/>
          <polygon class="cls-10" points="57 67 46.5 76 53 76 57 67"/>
          <polygon class="cls-10" points="70.5 67 81 76 74.5 76 70.5 67"/>
          <circle class="cls-7" cx="68" cy="82" r="1.5"/>
          <circle class="cls-7" cx="75" cy="82" r="1.5"/>
          <circle class="cls-7" cx="81" cy="84" r="1.5"/>
          <circle class="cls-7" cx="68" cy="88" r="1.5"/>
          <circle class="cls-7" cx="68" cy="94" r="1.5"/>
          <circle class="cls-7" cx="60" cy="82" r="1.5"/>
          <circle class="cls-7" cx="53" cy="82" r="1.5"/>
          <circle class="cls-7" cx="47" cy="84" r="1.5"/>
          <circle class="cls-7" cx="60" cy="88" r="1.5"/>
          <circle class="cls-7" cx="60" cy="94" r="1.5"/>
          <circle class="cls-7" cx="53.5" cy="30.5" r="1.5"/>
          <circle class="cls-7" cx="53.5" cy="36.5" r="1.5"/>
          <circle class="cls-7" cx="53.5" cy="42.5" r="1.5"/>
          <circle class="cls-7" cx="45.5" cy="36.5" r="1.5"/>
          <circle class="cls-7" cx="45.5" cy="42.5" r="1.5"/>
          <circle class="cls-7" cx="60.5" cy="44.5" r="1.5"/>
          <circle class="cls-7" cx="74.5" cy="30.5" r="1.5"/>
          <circle class="cls-7" cx="74.5" cy="36.5" r="1.5"/>
          <circle class="cls-7" cx="74.5" cy="42.5" r="1.5"/>
          <circle class="cls-7" cx="82.5" cy="36.5" r="1.5"/>
          <circle class="cls-7" cx="82.5" cy="42.5" r="1.5"/>
          <circle class="cls-7" cx="67.5" cy="44.5" r="1.5"/>
        </svg>
      </div>
      <h3 class="mt-4 mb-1">ROLES</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-yellow-300" alt=""></div>
      <h3 class="mt-4 mb-1">SALLES DE CLASSE</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-yellow-300" alt=""></div>
      <h3 class="mt-4 mb-1">SALLES DE CLASSE</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-24 h-24" alt="">
        <svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <style>.cls-1 {
              fill: #79c651;
            }

            .cls-2 {
              fill: none;
              stroke: #252d32;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 3px;
            }

            .cls-3 {
              fill: #252d32;
            }

            .cls-4 {
              fill: #ffc960;
            }</style>
          </defs>
          <title/>
          <g id="Icons">
            <polygon class="cls-1" points="31 121 21 125 14 95 24 92 31 121"/>
            <path class="cls-2" d="M40.5,34.5h.89a2.12,2.12,0,0,0,2.11-2.11V29.67c0-2.72,1-4,2.38-4.17l3.62,0"/>
            <path class="cls-2" d="M22.5,29.5c-1.81-7.44.58-18.95,10.58-20.95"/>
            <path class="cls-2" d="M61.08,27.55c1-3,0-11-1-12"/>
            <path class="cls-2" d="M59.11,10.42C54,10.42,52.6,6.36,45.62,5,36.45,3.23,33.08,8.55,33.08,8.55"/>
            <path class="cls-2" d="M12.5,83.5v-12c0-9.69,4.87-14.58,14-18,3.74-1.4,7-2.78,7-7v-1"/>
            <line class="cls-2" x1="25.5" x2="25.5" y1="78.5" y2="83.5"/>
            <path class="cls-2" d="M45.57,47.91a10.33,10.33,0,0,1-3.55.68c-6.09,0-13.52-6.52-13.52-14.79V27.31a12.55,12.55,0,0,1,1.3-5.75A8.11,8.11,0,0,1,36,16.87c6.52-.9,21.69,8.9,24-6.42"/>
            <line class="cls-2" x1="55.5" x2="55.5" y1="18.5" y2="32.5"/>
            <path class="cls-2" d="M47.12,57.72a14.55,14.55,0,0,1-4.62.78c-4.49,0-9.71-2.33-11.12-6.34"/>
            <circle class="cls-3" cx="36.08" cy="29.55" r="1.5"/>
            <circle class="cls-3" cx="48.08" cy="29.55" r="1.5"/>
            <path class="cls-2" d="M39,40.53a5.38,5.38,0,0,0,6,0"/>
            <line class="cls-2" x1="34.5" x2="38.5" y1="25.5" y2="25.5"/>
            <path class="cls-4" d="M89,106H77.63c3.45-2.19,3.36-5.33,1.37-9C66.22,90.27,51,80.81,47,84c1-6,6.15-8,11-9,3,6,9.45,6.16,14.72,1A16.28,16.28,0,0,1,89,92.28Z"/>
            <path class="cls-2" d="M114.5,83.5V71.57c0-11.5-8.4-15-14-17-3.75-1.35-7-2.71-7-6.78V47.5"/>
            <line class="cls-2" x1="101.5" x2="101.5" y1="78.5" y2="83.5"/>
            <path class="cls-2" d="M74.5,33.5V26.61S83.32,24.39,87.82,18c4.51,5.79,13.52,8.66,13.52,8.66l-.23,6.58c0,8-7.32,15.53-13.3,15.53a9.6,9.6,0,0,1-4.46-1.23"/>
            <path class="cls-2" d="M81.74,62A12,12,0,0,0,87.5,63.5a11.71,11.71,0,0,0,11.15-8.07"/>
            <path class="cls-2" d="M111.5,53.5a7.43,7.43,0,0,0-5-8,8.08,8.08,0,0,0,1.77-7c-.32-1.71-.35-4.35-.77-6-1.1-4.48.64-5.67,0-11-.79-6.5-6.75-16.39-20-14"/>
            <path class="cls-2" d="M68.33,29.94c.07-2.65-.85-4.29-.36-8.44.77-6.5,6.61-16.39,19.58-14"/>
            <path class="cls-2" d="M87.61,35.55c-1.16,0-1.11-.95-1.11-2.11V31.75c0-2.71-1.75-3.25-2.75-3.25H81.5"/>
            <circle class="cls-3" cx="93.08" cy="32.55" r="1.5"/>
            <circle class="cls-3" cx="81.08" cy="32.55" r="1.5"/>
            <path class="cls-2" d="M90,40.82a5.06,5.06,0,0,1-5,0"/>
            <line class="cls-2" x1="94.5" x2="91.5" y1="28.5" y2="28.5"/>
            <path class="cls-1" d="M49.22,52.37c0-6.55,1.42-13.39,7.13-14.16,2.43-4.15,9.35-3.87,14.28-2s10.68,7.78,9,17.91c-.44,2.68-2.66,4.37-3.54,4.1l-.46-5.37c-6-.14-11.19-3.93-17.1-7.82-5.7.21-5.39,6.81-6.31,11.87C51.53,56.94,49.84,55.78,49.22,52.37Z"/>
            <path class="cls-2" d="M64.37,60.45a1.16,1.16,0,0,0,1.13-1.13V55.5"/>
            <path class="cls-2" d="M50.61,77.88c.93-.43,1.93-.83,3-1.22,3.22-1.17,6-2.35,6-5.89"/>
            <path class="cls-2" d="M88.5,91.43c0-8.07-4.2-11.89-12-14.73-3.21-1.17-6-2.34-6-5.86V70.5"/>
            <path class="cls-2" d="M76.5,55.5v3.71c0,6.92-6.32,12.38-11.49,12.38S53.5,66.13,53.5,59.21v-7.1c0-3.36,2.3-7.28,5.75-7.28,0,0,10.42,6.91,19.58,5.65"/>
            <path class="cls-2" d="M72.38,75.39a8.17,8.17,0,0,1-14.71,0"/>
            <path class="cls-2" d="M67,64.82a4,4,0,0,1-4.45,0"/>
            <circle class="cls-3" cx="59.5" cy="55.5" r="1.5"/>
            <circle class="cls-3" cx="70.5" cy="55.5" r="1.5"/>
            <path class="cls-4" d="M111.43,102.47l-.34-.1c-2.35,1.37-6.58,2.89-10.25,4.8-6.19,3.23-18.46,8.45-19.73,9-2.14.84-4.58,1.4-14-.73-8.88-2-15.82-3.75-19.53-3.6-1.72.07-14.32,1.77-18.86,2.37l1,5.45s15.73-2.18,18.77-2.3c3.71-.15,10.65,1.58,19.53,3.59,9.42,2.13,11.86,1.57,14,.73,1.27-.49,13.54-5.71,19.73-8.94,5.13-2.68,11.38-4.58,12-6.39S113.05,103,111.43,102.47Z"/>
            <polyline class="cls-2" points="21.5 124.5 31.21 121 24.33 91.19 13.5 94.5"/>
            <path class="cls-2" d="M26.47,93.24c6.3-2,8.39-3.81,12.26-6.13C43.84,84,50,83,54.06,85.06c2.58,1.29,15.2,6.76,23.39,11.06a5.53,5.53,0,0,1,2.31,7.44,4.94,4.94,0,0,1-5.28,2.64"/>
            <path class="cls-2" d="M60.38,100.63l12.07,4.87c11.24,5.11,26.48-7.39,38.6-3.19,1.8.63,3.34,2.23,2.62,4.26s-7.66,4.13-13.36,7.1c-6.89,3.59-17.2,8.28-18.61,8.83-2.38.94-5.09,1.56-15.56-.81-9.87-2.23-17.59-4.16-21.71-4-3.39.14-13.09,1.45-13.09,1.45"/>
          </g>
        </svg>
      </div>
      <h3 class="mt-4 mb-1">COMPTES PARENTS</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus
        faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    </div>
  </div>
</section>
