<% if notice.present? %>
  <div class="-m-2 text-center mb-8" id="notice">

    <div class="p-2">
      <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-sm">
        <span class="inline-flex bg-purple-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Terminé!</span>
        <span class="inline-flex px-2">
          <%= notice %>
        </span>
      </div>
    </div>

  </div>
<% end %>

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Liste de
      <br/>
      <span class="text-indigo-600">toutes les structures.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="ml-3 inline-flex rounded-md shadow">
        <%= link_to "Nouvelle structure", setup_add_new_structure_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col">
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
      <table class="min-w-full">
        <thead>
        <tr>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Nom Complet
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Contacts phone
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Contact email
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Localisation
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Utilisateurs
          </th>
          <th class="px-6 py-3 border-b border-gray-200 bg-gray-50" colspan="3"></th>
        </tr>
        </thead>
        <tbody class="bg-white">
        <% @structures.each do |structure| %>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <% if structure.logo.attached? %>
                    <%= link_to(image_tag(url_for(structure.logo), class: "h-10 w-10 rounded-full hover:bg-transparent hover:bg-indigo-500"), setup_structure_index_path(structure_id: structure.id)) %>
                  <% else %>
                    <%= link_to(image_tag('teacher.png', class: "h-10 w-10 rounded-full hover:bg-transparent hover:bg-indigo-500"), setup_structure_index_path(structure_id: structure.id)) %>
                  <% end %>
                </div>
                <div class="ml-4">
                  <div class="text-sm leading-5 font-medium text-gray-900">
                    <%= link_to excerpt(structure.name, '', radius: 20), setup_structure_index_path(structure_id: structure.id), class: "hover:bg-transparent hover:text-indigo-500" %>
                  </div>
                  <div class="text-sm leading-5 text-gray-500"><%= structure.created_at.strftime("%d %b %Y") %></div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">
                <%= structure.fixe %>
              </div>
              <div class="text-sm leading-5 text-gray-500">
                <%= structure.mobile %>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">
                <%= structure.email %>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">
                <%= structure.region %>
              </div>
              <div class="text-sm leading-5 text-gray-900">
                <%= structure.pays %>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">
                <%= Student.where(structure: structure.id).count %> apprenant(s)
              </div>
              <div class="text-sm leading-5 text-gray-900">
                <%= User.where(structure_id: structure.id).count %> enseignant(s)
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <div class="text-center">
                <%= link_to "Supprimer", setup_add_new_structure_path(structure_id: structure.id), method: :delete, class: "bg-red-400 hover:bg-grey-dark font-bold py-2 px-4 shadow -mr-1 hover:bg-transparent hover:text-indigo-500", data: {confirm: "En supprimant cette structure, tous les informations qui lui sont ratéchées seront supprimées \nEtes vous sûr de vouloir supprimer la structure #{structure.name}? \nCette action est irreversible"} %>
                <%= link_to 'Gérer', setup_manage_structure_index_path(token: structure.token, structure_id: structure.id), class: "bg-grey hover:bg-grey-dark font-bold py-2 px-4 rounded-r rounded-lg shadow" %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>