<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Modification du mot de passe
      <br />
      <span class="text-indigo-600"><%= @teacher %></span>
    </h2>
  </div>
</div>

<%= form_with(url: update_my_t_pwd_path, html: {}) do |form| %>

  <%= form.hidden_field :t_token, value: @teacher.token %>

  <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-0 flex flex-col">
    <section class="bg-white p-4 shadow">
      <div class="md:flex">
        <h2 class="md:w-1/3 uppercase tracking-wide text-sm sm:text-lg mb-6">Mise à jour du mot de passe</h2>
      </div>

      <div class="md:flex mb-8">
        <div class="md:w-1/3">
          <legend class="uppercase tracking-wide text-sm">Informations</legend>
          <p class="text-xs font-light text-red">La mise à jour du mot de passe d'un compte enseignant est irreversible, faites bien attention avec le
          mot de passe que vous allez choisir. Il est important de noter que l'enseignant sera notifier apres la mise à jour de son mot de passe.</p>
        </div>
        <div class="md:flex-1 mt-2 mb:mt-0 md:px-3">
          <div class="mb-4">
            <label class="block uppercase tracking-wide text-xs font-bold">Nom</label>
            <%= form.text_field :name, value: @teacher.name, class: 'w-full shadow-inner p-4 border-0 bg-gray-100', readonly: true %>
          </div>
          <div class="mb-4">
            <label class="block uppercase tracking-wide text-xs font-bold">Prénom</label>
            <%= form.text_field :second_name, value: @teacher.second_name, class: 'w-full shadow-inner p-4 border-0 bg-gray-100', readonly: true %>
          </div>
          <div class="mb-4">
            <label class="block uppercase tracking-wide text-xs font-bold">Matricule</label>
            <%= form.text_field :matricule, value: @teacher.matricule, class: 'w-full shadow-inner p-4 border-0 bg-gray-100', readonly: true %>
          </div>
          <div class="mb-4">
            <label class="block uppercase tracking-wide text-xs font-bold">Numéro téléphone principal</label>
            <%= form.text_field :phone1, value: @teacher.phone1, class: 'w-full shadow-inner p-4 border-0 bg-gray-100', readonly: true %>
          </div>
          <div class="mb-4">
            <label class="block uppercase tracking-wide text-xs font-bold">Mot de passe</label>
            <%= form.password_field :t_new_pwd, class: 'w-full shadow-inner p-4 border-0 bg-gray-100', placeholder: 'Nouveau mot de passe', required: true %>
          </div>
          <div class="mb-4">
            <label class="block uppercase tracking-wide text-xs font-bold">Confirmer mot de passe</label>
            <%= form.password_field :t_new_confirm_pwd, class: 'w-full shadow-inner p-4 border-0 bg-gray-100', placeholder: 'Confirmer nouveau mot de passe', required: true %>
          </div>

        </div>
      </div>
    </section>

    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-4 mt-4">
      <div class="inline-flex rounded-md shadow">
        <%= form.submit "Mettre à jour le nouveau mot de passe", class: 'inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out' %>
      </div>
    </div>

  </main>
<% end %>