<%= form_with(model: classe_matiere, local: true) do |form| %>
  <% if classe_matiere.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classe_matiere.errors.count, "error") %> prohibited this classe_matiere from being saved:</h2>

      <ul>
        <% classe_matiere.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- component -->
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
          Salle de classe
        </label>
        <%= form.collection_select(:salle_de_class_id, SalleDeClass.where(structure_id: current_user.structure_id), :id, :name, {prompt: "Selectionner une salle de classe..."}, {class: "select2 block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500", required: true}) %>
        <p class="text-red text-xs italic">Please fill out this field.</p>
      </div>
      <div class="md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
          Matière
        </label>
        <%= form.collection_select(:matiere_id, Matiere.where(structure_id: current_user.structure_id), :id, :name, {prompt: "Selectionner une matière..."}, {class: "select2 block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500", required: true} ) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :salle_de_class_id %>
    <%= form.text_field :salle_de_class_id %>
  </div>

  <div class="field">
    <%= form.label :matiere_id %>
    <%= form.text_field :matiere_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
