<!DOCTYPE html>
<html>
<head>
  <title>NAL Online School | Welcome</title>
  <%= favicon_link_tag asset_path("logo.png") %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body class="antialiased bg-gray-100">

<%= yield %>

<% admin_role = %w(admin principale) %>

<% if user_signed_in? %>

  <% if current_user.role.name == "teacher" %>

    <%= render "layouts/admin/teacher_template" %>

  <% elsif current_user.role.name.in?(admin_role) %>

    <%= render 'layouts/admin/admin_template' %>

  <% end %>

<% elsif student_signed_in? %>

  <!-- managing student -->
  <%= render 'layouts/student/student_template' %>

<% elsif tuteur_signed_in? %>

  <%= render 'layouts/parent/parent_template' %>

<% else %>
  <!--  <div class="flex mb-4 max-h-full h-screen">-->
  <!--    <div class="w-2/4 bg-gray-500">-->
  <%#= image_tag("background.png", width: "100%", class: "object-cover") %>
  <!--    </div>-->
  <!--    <div class="w-2/4 bg-gray-100">-->

  <%# if notice.present? %>
  <!--        <div class="-m-2 text-center mb-8" id="notice">-->

  <!--          <div class="p-2">-->
  <!--            <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-sm">-->
  <!--              <span class="inline-flex bg-purple-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Terminé!</span>-->
  <!--              <span class="inline-flex px-2">-->
  <%#= notice %>
  <!--              </span>-->
  <!--            </div>-->
  <!--          </div>-->

  <!--        </div>-->
  <%# end %>

  <%#= yield %>
  <!--    </div>-->
  <!--  </div>-->


<% end %>


<script type="text/javascript" charset="utf-8">
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {

        // adding datatable
        var table = $('#example, #table, #afb, #abonne, #marchand').DataTable( {
            responsive: true
        } )
            .columns.adjust()
            .responsive.recalc();

        $('#matiere_id').select2();
    });
</script>


</body>


</html>
