<%= form_with(model: enseignement, local: true, class: "w-full max-w-lg") do |form| %>
  <% if enseignement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enseignement.errors.count, "error") %> prohibited this enseignement from being saved:</h2>

      <ul>
        <% enseignement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-2/2 px-3 mb-6 md:mb-0">
      <%= form.label :title, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= form.text_field :title, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
      <p class="text-red-500 text-xs italic">Renseigner le titre de votre lecon.</p>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-2/2 px-3 mb-6 md:mb-0">
      <%= form.label :content, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= form.text_field :content, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
      <p class="text-red-500 text-xs italic">Renseigner le titre de votre lecon.</p>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-2/2 px-3 mb-6 md:mb-0">
      <%= form.label :image, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= form.file_field :image, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
      <p class="text-red-500 text-xs italic">Document soutenant ce cours.</p>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

